@import '../../../node_modules/primeicons/primeicons.css';
@import '../../../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../../../node_modules/primeng/resources/primeng.min.css';

.cols{
  -moz-column-count:6 ;
  -moz-column-gap: 10px ;
  -moz-column-width:20% ;
  -webkit-column-count:6 ;
 -webkit-column-gap: 10px ;
  -webkit-column-width:20% ;
  column-count:6 ;
  column-gap: 10px ;
  column-width:20% ;
}
.greatest{
  margin-bottom: 10px;
}
.greatest img{width:100% ;}
.greatest{overflow:hidden ;position: relative;}

.model-search-top {padding: 20px 30px;border-bottom: 1px solid #eceaea;}
.model-search-top .search-model {position: relative;width: 55%;display: inline-block;}
.model-search-top .search {float: right;padding: 0;width: 42%;border: 0;}
.model-search-top h4{padding:0;}
.model-search-top .dropdown{position: relative;display: inline-block;width: 40%;float: right;}
.right-bar-content.slide{overflow:hidden;}
.model-search-top .search{display:inline-block;}
.model-search-top h4 {display: inline-block;border-bottom: 0;margin: 8px 0;}
.model-cate {margin-bottom: 30px;}
.model-cate li{display: inline-block;width: 12.2%;text-align: center;background: #fff;}
.model-cate li a{color:#242424;text-transform: uppercase;font-weight: 600;}
.right-bar-content h4.featu-model {padding-left: 0;margin-bottom: 30px;}
.model-cate li a .icon {display: block;text-align: center;background: #fff;height: 50px;width: 50px;border-radius: 30px;vertical-align: middle;
margin: auto;margin-bottom: 8px;padding: 12px 0;-webkit-box-shadow: 0 15px 20px 0 rgba(0,0,0,.08);box-shadow: 16px 5px 20px 0 rgba(0,0,0,.10);}
.icon img {width: 26px;height: 26px;}
.model-cate li a:hover{color:#b89600;}

/*model page changes css*/

/*chat popup part css start*/

#chat-popup .setting-right-top{height: 550px;}
#chat-popup .modal-dialog{width: 750px;max-width: 750px;}
#chat-popup .modal-header{padding-bottom:22px;}
#chat-popup .modal-body{padding:0;}
body .ui-rating a {color: #f05742;}
body .ui-rating a .ui-rating-icon {font-size: 22px;color: #f05742;}
#chat-popup .typing-message {
    position: absolute;
    top: 48px;
}

.modal-footer h6 {
  margin: 24px 0 0;
  margin-right: 0px;
  display: inline-block;
  float: left;
  color:#f05742;
}
#payment .modal-dialog {
  max-width: 700px;
}
.frameData {
  width: 100%;
  height: 100%;
  border: 0;
}
.payment .modal-content{
min-height: 650px;
}
#payment .modal-body {
  height: 650px;
}
#payment html {
  background-color:none;
}

#payment .flexforms_wrapper.one_center .body {
  padding: 0 !important;
  max-width: 100% !important;
}
#payment iframe.body{
  border: 0!important;
}
.flexforms_wrapper.one_center {
  margin: 0;
}
.flexforms_wrapper.one_center {
  max-width: 100%;
}
.modal-body{padding: 0;}

#payment .close {
  position: relative;
  right: 0;
  top: 0;
}

/* #payment iframe.frameData {
  
} */
:host >>> .flexforms_wrapper.one_center {
  max-width: 100% !important;
  margin: 0;
}
#myModal .modal-header{padding-bottom: 10px;}
#myModal .modal-body{text-align:center;padding-bottom:25px!important;padding:30px;}
#myModal h3{font-size: 27px;margin-bottom: 25px;}
#myModal button.mess{margin-top: 30px;height: 48px;background:#9fdbce;color:#fff;text-transform: uppercase;border-radius: 4px;
font-size: 18px;font-weight: 600;text-align: center;border: 0;display: inline-block;padding: 0 30px;margin: 0 8px;}
.modal-header{padding-bottom: 10px;}
.modal-body {padding: 20px;}
#exampleModal .modal-dialog {max-width: 600px;}
#exampleModal .ui-calendar{display: block;margin-bottom: 25px;}
.ui-calendar .ui-datepicker {margin-bottom: 25px;}
.avalibalty1-icon a {background:#9fdbce;text-transform: uppercase;font-size: 11px;font-weight: 600;padding: 4px 12px;color:#fff !important;
border-radius: .25rem;}
.avalibalty1-left {padding: 5px 12px;}
.avalibalty1-left h3 {font-size: 20px;} 
.avalibalty1-left h5 {font-size: 13px;}
.avalibalty1-mid h3 {font-size: 14px;padding: 6px 20px;}
.avalibalty1::before {background: #f05742;}
.ui-datepicker-current-day .ui-state-active{background: #f05742!important;}
.ui-state-active .ui-state-highlight{color: #000!important;}
.ui-state-active::after{ content: "";width: 4px;height: 4px;background: #f05742 !important;display: block;border-radius: 20px;}
.ui-datepicker-current-day .ui-state-active {background: #fff !important;color: #000 !important;}
.ng-star-inserted.ui-state-active::after{content: ""!important;width: 4px!important;height: 4px!important;background: #f05742 !important;display: block!important;border-radius: 20px!important;
position: relative!important;top: 0px!important;}
#add-availibilty .ng-star-inserted.ui-state-active::after{display: none !important;}
#add-content .ng-star-inserted.ui-state-active::after{display: none !important;}
.avail-calendar-parent .ui-datepicker-today a{background: #fff !important;border: 1px solid #000;border-radius:30px; background-color: #fff;border: 1px solid #f05742;
float: none;margin: 0 auto !important;width: 55px;height: 55px;display: inline-block;line-height: 50px;padding: 0;border-radius: 30px;}
.live-models .ui-datepicker-calendar::after {background: #ddd;content: "";width: 100%;height: 100%;display: block;position: absolute;top: 35px;opacity: 0;}
.avalibalty1-icon a {cursor: pointer;}   
#exampleModal td.ui-datepicker-today{text-align:center;}
#exampleModal .ui-datepicker-today .ui-state-default{border: 1px solid #f05742;background: none;float: none; 
margin: 0 auto !important;width: 40px;height: 40px;display: inline-block;line-height: 38px;padding: 0;border-radius: 30px;}
.ng-tns-c4-0.ui-datepicker-today {text-align: center;}
.ui-datepicker-title span {font-size: 20px;}
#exampleModal .ui-datepicker-group.ui-widget-content.ng-star-inserted::after {background: #ddd;content: "";width: 100%;height: 100%;display: block;position: absolute;top: 35px;
opacity: 0;}
.avalibalty1 span.online {width: 8px;height: 8px;}

/* minute video popup css start*/

#minute-popup .form-group{padding: 0 15px 0;margin-bottom: 15px;}
#minute-popup .modal-body{padding:0;}
#minute-popup h3{font-size:19px;border-bottom:1px solid #e8e7e7;padding: 5px 15px 15px;margin-bottom: 15px;}
#minute-popup .modal-header .close {background: #fff;position: absolute;right: 7px;top:7px;width: 30px;height: 30px;opacity: 1;border-radius: 50px;padding: 0px;z-index: 9;font-weight: 500;}
#minute-popup .modal-header {padding: 0;border: 0;}
#minute-popup .modal-dialog{max-width: 450px;}
#minute-popup .mint-top {padding: 15px;}
#minute-popup .mint-top-img{width: 65px;height: 65px;background:#ddd;border-radius: 4px;display: inline-block;overflow: hidden;margin-right: 15px;}
#minute-popup .mint-top-img img{height:100%;width:100%;object-fit:cover;}
#minute-popup .mint-top .appoit-top-text {display: inline-block;vertical-align: top;}
#minute-popup .mint-top .appoit-top-text h4 {font-size: 22px;}
#minute-popup .form-group label {font-size: 15px;display: inline-block;max-width: 42%;width: 42%;vertical-align: top;margin: 0;vertical-align: middle;}
#minute-popup .form-group h4 {font-size: 15px;display: inline-block;color:#757575;font-weight:400;}
#minute-popup .price-custom.ng-pristine.ng-valid.ng-touched {width: 30%;padding-left: 4px;border-radius: 3px;vertical-align: top;
border: 1px solid #e8e7e7;background:#f2f2f2;padding-right: 4px;display: inline-block;margin-right: 0;height: 40px;border-radius: 0;}
#minute-popup .total-pay {padding: 18px;border-top: 1px solid #e8e7e7;margin-top: 10px;}
#minute-popup .total-pay label{font-size:18px;width:42%;vertical-align: middle;}
#minute-popup .total-pay h4{font-size:23px;display:inline-block;}
#minute-popup .modal-footer .btn{background:#9fdbce;font-size: 15px;color:#fff;font-weight: 500;border: 0;border-radius: 3px;display: inline-block;padding: 14px 35px;margin: auto;}
#minute-popup .modal-footer .btn:hover{color: #212529;}
.minu{background:#313942;width: 10%;display: inline-block;text-align: center;}
.minu a{display: block;padding: 0;line-height: 20px;color:#fff;}

.quantity {position: relative;display: inline-block;vertical-align: middle;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{-webkit-appearance: none;margin: 0;}
input[type=number]{-moz-appearance: textfield;}
.quantity input {width: 65px;height: 40px;float: left;display: block;padding: 0;margin: 0;padding-left: 10px;border-radius: 2px;border: 1px solid #dddcdc;}
.quantity input:focus {outline: 0;}
.quantity-nav {float: left!important; position: relative !important; height: 42px !important;}
.quantity-button {position: relative;cursor: pointer;border-left: 1px solid #e8e7e7;width: 20px;text-align: center;color: #333;font-size: 13px;
line-height: 1.7;-webkit-transform: translateX(-100%);transform: translateX(-100%);-webkit-user-select: none;-moz-user-select: none;
-ms-user-select: none;-o-user-select: none;user-select: none;}
.quantity-button.quantity-up {position: absolute;height: 50%;top: 0;border-bottom: 1px solid #e8e7e7;}
.quantity-button.quantity-down {position: absolute;bottom: -1px;height: 50%;}
body .ui-inputtext{height: 40px;border-radius: 2px;border: 1px solid #dddcdc;}








/*typing message css start*/

.typing-message h3{font-size:12px;color:#6C7074;font-weight: 400;}

.typing-loader{
    width: 8px;
	margin-left:6px;
	display: inline-block;
    height: 8px;
	border-radius:50%;
    -webkit-animation: line 1s linear infinite alternate;
   -moz-animation: line 1s linear infinite alternate;
   animation: line 1s linear infinite alternate;
}
@-webkit-keyframes line{
    0%{
       
        background-color: rgba(0,0,0, 1);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                    24px 0px 0px 0px rgba(0,0,0,0.2);
                    
      }
    25%{ 
            background-color: rgba(0,0,0, 0.4);
            box-shadow: 12px 0px 0px 0px rgba(0,0,0,2), 
                    24px 0px 0px 0px rgba(0,0,0,0.2);
                    
    }
    75%{ background-color: rgba(0,0,0, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                    24px 0px 0px 0px rgba(0,0,0,2);
                   
      }
}

@-moz-keyframes line{
    0%{
       
        background-color: rgba(0,0,0, 1);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                    24px 0px 0px 0px rgba(0,0,0,0.2);
                    
      }
    25%{ 
            background-color: rgba(0,0,0, 0.4);
            box-shadow: 12px 0px 0px 0px rgba(0,0,0,2), 
                    24px 0px 0px 0px rgba(0,0,0,0.2);
                    
    }
    75%{ background-color: rgba(0,0,0, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                    24px 0px 0px 0px rgba(0,0,0,2);
                   
      }
}

@keyframes line{
    0%{
       
        background-color: rgba(0,0,0, 1);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                    24px 0px 0px 0px rgba(0,0,0,0.2);
                    
      }
    25%{ 
            background-color: rgba(0,0,0, 0.4);
            box-shadow: 12px 0px 0px 0px rgba(0,0,0,2), 
                    24px 0px 0px 0px rgba(0,0,0,0.2);
                    
    }
    75%{ background-color: rgba(0,0,0, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                    24px 0px 0px 0px rgba(0,0,0,2);
                   
      }
}

.typing-right {
 display: inline-block;
}
.typing-right .message-top h5{
    margin: 10px 0 5px;
}



/* minute video popup css close*/



/* CSS FOR model review
 */
 /* *{
	box-sizing:border-box;
	margin:0 auto;
}

body{
	
}

.main{
	background: gray;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	float: left;
}
.main-content-left{
	float: left;
	width: 80%;
	padding-right: 20px;
	    border-right: 1px solid #d2d2d2;
}
.main-content-right{
	float: right;
	width: 20%;
}
.main-content{
	background: #fff;
	    padding: 20px 20px;
	        width: 1100px;
}
.main-content1-top {
    float: left;
    width: 100%;
}
.main-content1 img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.main-content1-top-right h5{
	font-size: 19px;
    margin: 0;
    margin-top: 2px;
}
.main-content1-top-right h6{
	font-size: 16px;
    margin-top: 4px;
}
.rating-star {
    float: left;
    width: 100%;
}
i.fas.fa-star {
    color: #f1c820;
    margin-left: 4px;
}
i.far.fa-comment {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 20px;
    color: #f05742
}
.all-comments h5{
	padding-left: 28px;
    font-size: 15px;
    padding-top: 5px;
}
.all-comments {
    float: left;
    width: 100%;
    position: relative;
}
.main-content1-bottom {
    float: left;
    width: 100%;
}
.main-content1{
	float: left;
	width: 100%;
	border: 1px solid #d2d2d2;
	padding: 13px 13px;
	margin-bottom: 20px;
}
.main-content1-top-left{
	float: left;
	width: 20%;
}
.main-content1-top-right{
	float: right;
	width: 80%;
}
.main-top-ratings{
float: right;
}

.share-review{
float: left;
    width: 100%;
        margin-bottom: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.share-review button{
	background: #f05742;
    color: #fff;
    text-align: left;
    border-radius: 77px;
    border: 0;
    min-height: 40px;
    min-width: 152px;
    position: relative;
    font-size: 15px;
    float: left;
    padding-left: 20px;
}
i.fas.fa-share-alt {
    position: absolute;
    top: 5px;
       right: 37px;
    background: #2b292969;
    color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /* opacity: 0.5; */
    /* /* padding: 8px 8px;
    font-size: 14px;
}
.respond{
float: left;
width: 100%;
position: relative;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.respond button{
	background: #33cdab;
    color: #fff;
    text-align: left;
    border-radius: 77px;
    border: 0;
    min-height: 40px;
    min-width: 152px;
    position: relative;
    font-size: 15px;
    float: left;
    padding-left: 20px;
}
i.fas.fa-search {
    position: absolute;
    top: 5px;
    right: 37px;
    background: #2b292969;
    color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /* opacity: 0.5; */
    /* padding: 8px 8px;
    font-size: 14px;
} */
/* .downlod{
float: left;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.downlod button{
	background: #fff;
    color: black;
    text-align: center;
    border-radius: 77px;
    border: 0;
    min-height: 40px;
    min-width: 152px;
    position: relative;
    font-size: 15px;
    float: right;
} */
/* i.fas.fa-download{
position: absolute;
    top: 12px;
    left: 45px;
    font-size: 15px;
    color: #a2a2a2;
    z-index: 99;
}
.downlod h5{
	font-size: 15px; */
    /* padding-left: 20px; */
/* } */
/* .dlt-review{
float: left;
width: 100%;
position: relative;
 display: flex;
    justify-content: center;
    align-items: center;
}
i.far.fa-trash-alt{
	position: absolute;
    top: 12px;
    left: 45px;
    font-size: 15px;
    color: red;
    z-index: 99;
}
.dlt-review h5{
font-size: 15px;
    padding-left: 20px;
}
.dlt-review button{
	background: #fff;
    color: black;
    text-align: center;
    border-radius: 77px;
    border: 0;
    min-height: 40px;
    min-width: 152px;
    position: relative;
    font-size: 15px;
    float: right;
}
i.fas.fa-smile {
    color: #f05742;
}
i.fas.fa-frown {
    color: #33cdab;
} */


/* review popup css start*/

.main-content-left{float: left;width: 78%;padding-right: 20px;border-right: 1px solid #d2d2d2;
max-height:500px;
overflow: auto;}  
.main-content-right{float: right;width: 20%;}
.main-content{background: #fff;padding: 20px 20px;width: 1100px;}
.main-content1-top {float: left;width: 100%;}
.main-content1 img {height: 70px;width: 70px;border-radius: 50%;}
.main-content1-top-right h5{font-size: 18px;margin: 0;margin-top: 2px;}
.main-content1-top-right h6{font-size: 14px;margin-top: 7px;text-align: left;}
.rating-star {float: left;width: 100%;}
i.fas.fa-star {color: #f1c820;margin-left: 4px;}
i.far.fa-comment {position: absolute;top: 5px;left: 0;font-size: 20px;color: #f05742}
.all-comments h5{padding-left: 28px;font-size: 15px;padding-top: 5px;}
.all-comments {float: left;width: 100%;position: relative;}
.main-content1-bottom {float: left;width: 100%;margin-top: 10px;text-align: left;}
.main-content1-bottom p{font-size: 13px;text-align: left;}
.main-content1{float: left;width: 100%;border: 1px solid #d2d2d2;padding: 13px 13px;margin-bottom: 20px;}
.main-content1-top-left{float: left;width: 60px;height: 60px;overflow: hidden;margin-right: 10px;}
.main-content1-top-left img{width: 100%;height: 100%;object-fit: cover;}
.main-content1-top-right{display: inline-block;vertical-align: top;width: 68%;text-align: left;}
.main-top-ratings{float: right;}
.share-review{float: left;width: 100%;margin-bottom: 15px;position: relative;display: flex;justify-content: center;align-items: center;}
.share-review button{background: #9fdbce;color: #fff;text-align: left;border-radius: 77px;border: 0;min-height: 40px;
width: 100%;position: relative;font-size: 15px;float: left;padding-left: 20px;}
#comment .fas.fa-pencil-alt {position: absolute;top: 5px;right: 10px;background: #2b292969;color: #fff;height: 30px;width: 30px;
border-radius: 50%;/* opacity: 0.5; */padding: 8px 8px;font-size: 14px;}
.respond{float: left;width: 100%;position: relative;margin-bottom: 15px;display: flex;justify-content: center;align-items: center;}
.respond button{background: #9fdbce;color: #fff;text-align: left;border-radius: 77px;border: 0;min-height: 40px;
width: 100%;position: relative;font-size: 15px;float: left;padding-left: 20px;}
.main-content-right .far.fa-edit {position: absolute;top: 5px;right: 10px;background: #2b292969;color: #fff;height: 30px;width: 30px;border-radius: 50%;/* opacity: 0.5; */padding: 8px 8px;
font-size: 14px;}
.downlod{float: left;width: 100%;position: relative;margin-bottom: 15px;display: flex;justify-content: center;align-items: center;}
.downlod button{background: #fff;color: black;text-align: center;border-radius: 77px;border: 0;min-height: 40px;
font-size: 15px;} 
i.fas.fa-download{font-size: 15px;color: #a2a2a2;margin-right: 5px;}
.downlod h5{font-size: 15px;padding-left: 20px;}
.dlt-review{float: left;width: 100%;position: relative;display: flex;justify-content: center;align-items: center;}
i.far.fa-trash-alt{font-size: 15px;color: red;margin-right: 5px;}
.dlt-review h5{font-size: 15px;padding-left: 20px;}
.dlt-review button{background: #fff;color: black;text-align: center;border-radius: 77px;border: 0;
position: relative;font-size: 15px;float: right;}
i.fas.fa-smile {color: #f05742;}
i.fas.fa-frown {color: #33cdab;}
#comment .modal-dialog {max-width: 850px;}
#comment .modal-body{padding: 20px;}
.main-content-right .rev-left h3{font-size: 25px;}
.total-review {float: left;margin: 3px 0 10px;}
/* img.cover {height: 100%;} */

#comment .modal-header span {color: #242424;}

.book-scroll {
    max-height: 185px;
    overflow: auto;overflow-x: hidden;
}
/* #comment .modal-body {
  padding: 0 20px;
} */
/* #comment .main-content-left{
  max-height: 100px;
    height: 100px;

} */
#comment .empty-msg h6{margin: 35px 0;}

#chat-popup #blah {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  margin: 22px 10px;
}

/* review popup css close*/

@media screen and (max-width: 1280px) {

#chat-popup .setting-right-top {height: 400px;} 
.setting-right-bottom button {padding: 25px 55px;}

}

@media screen and (max-width: 768px) {
.main-content-left{max-height:500px;}
.main-content1-top-right{width: 62%}
.cols{-moz-column-count:3 ;}

}


@media screen and (max-width: 768px) {
#comment .modal-dialog {max-width: 95%;}
.main-content-right{width: 23%;}
.main-content-left{width: 75%;}
.total-review{float: left;}
#chat-popup .modal-dialog {width: 95%;} 
#myModalImage .feed-pop{max-width: 85%;} 
#myModalImage .modal-content{max-width: 100%;width: 100%;}

} 

@media screen and (max-width: 767px) {
.main-content1-top-right{width: 60%;}

}

@media screen and (max-width: 684px) {
.main-content1-top-right {width: 56%;}
.main-content-left {width: 70%;}
.main-content-right {width: 27%;}
#chat-popup .multitext {width: 65%;}

}

@media screen and (max-width: 414px) {
#comment .modal-dialog {max-width: 100%;}
.main-content-left {width: 100%;overflow-x: hidden;}
.main-content-right{width: 55%;float: left;}
.total-review{width: 100%;}
.main-content1-top-right {width: 45%;}
#comment .row{padding: 0 10px;}
.main-content1-top-right {width: 75%;}
.rating-star{margin-top: 5px;}   
.main-content1-top-left{width: 45px;height: 45px;}
#chat-popup .multitext{width: 50%;}
.setting-right-bottom button {padding: 20px 35px;}
.multitext {height: 62px;padding: 20px 5px;}
.fas.fa-paperclip.clip {margin-left: 15px;font-size: 25px;}
.setting-right-one .rounded {max-width: 295px;}
.setting-right-one{padding-top: 5px;padding-bottom: 15px;margin-bottom: 0;}
.main-content-left{padding-right: 0;border-right: 0;}
#myModalImage .feed-pop {max-width: 80%;}
#myModalImage .feed-pop .modal-content{max-height: 350px;height: 350px;width: 100%;max-width: 100%;} 
#chat-popup .modal-dialog {width: 96%;}

}

@media screen and (max-width: 375px) {
.main-content1-top-right {width: 72%;}
#chat-popup .multitext {width: 45%;}
.image-content-button #openChatPopup{margin-left: 0;}
.tip{float: right;}
.image-content-button button {width: 48%;}
.image-content-button .model-avail.model-availability-mobile {float: right;}

}

@media screen and (max-width: 360px) {
#chat-popup .multitext {width: 48%;}
    
}

@media screen and (max-width: 320px) {
.main-content-right {width: 65%;}
#chat-popup .multitext {width: 42%;}     
.image-content-button button {padding: 5px 8px;}
.image-content-button #openChatPopup {font-size: 10px;}

}

  /* The Modal (background) */
  .modelyuorfeed {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding: 50px 0; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modelyuorfeed .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    border: 0;
    background:#fff;
    padding: 12px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color:#242424;
    padding: 8px;
    font-size: 16px;
    background: #fff;
    word-wrap: break-word;
    margin-top: -5px;
   position: relative;
   border-radius: 0 0 .3rem .3rem;
  }

  .model-avail.model-availability-web i {
    font-size: 18px;
    margin-right: 5px;
}
.feed-pop {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  background:#fff;
max-width: 800px;
margin: auto;
border-radius: 5px;
}
.modelyuorfeed .modal-content {
  margin: auto; 
  display: block;
  width: auto;
  max-width: 800px;
  border: 0;
  background:#fff;
  padding: 12px;
  max-height: 550px;
  height: 550px;
}
.comment-icon-pro {
  position: relative;
  font-size: 15px;
  color: #242424;
  padding: 2px 3px;
}
 
.comment-icon-pro i {
  font-size: 16px;
  color:#7c7a7a;
}
.comment-icon-pro h5 {
  display: inline-block;
  margin-left: 8px;
  font-size: 13px;
font-weight: 400;
}  
 /* .top_dv::after {
  content: "";
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,1));
  display: block;
  position: absolute;
  bottom: 0;
}  */
.controls {
 z-index: 999;
}

.video-icons {
  position: absolute;
  font-size: 30px;
  color: 
  #fff;
  cursor: pointer;
  left: 0;
  width: 100%;
height: auto;
top: 50%;
right: 0;
text-align: center;
}


.video-icons i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-100%);
}
.top_dv{
  background:#fff;
  border: 1px solid
  #eae6e6;
  border-radius: 4px;
  padding: 5px;
  display: inline-block;
  width: 100%;
}


  /* Add Animation */
  .modelyuorfeed .modal-content, #caption {  
    /* -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s; */
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .modelyuorfeed .close {
    position: absolute;
    top: 15px;
    right: 25px;
    color: #f1f1f1;
    font-size: 40px;
    transition: 0.3s;
    opacity: 1;
    font-weight: 500;
  }
  
  .modelyuorfeed .close:hover,
  .modelyuorfeed .close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
.right-bar-content.noti span.feed-load{
font-size: 15px;
color:#fff;
text-transform: uppercase;
display: inline-block;
border-radius: 4px;
padding: 15px 0;
background: #9fdbce;
width: 176px;
text-align: center;
font-weight: 600;
letter-spacing: 2px;
cursor: pointer;
margin-top: 30px;
}

/* tip popup css close*/


#tip .modal-body .tip-icon{width:110px;height:110px;background:#f05742;border-radius:50%;margin:0 auto;text-align: center;padding:35px 0;
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  }
  #tip .modal-body .tip-icon i{font-size:42px;color:#fff;}
  #tip .modal-body h4{text-align:center;font-size:27px;color:#242424;font-weight:600;line-height: 40px;margin: 65px 0 10px;}
  #tip .modal-body h5{text-align:center;font-size:15px;color:#595959;font-weight:400;margin: 15px 0 30px;}
  #tip .modal-body .tip-main{border:1px solid #e0e1de;border-radius:5px;display: inline-block;width: 100%;}
  #tip .modal-body .tip-main ul{display:block;}
  #tip .modal-body .tip-main li{display: inline-block;text-align: center;border-right: 1px solid#e0e1de;width: 19%;width: 20%;float: left;}
  #tip .modal-body .tip-main a{font-size: 15px;color:#242424;display: block;padding: 11px 0;width: 100%;float: left;cursor: pointer;}
  #tip .modal-body .tip-main li:last-child{border:0;}
  #tip .modal-body .tip-main a:hover{background:#e0e1de;color:#242424;}
  #tip .modal-footer{border:0;padding: 0;margin: 25px 0 0;}
  #tip .modal-footer .btn{text-align:center;background: #9fdbce;font-size:18px;color:#fff;width: 100%;border-radius: 0;padding: 18px 0;font-weight:500;border-radius: 0 0 .3rem .3rem;}
  #tip .modal-body .tip-main li.active{background:#e0e1de;color:#242424;}
  #tip .modal-body .form-control{max-width: 25%;height: 45px;margin: 18px auto 0;}
  #tip .modal-footer .btn:hover{color: #212529;}

  /* tip popup css close*/

.right-bar-content.noti span.feed-load:hover{color: #212529;}
  


/* myModalForgetResetResend popup css start*/

#alertMessageModelProfile .modal-header{padding-bottom: 10px;display: none;}
#alertMessageModelProfile .modal-dialog.change-pass {max-width: 500px;width: 500px;}
#alertMessageModelProfile .modal-body {padding: 30px !important;text-align: center;}
#alertMessageModelProfile .modal-body i {font-size: 50px;color: #f05742;}
#alertMessageModelProfile .modal-body h4 {margin: 30px 0 25px;font-size: 21px;font-weight: 500;line-height: 30px;}
#alertMessageModelProfile .modal-body button{display: inline-block;
  background:
  #9fdbce;
  font-size: 16px;
  color: #fff;
  border: 0;
  border-radius: 3px;
  padding: 11px 35px;
  font-weight: 500;
  cursor: pointer;}


  .profile-mobile-view{display: none;}


  .model-pro-social {
    margin-top: 20px; 
}
.model-pro-social li {
  margin-bottom: 12px;
}
.model-pro-social li a {
  color: #fff;
}
.model-pro-social li a:hover{color:#fff;}
.model-pro-social li a i{margin-right :10px;font-size: 22px;}

/* myModalForgetResetResend popup css close*/

.profile-cover .cover-image{overflow: inherit;}
.image-content a.info {
  color: 
  #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 10px 0 5px;
  display: block;
}
.image-content a.info i {
  font-size: 17px;
}
.image-content .card {
  width: 33%;
  padding: 10px;
  max-height: 250px;
overflow: auto;
margin: 0;
}
.image-content .card p{color:#242424;padding: 0;}
.image-content a.info {
  display: inline-block !important;
}

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modelyuorfeed .modal-content {
      width: 100%;
    }
  }


  @media only screen and (max-width: 550px){

    /* profile mobile view page changes */
    
    .profile-mobile-view{display: block;}
    .profile-mobile-view{padding: 10px;position: relative;}
    .profile-mobile-view .mobile-view-dp {width: 120px;height: 120px;border-radius: 50%;overflow: hidden;margin-top: -60px;display: inline-block;}
    .profile-mobile-view .mobile-view-dp img{width: 100%; height: 100%;}
    .profile-mobile-view .mobile-view-img-content {display: inline-block;vertical-align: top;padding-left: 15px;width: 65%;max-width: 65%;}
    .mobile-view-img-content h3 {font-size: 20px;margin-bottom: 5px;}
    .mobile-view-img-content li {margin-bottom: 5px;}
    .mobile-view-img-content li a{font-size: 13px;color:#242424;font-weight: 500;vertical-align: top;display: inline-block;width: 230px;
    white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;}
    .mobile-view-img-content li a .fab.fa-twitter{color:#2caae1;font-size: 18px;float: left;margin-top: 1px;}
    .mobile-view-img-content li a .fab.fa-instagram{  font-size:18px;background: #d6249f;margin-top: 1px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;float: left;}
    .mobile-view-img-content li a i{margin-right: 10px;font-size: 16px;}
    .mobile-view-img-content .mobile-view-icons {margin-top: 8px;position: absolute;top: -44px;right: 8px;background: rgba(255, 255, 255, 0.8);
    padding-left: 15px;padding-top: 6px;border-radius: 2px;}
    .mobile-view-img-content .mobile-view-icons li {display: inline-block;margin-right: 15px;}
    .mobile-view-img-content .mobile-view-icons li img{width: 20px;margin-right: 5px;}
    .mobile-view-img-content .form-control.date{width: 65%;font-size: 14px;padding-left: 7px;margin-top: 8px;}
    .profile-mobile-view button.sub-button {display: block;width: 100%;border: 2px solid #d1d1d1;background: none;padding: 11px 0;
    border-radius: 40px;margin-top: 15px;text-transform: uppercase;font-weight: 500;}
    .profile-mobile-view .sub-button i {float: left;font-size: 20px;color: #8b96a4;padding-left: 15px;}
    .profile-mobile-view .sub-button strong{color:#bbbbbb;font-weight: 500;}
    .profile-cover .dp-image{display: none;}
    .profile-cover .image-content{display: none;} 
    .profile-cover .follow.subscribe-without-login{display: none;}
    .image-content-button{display: none;}
    .profile-mobile-view .sub-button.half {width: 48%;display: inline-block ;}
    .profile-mobile-view .sub-button.half.right {float: right;}
    .profile-mobile-view button.sub-button img {float: left;padding-left: 15px;}
    .profile-mobile-view button.sub-button span{padding: 3px 0;display: inline-block;}
    .profile-mobile-view .card{padding: 5px;max-height: 140px;overflow: auto;}
    .profile-mobile-view a.info {color: #242424;font-size: 15px;font-weight: 600;text-transform: capitalize;margin: 10px 0 5px;display: inline-block;}
  .profile-mobile-view .card p {font-size: 13px;}
    /* profile mobile view page changes */
    
    } 


  @media only screen and (max-width: 414px){
  .modelyuorfeed .modal-content{max-width: 90%;}
  #caption{width: 90%;}
  #tip .modal-body h4{font-size: 22px;line-height: normal;}

  }

  @media only screen and (max-width: 375px){
  .mobile-view-img-content li a{width: 200px;}

  }


@media only screen and (max-width: 360px){

.profile-mobile-view .mobile-view-img-content{width: 62%;max-width: 62%;}
.mobile-view-img-content h3 {font-size: 18px;}
.profile-mobile-view button.sub-button{font-size: 12px;}

}

@media only screen and (max-width: 320px){
.profile-mobile-view .mobile-view-dp {width: 110px;height: 110px;}
.mobile-view-img-content h3 {font-size: 15px;}
.mobile-view-img-content li a{width: 160px;}

}