<app-header *ngIf="!isLoading"></app-header> 

<div class="se-pre-con" *ngIf="isLoading">
      <div class="sk-chasing-dots">
        <div class="sk-child sk-dot1"></div>
        <div class="sk-child sk-dot2"></div>
      </div>
  </div>
  <!-- header part close -->
  

  <!-- cover part start -->
  <section class="profile-cover" *ngIf="!isLoading">
  <div class="container-fluid p-0">
     <div class="cover-image" >
     <img  src="{{myDataProfile.cover}}" alt="" class="cover">
     <!-- <img src="assets/images/cover.jpg" alt=""> -->
      <!-- <img src="assets/images/cover.jpg" alt=""> -->
      <div class="dp-image">
        <img src="{{myDataProfile.profile}}" alt="">
        <!-- <img src="assets/images/cover1.jpg" alt=""> -->
      </div>
      <div class="image-content">
        <h3>{{myDataProfile.name}}</h3>
		<!-- <p>{{myDataProfile.website}}</p> -->
		
  
  
	<img src="assets/images/cover3.png" alt="">  <span class="aligning"> {{myDataProfile.countImage}}</span>  <img src="assets/images/cover4.png" alt=""> <span class="aligning">  {{myDataProfile.countVideo}} </span><span  class="cursor" *ngIf="blockedStatus == 'n'" (click)="getModelComment('close')"><img src ="assets/images/review-rating.png"> {{myDataProfile.model_comment}} </span>
		<button data-toggle="modal" data-target="#comment" style="display: none" id="commentPopup">Comments</button>
		   
		<button class="model-avail model-availability-web" *ngIf="loggedIn && blockedStatus!='y' && followingStatus != 3" (click)="modelAvailability()"><i *ngIf="loadingAvailability" class="fa fa-spinner fa-spin"></i> Book Private Video</button>
		<button class="model-avail model-availability-web" *ngIf="loggedIn && blockedStatus == 'y'" >Blocked</button>
		<a style="display: none" data-toggle="modal" data-target="#exampleModal" id="openModelAvailability"></a>

		<div class="model-pro-social">
		<ul>
			<!-- <li><a href=""><i class="fab fa-twitter"></i>@GGRosnaik</a></li><li><a href=""><i class="fab fa-instagram"></i>@GRosnaik</a></li> -->
			<li *ngIf="myDataProfile.twitter != null"><a  href="https://www.twitter.com/{{myDataProfile.twitter}}" target="_blank"><i  class="fab fa-twitter"></i>@{{myDataProfile.twitter}}</a></li>

			<li *ngIf="myDataProfile.instagram != null"><a href="https://www.instagram.com/{{myDataProfile.instagram}}" target="_blank"><i class="fab fa-instagram"></i>@{{myDataProfile.instagram}}</a></li>
		</ul>
		</div>
		
		<div *ngIf="myDataProfile.bio != null" class="date">
			<a class="info" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
				Info <i class="fas fa-chevron-down"></i>
			</a>	
		 
		<div class="collapse" id="collapseExample">
			<div class="card">
				<p>{{myDataProfile.bio}}</p>
			</div>
		</div>
	</div> 
	</div> 
	  
    <div class="image-content-button">
			<!-- <p-rating *ngIf="loggedIn" [(ngModel)]="val" [cancel]="false"></p-rating> -->
			<!-- <button  *ngIf="loggedIn" class="follow">Comment</button> -->
		    <button  *ngIf="loggedIn && blockedStatus!='y' && followingStatus != 3" class="cursor follow" (click)="modelChat(myDataProfile.model_id,myDataProfile.name,myDataProfile.profile)" data-target="#chat-popup" id="openChatPopup" data-toggle="modal">Chat</button>	
		
			<a data-toggle="modal" data-target="#chat-popup" id="openChatPopup" style="display:none"></a>

	   <!-- <button></button> -->
	   <!-- {{blockedStatus}} -->
	   <button *ngIf="'1' == checkFollowing  && blockedStatus!='y' && (followingStatus != 3)" (click)="giveTip()" class="tip">Tip</button>
       <button *ngIf="'1' == checkFollowing && followingStatus == 1 && blockedStatus!='y'" (click)=" FollowModel(1,myDataProfile.model_id)" [disabled]="!editmode ? 'disabled': null"     class="follow"  >Unsubscribe</button>
      <!-- <button *ngIf="0 == d.following_status " [disabled]="!editmode ? 'disabled': null"   (click)="FollowModel(d.following_status,d.model_id,i); clicked = true;"    id="{{i}}" [ngClass]="{ 'm-progress': loading }" class="follow" data-id='0' >follow</button>  -->
      <button *ngIf="('0' == checkFollowing || followingStatus == 3) && getLogStatus && blockedStatus!='y'" (click)=" getModelPrice(myDataProfile.model_id)" [disabled]="!editmode ? 'disabled': null"      class="follow"     class="follow"  >Subscribe ${{myDataProfile.price}}/Month</button>
	  <button *ngIf="'1' == checkFollowing && followingStatus == 2"  [disabled]="!editmode ? 'disabled': null"      class="follow"     class="follow"  >Unsubscribed</button>
	  <button *ngIf="'2' == checkFollowing && blockedStatus!='y'" (click)="changeStatus(myDataProfile.model_id,myDataProfile.user_id,2)" [disabled]="!editmode ? 'disabled': null"      class="follow subscribe-without-login"      >Subscribe ${{myDataProfile.price}}/Month</button>
	  <button class="model-avail model-availability-mobile" *ngIf="loggedIn && blockedStatus!='y' && followingStatus != 3" (click)="modelAvailability()"><i *ngIf="loadingAvailability" class="fa fa-spinner fa-spin"></i> Book Private Video</button>
	  <button class="model-avail model-availability-mobile" *ngIf="loggedIn && blockedStatus == 'y'" >Blocked</button>
	  <a style="display: none" data-toggle="modal" data-target="#exampleModal" id="openModelAvailability"></a>
	  <a href="" id="paymentPopup" data-toggle="modal" data-target="#payment" style="display: none"></a>  
      <a href="" id="loginPopupMain" data-toggle="modal" data-target="#login" style="display: none"></a> 
    </div>
  
     </div>
  </div>
  
  </section>


   <!-- model profile mobile view design -->

  <div class="profile-mobile-view">
	<div class="mobile-view-dp"><img alt="" src="{{myDataProfile.profile}}"></div>
	<div class="mobile-view-img-content">
		<h3>{{myDataProfile.name}}</h3>
		<ul>
			<li *ngIf="myDataProfile.twitter != null"><a  href="https://www.twitter.com/{{myDataProfile.twitter}}" target="_blank"><i  class="fab fa-twitter"></i>@{{myDataProfile.twitter}}</a></li>

			<li *ngIf="myDataProfile.instagram != null"><a href="https://www.instagram.com/{{myDataProfile.instagram}}" target="_blank"><i class="fab fa-instagram"></i>@{{myDataProfile.instagram}}</a></li>
		</ul>
		<div class="mobile-view-icons">
			<ul>
				<li><img alt="" src="assets/images/cover3-black.png">{{myDataProfile.countImage}}</li>
				<li><img alt="" src="assets/images/cover4-black.png">{{myDataProfile.countVideo}}</li>
				<li   *ngIf="blockedStatus == 'n'" (click)="getModelComment('close')"><img src ="assets/images/review-rating-black.png"> {{myDataProfile.model_comment}} </li>
				<!-- <li><img alt="" src="assets/images/review-rating-black.png">0</li> -->
			</ul>
		</div>
		<div *ngIf="myDataProfile.bio != null" class="date">
				<a class="info" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
					Info <i class="fas fa-chevron-down"></i>
				</a>	
		</div> 
	</div>
	<div class="collapse" id="collapseExample">
		<div class="card">
			<p>{{myDataProfile.bio}}</p>
		</div>
	</div>

  <!-- <button class="sub-button"><i class="far fa-user"></i>subscribe for $12.99 <strong>(per month)</strong></button> -->
  <button *ngIf="'1' == checkFollowing && followingStatus == 1 && blockedStatus!='y'" (click)=" FollowModel(1,myDataProfile.model_id)" [disabled]="!editmode ? 'disabled': null"     class="sub-button"  ><i class="far fa-user"></i>Unsubscribe</button>
  <!-- <button *ngIf="0 == d.following_status " [disabled]="!editmode ? 'disabled': null"   (click)="FollowModel(d.following_status,d.model_id,i); clicked = true;"    id="{{i}}" [ngClass]="{ 'm-progress': loading }" class="follow" data-id='0' >follow</button>  -->
  <button *ngIf="('0' == checkFollowing || followingStatus == 3) && getLogStatus && blockedStatus!='y'" (click)=" getModelPrice(myDataProfile.model_id)" [disabled]="!editmode ? 'disabled': null"      class="sub-button"  ><img src="assets/images/subs-btn-icon.png"><span>Subscribe for ${{myDataProfile.price}} <strong>(per month)</strong></span></button>
  <button *ngIf="'1' == checkFollowing && followingStatus == 2"  [disabled]="!editmode ? 'disabled': null"      class="sub-button"     >Unsubscribed</button>
  <button *ngIf="'2' == checkFollowing && blockedStatus!='y'" (click)="changeStatus(myDataProfile.model_id,myDataProfile.user_id,2)" [disabled]="!editmode ? 'disabled': null"      class="sub-button follow subscribe-without-login"      ><img src="assets/images/subs-btn-icon.png"> <span>Subscribe for ${{myDataProfile.price}} <strong>(per month)</strong></span></button>







  <button  *ngIf="loggedIn && blockedStatus!='y' && followingStatus != 3" class="sub-button half" (click)="modelChat(myDataProfile.model_id,myDataProfile.name,myDataProfile.profile)" data-target="#chat-popup" id="openChatPopup2" data-toggle="modal">Chat</button>
 
  <button *ngIf="'1' == checkFollowing  && blockedStatus!='y' && (followingStatus != 3)" (click)="giveTip()" class="sub-button half right">Tip</button>
  <button class="sub-button half" *ngIf="loggedIn && blockedStatus == 'y'" >Blocked</button>
  <button class="sub-button right" *ngIf="loggedIn && blockedStatus!='y' && followingStatus != 3" (click)="modelAvailability()"><i *ngIf="loadingAvailability" class="fa fa-spinner fa-spin"></i> Book Private Video</button>



  <!-- <button class="sub-button half">Chat</button>
  <button class="sub-button half right">Tip</button>
  <button class="sub-button half">Unsubscribe</button>
  <button class="sub-button half right"> Book Private Video</button> -->
	
  </div>

<!-- model profile mobile view design -->


  <div *ngIf="!isLoading">
    <div class="cols profile-grid">
		<!-- {{myDataProfile.media.length}} -->
		<ng-container *ngFor="let d of myDataProfile.media ; let i = index">
      <div *ngIf = "d.type!=3"   class="greatest">
        <span *ngIf="d.type == 5" class="teaser"> Teaser </span>
		<div *ngIf="d.type == 1" class="top_dv"><img src="{{d.media}}" alt="" (click)="open(i,d.mainMedia,d.title)"> 
		  <div class="comment-icon-pro" routerLink="/share" [queryParams]="{shareId: d.post_id}">
			<i class="far fa-comments cursor"></i>
			<h5 >{{d.comment}}</h5>
		  </div>
		</div>
        <div *ngIf="d.type == 2" class="top_dv">
            <video  id="videoId{{i}}"     style="width:100%">
                <source id="videoMain{{i}}" src="{{d.media}}" type="video/mp4">.
			  </video>  
			  <div class="comment-icon-pro" id="comment{{i}}" routerLink="/share" [queryParams]="{shareId: d.post_id}">
					<i class="far fa-comments cursor"></i>
					<h5>{{d.comment}}</h5>
				  </div>
			   <div class="video-icons">
				<i class="far fa-play-circle" (click)="playvideo('play',i)" id="videoPlay{{i}}"></i>
				<i class="far fa-pause-circle" style="display: none"  id="videoPause{{i}}" (click)="playvideo('pause',i)"></i>
			   </div>
		  </div>
		  
		  <div *ngIf="d.type == 5" class="top_dv">
            <video   id="videoId{{i}}"        style="width:100%">
                <source id="videoMain{{i}}" src="{{d.media}}" type="video/mp4">.
			  </video> 
			  	<div class="comment-icon-pro" routerLink="/share" [queryParams]="{shareId: d.post_id}">
					<i class="far fa-comments cursor"></i>
					<h5>{{d.comment}}</h5>
				</div>
				<div class="video-icons">
					<i class="far fa-play-circle" (click)="playvideo('play',i)" id="videoPlay{{i}}"></i>
					<i class="far fa-pause-circle" style="display: none"  id="videoPause{{i}}" (click)="playvideo('pause',i)"></i>
				</div>  
		  </div> 
		 
		 
	  </div>
	</ng-container>
    <!--cols--> 
    </div>
  </div>
  
  <app-footer  *ngIf="!isLoading"></app-footer>
  
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" id="closeLoginPopup" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="become-form" >
          <span style="color:red">{{myIncorrectPassword.response}}</span>
          
          <form #myForm="ngForm" (ngSubmit)="loginUser(myDataProfile.model_id)">
            <div class="inner-form" ngForm #newRuleForm="ngForm">  
              <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control height-control"  name="email" placeholder="Enter Email"   [(ngModel)]="email" >
                <span style="color:red">{{myEmailResponse.response}}</span>
                
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control height-control"  name="password" [(ngModel)]="password"  placeholder="Enter password">
                <span style="color:red">{{myPasswordResponse.response}}</span> 
              </div>
            
              <!-- <button type="button" class="btn signin-btn" value="Sign In" (click)="loginUser()" [ngClass]="{ 'm-progress': loading }">Sign In</button> -->
              
              <button type="submit"   class="login-btn" [disabled]="!newRuleForm.valid"><i *ngIf="loading" class="fa fa-spinner fa-spin"></i>Login</button>
              <!-- <button class="">Login</button> -->
              <div class="already1">
                Don't have an account? <a  class="cursor" (click)="openSignUp()">Sign up</a>
                </div>
            </div>
          </form>
        
       </div>
      </div>
     
    </div>
  </div>
</div>

<div class="modal fade" id="chat-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Live Chat</h5>
			  <!--  -->
			  	<div  class="typing-message" *ngIf="typingStatus">
					<h3 >typing<div class="typing-loader"></div></h3>
				</div>
			  <button type="button" class="close" id="msgPopUPClose" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
			 <div class="setting-right">
						  <div class="setting-right-top" #scrollMe [scrollTop]="scrollMe.scrollHeight">
								<ng-container *ngFor="let post of getchatData ">
										<ng-container *ngIf="post.sender != loggedInuser">
											<div class="setting-right-one" >
												<div class="box-user-img box-user-images">
													<img src="{{myDataProfile.profile}}" alt="img">
												</div>
												<div *ngIf="post.type=='text'" class="rounded">
														<i class="fas fa-caret-left on-top"></i>
														{{post.message}}
													</div>
													<div *ngIf="post.type=='photo'" class="rounded imagesmessage">
														<i class="fas fa-caret-left on-top"></i>
														<img src="{{post.message}}" width="150px" height="150px">
														<!-- <span class="messageTime">{{convertTime(post.time.seconds)}}</span> -->
													</div>
											</div>
										</ng-container>
										<ng-container *ngIf="post.sender == loggedInuser">
											<div class="setting-right-one">
												<div class="box-user-img box-user-images setting-right-two">
													<img src="{{userProfile}}" alt="img">
												</div>
												<div  *ngIf="post.type=='text'" class="rounded setting-right-two">
														<i class="fas fa-caret-right on-right"></i>
														{{post.message}}
														<!-- <span class="messageTime">{{convertTime(post.time.seconds)}}</span> -->
													</div>
													
													<div  *ngIf="post.type=='photo'" class="rounded setting-right-two imagesmessage">
														<i class="fas fa-caret-right on-right"></i>
														<img src="{{post.message}}" width="150px" height="150px">
														<!-- <span class="messageTime">{{convertTime(post.time.seconds)}}</span> -->
													</div>
											</div>
										</ng-container>     
									</ng-container> 
					 	</div>
						 <div class="setting-right-bottom" *ngIf ="msgOver">
								<form name="form" #myForm="ngForm" (ngSubmit)="myForm.form.valid && addPost()" novalidate>
										<label>
												<input type="file" [(ngModel)]="imageFile" id="file" name="file" accept="image/*" capture="" style="display:none" (change)="readURL($event);">
												<div class="image-upload" id="upfile1">
													<div class="image-upload1" id="upfile1" style="cursor:pointer">
														<i class="fas fa-paperclip clip"></i>
													</div>
												</div></label>
												<img *ngIf="isUpload == true" id="blah"  [src]="imageSrc" alt="your image" class="uploadIMG">
											<!-- <input  type="text" [(ngModel)]="content"  name="content"  class="multitext" placeholder="Type A message here" required #contentCheck="ngModel" *ngIf="isUpload == false"> -->
											<!-- <input *ngIf="isUpload == false" [(ngModel)]="content" type="text" class="multitext"  name="namemain" aria-describedby="emailHelp" placeholder="Type A message here" #nameCheck="ngModel"> -->
											<input type="text" *ngIf="isUpload == false" [(ngModel)]="content"  class="multitext"  (ngModelChange)="valuechange()"   name="namemain" aria-describedby="emailHelp" placeholder="Type A message here" #nameCheck="ngModel">
	
											<button type="submit"  [disabled]="!editmode ? 'disabled': null" ><i *ngIf="loading" class="fa fa-spinner fa-spin"></i>Send</button>
								</form>
						</div>
						<div *ngIf ="!msgOver" class="mess-recharge pro-pop">
							<span>Your message Transaction Is Over <span (click)="rechargeMessage(20)" class="cursor" style="color:red">Click Here</span>To Recharge</span>
							<a type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="display: none" id="showModel">
							   
							</a>
						</div>
					  </div>
			</div>
			
		  </div>
		</div>
</div>


<!-- <div class="modal" id="myModal">
	<div class="modal-dialog">
	  <div class="modal-content">
   -->
		<!-- Modal Header -->
		<!-- <div class="modal-header">
		  <h4 class="modal-title">Recharge Message</h4>
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		</div> -->
  
		<!-- Modal body -->
		<!-- <div class="modal-body">
			<div class="cursor" (click)="rechargeMessage(20)"><span>20</span></div><div class="cursor" (click)="rechargeMessage(30)"><span>30</span></div><div class="cursor" (click)="rechargeMessage(40)"><span>40</span></div>
		</div> -->
  
		<!-- Modal footer -->
		<!-- <div class="modal-footer">
		  <button type="button" class="btn btn-danger" data-dismiss="modal" id="modalClose">Close</button>
		</div>
  
	  </div>
	</div>
</div> -->





<!-- pop up for comment viewing start here-->
<div class="modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">{{myDataProfile.name}}</h5>
		  <button type="button" class="close" data-dismiss="modal" id="modelCommentHide" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<div class="main-content-left">
				<div class="empty-msg" *ngIf="getData.length == 0">
					<h6>No Reviews Yet</h6>
				</div>
				<div class="main-content1" *ngFor="let d of getData">
					<div class="main-content1-top">
						<div class="row">
							<div class="main-content1-top-left">
								<img *ngIf="d.profileImage != ''" src="{{d.profileImage}}" alt="comment-img">
								<img *ngIf="d.profileImage == ''" src="assets/images/dummy-profile.png" alt="comment-img">
						  	</div>
						  	<div class="main-content1-top-right">
						  		<h5>{{d.name}}</h5>
						  		<h6>{{convertDate(d.posted_on)}}</h6>
						  	</div>
							<div class="main-top-ratings">
						  		<div class="rating-star">
									<ul>
										<p-rating *ngIf="loggedIn" [(ngModel)]="d.rating" [cancel]="false" readonly="true"></p-rating>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="main-content1-bottom">
						<p>{{d.comment}}
						</p>
					</div>
				</div>
			</div>
			<div class="main-content-right">
				<div class="rev-left" *ngIf='!emptyGetdata'>
					<h3>{{showAverage}}.0</h3>
					<ul>
						<p-rating  [(ngModel)]="showAverage" [cancel]="false" readonly="true"></p-rating>
					</ul>
					<span class="total-review">({{totalComment}} reviews)</span>
				</div>
				<div class="share-review" *ngIf="!alreadyCommented && loggedIn" (click)="writeReview('write')">
					<button >Write Review</button>
						<i class="fas fa-pencil-alt"></i>
				</div>
				<div class="respond" *ngIf="alreadyCommented  && loggedIn" (click)="writeReview('edit')">
					<button  >Edit Review</button>
					<i class="far fa-edit"></i>
				</div>
				<button data-toggle="modal" data-target="#review" style="display: none" id="reviewPopup"></button>
						 
			</div>
		</div>
	</div>
</div>
</div>
<!-- pop up for comment viewing end here -->

<!-- pop up for editing and writing review start here-->
<div class="modal fade" id="review" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">{{myDataProfile.name}}</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <div class="comment-main">
		   <div class="comment-img">
			 <img *ngIf="SaveduserImage!='0'" src="{{SaveduserImage}}" alt="comment-img">
			 <img *ngIf="SaveduserImage=='0'" src="assets/images/dummy-profile.png" alt="comment-img">
		   </div>
		   <div class="comment-text">
			 <h4>{{SaveduserName}}</h4>
			 <div class="comm-rating">
				<ul><p-rating *ngIf="loggedIn" [(ngModel)]="showAverage2" [cancel]="false" ></p-rating></ul>

			   <textarea class="form-control" placeholder="Type here..." [(ngModel)]="CommentTextArea"></textarea>
			 </div>
		   </div>
		   
		 </div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary close" id="closeReviewModal" data-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary" (click)="submitReview()"><i *ngIf="loading" class="fa fa-spinner fa-spin"></i>Post</button>
		</div>
	  </div>
	</div>
  </div>
<!-- pop up for editing and writing review ends here -->


<!-- model availability popup -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Model availability</h5>
		  <button type="button" class="close" id="dismissModel" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<p-calendar [(ngModel)]="dates" name="dates" selectionMode="multiple" [readonlyInput]="true" [inline]="true" (onMonthChange)="monthChange($event.month,$event.year)"></p-calendar>
		
			<div class="book-scroll"> 
			<div class="row">
				<div class="col-sm-6" *ngFor="let d of calendar; let i = index">
					<div class="avalibalty1">
					  <div class="avalibalty1-left">
						<h3>{{convertDateUtc(d.rawtime1,'day')}}</h3>
						<h5>{{convertDateUtc(d.rawtime1,'weekday')}}</h5>
					</div>
					<div class="avalibalty1-mid">
						<h3>{{convertDateUtc(d.rawtime1,'start_time')}} - {{convertDateUtc(d.rawtime2,'end_time')}}</h3>
					</div>
					<!-- <span class="online"></span> -->
					<div class="avalibalty1-icon">
					  <ul>
						<a *ngIf="d.bookedDate == 0" (click)="scheduleAppointment(d.id,d.epoch_time,d.rawtime1,d.rawtime2,convertDateUtc(d.rawtime1,'day'),convertDateUtc(d.rawtime1,'month'),convertDateUtc(d.rawtime1,'start_time'),convertDateUtc(d.rawtime1,'year'),convertDateUtc(d.rawtime2,'end_time'))">Book</a>
						<a class="withoutCursor" *ngIf="d.bookedDate == 1" >Booked</a>
					  </ul>
					</div>
					</div>
				  </div>
				</div>
		
		</div>
	</div>
		
			
		<!-- <div class="modal-footer">
			<h6 *ngIf="showContent == 1">{{responseAvailability.price}} $</h6>
		  <button *ngIf="showContent == 1" type="button" style="margin-top: 25px;" class="btn model-aval" (click)="scheduleAppointment()">Confirm availability</button>
		</div> -->
	  </div>
	</div>
  </div>
<!-- model availability popup -->

<a href="" id="paymentPopup" data-toggle="modal" data-target="#payment" style="display: none"></a>
<div class="modal fade" id="payment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content payment">
			<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" id="modalCloseClick"  aria-label="Close" style="display:none"></button>
					<button type="button" class="close" (click)="modalClose()" aria-label="Close" >
						<span aria-hidden="true">&times;</span>
					</button>
			</div>
			<div class="modal-body">
				<iframe [src]="formUrl" class="frameData"></iframe> 
			</div>
		</div>
	</div>
</div>


<button data-toggle="modal" id="showminutePopup" data-target="#minute-popup" style="display:none">Minute </button>
<div class="modal fade" id="minute-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <!--<h5 class="modal-title" id="exampleModalLabel">sdffds</h5>-->
			  <button type="button" class="close" id="closeminutepopup" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
			 <div class="mint-top">
			   <div class="mint-top-img">
				 <img src="{{myDataProfile.profile}}">
			   </div>
			   <div class="appoit-top-text">
				 <h4>{{myDataProfile.name}}</h4>
			   </div>
			 </div>
			
			<h3>Appointment details:</h3>
			 <div class="form-group">
			   <label>Date:</label>
			   <h4>{{appointmentweekday}}-{{appointmentmonth}}-{{appointmentyear}}</h4>
			 </div>
			  <div class="form-group">
			   <label>From:</label>
			   <h4>{{appointmentstart_time}}</h4>
			 </div>
			 <div class="form-group">
				<label>To:</label>
				<h4>{{appointmentend_time}}</h4>
			  </div>
			 
			 <div class="form-group">
				<label>Select your Own Time</label>
				<p-calendar [(ngModel)]="time" [minDate]="dateTime" [maxDate]="dateTimeMax" name ="time" [timeOnly]="true"  placeholder="From"></p-calendar>
			  </div>
			  <div class="form-group min">
			   <label>Minutes:</label>
			   <!-- <label class="us"><span class="checkmark"></span><input class="price-custom ng-pristine ng-valid ng-touched form-control" min="0" name="radio2" placeholder="50" type="text" ng-reflect-name="radio2" ng-reflect-model="25"><div class="minu"> -->
				  <!-- <a href="">+</a><a href="">-</a> -->
				<!-- </div> -->
			   <!-- </label> -->
			   
			   <div class="quantity">
				<input type="number" [(ngModel)]="priceCalc" (blur)="blurNumber()" min="1" max="100" step="1" value="1">
			   </div>
			   
			 </div>
			</div>
			
			<div class="total-pay">
			  <label>Total Pay</label>
			   <h4>${{priceCalc * livevideoCamPrice}}</h4>
			</div>
			
			<div class="modal-footer">
			  <button type="button" class="btn" (click)="finalSchedule()">Pay Now</button>
			</div>
		  </div>
		</div>
	  </div>

	  <div id="myModalImage" class="modal modelyuorfeed">
		<span (click)="changeSlideShow('right')" class="next-arrow"><i class="fas fa-chevron-right"></i></span>
		<span (click)="changeSlideShow('left')" class="pre-arrow"><i class="fas fa-chevron-left"></i></span>
		<!-- <span  class="next-arrow"><i class="fas fa-chevron-right"></i></span>
		<span class="pre-arrow"><i class="fas fa-chevron-left"></i></span> -->
		<span class="close" (click)="closeModel()">&times;</span>
		<div class="feed-pop">
		<img class="modal-content" id="img01" [src]="imgsrc">
		<div id="caption"></div>
	  </div>
	  </div>

	  <button data-toggle="modal" data-target="#ccfinpay" style="display: none" id="openpaymentSelector">ccfinpay </button>
	  <div class="modal fade" id="ccfinpay" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Payment</h5>
				<button type="button" class="close" id="closeCCfinpay" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
				<div class="row">
				  <div class="col-sm-6" (click)="changePaymentMethod('finPay')">
					<div class="ccfinpay-left">
					  <!-- <button class="ccfinpay-box" [ngClass]="{'active':AddActiveClass == 'finpay'}"> -->
						 <button class="ccfinpay-box " >
						<h4>Pay with</h4>
						<h3>FinPay</h3>
						<span class="ccfinpay-check">
							 
							 <!-- <i *ngIf="AddActiveClass == 'finpay'" class="fas fa-check-circle"></i> -->
						</span>
						<div class="coming-soon-overlay">
						 <h4>Coming</h4>
						<h3>Soon</h3>
					 </div> 
					  </button>
					  <p>FinPay - Zero Processing Fees</p>
					</div>  
				  </div>
				  <div class="col-sm-6" (click)="changePaymentMethod('ccbill')">
					<div class="ccfinpay-left">
					  <button class="ccfinpay-box active">
						<h4>Pay with</h4>
						<h3>CCBill</h3>
						<span class="ccfinpay-check">
							 <i  class="fas fa-check-circle"></i>
						</span>
					  </button>
					  <p>CCBill - 10% Processing Fee</p>
					</div>  
				  </div>
				</div>
			 </div>
			  <div class="modal-footer">
				<button type="button" class="btn" (click)="continuePayment('ccbill')">Continue</button>
			  </div>
			</div>
		  </div>
		</div>
	  
		<button data-toggle="modal"  id="finPayPopup" data-target="#pay-info" style="display: none">pay-info </button>
	  
		<!-- pay info popup part start -->  
	  <div class="modal fade" id="pay-info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
				<div class="modal-content">
				  <div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Payment details</h5>
				   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button> 
				  </div>
				  <div class="modal-body">
					 <div class="row">
					   <div class="col-sm-12">
						  <div class="form-group">
							<label for="exampleInputEmail1">cardholder name</label>
							<input type="text" name="nameCard" [(ngModel)]="nameCard" class="form-control"  aria-describedby="emailHelp" placeholder="John smith">
							<i class="fas fa-user"></i>
						  </div>
					   </div>
						<div class="col-sm-12">
						  <div class="form-group">
						  <label for="exampleInputEmail1">card number</label>
							<input type="text" name="cardNumber" [(ngModel)]="cardNumber" class="form-control"  aria-describedby="emailHelp" placeholder="4256 7890 5678 4532" onpaste="return false" pattern="[0-9.]+">
							<i class="far fa-credit-card"></i>
						  </div>
					   </div>
					   <!--<div class="col-sm-12">
						<h4>Card</h4>
					   </div> -->
					   <div class="col-sm-4">
						  <div class="form-group">
						   <label for="exampleInputEmail1">expiry month</label>
							<input type="text" name="expMonth" [(ngModel)]="expMonth" class="form-control" aria-describedby="emailHelp" placeholder="09">
							<i class="far fa-calendar-alt"></i>
						  </div>
					   </div>
					   <div class="col-sm-4">
						  <div class="form-group">
						   <label for="exampleInputEmail1">expiry year</label>
							<input type="text" name="expYear" [(ngModel)]="expYear" class="form-control"  aria-describedby="emailHelp" placeholder="2020">
							<i class="far fa-calendar-alt"></i>
						  </div>
					   </div>
						<div class="col-sm-4">
						  <div class="form-group">
						   <label for="exampleInputEmail1">cvc</label>
							<input  type="text" name="cvc" [(ngModel)]="cvc" class="form-control" aria-describedby="emailHelp" placeholder="145">
							<i class="fas fa-unlock-alt"></i>
						  </div>
					   </div>
					   <div class="col-sm-12">
						  <h6>Payment amount: <strong>${{modelPrice.price}}</strong></h6>
					   </div>
					 </div>
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn" (click)="finpayPayment()">Pay now</button>
				  </div>
				</div>
			  </div>
			</div>


		<!-- pay info popup part start -->  
		<button data-toggle="modal" data-target="#tip" style="display:none" id="tippopupopen">Tip</button>

<div class="modal fade" id="tip" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-body">
			   <div class="tip-icon">
				 <i class="fas fa-heart"></i>
				 <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeTipPOPUP" style="display:none"></button>
			   </div>
			   <h4>Would you like to leave a tip<br> for {{myDataProfile.name}}</h4>
			   <h5>(optional)</h5>
			   <div class="tip-main">
				 <ul>
				   <li  [ngClass]="{'active':AddActiveClass2 == 'active5'}"><a (click)="givetipFinal(5)">$5</a></li>
				   <li  [ngClass]="{'active':AddActiveClass2 == 'active10'}"><a (click)="givetipFinal(10)">$10</a></li>
				   <li  [ngClass]="{'active':AddActiveClass2 == 'active15'}"><a (click)="givetipFinal(15)">$15</a></li>
				   <li  [ngClass]="{'active':AddActiveClass2 == 'active20'}"><a (click)="givetipFinal(20)">$20</a></li>
				   <li  [ngClass]="{'active':AddActiveClass2 == 'activestatic'}"><a (click)="givetipFinal('static')">Other</a></li>
				 </ul>
			   </div>
			   <input type="number" [(ngModel)]="staticTip"  name="staticTip" *ngIf="ShowStaticTip" class="form-control" (blur)="setTipPrice()" >
			</div>
			 <div class="modal-footer">
			  <button type="button" class="btn" (click)="leaveTip()">Leave a Tip</button>
			</div>
		  </div>
		</div>
	  </div>
	  <!-- pay info popup part start -->  	
			<!-- pay info popup part start -->   
	  
<a data-toggle="modal" data-target="#alertMessageModelProfile" class="forgot" style="display: none" id="alertBox"></a>
<div class="modal" id="alertMessageModelProfile">
	<div class="modal-dialog change-pass">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
			<h4 class="modal-title">Model profile alert</h4>
				<button type="button" style="display: none" class="close model-close" id="model-closeEmailReset22" data-dismiss="modal" >×</button>
			</div>
			<!-- Modal body -->

			<div class="modal-body">
			<i class="fas fa-exclamation-triangle"></i>
				<h4 class="modal-titleForgot">{{modelMessageAccount}}</h4>
				<!-- <button class="btn btn-primary">resend link</button> -->
				<!-- <input type="email" class="form-control height-control"  name="emailReset" [(ngModel)]="emailReset"  placeholder="Enter Email"> -->
				<button (click)="continueClick()">Continue</button>
			</div>
			 
			<!-- Modal footer -->
		</div>
	</div>
</div> 