<app-header></app-header>

<section class="live-model-main">
    <div class="live-model-content">
      <div class="container-fluid">
       <div class="row">
            <div class="left-bar">
                <ul>
                    <li><a routerLink="/your-feed">Private Content</a></li>
                    <li ><a routerLink="/models">Models</a></li>
                    <!-- <li class="active"><a routerLink="/explore">Explore</a></li> -->
                    <!-- <li><a href="#"></a></li>
                    <li><a href="#">Premium Videos</a></li> -->
                    <li ><a routerLink="/follows">Subscribed Models</a></li>
                    <li ><a routerLink="/messages">Messages</a></li>
                    <li><a routerLink="/notifications">Notifications</a></li>
                    <li class="active"><a routerLink="/settings">Settings</a></li>
                </ul>
            </div>
   <div class="right-main"> 
   <div class="right-bar">
   <div class="min-height">
      <div class="right-bar-content slide noti feed">
          <div class="se-pre-con2" *ngIf="isLoading">
              <div class="sk-chasing-dots" >
                <div class="sk-child sk-dot1"></div>
                <div class="sk-child sk-dot2"></div>
              </div>
          </div> 
          <p-toast [style]="{marginTop: '80px'}"></p-toast>
          <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
            <ng-template let-message pTemplate="message">
                <div style="text-align: center">
                    <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                    <h3>{{message.summary}}</h3>
                    <p>{{message.detail}}</p>
                </div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-6">
                        <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
                    </div>
                    <div class="ui-g-6">
                        <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
                    </div>
                </div>
            </ng-template>
        </p-toast>
   <!-- <h4>Your Account</h4>  -->
   <form (ngSubmit)="onSubmit()">
    <div class="picture">
        <label class="cursor">
     <img src="assets/images/icon.png" alt="" class="img-cls">
                 <input type="file" id="file" name="file" accept="image/*" capture="" style="display:none" (change)="readURL($event);" >
                   <div class="image-upload" id="upfile1">
                   <div class="image-upload1" id="upfile1" style="cursor:pointer">
                     <img src="assets/images/icon.png" alt="" class="img-cls">
                   </div>
                   </div>   
          <div class="picture1">
            <img  id="blah" src="{{getProfileData.user_image}}"  [src]="imageSrc || 'http://placehold.it/180'" alt="your image">
          </div>
        </label>
       </div>
       <span style="color:red">{{myValidation.err}}</span>
       
       <div class="inner-form inner-forms">  
         <div class="row">
               <div class="col-md-6">
                
               <div class="form-group form-group1 mr-0">
                 <label>Name</label>
                 <input type="text" class="form-control height-control" name="name" placeholder="John" value="{{getProfileData.name}}" [(ngModel)]="name">
                 <span style="color:red">{{myValidation.name}}</span>
               </div>
               </div>
                <div class="col-md-6">
               <div class="form-group form-group1 ml-0">
                 <label>Email</label>
                 <input type="text" class="form-control height-control" name="email" placeholder="John@gmail.com" value="{{getProfileData.user_email}}" [(ngModel)]="email">
                 <span style="color:red">{{myValidation.email}}</span>
               </div>
               </div>
             </div>
               <div class="form-group form-group1 ">
                 <label>Bio</label>
               <!--   <input type="textarea" class="form-control height-control contrl1 control2" name="name" placeholder="************"> -->
                 <textarea class="form-control text-height" name="bio" [(ngModel)]="getProfileData.user_bio"></textarea>
                 <span style="color:red">{{myValidation.bio}}</span>
               </div>
       </div>
       <button type="submit"   class="updating" ><i *ngIf="loading" class="fa fa-spinner fa-spin"></i>Update</button>
      </form>  
       <div class="two-buttons">
       <button class="changing" data-toggle="modal" data-target="#myModal" (click)="hideErrors()">CHANGE PASSWORD</button>
      <div class="modal" id="myModal">
       <div class="modal-dialog change-pass">
         <div class="modal-content">
           <!-- Modal Header -->
           <div class="modal-header">
             <h4 class="modal-title">Change Your Password Here</h4>
             <button type="button" class="close model-close" id="model-close" data-dismiss="modal">×</button>
           </div>
           <!-- Modal body -->
           <form  name="form" #myForm="ngForm" (ngSubmit)="onSubmitPasswordReset()">
              <div class="modal-body">
                <div class="inner-form inner-forms">  
                    <span style="color:red">{{passwordValidation.result}}</span>
                  <div class="form-group">
                     
                    <label>Old Password</label>
                    <input type="password" class="form-control height-control" name="name" placeholder="" [(ngModel)]="oldPassword" >
                    <span style="color:red">{{passwordValidation.oldpassword}}</span>
                  </div>
                  <div class="form-group">
                    <label>New Password</label>
                    <input type="password" class="form-control height-control" name="newPassword" placeholder="" [(ngModel)]="newPassword">
                    <span style="color:red">{{passwordValidation.newpassword}}</span>
                  </div>
                  <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control height-control" name="confirmCheck" placeholder="" [(ngModel)]="confirmCheck" >
                      <span style="color:red">{{passwordValidation.confirmPassword}}</span>
                  </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="submit"   class="btn btn-danger close-right"><i *ngIf="loading2" class="fa fa-spinner fa-spin"></i>Update</button>
                 <!-- <button type="button" class="btn btn-danger close-right" data-dismiss="modal">Update</button> -->
               </div>
           </form>
           <!-- Modal footer -->
           
           
         </div>
       </div>
     </div>
     
       <!-- <button class="updating">UPDATE</button> -->
       </div>
      </div>
      </div>
      <h4 class="copy">Copyright 2015-2019 | ALL RIGHTS RESERVED ©</h4>
      </div>
      </div>
      </div>
      </div>
      </div>
   </section>




