<app-header></app-header>
<section class="live-model-main">
        <div class="live-model-content">
          <div class="container-fluid">
           <div class="row">
                <div class="left-bar">
                        <ul>
                            <li ><a routerLink="/your-feed">Feed</a></li>
                            <li  class="active"><a routerLink="/notification">Notifications</a></li>
                            <li ><a routerLink="/messages">Messages</a></li>
                            <li ><a routerLink="/follows">My Subscriptions</a></li>
                            <li ><a routerLink="/settings">Account Settings</a></li>
                            <li ><a routerLink="/billings">Billing settings</a></li>
                            <li ><a routerLink="/booking">Bookings</a></li>
                        </ul>
                </div>
                <div class="right-main"> 
                    <div class="right-bar">
                        <div class="min-height">
                                <div class="se-pre-con2" *ngIf="isLoading">
                                        <div class="sk-chasing-dots" >
                                            <div class="sk-child sk-dot1"></div>
                                            <div class="sk-child sk-dot2"></div>
                                        </div>
                                </div> 
                            <div class="right-bar-content noti"> 
                                <h4>Notifications</h4>   
                            <div class="one-notify" *ngFor="let d of showData">
                                <div class="notify-left">
                                    <h5 routerLink="/share" [queryParams]="{shareId: d.post_id}"><b class="cursor">{{d.model_name}}</b> has uploaded {{d.type}}</h5>
                                    <p>{{d.time}}</p>
                                </div>
                                <div class="notify-right">
                                    <label class="constant">
                                        <p-checkbox name="group1" value="{{d.id}}" [(ngModel)]="selectedValues" ></p-checkbox>
                                        <!-- <input type="checkbox" value="{{d.id}}"  [(ngModel)]="selectedValues"> -->
                                        <span class="checkmark" style="display: none"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="empty-msg" *ngIf="showData.length == 0 && !isLoading">
                              <h6>No New Notifications</h6>
                            </div>
                             <!-- {{selectedValues}}  -->

       <div class="one-notify text-right">
           <ng-container  *ngIf="showData.length > 0 ">
                <button  class="delete-btn" *ngIf="selectedValues.length == 1 " (click)="deleteNotification()"><i *ngIf="loading3" class="fa fa-spinner fa-spin"></i> Delete</button>
                <button class="delete-btn" *ngIf="selectedValues.length > 1 " (click)="deleteNotification()"><i *ngIf="loading3" class="fa fa-spinner fa-spin"></i> Delete selected</button>
           </ng-container>
           <!-- <div class="feed-loader" *ngIf="isLoading2"> -->
              <div class="feed-loader" *ngIf="isLoading2">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div> 
                <div id="fountainTextG"><div id="fountainTextG_1" class="fountainTextG">L</div><div id="fountainTextG_2" class="fountainTextG">o</div><div id="fountainTextG_3" class="fountainTextG">a</div><div id="fountainTextG_4" class="fountainTextG">d</div><div id="fountainTextG_5" class="fountainTextG">i</div><div id="fountainTextG_6" class="fountainTextG">n</div><div id="fountainTextG_7" class="fountainTextG">g</div></div>
              </div>  
            <div  *ngIf="!isLoading2 && !hideShowMore && showData.length>0" style="text-align: center;">
                <span class="cursor" (click)="loadMore()" class="feed-load">Load More</span>
            </div> 
       </div>
       </div>
     </div>
     <div class="inner-footer">
            <h4 class="copy">COPYRIGHT YES PIPER LLC 2020 | ALL RIGHTS RESERVED ©</h4>
            <ul>
              <li><a routerLink="/terms">Terms and conditions</a></li>
              <li><a routerLink="/privacy">Privacy Policy</a></li>
              <li><a routerLink="/faq" >FAQ's</a></li>
              <li><a routerLink="/contact" >Contact Us</a></li>
            </ul>
          </div>
       </div>   
     </div>
    </div>
    </div>
    </div>
       </section>
     
    
       
       
          
       
    
    