.ui-state-active::after{display: none!important;}
.right-bar-content.noti span.feed-load{
    font-size: 15px;
    color:#fff;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 4px;
    padding: 15px 0;
    background: #9fdbce;
    width: 176px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    margin-top: 30px;
    }

    .right-bar-content.noti span {
        text-align: center;
        display: block;
        color: #f05742;
        margin: 26px 0;
      }
      
    .right-bar-content.noti span.feed-load:hover{color: #212529;}

    .feed-loader{position: relative;}
    .feed-loader .spinner-border{bottom: 35px;}
    #fountainTextG{padding-bottom: 20px;}
