#accordion .btn.btn-link {
    display: block;
    width: 100%;
    text-align: left;
	color: #242424;
	font-weight: 500;
	text-decoration: none;
}
#accordion .btn.btn-link.collapsed::before {
    content: "";
    background: url(/../assets/images/faq-plus.png);
    width: 21px;
    height: 21px;
	float:left;
	margin-right: 20px;
}
#accordion .btn.btn-link::before {
    content: "";
    background: url(/../assets/images/faq-minus.png);
    width: 21px;
    height: 21px;
	float:left;
	margin-right: 20px;
}
#accordion .card{margin-bottom:20px;border:0;box-shadow: 0 2px 8px rgba(0,0,0,0.2);}
#accordion .card-body{font-size: 14px;color: #3D3A3A;line-height:25px;font-weight:300;padding: 10px;border-top: 1px solid #dee4ea;}
#accordion .card-header{border:0;background:#fff;padding: 5px;padding: 8px 3px;}

.faq-top-img{text-align:center;margin-bottom: 15px;}
.faq-top-img img{max-width:55%;}
.faq-right h3{text-align:center;font-size:30px;color:#242424;font-weight:600;margin-bottom: 15px;}
.faq-right p{text-align:center;font-size:15px;color:#625F5F;font-weight:400;}
.let-me-faq{margin-top:50px;}
.let-me-faq h4{font-size:15px;color: #625F5F;font-weight:400;margin-bottom:10px;}
.let-me-faq .form-control{height:50px;font-size:14px;}
.let-me-faq .btn{margin-top: 30px;
width: 30%;
background:#9fdbce;
color:#fff;
text-transform: uppercase;
border-radius: 4px;
font-size: 18px;
font-weight: 600;
text-align: center;
min-height: 55px;
border: 0;
margin:30px auto;
display:block;} 
.faq-right {padding: 0 35px;}
.login.padding.faq .heading {padding-top: 40px;}
.faq-head{font-size: 17px;margin-bottom: 15px;background: #e6e6e6;padding: 12px;}
.faq-head.subscr{margin: 30px 0 15px;}


@media screen and (max-width: 1366px) {
.login.padding.faq .heading {padding-top: 0;} 
            
}
    
@media screen and (max-width: 1280px) {
.login.padding.faq .heading {padding-top: 70px;}
    
}
    
@media screen and (max-width: 1024px) {
    /* .become-model.login.padding.term .heading {padding-top: 30px;} */
            
}
    
 @media screen and (max-width: 414px) {
.term p{word-wrap: break-word;}
.login.padding.faq .heading h4{font-size: 25px;}
    
    }




