<app-header></app-header>
<section class="login padding faq">
    <div class="container">                                                                                        
      <div class="heading">
         <h4><b>Frequently Asked </b>Questions</h4>
      </div>
      
  <div class="row">
    <div class="col-sm-8 offset-2">
      <h4 class="faq-head">GENERAL QUESTIONS</h4>
    <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Who is Yes Piper?
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          Yes Piper is a content creation platform owned and managed by Yes Piper LLC. <br><br>

          Yes Piper enables anyone to monetize their followers. It’s as simple as creating an account, posting content, setting your price and earning money. Yes Piper is much more than just a subscription platform, We also incorporate exciting features including private video chat, pay per message chat, live cam, plus Lovense Integration coming soon - These extra features will see your earnings soar and grow your profile. 
        </div>
      </div>
    </div>

    <h4 class="faq-head subscr">SUBSCRIBER FAQ </h4>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Can I cancel at any time?
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          Yes. All you have to do is log into your account at www.yespiper.com, select ‘billing’ and cancel subscription.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            When will I gain access after paying for the subscription?
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          You will gain access immediately, once payment is successful. 
        </div>
      </div>
    </div>

      <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Can I contact the model I subscribe to?
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
          Yes, all users get a standard 10 messages to talk with your model. You can also purchase more if you wish to. 
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            How do I view my model’s Live feature?
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
        <div class="card-body">
          All you have to do is select the model you are subscribed to who is going live and click on the “Live” button. Once you have done this, you will be prompted to pay the amount set by the model to join.
        </div>
      </div>
    </div>

      <div class="card">
      <div class="card-header" id="headingSix">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            Who do I contact about charges to my account?
          </button>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          For any billing or account inquiries, please email info@yespiper.com. Alternatively, you can contact CCBill directly via their live chat function, phone 1.888.596.9279, or email at support@ccbill.com. 
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingseven">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
            What are my payment options?
          </button>
        </h5>
      </div>
      <div id="collapseseven" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          We currently offer CCBill, which is a highly secure payment gateway. We will soon have an option to use FinPay, will automatically incur a fee of 2-4% on top of your payment. Unfortunately we do not offer PayPal at this time.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingeight">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
            How often am I charged?
          </button>
        </h5>
      </div>
      <div id="collapseeight" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          All subscriptions are charged monthly.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingnine">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
            Am I able to save or redistribute a models content?
          </button>
        </h5>
      </div>
      <div id="collapsenine" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          No. Saving and/or redistributing content is highly illegal in the USA and most other countries. All customers have a unique web footprint and anyone found to be doing so will have their details passed onto the appropriate authorities. Please refer to our Privacy Policy for more information on how your data is used.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingten">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseten" aria-expanded="false" aria-controls="collapseten">
            What happens if I lose access?
          </button>
        </h5>
      </div>
      <div id="collapseten" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          If you lose access and have not cancelled your subscription, it is likely that your subscription payment has failed. Please email info@yespiper.com and we will rectify for you.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingelev">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseelev" aria-expanded="false" aria-controls="collapseelev">
            What currency does Yes Piper use?
          </button>
        </h5>
      </div>
      <div id="collapseelev" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          We use United States Dollars.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading1">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
            What if I am unhappy with my subscription?
          </button>
        </h5>
      </div>
      <div id="collapse1" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          Please rate the model accordingly, by doing so this will help rid Yes Piper of poor content creators. Please understand that we are merely a platform for models to use, we do not dictate quality or frequency of content. 
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading2">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
            What are the benefits of subscribing?
          </button>
        </h5>
      </div>
      <div id="collapse2" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          Apart from having exclusive access to all the private content being posted by a Yes Piper user, you also have the benefit of being able to communicate with them directly via the direct messages interface, 1-on-1 Video Chat and Live Cam. 
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading3">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
            Can I get a refund?
          </button>
        </h5>
      </div>
      <div id="collapse3" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          All refunds on all payments made on Yes Piper are managed on a case-by-case basis. Please email info@yespiper.com or fill in the online support form on the ‘Contact Us’ page for any enquiries relating to refunds. 
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading4">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
            How do I cancel my subscription?
          </button>
        </h5>
      </div>
      <div id="collapse4" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          You are entitled to cancel any subscription, for any reason and at any time, thereby ensuring that you will not be billed again for that subscription. Please login to your dashboard and under ‘Billing Settings’ click ‘Cancel’. You will not be billed in the next billing cycle.<br><br>

          Please note that any purchase made on Yes Piper resulting in a chargeback will cause your account to be immediately and permanently excluded from Yes Piper. Additionally, the chargeback amount will be removed from the Model’s income.<br><br>

          If you have any enquiries regarding a payment, please contact info@yespiper.com, or contact CCBill directly via their live chat function, phone 1.888.596.9279, or email support@ccbill.com. 
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading5">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
            How do I book a video chat with a model?
          </button>
        </h5>
      </div>
      <div id="collapse5" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          Click on the Model’s profile and click ‘book’. You will be able to select times based on the Model’s availability she has provided and you will be prompted to pay once you select your time slot. When the time comes to start the private video, go to your settings and click ‘bookings’ to find the link that starts the video. <br><br>

          If the video is slow to load or does not work, please check your internet connection. If you continue to have issues, please email info@yespiper.com. Please also remove any pop-up blockers on your device.
        </div>
      </div>
    </div>

 

    <h4 class="faq-head subscr">MODEL FAQ </h4>
    
    <div class="card">
      <div class="card-header" id="heading13">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
            Can anyone become a Yes Piper model?
          </button>
        </h5>
      </div>
      <div id="collapse13" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          Yes, as long as you are 18 years old and you have an active social media account (Instagram, Twitter etc).       
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading14">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
            How do I sign up as a model? 
          </button>
        </h5>
      </div>
      <div id="collapse14" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          Follow the instructions from the home page and fill out the application completely. An incomplete application will not be approved.           
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading15">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
            What type of photo ID do I need to submit?
          </button>
        </h5>
      </div>
      <div id="collapse15" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          We require a valid government issued photo ID document. All the information must be clearly visible. Please do not use filters or edit the photo of the ID and ensure there is minimal background surrounding the ID. The photo of you with your ID must clearly show your face and the ID. Please avoid any glare or other anything that may cover the data or distort the image. 
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading16">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
            Does Yes Piper provide a tax form?
          </button>
        </h5>
      </div>
      <div id="collapse16" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          Only US residents claiming income in the USA are required to complete a W9 form. This is part of your application. 
        </div>
      </div>
    </div>

    
    <div class="card">
      <div class="card-header" id="heading17">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
            How long does it take for my profile to be approved after I have submitted my application?
          </button>
        </h5>
      </div>
      <div id="collapse17" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          Usually within 48 hours. If you do not get approved within 48 hours it is likely that there is an issue with your application, please check your email that you left in the application. Your application will be processed much faster if your social media is public.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading18">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
            How much do I make on my sales?
          </button>
        </h5>
      </div>
      <div id="collapse18" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          Yes Piper is 100% free to join, no obligation. We revenue share with our models as follows. <br><br>

          Models will receive 82.5% of all subscriptions and tips unless you have signed up as a model during a promotional period. The remaining 17.5% covers some hosting, support and all other administrative services.  ‘Extras’ are charged at 25%, and the model will receive 75%. Extras include ‘live’ video, video chat, paid message chat, and Lovense. Most Cam websites will charge 30-45% (sometimes more) for any camming use.<br><br>

          Please note the prices you set in your model Dashboard will have 10% added at the checkout for processing fees. This will be 10% and is solely for covering processing fees so you do not have to. These fees will not be part of the revenue share.<br><br>

          For example: If I set my subscription price to $10 per month it will show $11 per month at the checkout to the customer. Your revenue share will be based on $10. 

        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading19">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse19" aria-expanded="false" aria-controls="collapse19">
            Who can see my content?
          </button>
        </h5>
      </div>
      <div id="collapse19" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          Only those who are paying for your subscription. The content contained within your posts is hidden for non-subscribers. Follows can view all your current posts and future posts after they subscribe and stay subscribed. You can also choose to set some photos/videos to ‘Public’ as teasers.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading20">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse20" aria-expanded="false" aria-controls="collapse20">
            What is publicly shown on my profile?
          </button>
        </h5>
      </div>
      <div id="collapse20" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          Other users can see only the information that is displayed on your public profile. Profile name, @username, avatar with cover pictures will be visible for profile visitors. 
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading21">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse21" aria-expanded="false" aria-controls="collapse21">
            How am I paid out?
          </button>
        </h5>
      </div>
      <div id="collapse21" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          You will receive weekly payouts directly to your nominated bank account if you are a USA resident and you will be paid in USD.<br><br>

All international models will be paid via Transferwise in their own currency, converted from USD. International models are paid via Transferwise into your nominated bank account. This will incur a small exchange fee which is deducted before you are paid. This is the fastest and most effective payout method. Transferwise fees vary depending on currency exchange and how much you earn, but usually between 1-2%. This will vary from payment to payment for these reasons. We also do not pay via Western Union at this time.<br><br>

Please ensure your bank details are correct in your model dashboard. 

        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading22">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse22" aria-expanded="false" aria-controls="collapse22">
            How do payouts work?
          </button>
        </h5>
      </div>
      <div id="collapse22" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          Payouts are weekly, every Thursday (except for the first payment). Our billing period runs from Monday through to Sunday each week. Your first payment from Yes Piper will be delayed by up to 2 weeks due to the settlement of funds. This means if your first sale is on a Tuesday, you will receive your first pay for that first billing period on Thursday of the following fortnight. After your first payment you will be paid weekly. You will also receive payout information each payday via your model dashboard. <br><br>

          For example, your first sale is on Tuesday the 14th of January. You will receive your first pay for the billing period Monday the 13th of January to Sunday the 19th January on Thursday the 30th of January. After that you would be paid on the 6th of February for the billing period of 20th of January to the 26th of January, and so on. <br><br>
          
          All dates are GMT +10 Time Zone. 
          
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading23">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse23" aria-expanded="false" aria-controls="collapse23">
            Can I get paid upon request?
          </button>
        </h5>
      </div>
      <div id="collapse23" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          We are currently working towards providing payouts upon request.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading24">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse24" aria-expanded="false" aria-controls="collapse24">
            How long does it take to get paid?
          </button>
        </h5>
      </div>
      <div id="collapse24" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          This will depend on which bank you have, where you reside and whether it is the first time we have paid you. Please allow 5-7 business days. If your bank details are correct and you still have not received your funds after 10 days, please contact info@yespiper.com. 
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading25">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse25" aria-expanded="false" aria-controls="collapse25">
            Is there a minimum amount I have to earn for payout?
          </button>
        </h5>
      </div>
      <div id="collapse25" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          No. 
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading26">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse26" aria-expanded="false" aria-controls="collapse26">
            Is there a minimum I can charge?
          </button>
        </h5>
      </div>
      <div id="collapse26" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          Yes, the minimum transaction price you can charge is $10 (USD) on subscriptions and all other extras, and $7.50 on tips, $5 for live video chat sessions per customer, and $3 per minute on private video sessions. 
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading27">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse27" aria-expanded="false" aria-controls="collapse27">
            What does my rating mean?
          </button>
        </h5>
      </div>
      <div id="collapse27" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          Ratings are only allowed to be submitted by verified subscribers and are heavily policed ensuring that no defamatory or ‘false’ ratings are made. Yes Piper requires all users maintain a 3 star rating at all times. Our rating system helps us ensure that our  platform is highly valued. If your rating drops below 3 star average - your account will be suspended and support will reach out to you to rectify. Please understand that it is extremely easy to maintain a rating above the minimum required just by creating new content and interacting with subscribers. This will only lead to more earnings. 
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading28">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse28" aria-expanded="false" aria-controls="collapse28">
            What does my ‘availability’ mean?
          </button>
        </h5>
      </div>
      <div id="collapse28" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          Models can now set their available time slots to sell Private Video chats to customers (this feature is optional). Subscribers can then view, book and pay for your availability. Private Video price is set by you (per minute).
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading29">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse29" aria-expanded="false" aria-controls="collapse29">
            How do I set up a private video chat or use the live video feature?
          </button>
        </h5>
      </div>
      <div id="collapse29" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          For the live chat, you can find the ‘Go Live’ button at the top of your Model Dashboard. Those who have paid to access your live video will be able to send text comments to you whilst you are live. To set up a private video, you must set your availability in your Model Dashboard (under ‘Bookings’), and click on the appointment when you are scheduled to chat privately with the subscriber. 
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading30">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse30" aria-expanded="false" aria-controls="collapse30">
            Do I get paid for referrals?
          </button>
        </h5>
      </div>
      <div id="collapse30" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          You will soon be able to earn extra income from referrals. We are working on providing all models with their own referral link to send to other model friends. Once this is is an active feature on our platform, you will receive 5% of all earnings made by another model (this will not be deducted from his/her own income).
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading31">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse31" aria-expanded="false" aria-controls="collapse31">
            What do I do if a customer is harassing me?
          </button>
        </h5>
      </div>
      <div id="collapse31" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          You have an option to block this user in your model dashboard. Once you have blocked a user, their payments will stop automatically.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading32">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse32" aria-expanded="false" aria-controls="collapse32">
            Do I have to post nude content?
          </button>
        </h5>
      </div>
      <div id="collapse32" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          No you do not. Please however refer to our terms and conditions for the types of content not permitted on the Yes Piper platform. 
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading33">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse33" aria-expanded="false" aria-controls="collapse33">
            Can I promote in-person services on the platform?
          </button>
        </h5>
      </div>
      <div id="collapse33" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          No. An amendment to section 230 of a US bill against sex trafficking (FOSTA-SESTA) was recently passed that forbids any activity of this nature online and we exempt ourselves from any and all liability. If you promote any form of in-person services on Yes Piper, your account will be permanently deleted and you will receive a lifetime ban from the platform. This will be heavily policed. Please refer to our terms and conditions.  
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading34">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse34" aria-expanded="false" aria-controls="collapse34">
            Do you cover chargebacks and refunds?
          </button>
        </h5>
      </div>
      <div id="collapse34" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          No. Any purchase made on Yes Piper resulting in a chargeback will cause the subscriber’s account to be immediately and permanently excluded from Yes Piper. Additionally, the chargeback or refund amount will be removed from your income in the following pay cycle.
        </div>
      </div>
    </div>


  </div>
    </div>

    <!-- <div class="col-sm-5"> -->
      <!-- <div class="faq-right"> -->
       <!-- <div class="faq-top-img"> -->
        <!-- <img src="images/faq-right-img2.png" alt="faq-img"> -->
        <!-- </div> -->
        <!-- <h3>Any Question?</h3> -->
        <!-- <p>You can ask anything you want to know about Feedback.</p> -->
        <!-- <div class="let-me-faq"> -->
          <!-- <h4>Let me Know.</h4> -->
          <!-- <div class="form-group"> -->
           <!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Here"> -->
           <!-- <button type="submit" class="btn">Submit</button> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
  </div>	
      
   </div>
  </section>
  <app-footer></app-footer>