
  <section class="header" *ngIf="myHeaderShow.token!='loggedIn' && myHeaderShow.token!='loggedInModel'"> 
      <div class="container">
        <nav class="navbar navbar-expand-md  navbar-dark">
          <a class="navbar-brand" routerLink="/">
            <div class="header-nav-left">
            <img src="assets/images/logo.png" alt="">
          </div></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbar-nav ml-auto" id="collapsibleNavbar">
              <ul class="navbar-nav navbar-nav ml-auto  ">
                <li class="nav-item"><a routerLink="/">Home</a></li>
                <!-- <li class="nav-item"><a routerLink="/howitworks">How it works</a></li> -->
                <li class="nav-item"><a routerLink="/models">Explore</a></li>
              
                <li class="nav-item"><a routerLink="/signup">Join Now</a></li>
                <li class="nav-item"><a routerLink="/login">Login</a></li>
        </ul> 
        <!-- <button routerLink="/signup" [queryParams]="{join: 'model'}" (click)="changeStatus()" class="btn"><a >Become a Model</a></button></div> -->
          <button routerLink="/howitworks"   class="btn"><a >Become a Model</a></button></div>

        
      </nav>
        </div>
    </section>
    <p-toast [style]="{marginTop: '80px'}"></p-toast>
    <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
      <ng-template let-message pTemplate="message">
          <div style="text-align: center">
              <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
              <h3>{{message.summary}}</h3>
              <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
              <div class="ui-g-6">
                  <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
              </div>
              <div class="ui-g-6">
                  <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
              </div>
          </div>
      </ng-template>
  </p-toast>

<div *ngIf="myHeaderShow.token=='loggedIn' || myHeaderShow.token=='loggedInModel'">
  <section class="header trans-header"> 
    <div *ngIf="myHeaderShow.token=='loggedIn'" class="container1" >
    <nav class="navbar">
      <span style="font-size:30px;cursor:pointer" class="side-toggle" onclick="openNav()"><i class="fas fa-bars"></i></span>
      <a class="navbar-brand" routerLink="/your-feed">
          <img src="assets/images/logo.png" alt="">
      </a>
        <ul class="top-ul">
          <li class="feed" ><a routerLink="/your-feed">Feed</a></li>
          <li class="feed" ><a routerLink="/models">Explore</a></li>
          <!-- <li class="feed" ><a routerLink="/explore">Explore</a></li> -->
          <!-- <li  *ngIf="myHeaderShow.token=='loggedInModel'"><a href="#" class="go-live-btn">Go Live</a></li> -->
        <div class="nav-right">
          <li (click)="UpdateReadStatus()">
              <div class="dropdown" >
                  <button class="noti dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <!-- <h4 class="count" >{{notiCount}}</h4> -->
                     <span class="span-count" *ngIf="notiCount >0">{{notiCount}}</span>
                     <a ><i class="far fa-bell far1" (click)="UpdateReadStatus()"></i></a>
                  </button>
                  <div class="dropdown-menu notification" aria-labelledby="dropdownMenuButton">
                    <!-- <a (click)="check123()">check</a> -->
                    <!-- <a class="dropdown-item cursor" *ngFor="let d of liveDataNoti" ><span *ngIf="d.type!='allStream' " (click)="liveCamFinal(d.liveUrlOneToOne,d.modelId,d.liveUrlOneToOne,d.liveUrlOneToOne)">{{d.message}}</span></a> -->
                    <a class="dropdown-item cursor" *ngFor="let d of liveDataNoti" >
                      <!-- <span *ngIf="d.type=='allStream' && d.stopTime!=''" >{{d.message}}</span> -->
                      <span *ngIf="d.type=='allStream'" (click)="liveCam(d.liveUrl,d.model_id,d.liveCamPrice,d.uniqueChatId,d.chatId,'allStream')">{{d.message}}</span>
                      <span *ngIf="d.type!='allStream'" (click)="liveCamFinal(d.liveUrlOneToOne,d.model_id,d.minute,d.uniqueChatId,d.chatId,'oneStream')">{{d.message}}</span>
                    </a>
                    <!-- <a class="dropdown-item" *ngFor="let d of liveDataNoti" ><span *ngIf="d.stopTime!='' && d.type=='onestream'" >Your Personal video chat with {{d.modelName}} has Ended</span></a>
                    <a class="dropdown-item" *ngFor="let d of liveDataNoti" ><span *ngIf="d.stopTime!='' && d.type=='allStream'" >{{d.modelName}} was live</span></a> -->
                  </div>
                </div>
            
          <li><a ><i routerLink="/messages" class="far fa-comments far1 cursor"></i>
            <!-- <span >{{unreadChat}}</span> -->
            <span class="span-count" *ngIf="unreadChat >0">{{unreadChat}}</span>
            </a></li>          <div class="dropdown">
            <button class="dropdown-toggle web-view" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              <img src="{{imageChange}}" alt="img" class="drop-img" routerLink="/settings">
              {{message}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item cursor" routerLink="/models">Explore</a>
              <a class="dropdown-item cursor" routerLink="/settings">Account Settings</a>
              <a class="dropdown-item cursor" routerLink="/logout">Log Out</a>
            </div>
          </div>
        </div>
      </ul>	
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fas fa-arrow-left"></i></a>
        <button class="dropdown-toggle phone-view" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{{imageChange}}" alt="img" class="drop-img">
          {{message}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item cursor" routerLink="/models">Explore</a>
          <a class="dropdown-item cursor" routerLink="/settings">Account Settings</a>
          <a class="dropdown-item cursor" routerLink="/logout">Log Out</a>
        </div>
        <a routerLink="/your-feed">Feed</a>
        <a routerLink="/models">Explore</a>
        <a routerLink="/notification">Notifications</a>
        <a routerLink="/messages">Messages</a>
        <a routerLink="/follows">My Subscriptions</a>
        <a routerLink="/settings">Account Settings</a>
        <a routerLink="/billings">Billing settings</a>
        <a routerLink="/booking">Bookings</a>

        <!-- <a routerLink="/your-feed">Feed</a></li>
        <a routerLink="/notification">Notifications</a></li>
        <a routerLink="/messages">Messages</a></li>
        <a routerLink="/follows">My Subscriptions</a></li>
        <a routerLink="/settings">Account Settings</a></li>
        <a routerLink="/billings">Billing settings</a></li>
        <a routerLink="/booking">Bookings</a></li> -->



      </div>		 
    </nav>
    </div>

    <a class="go-live-btn" data-toggle="modal" data-target="#golive" id="OpenGoLivePopup" style="display: none">Go Live</a>
    <div *ngIf="myHeaderShow.token=='loggedInModel'" class="container1" >
        <nav class="navbar navbar-expand-md  navbar-dark">
          <span style="font-size:30px;cursor:pointer" class="side-toggle" onclick="openNav2()"><i class="fas fa-bars"></i></span>
            <a class="navbar-brand" routerLink="/your-feed">
              <div class="header-nav-left">
                <img src="assets/images/logo.png" alt="">
              </div>
            </a>
            <div class="collapse navbar-collapse navbar-nav ml-auto" id="collapsibleNavbar">
              <ul class="navbar-nav navbar-nav ml-auto right-gap">
                <li *ngIf="!pending"><a (click)="goLive()" class="go-live-btn">Go Live</a></li>
                <!-- <a  class="go-live-btn" data-toggle="modal" data-target="#golive" id="OpenGoLivePopup" style="display: none">Go Live</a> -->
                <li *ngIf="!pending" _ngcontent-spi-c2="" class="top-chat"><a _ngcontent-spi-c2="" routerLink="/model-message"><i _ngcontent-spi-c2="" class="far fa-comments far1 cursor"  tabindex="0"></i><span  class="span-count mode" *ngIf="unreadChat >0">{{unreadChat}}</span></a></li>
                <li data-toggle="dropdown" class="user-log"><img src="{{imageChange}}" alt=""> {{message}}</li>
                <div class="dropdown user-log">
                  <!-- <button type="button" class=" fas fa-sort-down far1 far2" data-toggle="dropdown"> -->
                  <i class="fas fa-sort-down  far2" data-toggle="dropdown" aria-expanded="false"></i>
                  <!--  </button> -->
                  <div class="dropdown-menu">
                    <!-- <a class="dropdown-item cursor" href="#">Link 1</a> -->
                    <a *ngIf="!pending" class="dropdown-item cursor"  routerLink="/ViewAS">My Profile</a>
                    <a *ngIf="pending" class="dropdown-item cursor" (click)="checkStatusAccount()" >Profile</a>
                    <a class="dropdown-item cursor" routerLink="/logout">Log Out</a>
                  </div>
                </div>
              </ul>
              <div id="mySidenav2" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()"><i class="fas fa-arrow-left"></i></a>
                <button class="dropdown-toggle phone-view" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="{{imageChange}}" alt="img" class="drop-img">
                  {{message}}
                </button>
                <h4 class="cursor" (click)="copyText(currentEmail,mid)"  >{{currentEmail}}{{mid}} <i class="far fa-copy"></i></h4>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a *ngIf="!pending" class="dropdown-item cursor"  routerLink="/ViewAS">My Profile</a>
                    <a class="dropdown-item cursor" routerLink="/logout">Log Out</a>
                    <a *ngIf="pending" class="dropdown-item cursor" (click)="checkStatusAccount()">Profile</a>
                </div>
                <a *ngIf="!pending" routerLink="/model-content">Dashboard</a>
                <a *ngIf="!pending" routerLink="/notification-model">Notifications</a>
                <a *ngIf="!pending" routerLink="/model-message">Messages</a>
                <a *ngIf="!pending" routerLink="/availability">Availability</a>
                <a *ngIf="!pending" routerLink="/Appointment">Bookings</a>
                <a *ngIf="!pending" routerLink="/subscriber">Subscribers</a>
                <a *ngIf="!pending" class=" account cursor" data-toggle="collapse" data-target="#demo">Account Settings <i class="fas fa-chevron-down"></i></a>
                <div *ngIf="!pending" id="demo" class="collapse">
                  <ul>
                    <!-- <li class="active"><a routerLink="/model-account">Application</a></li> -->
                    <li class="active"><a routerLink="/price">Price</a></li>
                    <li><a routerLink="/profile">Profile</a></li>
                    <li class="cursor"><a data-toggle="modal" data-target="#myModalPasswordReset2" (click)="hideErrors()">Change Password</a></li>
                    <li class="cursor"><a    (click)="checkDeactivate2()">Deactivate/Delete</a></li>
                    <a  data-toggle="modal" data-target="#deactivate2" style="display: none" id="DeactivateDeleteButton2">Deactivate/Delete</a>
                    <a  data-toggle="modal" data-target="#payout" style="display: none" id="PayoutPopup">Deactivate/Delete</a>
                    <!-- <li class="cursor"><a (click)="checkpayout()">payout/bank details</a></li> -->
                  </ul>   
                </div>




                <!-- <ul>
                  <li><a routerLink="/model-content">Dashboard</a></li> 
                  <li><a routerLink="/notification-model">Notifications</a></li>
                  <li><a routerLink="/model-message">Messages</a></li>    
                  <li><a routerLink="/availability">Availability</a></li>
                  <li class="active cursor"><a routerLink="/Appointment">Bookings</a></li>
                  <li><a routerLink="/subscriber">Subscribers</a></li>
                  <li class=" account cursor" data-toggle="collapse" data-target="#demo"><a >Account Settings <i class="fas fa-chevron-down"></i></a></li>
                            <div id="demo" class="collapse">
                              <ul>
                                <li class="active"><a routerLink="/model-account">Application</a></li>
                                <li><a routerLink="/ViewAS">My Profile</a></li>
                                <li class="cursor"><a data-toggle="modal" data-target="#myModalPasswordReset" (click)="hideErrors()">Change Password</a></li>
                                <li class="cursor"><a    (click)="checkDeactivate()">Deactivate/Delete</a></li>
                                <a  data-toggle="modal" data-target="#deactivate" style="display: none" id="DeactivateDeleteButton">Deactivate/Delete</a>
                                <a  data-toggle="modal" data-target="#payout" style="display: none" id="PayoutPopup">Deactivate/Delete</a>
                                <li class="cursor"><a (click)="checkpayout()">payout/bank details</a></li>
                              </ul>   
                            </div> -->
                  <!-- <a (click)="getthumbnail()">sdf</a> -->
              <!-- </ul> -->







               <!--  <a routerLink="/models">Premium Videos</a> -->
                <!-- <a routerLink="/model-content">Dashboard</a>   
                <a routerLink="/subscriber">Subscribers</a> -->
              </div>	
            </div>
          </nav>
      </div>    
  </section>
</div>


 <a href="" id="paymentPopup2" data-toggle="modal" data-target="#payment2" style="display: none"></a> 
      <!-- <p>The state of the Window is <b>{{windowState}}</b></p> -->
  <!-- <kendo-window [top]="100" [left]="50" title="Live Status" [(state)]="windowState" *ngIf="opened" (close)="openClose(false)">
        <iframe [src]="IdUrl" allow="camera;microphone" style="width:100%;height:100%"></iframe>
  </kendo-window> -->
<!-- 
  <p-dialog header="Live Status" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '600px', minWidth: '600px'}" [minY]="1300" 
        [maximizable]="true" [baseZIndex]="10000">
        <iframe [src]="IdUrl" allow="camera;microphone" style="width:100%;height:100%"></iframe>
</p-dialog> -->

  <div class="modal fade" id="payment2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true" >
        
    <div class="modal-dialog" role="document">
      <div class="modal-content payment">
        <div class="modal-header">
            <!-- <h5 class="modal-title" id="exampleModalLabel">Payment</h5> -->
  
            <!-- ?<button type="button" class="close"  aria-label="Close" > -->
            <button type="button" class="close" data-dismiss="modal" id="modalCloseClick2"  aria-label="Close" style="display:none"></button>
            <button type="button" class="close" (click)="modalClose2()" aria-label="Close" >
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <iframe [src]="formUrl2" class="frameData"></iframe> 
        </div>
      </div>
    </div>
  </div>
  


         <!-- deactivate popup -->

         <div class="modal" id="deactivate2">
          <div class="modal-dialog change-pass">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Deactivate/Delete Account</h4>
                <button type="button" class="close model-close" id="model-close2" data-dismiss="modal">×</button>
              </div>
              <div class="modal-body">
                  <!-- <p>Are you Sure you want to deactivate accouunt?</p> -->
                  <button class="dec-btn" *ngIf="activateDeactivate == '0'" data-toggle="modal" data-target="#deactivate-acoount2">Deactivate Account</button>
                  <button class="dec-btn" *ngIf="activateDeactivate == '1'" data-toggle="modal" data-target="#deactivate-acoount2">Activate Account</button>
                  <button  data-toggle="modal" data-target="#deactivate-acoount2" (click)="delete()">Delete Account</button>
                </div>
                <!-- <div class="modal-footer">
                    <button type="submit"   class="btn btn-danger close"><i *ngIf="loading2" class="fa fa-spinner fa-spin"></i>Close</button>
                    <button type="button" class="btn btn-danger close-right" data-dismiss="modal">Delete</button> 
                 </div>  -->
            </div>
          </div>
         </div>

       <!-- deactivate popup -->

       <!-- deactivate account popup -->

         <div class="modal" id="deactivate-acoount2">
          <div class="modal-dialog change-pass">
            <div class="modal-content">
              <!-- Modal Header -->
              <!-- <div class="modal-header">
                <h4 class="modal-title">ssd</h4>
                <button type="button" class="close model-close" id="model-close" data-dismiss="modal">×</button>
              </div> -->
              <div class="modal-body">
                  <i class="fas fa-exclamation-triangle"></i>
                  <h3>Are you sure?</h3>
                  <p *ngIf="activateDeactivate == '0'">You want to deactivate your account!</p>
                  <p *ngIf="activateDeactivate == '1'">You want to activate your account!</p>
                  <p *ngIf="activateDeactivate == '2'">You want to delete your account!</p>
                  <button class="dec-btn" data-dismiss="modal" id="closeDeactivatePopup">No, cancel!</button>
                  <button *ngIf="activateDeactivate == '0'" (click)="setDeactivate(1)">Yes</button>
                  <button *ngIf="activateDeactivate == '1'" (click)="setDeactivate(0)">Yes</button>
                  <button *ngIf="activateDeactivate == '2'" (click)="setDeactivate(2)">Yes</button>
                </div>
            </div>
          </div>
         </div>

         <!-- deactivate account popup -->

         <!-- go live popup -->

         <!-- <div class="modal" id="golive">
          <div class="modal-dialog change-pass">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Live Status</h4>
                <button type="button" class="close model-close" id="model-close" data-dismiss="modal" (click)="openClose(false)">×</button>
              </div> 
              <div class="modal-body">
                <iframe [src]="IdUrl" allow="camera;microphone" style="width:100%;height:100%"></iframe>
              </div>
            </div>
          </div>
         </div> -->


         <div class="modal" id="golive">
          <div class="modal-dialog change-pass">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Live Status</h4>
                <button type="button" class="close model-close" id="model-close" data-dismiss="modal" (click)="openClose(false)">×</button>
              </div> 
              <div class="modal-body">
                <div class="row">
                <div class="col-sm-8">
                <iframe [src]="IdUrl" allow="camera;microphone" style="width:100%;height:100%"></iframe>
              </div>
              <div class="col-sm-4" >
                  <div class="live-broad-chat right-chat">
                  <h3>Live Chat</h3>
                  <div class="broad-chat-scroll" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                    <ul *ngFor="let d of LiveBroadCastingChatData">
                        <li>
                            <div class="broad-chat-img">
                            <img src="{{d.image}}" alt="chat-img">
                          </div>
                          <div class="broad-chat-text">
                            <p><b>{{d.name}}:</b> {{d.message}}</p>
                          </div>
                          </li>
                    </ul>
                  </div>
                  <div class="right-comm-btm mess-send"><div _ngcontent-ffy-c1="" class="feed-img">
                    <img src="{{imageChange}}" alt="feed-img" class="cursor">
                  </div><!----><div class="right-comm-input ng-star-inserted">
                    <input class="right-comm-btm-input ng-untouched ng-pristine ng-valid" [(ngModel)]="inputChatBroadcast" name="CommentData" placeholder="Write a comment..." type="text">
                    <button>
                      <i class="far fa-paper-plane" (click)="submitChatBroadcast()">
                      </i>
                    </button>
                  </div>
                </div>
                </div>
                </div>
              </div>
            </div>
            </div>
          </div>
         </div>


         <!-- go live popup -->

 <!-- <button class="changing" data-toggle="modal" data-target="#myModalPasswordReset" (click)="hideErrors()">CHANGE PASSWORD</button> -->
 <div class="modal" id="myModalPasswordReset2">
  <div class="modal-dialog change-pass">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Change Your Password Here</h4>
        <button type="button" class="close model-close" id="model-close" data-dismiss="modal" >×</button>
      </div>
      <!-- Modal body -->
      <form  name="form" #myForm="ngForm" (ngSubmit)="onSubmitPasswordReset();myForm.reset()">
       <div class="modal-body">
         <div class="inner-form inner-forms">  
             <span style="color:red">{{passwordValidation2.result}}</span>
           <div class="form-group">
              
             <label>Old Password</label>
             <input type="password" class="form-control height-control" name="name" placeholder="" [(ngModel)]="oldPassword" >
             <span style="color:red">{{passwordValidation2.oldpassword}}</span>
           </div>
           <div class="form-group">
             <label>New Password</label>
             <input type="password" class="form-control height-control" name="newPassword" placeholder="" [(ngModel)]="newPassword">
             <span style="color:red">{{passwordValidation2.newpassword}}</span>
           </div>
           <div class="form-group">
             <label>Confirm Password</label>
             <input type="password" class="form-control height-control" name="confirmCheck" placeholder="" [(ngModel)]="confirmCheck" >
               <span style="color:red">{{passwordValidation2.confirmPassword}}</span>
           </div>
           </div>
       </div>
       <div class="modal-footer">
           <button type="submit"   class="btn btn-danger close-right"><i *ngIf="loading2" class="fa fa-spinner fa-spin"></i>Update</button>
          <!-- <button type="button" class="btn btn-danger close-right" data-dismiss="modal">Update</button> -->
        </div>
    </form>
      <!-- Modal footer -->
      
      
    </div>
  </div>
 </div>


