@import '../../../node_modules/primeicons/primeicons.css';
@import '../../../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../../../node_modules/primeng/resources/primeng.min.css';
#payment2 .modal-dialog {
    max-width: 700px;
}
.frameData {
    width: 100%;
    height: 100%;
    border: 0;
}
.payment .modal-content{
min-height: 600px;
}
#payment2 .modal-body {
    height: 600px;
    padding: 0;
}
#payment2 html {
    background-color:none;
}
body .ui-widget-overlay {
    background-color: 
    rgba(0, 0, 0, 0.4);
    display: none;
}
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: none;
    background: none;
}
#golive {
    pointer-events: none;
}
