
.rating li a .fas{
    color: #f05742;
}
#payment .modal-dialog {
    max-width: 700px;
}
.frameData {
    width: 100%;
    height: 100%;
    border: 0;
}
.payment .modal-content{
min-height: 650px;
}
#payment .modal-body {
    height: 650px;
}
#payment html {
    background-color:none;
}

#payment .flexforms_wrapper.one_center .body {
    padding: 0 !important;
    max-width: 100% !important;
}
#payment iframe.body{
    border: 0!important;
}
.flexforms_wrapper.one_center {
    margin: 0;
}
.flexforms_wrapper.one_center {
    max-width: 100%;
}
.modal-body{padding: 0;}

#payment .close {
    position: relative;
    right: 0;
    top: 0;
}

#payment iframe.frameData {
    
}
:host >>> .flexforms_wrapper.one_center {
    max-width: 100% !important;
    margin: 0;
}

.dash-date-picker .ui-chkbox .ui-chkbox-box.ui-state-active {
border-color: #242424;
background-color: #242424;
color:#ffffff; 
}

#payment .flexforms_wrapper.one_center {
    max-width: 100%!important;
    width: 100%;
}

.ui-galleria.ui-widget.ui-widget-content.ui-corner-all {
    max-height: 840px;
    height: 850px;
}
body .ui-galleria .ui-galleria-nav-prev{display: none;}
body .ui-galleria .ui-galleria-nav-next{display: none;}

.pi-chevron-left::before{box-sizing: content-box;
    -ms-flex: 0 1 auto;
    display: none;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color:
    #fff;
    background-clip: padding-box;
    border-top: 10px solid
    transparent;
    border-bottom: 10px solid
    transparent;
    opacity: .5;
    display: block;
    content: "";
    transition: opacity .6s ease;}

.pi-chevron-right::before{box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    display: none;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color:
    #fff;
    background-clip: padding-box;
    border-top: 10px solid
    transparent;
    border-bottom: 10px solid
    transparent;
    opacity: .5;
    display: block;
    content: "";
    transition: opacity .6s ease;}

 

    #slider {
        overflow: hidden;
    }
    
    @keyframes slider {
        0% { left: 0; }
        30% { left: 0; }
        33% { left: -100%; }
        63% { left: -100%; }
        66% { left: -200%; }
        95% { left: -200%; }
        100% { left: 0; }
    }
    #slider figure {
        width:300%;
        position: relative;
        animation: 19s slider infinite;
    }
    
    #slider figure:hover {
        /*animation-play-state: paused; enable for pause on hover*/
    }
    #slider figure img {
        width: 33.333333333%;
        height : 100%;
        float: left;
    }









@media screen and (max-width: 1280px) {
#payment .modal-body {height: 650px;}
.model-search-top .search {width: 55%;}    
.ui-galleria.ui-widget.ui-widget-content.ui-corner-all {max-height: 550px;height: 550px;}

}
 

@media screen and (max-width: 414px) {
.model-search-top .search-model {width: 100%;}  
.model-search-top .search { width: 100%;}
.model-search-top .dropdown {width: 100%;}

}
 

.feed-load{font-size: 15px;color:#fff;text-transform: uppercase;display: inline-block;border-radius: 4px;padding: 15px 0;background: #9fdbce;
width: 176px;text-align: center;font-weight: 600;letter-spacing: 2px;cursor: pointer;margin-top: 30px;}
    
    /* .right-bar-content.noti span {
      text-align: center;
      display: block;
      color: #f05742;
      margin: 26px 0;
    } */
    
.feed-load:hover{color: #212529;}

/* #payment .modal-content{
    background: none;
    border: 0;
}
#payment .close {
    position: absolute;
    right: 12px;
    top: 0;
    color: 
    #fff;
    opacity: 1;
    font-size: 25px;
} */


 