<app-header></app-header>
<!-- <div class="se-pre-con" *ngIf="isLoading">
      <div class="sk-chasing-dots">
        <div class="sk-child sk-dot1"></div>
        <div class="sk-child sk-dot2"></div>
      </div>
  </div> -->
<section class="live-model-main">
	<div class="live-model-content">
		<div class="container-fluid">
			<div class="row">
				<div class="left-bar" *ngIf="ifLogin">
						<ul>
							<li ><a routerLink="/your-feed">Feed</a></li>
                            <li ><a routerLink="/notification">Notifications</a></li>
                            <li ><a routerLink="/messages">Messages</a></li>
                            <li ><a routerLink="/follows">My Subscriptions</a></li>
							<li ><a routerLink="/settings">Account Settings</a></li>
							<li ><a routerLink="/billings">Billing settings</a></li>
							<li ><a routerLink="/booking">Bookings</a></li>
						</ul>
				</div>
				<div class="{{addClass}}" id="addClassLogin" style="width:100%;" (click)="getInfo($event)"> 
					<div class="right-bar">
						<div class="min-height">		
							<div class="right-bar-content slide feed loader">
									<div class="se-pre-con2" *ngIf="isLoading">
											<div class="sk-chasing-dots" >
												<div class="sk-child sk-dot1"></div>
												<div class="sk-child sk-dot2"></div>
											</div>
									</div> 
									<div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
											<ol class="carousel-indicators">
											  <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
											  <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
											  <!-- <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
											</ol>
											<div class="carousel-inner">
											  <div class="carousel-item active">
												<img src="assets/images/slide-img1.png" class="d-block w-100" alt="...">
											  </div>
											  <div class="carousel-item">
												<img src="assets/images/slide-img2.png" class="d-block w-100" alt="...">
											  </div>
											  <!-- <div class="carousel-item">
												<img src="assets/images/slide-img3.png" class="d-block w-100" alt="...">
											  </div> -->
											</div>
											<a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev" style="display: none">
											  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
											  <span class="sr-only">Previous</span>
											</a>
											<a class="carousel-control-next"  id="changeSlider" href="#carouselExampleIndicators2" role="button" data-slide="next" style="display:none">
											  <span class="carousel-control-next-icon" aria-hidden="true"></span>
											  <span class="sr-only">Next</span>
											</a>
									</div>
									 
								<!-- <h4>Models</h4> -->
								<div class="model-search-top" >
									<!-- <h4><span *ngIf="searchedOn">Live Models</span></h4> -->
										<!-- <section class="search" *ngIf="ifLogin"> -->
											<section class="search" >
											<div class="search-model">
												<form (ngSubmit)="submitSearch()">
													 <input type="text" class="form-control" placeholder="Search Model"  [(ngModel)]="searchFilter" name="searchFilter">
												
											 <button type="submit"><span class="fa fa-search form-control-feedback"></span></button></form>
										  </div>
										  <div class="dropdown show"  *ngIf="ifLogin">
												<button class="search-model-btn dropdown-toggle {{classACTIVE}}" (click)="getInfo2($event)" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												   Sort By Featured
												 </button>
												 <div class="dropdown-menu cursor" aria-labelledby="dropdownMenuButton" style="display: block;" [ngStyle]="{'opacity': opacity }">
												   <a class="dropdown-item"  (click)="filterModel('ASC')">Newest</a>
												   <a class="dropdown-item"  (click)="filterModel('DESC')">Newest Last</a>
												   <a class="dropdown-item"  (click)="filterModel('featured')">Featured</a>
												   <a class="dropdown-item" (click)="filterModel('trending')">Trending</a>
												   <a class="dropdown-item"  (click)="filterModel('popular')">Popular</a>
												   <a class="dropdown-item" (click)="filterModel('nameSortASC')">Name (A - Z)</a>
												   <a class="dropdown-item"  (click)="filterModel('nameSortDESC')">Name (Z - A)</a>
												   <a class="dropdown-item"  (click)="filterModel('mostUploads')">No.of Uploads</a>
												   <a class="dropdown-item"  (click)="filterModel('topSelling')">Top Selling</a>
												   <a class="dropdown-item"  (click)="filterModel('recentlyActive')">Recently Active</a>
												  </div>
											   </div>
										</section>
										</div>   
								<section class="live-models padd">
										<div class="row">
												<div class="col-md-12" *ngIf="ifLogin">
												  <div class="model-cate">
													<ul >
													  <li class="cursor"><a  (click)="filterModel('featured')"><div class="icon"><img src="assets/images/featured.png" alt="img"></div>Featured</a></li>
													  <li class="cursor"><a (click)="filterModel('DESC')"><div class="icon"><img src="assets/images/newest.png" alt="img"></div>Newest</a></li>
													  <li class="cursor"><a (click)="filterModel('trending')"><div class="icon"><img src="assets/images/trending.png" alt="img"></div>Trending</a></li>
													  <li class="cursor"><a (click)="filterModel('popular')"><div class="icon"><img src="assets/images/popular.png" alt="img"></div>Popular</a></li>
													  <li class="cursor"><a (click)="filterModel('topSelling')"><div class="icon"><img src="assets/images/top_selling.png" alt="img"></div>Top Selling</a></li>
													  <li class="cursor"><a (click)="filterModel('recentlyActive')"><div class="icon"><img src="assets/images/recently_active.png" alt="img"></div>Recently Active</a></li>
													  <li class="cursor"><a (click)="filterModel('explore')"><div class="icon"><img src="assets/images/explore.png" alt="img"></div>Explore</a></li>
													  <li class="cursor"><a (click)="liveModelClick('live')"><div class="icon"><img src="assets/images/live_now.png" alt="img"></div>Live Now</a></li>
													</ul>
												  </div>
												</div>
												
												<ng-container *ngIf="searchedOn">
												<div  class="col-sm-3" *ngFor="let d of liveData; let i = index" >
												  <div   class="box-main wow fadeIn" data-wow-delay="0.2s" *ngIf="i < 4">
												  <div class="box-img"  routerLink="/{{d.profile_url}}">
													<img src="{{d.model_Image}}" alt="img" >
												  <span class="live">
													<i class="fas fa-circle"></i>live
												  </span>
												  <h4 class="next-ava" *ngIf="d.start_time !=''"><i class="far fa-clock" ></i>
													{{convertDateUtc(d.start_time,'weekday')}} @ {{convertDateUtc(d.start_time,'start_time')}}  
												   </h4>  
												  </div>
												  <div class="box-btm">
													<div class="box-user-img">
														<img src="{{d.model_Image}}" alt="img" routerLink="/{{d.profile_url}}" >
												  	</div>
												  <div class="box-mid" routerLink="/{{d.profile_url}}" >
													<h3>{{d.model_name}}</h3>

													<ul>
													    <li><i class="far fa-images"></i>{{d.image_count}}</li>
														<li><i class="fas fa-video"></i>{{d.video_count}}</li>
														<li><i class="far fa-comments"></i>{{d.countComment}}</li>
													<!-- <li><i class="fas fa-gem"></i>10</li> -->
													</ul>
												  </div>
													<div class="box-right">
															<div class="rating" *ngIf="d.averageRating != ''">
																	<ul *ngIf="d.averageRating ==1">
																	  <li><a><i class="fas fa-star"></i></a></li>
																	  <li><a><i class="far fa-star"></i></a></li>
																	  <li><a><i class="far fa-star"></i></a></li>
																	  <li><a><i class="far fa-star"></i></a></li>
																	  <li><a><i class="far fa-star"></i></a></li>
																	</ul>
																	<ul *ngIf="d.averageRating ==2">
																		<li><a><i class="fas fa-star"></i></a></li>
																		<li><a><i class="fas fa-star"></i></a></li>
																		<li><a><i class="far fa-star"></i></a></li>
																		<li><a><i class="far fa-star"></i></a></li>
																		<li><a><i class="far fa-star"></i></a></li>
																	</ul>
																	<ul *ngIf="d.averageRating ==3">
																		<li><a><i class="fas fa-star"></i></a></li>
																		<li><a><i class="fas fa-star"></i></a></li>
																		<li><a><i class="fas fa-star"></i></a></li>
																		<li><a><i class="far fa-star"></i></a></li>
																		<li><a><i class="far fa-star"></i></a></li>
																	</ul>
																	<ul *ngIf="d.averageRating ==4">
																		<li><a><i class="fas fa-star"></i></a></li>
																		<li><a><i class="fas fa-star"></i></a></li>
																		<li><a><i class="fas fa-star"></i></a></li>
																		<li><a><i class="fas fa-star"></i></a></li>
																		<li><a><i class="far fa-star"></i></a></li>
																	</ul>
																	<ul *ngIf="d.averageRating ==5">
																		<li><a><i class="fas fa-star"></i></a></li>
																		<li><a><i class="fas fa-star"></i></a></li>
																		<li><a><i class="fas fa-star"></i></a></li>
																		<li><a><i class="fas fa-star"></i></a></li>
																		<li><a><i class="fas fa-star"></i></a></li>
																	</ul>
									
																   
																</div> 
																<div class="rating" *ngIf="d.averageRating == ''" style="color:red;font-size: 13px !important;"><ul><li><a><i class="far fa-star"></i></a></li>
																	<li><a><i class="far fa-star"></i></a></li>
																	<li><a><i class="far fa-star"></i></a></li>
																	<li><a><i class="far fa-star"></i></a></li>
																	<li><a><i class="far fa-star"></i></a></li></ul>
																	</div> 
																<button *ngIf="!ifLogin" class="follow" routerLink="/login">Subscribe</button>		
													<!-- <a href="" class="follow">follow</a>  -->
														<button *ngIf="1 == d.following_status && ifLogin  && 2 != d.status" [disabled]="!editmode ? 'disabled': null"  (click)="FollowModel(d.following_status,d.model_id,i);" id="{{i}}"  class="follow" data-id='1' >Unsubscribe</button>
														<!-- <button *ngIf="0 == d.following_status " [disabled]="!editmode ? 'disabled': null"   (click)="FollowModel(d.following_status,d.model_id,i); clicked = true;"    id="{{i}}" [ngClass]="{ 'm-progress': loading }" class="follow" data-id='0' >follow</button>  -->
														<button *ngIf="0 == d.following_status && ifLogin && 2 != d.status" [disabled]="!editmode ? 'disabled': null"   (click)="getModelPrice(d.model_id,i)"   class="follow"   id="{{i}}"  class="follow" data-id='0' >Subscribe</button>
														<button *ngIf="ifLogin && 2 == d.status"       class="follow"   id="{{i}}"  class="follow" data-id='0' >Unsubscribed</button>
																	
													</div>	
												</div>
												</div>
												</div>
												</ng-container>
												<div class="col-sm-12">
												  <h4 class="featu-model">Newest Models</h4>  
												</div>
												<div class="empty-msg" *ngIf = "modelData.length == 0 ">
													<h6>No Models Found</h6>
												  </div>  
												  <div class="col-sm-3 " *ngFor="let d of modelData; let i = index">
													<div class="box-main wow fadeIn cursor" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
													  <div class="box-img" routerLink="/{{d.profile_url}}" >
														<img src="{{d.model_Image}}" alt="img">
															<span class="live" *ngIf="d.live_model == '1'">
																<i class="fas fa-circle"></i>live
															</span>
														<!-- <span class="live">
														 Featured
														</span> -->
														<h4 class="next-ava" *ngIf="d.start_time !=''"><i class="far fa-clock" ></i>
															{{convertDateUtc(d.start_time,'weekday')}} @ {{convertDateUtc(d.start_time,'start_time')}} 
														</h4>  
													  </div>
													  <span *ngIf="featured && featuredName!='live'" class="live">
															Featured
														</span>
														
														<span *ngIf="'live' == featuredName" class="live">
																<i class="fas fa-circle"></i>Live
														</span>
													  <div class="box-btm">
														<div class="box-user-img" routerLink="/{{d.profile_url}}" >
														  <img src="{{d.model_Image}}" alt="img">
														</div>
														<div class="box-mid" routerLink="/{{d.profile_url}}">
														  <h3>{{d.model_name}}</h3>
														  <ul>
															<li><i class="far fa-images"></i>{{d.image_count}}</li>
															<li><i class="fas fa-video"></i>{{d.video_count}}</li>
															<li><i class="far fa-comments"></i>{{d.countComment}}</li>
															<!-- <li><i class="fas fa-gem"></i>10</li> -->
														  </ul>
														</div>
														<div class="box-right">
																<div class="rating" *ngIf="d.averageRating != ''">
																		<ul *ngIf="d.averageRating ==1">
																		  <li><a><i class="fas fa-star"></i></a></li>
																		  <li><a><i class="far fa-star"></i></a></li>
																		  <li><a><i class="far fa-star"></i></a></li>
																		  <li><a><i class="far fa-star"></i></a></li>
																		  <li><a><i class="far fa-star"></i></a></li>
																		</ul>
																		<ul *ngIf="d.averageRating ==2">
																			<li><a><i class="fas fa-star"></i></a></li>
																			<li><a><i class="fas fa-star"></i></a></li>
																			<li><a><i class="far fa-star"></i></a></li>
																			<li><a><i class="far fa-star"></i></a></li>
																			<li><a><i class="far fa-star"></i></a></li>
																		</ul>
																		<ul *ngIf="d.averageRating ==3">
																			<li><a><i class="fas fa-star"></i></a></li>
																			<li><a><i class="fas fa-star"></i></a></li>
																			<li><a><i class="fas fa-star"></i></a></li>
																			<li><a><i class="far fa-star"></i></a></li>
																			<li><a><i class="far fa-star"></i></a></li>
																		</ul>
																		<ul *ngIf="d.averageRating ==4">
																			<li><a><i class="fas fa-star"></i></a></li>
																			<li><a><i class="fas fa-star"></i></a></li>
																			<li><a><i class="fas fa-star"></i></a></li>
																			<li><a><i class="fas fa-star"></i></a></li>
																			<li><a><i class="far fa-star"></i></a></li>
																		</ul>
																		<ul *ngIf="d.averageRating ==5">
																			<li><a><i class="fas fa-star"></i></a></li>
																			<li><a><i class="fas fa-star"></i></a></li>
																			<li><a><i class="fas fa-star"></i></a></li>
																			<li><a><i class="fas fa-star"></i></a></li>
																			<li><a><i class="fas fa-star"></i></a></li>
																		</ul>
										
																	   
																	</div> 
																	<div class="rating" *ngIf="d.averageRating == ''" style="color:red;font-size: 13px !important;"><li><a><i class="far fa-star"></i></a></li>
																		<li><a><i class="far fa-star"></i></a></li>
																		<li><a><i class="far fa-star"></i></a></li>
																		<li><a><i class="far fa-star"></i></a></li><li><a><i class="far fa-star"></i></a></li></div>  
																	<button *ngIf="!ifLogin" class="follow" routerLink="/login">Subscribe</button>
														 
															<button *ngIf="1 == d.following_status && ifLogin && 2 != d.status" [disabled]="!editmode ? 'disabled': null"  (click)="FollowModel(d.following_status,d.model_id,i);" id="{{i}}"  class="follow" data-id='1' >Unsubscribe</button>
															<!-- <button *ngIf="0 == d.following_status " [disabled]="!editmode ? 'disabled': null"   (click)="FollowModel(d.following_status,d.model_id,i); clicked = true;"    id="{{i}}" [ngClass]="{ 'm-progress': loading }" class="follow" data-id='0' >follow</button>  -->
															<button *ngIf="0 == d.following_status && ifLogin && 2 != d.status" [disabled]="!editmode ? 'disabled': null"   (click)="getModelPrice(d.model_id,i)"   class="follow"   id="{{i}}"  class="follow" data-id='0' >Subscribe</button>
															<button *ngIf="ifLogin && 2 == d.status"       class="follow"   id="{{i}}"  class="follow" data-id='0' >Unsubscribed</button>

															<a href="" id="paymentPopup" data-toggle="modal" data-target="#payment" style="display: none"></a>
														</div>
													  </div>
													</div>
												  </div>
											  </div>
												<div class="feed-loader" *ngIf="isLoadingLoader &&  !isLoading">
														<div class="spinner-border" role="status">
															<span class="sr-only">Loading...</span>
														</div> 
														<div id="fountainTextG"><div id="fountainTextG_1" class="fountainTextG">L</div><div id="fountainTextG_2" class="fountainTextG">o</div><div id="fountainTextG_3" class="fountainTextG">a</div><div id="fountainTextG_4" class="fountainTextG">d</div><div id="fountainTextG_5" class="fountainTextG">i</div><div id="fountainTextG_6" class="fountainTextG">n</div><div id="fountainTextG_7" class="fountainTextG">g</div></div>
												</div>    
												<div  *ngIf="!isLoadingLoader && !hideShowMore" style="text-align: center;">
													<span class="feed-load cursor"  (click)="loadMore()">Load More</span>
												</div> 
								</section>
							</div>
						</div>
						<div class="inner-footer">
								<h4 class="copy">COPYRIGHT YES PIPER LLC 2020 | ALL RIGHTS RESERVED ©</h4>
								<ul>
								  <li><a routerLink="/terms">Terms and conditions</a></li>
								  <li><a routerLink="/privacy">Privacy Policy</a></li>
								  <li><a routerLink="/faq" >FAQ's</a></li>
								  <li><a routerLink="/contact" >Contact Us</a></li>
								</ul>
						</div>
					</div>
					
				</div>
				
			</div>
		</div>
	</div>
</section>




<div class="modal fade" id="payment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
	<!-- <form  (ngSubmit)="getToken()">
			<span class="payment-message">{{message}}</span>
		  
			<div class="form-row">
			  <label>
				<span>Card Number</span>
				<input [(ngModel)]="cardNumber" name="card-number" type="text" size="20" data-stripe="number">
			  </label>
			</div>
		  
			<div class="form-row">
			  <label>
				<span>Expiration (MM/YY)</span>
				<input [(ngModel)]="expiryMonth" name="expiry-month" type="text" size="2" data-stripe="exp_month">
			  </label>
			  <span> / </span>
			  <input [(ngModel)]="expiryYear" name="expiry-year" type="text" size="2" data-stripe="exp_year">
			</div>
		  
			<div class="form-row">
			  <label>
				<span>CVC</span>
				<input [(ngModel)]="cvc" name="cvc" type="text" size="4" data-stripe="cvc">
			  </label>
			</div>
		  
			<button type="submit" value="Submit Payment">Pay</button>
		  </form> -->
			
	<div class="modal-dialog" role="document">
		<div class="modal-content payment">
			<div class="modal-header">
					<!--<h5 class="modal-title" id="exampleModalLabel">Payment</h5>-->

					<!-- ?<button type="button" class="close"  aria-label="Close" > -->
					<button type="button" class="close" data-dismiss="modal" id="modalCloseClick"  aria-label="Close" style="display:none"></button>
					<button type="button" class="close" (click)="modalClose()" aria-label="Close" >
						<span aria-hidden="true">&times;</span>
					</button>
			</div>
			<div class="modal-body">
				<iframe [src]="formUrl" class="frameData"></iframe> 
			</div>
		</div>
	</div>
</div>


<button data-toggle="modal" data-target="#ccfinpay" style="display: none" id="openpaymentSelector">ccfinpay </button>
<div class="modal fade" id="ccfinpay" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Payment</h5>
		  <button type="button" class="close" id="closeCCfinpay" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		   <div class="row">
			 <div class="col-sm-6" (click)="changePaymentMethod('finPay')">
			   <div class="ccfinpay-left">
				 <!-- <button class="ccfinpay-box" [ngClass]="{'active':AddActiveClass == 'finpay'}"> -->
					<button class="ccfinpay-box " >
				   <h4>Pay with</h4>
				   <h3>FinPay</h3>
				   <span class="ccfinpay-check">
						
						<!-- <i *ngIf="AddActiveClass == 'finpay'" class="fas fa-check-circle"></i> -->
				   </span>
				   <div class="coming-soon-overlay">
					<h4>Coming</h4>
				   <h3>Soon</h3>
				</div> 
				 </button>
				 <p>FinPay - Zero Processing Fees</p>
			   </div>  
			 </div>
			 <div class="col-sm-6" (click)="changePaymentMethod('ccbill')">
			   <div class="ccfinpay-left">
				 <button class="ccfinpay-box active">
				   <h4>Pay with</h4>
				   <h3>CCBill</h3>
				   <span class="ccfinpay-check">
						<i  class="fas fa-check-circle"></i>
				   </span>
				 </button>
				 <p>CCBill - 10% Processing Fee</p>
			   </div>  
			 </div>
		   </div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn" (click)="continuePayment('ccbill')">Continue</button>
		</div>
	  </div>
	</div>
  </div>

  <button data-toggle="modal"  id="finPayPopup" data-target="#pay-info" style="display: none">pay-info </button>

  <!-- pay info popup part start -->  
<div class="modal fade" id="pay-info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Payment details</h5>
			 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button> 
			</div>
			<div class="modal-body">
			   <div class="row">
				 <div class="col-sm-12">
					<div class="form-group">
					  <label for="exampleInputEmail1">cardholder name</label>
					  <input type="text" name="nameCard" [(ngModel)]="nameCard" class="form-control"  aria-describedby="emailHelp" placeholder="John smith">
					  <i class="fas fa-user"></i>
					</div>
				 </div>
				  <div class="col-sm-12">
					<div class="form-group">
					<label for="exampleInputEmail1">card number</label>
					  <input type="text" name="cardNumber" [(ngModel)]="cardNumber" class="form-control"  aria-describedby="emailHelp" placeholder="4256 7890 5678 4532" onpaste="return false" (keyup)="checkDigit()" pattern="[0-9.]+">
					  <i class="far fa-credit-card"></i>
					</div>
				 </div>
				 <!--<div class="col-sm-12">
				  <h4>Card</h4>
				 </div> -->
				 <div class="col-sm-4">
					<div class="form-group">
					 <label for="exampleInputEmail1">expiry month</label>
					  <input type="text" name="expMonth" [(ngModel)]="expMonth" class="form-control" aria-describedby="emailHelp" placeholder="09">
					  <i class="far fa-calendar-alt"></i>
					</div>
				 </div>
				 <div class="col-sm-4">
					<div class="form-group">
					 <label for="exampleInputEmail1">expiry year</label>
					  <input type="text" name="expYear" [(ngModel)]="expYear" class="form-control"  aria-describedby="emailHelp" placeholder="2020">
					  <i class="far fa-calendar-alt"></i>
					</div>
				 </div>
				  <div class="col-sm-4">
					<div class="form-group">
					 <label for="exampleInputEmail1">cvc</label>
					  <input  type="text" name="cvc" [(ngModel)]="cvc" class="form-control" aria-describedby="emailHelp" placeholder="145">
					  <i class="fas fa-unlock-alt"></i>
					</div>
				 </div>
				 <div class="col-sm-12">
					<h6>Payment amount: <strong>${{modelPrice.price}}</strong></h6>
				 </div>
			   </div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn" (click)="finpayPayment()">Pay now</button>
			</div>
		  </div>
		</div>
	  </div>
	  <!-- pay info popup part start -->   
