<section class="footer padding">
    <div class="container">
      <div class="footer-logo">
      <a routerLink="/"><img src="assets/images/footer-logo.png" alt="logo"></a>
     </div>
     <ul >
       <li *ngIf="role !='2'"><a routerLink="/models">Explore</a></li>
       <li *ngIf="!userLogged"><a routerLink="/signup" >Join Now</a></li>
       <li *ngIf="!userLogged"><a routerLink="/login" >Login</a></li>
       <!-- <button routerLink="/signup" [queryParams]="{join: 'model'}" class="btn"><a (click)="changeStatus()">Become a Model</a></button></div> -->

       <li *ngIf="!userLogged"><a routerLink="/signup" [queryParams]="{join: 'model'}" (click)="changeStatus()">Become a Model</a></li>
       <li><a routerLink="/terms" >Terms and Conditions</a></li>
       <li><a routerLink="/faq" >FAQ's</a></li>
       <li><a routerLink="/contact" >Contact Us</a></li>
     </ul>
     <div class="footer-social">
       <ul>
         <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
       <li><a href="#"><i class="fab fa-twitter"></i></a></li>
       <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
       <li><a href="#"><i class="fab fa-youtube"></i></a></li>
       <li><a href="#"><i class="fab fa-instagram"></i></a></li>
       </ul>
     </div>
     </div>
     <div class="footer-btm">
        <div class="container">
          <h4>COPYRIGHT YES PIPER LLC 2020 | ALL RIGHTS RESERVED | <a routerLink="/privacy">Privacy Policy</a></h4>
        </div>
      </div>  
   </section>