
<!-- header part start --> 
<app-header></app-header> 
<!-- header part close -->   
<div class="se-pre-con" *ngIf="isLoading">
    <div class="sk-chasing-dots">
      <div class="sk-child sk-dot1"></div>
      <div class="sk-child sk-dot2"></div>
    </div>
  </div>
<!-- become-model part close --> 
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div style="text-align: center">
          <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
          <h3>{{message.summary}}</h3>
          <p>{{message.detail}}</p>
      </div>
      <div class="ui-g ui-fluid">
          <div class="ui-g-6">
              <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
          </div>
          <div class="ui-g-6">
              <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
          </div>
      </div>
  </ng-template>
</p-toast>
 
<section class="become-model login padding ">
  <div class="container">                                                                                        
    <div class="heading">
       <h4><b>Login</b></h4>
    </div>
      <div class="align">
       <div class="become-a-model becomes">
         <div class="become-form" >
          <span style="color:red">{{myIncorrectPassword.response}}</span>
          
          <form #myForm="ngForm" (ngSubmit)="loginUser()">
            <div class="inner-form" ngForm #newRuleForm="ngForm">  
              <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control height-control"  name="email" placeholder="Enter Email"   [(ngModel)]="email" >
                <span style="color:red">{{myEmailResponse.response}}</span>
                
              </div>
              <div class="form-group">
                <label class="">Password</label>
                <input type="{{typePassword}}" class="form-control height-control"  name="password" [(ngModel)]="password"  placeholder="Enter password"><i  (click)="PasswordCheck()" *ngIf="check" class="far fa-eye"></i><i  *ngIf="!check" (click)="PasswordHide()" class="fas fa-eye-slash"></i>
                <span style="color:red">{{myPasswordResponse.response}}</span> 
              </div>
              <label class="login-keep">keep me logged in
                <input type="checkbox" name="remember" [(ngModel)]="remember" checked=true>
                <span class="checkmark"></span>
              </label>
              <a data-toggle="modal" data-target="#myModalForgetReset" class="forgot">Forgot Password?</a>
              <!-- <button type="button" class="btn signin-btn" value="Sign In" (click)="loginUser()" [ngClass]="{ 'm-progress': loading }">Sign In</button> -->
              
              <button type="submit"   class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" [disabled]="!newRuleForm.valid"><i *ngIf="loading" class="fa fa-spinner fa-spin"></i>Login</button>
              <!-- <button class="">Login</button> -->
              <div class="already1">
                New User?<a routerLink="/signup">Join Now</a>  or<a routerLink="/signup" [queryParams]="{join: 'model'}">Become a Model</a>
              </div>
            </div>
          </form>
        
       </div>
      </div>
    </div>
 </div>
</section>
<!-- become-model part close -->  
<!-- footer part start -->  
<!-- footer part start --> 
<!-- <a data-toggle="modal" data-target="#myModalPasswordReset" (click)="hideErrors()"></a>  -->
<app-footer></app-footer>
<div class="modal" id="myModalForgetReset">
    <div class="modal-dialog change-pass">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Enter Your Email Here</h4>
                <button type="button" class="close model-close" id="model-closeEmailReset" data-dismiss="modal" >×</button>
            </div>
            <!-- Modal body -->

            <div class="modal-body">
                <input type="email" class="form-control height-control"  name="emailReset" [(ngModel)]="emailReset"  placeholder="Enter Email">
            </div>
            <div class="modal-footer">
                <button type="submit"   class="btn btn-danger close-right" (click)="resetLink()"><i *ngIf="loading2" class="fa fa-spinner fa-spin"></i> send reset link</button>
            </div>
            <!-- Modal footer -->
        </div>
    </div>
</div> 


<a data-toggle="modal" data-target="#myModalForgetResetResend" class="forgot" style="display: none" id="activateResend"></a>
<div class="modal" id="myModalForgetResetResend">
  <div class="modal-dialog change-pass">
      <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Enter Your Email Here</h4>
              <button type="button" class="close model-close" id="model-closeEmailReset2" data-dismiss="modal" >×</button>
          </div>
          <!-- Modal body -->

          <div class="modal-body">
            <i class="fas fa-exclamation-triangle"></i>
              <h4 class="modal-titleForgot">Your account is not verified yet check your mail or resend link</h4>
              <!-- <button class="btn btn-primary">resend link</button> -->
              <!-- <input type="email" class="form-control height-control"  name="emailReset" [(ngModel)]="emailReset"  placeholder="Enter Email"> -->
          </div>
          <div class="modal-footer">
              <button type="submit"   class="btn btn-danger close-right" (click)="resendLink()"><i *ngIf="loading2" class="fa fa-spinner fa-spin"></i> Send Reset link</button>
          </div>
          <!-- Modal footer -->
      </div>
  </div>
</div> 

