<section class="footer padding">
    <div class="container">
      <div class="footer-logo wow fadeIn" data-wow-delay="0.2s">
      <a href="#"><img src="assets/images/footer-logo.png" alt="logo"></a>
     </div>
     <ul class="wow fadeIn" data-wow-delay="0.3s">
       <li><a href="#">Models</a></li>
       <li><a href="#">Explore</a></li>
       <li><a href="#">Join Now</a></li>
       <li><a href="#">Login</a></li>
       <li><a href="#">Become a Model</a></li>
     </ul>
     <div class="footer-social wow fadeIn" data-wow-delay="0.3s">
       <ul>
         <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
       <li><a href="#"><i class="fab fa-twitter"></i></a></li>
       <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
       <li><a href="#"><i class="fab fa-youtube"></i></a></li>
       <li><a href="#"><i class="fab fa-instagram"></i></a></li>
       </ul>
     </div>
     </div>
   <div class="footer-btm">
     <div class="container">
       <h4>Copyright 2015-2019 | ALL RIGHTS RESERVED ©</h4>
     </div>
   </div>   
   
   </section>