<app-header></app-header>
<!-- <div class="se-pre-con" >
		<div class="sk-chasing-dots">
		  <div class="sk-child sk-dot1"></div>
		  <div class="sk-child sk-dot2"></div>
		</div> -->
<!-- </div> -->
<section class="live-model-main">
	<div class="live-model-content">
		<div class="container-fluid">
			<div class="row">
				<div class="left-bar">
						<ul>
							<li ><a routerLink="/your-feed">Feed</a></li>
							<li ><a routerLink="/notification">Notifications</a></li>
							<li ><a routerLink="/messages">Messages</a></li>
							<li ><a routerLink="/follows">My Subscriptions</a></li>
                            <li ><a routerLink="/settings">Account Settings</a></li>
							<li ><a routerLink="/billings">Billing settings</a></li>
							<li class="active"><a routerLink="/booking">Bookings</a></li>
						</ul>
				</div>
				<div class="right-main"> 
					<div class="right-bar">
						<div class="min-height">
								<div class="se-pre-con2" *ngIf="isLoading">
										<div class="sk-chasing-dots" >
											<div class="sk-child sk-dot1"></div>
											<div class="sk-child sk-dot2"></div>
										</div>
								</div> 	

							<div class="right-bar-content book"> 
								<div class="feed-top head"><h4>Active Booking</h4></div>
								<section class="live-models padd">
								 <div class="row">
									 <div *ngIf="bookingStatusActive.length == 0 " class="empty-msg col-md-12">
									<h6 class="emptyStatus">No Active Booking For Now</h6>
								  </div>
								   <div class="col-sm-3" *ngFor="let d of bookingStatusActive; let i = index">
									 <div class="box-main booking-sett">
									 <div class="mint-top-img">
									   <img src="{{d.profile}}">
									   </div>
									   <h3>{{d.ModelName}}</h3>
										<div class="booking-mid">
										<div class="booking-left">
											<h5><b><i class="far fa-calendar-alt"></i>Date:</b> {{convertDateUtc(d.rawtime1,'day')}}-{{convertDateUtc(d.rawtime1,'monthShort')}}-{{convertDateUtc(d.rawtime1,'year')}}</h5>
											<h6><b><i class="far fa-clock"></i>Time:</b>{{convertDateUtc(d.rawtime1,'start_time')}}</h6>
										</div>
                                        <a class="cursor" *ngIf="d.completed == 'no' && d.confirmation == 1" (click)="joinLiveChat(d.availabilityId,d.liveUrlId,d.minute,d.day)">join now</a>
										<a class="" *ngIf="d.completed == 'no' && d.confirmation == 0" >pending</a>
										<a class="" *ngIf="d.completed == 'no' && d.confirmation == 2" >declined</a>

										<!-- <a *ngIf="d.completed == 'yes'">join now</a> -->
										</div>
									 </div>
								   </div> 
								 </div>
                                </section>
							</div>

							<div class="right-bar-content book"> 
								<div class="feed-top head"><h4>Past Booking</h4></div>
								<div *ngIf="bookingStatusPast.length == 0 " class="empty-msg">
								<h6 class="emptyStatus">No Past Booking </h6>
							   </div>
                                <section class="live-models padd">
                                    <div class="row">
                                      <div class="col-sm-3" *ngFor="let d of bookingStatusPast; let i = index">
                                        <div class="box-main booking-sett">
                                        <div class="mint-top-img">
                                          <img src="{{d.profile}}">
                                          </div>
                                          <h3>{{d.ModelName}}</h3>
                                           <div class="booking-mid">
                                           <div class="booking-left">
                                           <h5><b><i class="far fa-calendar-alt"></i>Date:</b> {{convertDateUtc(d.rawtime1,'day')}}-{{convertDateUtc(d.rawtime1,'monthShort')}}-{{convertDateUtc(d.rawtime1,'year')}}</h5>
                                           <h6><b><i class="far fa-clock"></i>Time:</b>{{convertDateUtc(d.rawtime1,'start_time')}}</h6>
                                           </div>
                                           <a class="cursor" *ngIf="d.completed == 'no'" >join now</a>
                                           <!-- <a *ngIf="d.completed == 'yes'">join now</a> -->
                                           </div>
                                        </div>
                                      </div> 
                                    </div>
								   </section>
								   </div>
							   



						</div>
						<div class="inner-footer">
								<h4 class="copy">COPYRIGHT YES PIPER LLC 2020| ALL RIGHTS RESERVED ©</h4>
								<ul>
								  <li><a routerLink="/terms">Terms and conditions</a></li>
								  <li><a routerLink="/privacy">Privacy Policy</a></li>
								  <li><a routerLink="/faq" >FAQ's</a></li>
								  <li><a routerLink="/contact" >Contact Us</a></li>
								</ul>
						</div>
					</div>
					
				</div>
				
			</div>
		</div>
	</div>
</section>


<a href="" id="paymentPopup24" data-toggle="modal" data-target="#payment2" style="display: none"></a>
      <!-- <p>The state of the Window is <b>{{windowState}}</b></p> -->
<!-- <kendo-window [top]="0" [left]="0" title="Live Status" [(state)]="windowState" *ngIf="openedss" (close)="openCloseq(false)">
      <iframe [src]="IdUrl3" allow="camera;microphone" style="width:100%;height:100%"></iframe>
</kendo-window> -->

<a  class="go-live-btn" data-toggle="modal" data-target="#golive2" id="OpenGoLivePopup2" style="display: none">Go Live</a>

<div class="modal" id="golive2">
   <div class="modal-dialog change-pass">
	 <div class="modal-content">
	   <div class="modal-header">
		 <h4 class="modal-title">Live Status</h4>
		 <button type="button" class="close model-close" id="model-close" data-dismiss="modal" (click)="openCloseq(false)">×</button>
	   </div> 
	   <div class="modal-body">
		 <div class="row">
		 <div class="col-sm-8">
		 <iframe [src]="IdUrl3" allow="camera;microphone" style="width:100%;height:100%"></iframe>
	   </div>
	   <div class="col-sm-4" >
		   <div class="live-broad-chat right-chat">
		   <h3>Live Chat</h3>
		   <div class="broad-chat-scroll" #scrollMe [scrollTop]="scrollMe.scrollHeight">
			 <ul *ngFor="let d of LiveBroadCastingChatData">
				 <li>
					 <div class="broad-chat-img">
					 <img src="{{d.image}}" alt="chat-img">
				   </div>
				   <div class="broad-chat-text">
					 <p><b>{{d.name}}:</b> {{d.message}}</p>
				   </div>
				   </li>
			 </ul>
		   </div>
		   <div class="right-comm-btm mess-send"><div _ngcontent-ffy-c1="" class="feed-img">
			 <img src="{{imageDisplay}}" alt="feed-img" class="cursor">
		   </div><!----><div class="right-comm-input ng-star-inserted">
			 <input class="right-comm-btm-input ng-untouched ng-pristine ng-valid" [(ngModel)]="inputChatBroadcast" name="CommentData" placeholder="Write a comment..." type="text">
			 <button>
			   <i class="far fa-paper-plane" (click)="submitChatBroadcast()">
			   </i>
			 </button>
		   </div>
		 </div>
		 </div>
		 </div>
	   </div>
	 </div>
	 </div>
   </div>
  </div>