.right-bar-content.book .feed-top{padding: 20px 20px 20px;}
.box-main.booking-sett {padding: 15px;}
.box-main.booking-sett h3{display: inline-block;vertical-align: top;font-weight: 600;font-size: 19px;margin-bottom: 8px;}
.box-main.booking-sett h4{border:0;padding:0;font-size:14px;font-weight:400;color: #595959;margin-bottom:6px;}
.box-main.booking-sett h4 b{font-weight:500;color:#212529;}
.box-main.booking-sett h5{border:0;padding:0;font-size:14px;font-weight:400;color: #595959;margin-bottom:10px;}
.box-main.booking-sett h5 b{font-weight:500;color:#212529;}
.box-main.booking-sett h5 i{margin-right:8px;font-size:16px;color: #747474;}
.box-main.booking-sett h6{border:0;padding:0;font-size:14px;font-weight:400;color: #595959;}
.box-main.booking-sett h6 b{font-weight:500;color:#212529;}
.box-main.booking-sett h6 i{margin-right:8px;font-size:16px;color: #747474;}

.box-main.booking-sett.full li{display:inline-block;width: 18.6%;} 
.box-main.booking-sett.full li label{font-size:16px;font-weight:500;color: #212529;}
.box-main.booking-sett.full li p{font-size:14px;font-weight:400;color: #595959;}
.box-main.booking-sett.full a{margin: 10px 0;float: right;background:#f05742;color:#fff;padding:4px 11px;font-weight: 400;border: 0;font-size: 11px;border-radius: 4px;} 
.box-main.booking-sett .mint-top-img {width: 60px;height: 60px;background: #ddd;border-radius: 4px;display: inline-block;
overflow: hidden;margin-right: 15px;}
.box-main.booking-sett .mint-top-img img {height: 100%;width: 100%;object-fit: cover;}
.booking-mid {margin-top: 10px;}
.booking-mid .booking-left {display: inline-block;}
.booking-mid a{display: inline-block;background:#9fdbce;font-size: 13px;font-weight: 500;color:#fff;padding: 6px 20px;border: 0;
border-radius: .25rem;float: right;margin: 7px 0;}
.box-main.booking-sett.full-wid li{display:inline-block;width:13.7%;vertical-align: top;}
.box-main.booking-sett.full-wid li h4{font-size:16px;color:#212529;font-weight: 600;margin-bottom:15px;}
.box-main.booking-sett.full-wid li a{display: inline-block;background:#f05742;font-size: 13px;font-weight: 500;
color:#fff;padding: 6px 20px;border: 0;border-radius: .25rem;float: right;margin: 16px 0;}
.box-main.booking-sett.full-wid li:nth-child(1) {width:24%;}
.box-main.booking-sett.full-wid li:nth-child(2) {width:23%;}
.box-main.booking-sett.full-wid li:nth-child(3) {width:23%;}

/* #golive2 .modal-dialog{width:80%;min-width:1100px;}
#golive2 .modal-header{padding-bottom:12px;background:#f05742;color:#fff;}
#golive2 .modal-header .close{color:#fff;opacity:1;}
#golive2 .modal-body{padding:10px!important;max-height: 500px!important;height: 500px!important;}
#golive2 .live-broad-chat h3{font-size:20px;color:#242424;}
#golive2 .live-broad-chat.right-chat h3{margin-bottom:18px;}
#golive2 .live-broad-chat.right-chat .broad-chat-img {width: 35px;height: 35px;background: #ddd;border-radius: 50%;
display: inline-block;overflow:hidden;}
#golive2 .live-broad-chat.right-chat .broad-chat-img img{width:100%;height:100%;object-fit:cover;}
#golive2 .live-broad-chat.right-chat .broad-chat-text {display: inline-block;vertical-align: top;padding: 2px 12px;width: 90%}
#golive2 .live-broad-chat.right-chat .broad-chat-text p{font-size: 14px;color:#595959;font-weight: 400;}
#golive2 .live-broad-chat.right-chat .broad-chat-text p b{font-weight:500;color:#242424;}
#golive2 .live-broad-chat.right-chat .broad-chat-scroll li{margin-bottom:8px;}
#golive2 .live-broad-chat.right-chat .right-comm-btm {padding:5px;background: none;border-top: 0;position: relative;}
#golive2 .live-broad-chat.right-chat .feed-img {width: 40px;height: 40px;background: #ddd;border-radius: 50%;overflow: hidden;display: inline-block;margin-right: 10px;}
#golive2 .live-broad-chat.right-chat .right-comm-input {display: inline-block;vertical-align: top;width: 86%;position: relative;}
#golive2 .live-broad-chat.right-chat .right-comm-btm-input {background: #fff;border-bottom: 2px solid #cdcfd1 !important;
border: 1px solid #cdcfd1;vertical-align: top;padding: 10px 5px;padding-right: 15px;border-radius:5px;width: 100%;padding-right: 35px;border:0;border-radius:0;}
#golive2 .live-broad-chat.right-chat button{border:0;}
#live-broad .live-broad-chat.right-chat .right-comm-input i {position: absolute;top: 14px;right: 10px;font-size: 18px;
color: #f05742;cursor: pointer;}
#golive2 .right-comm-btm.mess-send{margin-top:15px;}
#golive2 .broad-chat-scroll {max-height: 360px;height: 360px;overflow: auto;} */

@media screen and (max-width: 1366px) {
.booking-mid a{padding: 6px 12px;}    

}

@media screen and (max-width: 1280px) {
.box-main.booking-sett h5{font-size: 13px;}
.box-main.booking-sett h6{font-size: 13px;}
.booking-mid a{font-size: 12px;}  

}
