<app-header></app-header>
<section class="live-model-main">
    <div class="live-model-content">
        <div class="container-fluid">
            <div class="row">
                <div class="left-bar">
                    <div class="model-name">
                        <h3>{{message}}</h3>
                        <h4 class="cursor" (click)="copyText(currentEmail,mid)" pTooltip="Click to copy" tooltipPosition="top" >{{currentEmail}}{{mid}} <i class="far fa-copy"></i></h4>
                    </div>

                    <ul>
                        <li class="cursor" routerLink="/model-content"><a >Dashboard</a></li> 
                        <li class="cursor" routerLink="/notification-model"><a >Notifications</a></li>
                        <li class="cursor" routerLink="/model-message"><a >Messages</a></li>    
                        <li class="cursor" routerLink="/availability"><a >Availability</a></li>
                        <li class="cursor" routerLink="/Appointment"><a >Bookings</a></li>
                        <li class="cursor" routerLink="/subscriber"><a >Subscribers</a></li>
                        <li class="active account cursor" data-toggle="collapse" data-target="#demo"><a >Account Settings <i class="fas fa-chevron-down"></i></a></li>
                        <div id="demo" class="collapse">
                          <ul>
                              <!-- <li ><a routerLink="/model-account">Application</a></li> -->
                              <li class="active"><a routerLink="/price">Price</a></li>
                              <li><a routerLink="/profile">Profile</a></li>
                              <li class="cursor"><a  (click)="hideErrors()">Change Password</a></li>
                              <a data-toggle="modal" data-target="#myModalPasswordReset" id="openPasswordrest" (click)="hideErrors()" style="display:none">Change Password</a>
                              <li class="cursor"><a    (click)="checkDeactivate()">Deactivate/Delete</a></li>
                              <a  data-toggle="modal" data-target="#deactivate" style="display: none" id="DeactivateDeleteButton">Deactivate/Delete</a>
                              <!-- <a  data-toggle="modal" data-target="#payout" style="display: none" id="PayoutPopup">Deactivate/Delete</a> -->
                              <!-- <li class="cursor"><a (click)="checkpayout()">payout/bank details</a></li> -->
                          </ul>   
                        </div>
                    </ul>
                </div>
                <div class="right-main"> 
                    
                    <div class="right-bar">
                            <div class="se-pre-con2" *ngIf="isLoading">
                                    <div class="sk-chasing-dots" >
                                        <div class="sk-child sk-dot1"></div>
                                        <div class="sk-child sk-dot2"></div>
                                    </div>
                            </div> 

                         
                        <div class="min-height">
                            <div class="tab-main noti tabs">
                                    
                                <!-- <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#account">Account</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link documentTAB" id="documentTab" data-toggle="tab" href="#document">Documents</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#review">Review</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#payout-detail" (click)="checkpayout()">Payout</a>
                                    </li>
                                </ul> -->
                                <form name="form" #myForm="ngForm"  (ngSubmit)="myForm.form.valid && submitData()" >
                                    <div class="right-bar-content price mar-0"> 
                                        <div class="row">
                                            <div class="col-md-12 pr-0"> 
                                                <div class="tab-content">
                                                   
                                                        <div id="account" class="col-md-12 tab-pane active" ngForm #newRuleForm="ngForm">
                                                                <h4>Pricing</h4>
                                                            
                                                            
                                                          
                                                           
                                                           
                                                            <div class="account1">
                                                                <h3>Subscription Price</h3>
                                                                <p>This is how much a user will be charged to subscribe to your Yes Piper account.</p>
                                                                <div class="row">
                                                                    <div class="col-sm-8 residency">
                                                                        <div class="row">
                                                                            <!-- <div class="col-sm-4">
                                                                                <label class="us"><p-radioButton name="radio2" value="10" [(ngModel)]="price" ></p-radioButton>
                                                                                    <span class="checkmark"></span>$10 a month
                                                                                </label>
                                                                            </div>
                                                                                <div class="col-sm-4">
                                                                                    <label class="us"><p-radioButton name="radio2" value="25" [(ngModel)]="price" ></p-radioButton>
                                                                                        <span class="checkmark"></span>$25 a month
                                                                                    </label>
                                                                            </div> -->
                                                                            <div class="col-sm-12 custom-sel">
                                                                                 <label class="us"><!--<p-radioButton name="radio2" value="25" [(ngModel)]="price" ></p-radioButton> -->
                                                                                    <!-- <span class="checkmark"></span> -->
                                                                                    $<input type="number" class="price-custom" max = "90" name="radio2" [(ngModel)]="price" min="10" step="1" (blur)="priceSetSubscription()">per month
                                                                                </label>
                                                                        </div>
                                                                        </div>  
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="account1">
                                                                    <h3>1-Way Video Chat</h3>
                                                                    <p>This is how much a subscriber will be charged to 1-Way Video Chat with you (one subscriber only per chat).</p>
                                                                    <div class="row">
                                                                        <div class="col-sm-8 residency">
                                                                            <div class="row">
                                                                                <div class="col-sm-12 custom-sel">
                                                                                     <label class="us"><!--<p-radioButton name="radio2" value="25" [(ngModel)]="price" ></p-radioButton> -->
                                                                                        <!-- <span class="checkmark"></span> -->
                                                                                        $<input type="number" class="price-custom" max = "90"  [(ngModel)]="Videoprice" min="1" step=".5" name="Videoprice" (blur)="priceSetlivevideo()"> per Minute
                                                                                    </label>
                                                                                </div>
                                                                            </div>  
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="account1">
                                                                    <h3>"GO LIVE" Video Stream</h3>
                                                                    <p>This is how much a subscriber will be charged To join Your "Go Live" Video Stream (multiple subscribers can join)</p>
                                                                    <div class="row">
                                                                        <div class="col-sm-8 residency">
                                                                            <div class="row">
                                                                                <div class="col-sm-12 custom-sel">
                                                                                     <label class="us"><!--<p-radioButton name="radio2" value="25" [(ngModel)]="price" ></p-radioButton> -->
                                                                                        <!-- <span class="checkmark"></span> -->
                                                                                        $<input type="number" class="price-custom" max = "90" [(ngModel)]="LiveCamprice" min="5" step="1" name="LiveCamprice"  (blur)="priceSetvideo()"> per session 
                                                                                    </label>
                                                                                </div>
                                                                            </div>  
                                                                        </div>
                                                                    </div>
                                                                </div>    
                                                          
                                                           
                                                           
                                            </div>      
                                            <div class="account1 agree">
                                                <button type="submit"  class="agree-btn right "><i  *ngIf="loading" class="fa fa-spinner fa-spin"></i> Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                    </div> 
                                </form>    
                                
                    </div>
                </div>
            </div>
            
            <div class="inner-footer">
                    <h4 class="copy">COPYRIGHT YES PIPER LLC 2020 | ALL RIGHTS RESERVED ©</h4>
                    <ul>
                      <li><a routerLink="/terms">Terms and conditions</a></li>
                      <li><a routerLink="/privacy">Privacy Policy</a></li>
                      <li><a routerLink="/faq" >FAQ's</a></li>
                      <li><a routerLink="/contact" >Contact Us</a></li>
                    </ul>
                  </div>
                </div></div></div></div>
    </section>

    <p-toast [style]="{marginTop: '80px'}"></p-toast>
    <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
      <ng-template let-message pTemplate="message">
          <div style="text-align: center">
              <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
              <h3>{{message.summary}}</h3>
              <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
              <div class="ui-g-6">
                  <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
              </div>
              <div class="ui-g-6">
                  <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
              </div>
          </div>
      </ng-template>
  </p-toast>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" id="openModal" style="display: none">Open Modal</button>

  <!-- <button class="changing" data-toggle="modal" data-target="#myModalPasswordReset" (click)="hideErrors()">CHANGE PASSWORD</button> -->
<div class="modal" id="myModalPasswordReset">
        <div class="modal-dialog change-pass">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Change Your Password Here</h4>
              <button type="button" class="close model-close" id="model-close" data-dismiss="modal">×</button>
            </div>
            <!-- Modal body -->
            <form  name="form" #myForm="ngForm" (ngSubmit)="onSubmitPasswordReset()">
             <div class="modal-body">
               <div class="inner-form inner-forms">  
                   <span style="color:red">{{passwordValidation.result}}</span>
                 <div class="form-group">
                    
                   <label>Old Password</label>
                   <input type="password" class="form-control height-control" name="name" placeholder="" [(ngModel)]="oldPassword" >
                   <span style="color:red">{{passwordValidation.oldpassword}}</span>
                 </div>
                 <div class="form-group">
                   <label>New Password</label>
                   <input type="password" class="form-control height-control" name="newPassword" placeholder="" [(ngModel)]="newPassword">
                   <span style="color:red">{{passwordValidation.newpassword}}</span>
                 </div>
                 <div class="form-group">
                   <label>Confirm Password</label>
                   <input type="password" class="form-control height-control" name="confirmCheck" placeholder="" [(ngModel)]="confirmCheck" >
                     <span style="color:red">{{passwordValidation.confirmPassword}}</span>
                 </div>
                 </div>
             </div>
             <div class="modal-footer">
                 <button type="submit"   class="btn btn-danger close-right"><i *ngIf="loading2" class="fa fa-spinner fa-spin"></i>Update</button>
                <!-- <button type="button" class="btn btn-danger close-right" data-dismiss="modal">Update</button> -->
              </div>
          </form>
          </div>
          </div>
          </div>
          
            <!-- Modal footer -->

            <div class="modal" id="deactivate">
                    <div class="modal-dialog change-pass">
                      <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title">Deactivate/Delete Account</h4>
                          <button type="button" class="close model-close" id="model-close2" data-dismiss="modal">×</button>
                        </div>
                        <div class="modal-body">
                            <!-- <p>Are you Sure you want to deactivate accouunt?</p> -->
                            <button class="dec-btn" *ngIf="activateDeactivate == '0'" data-toggle="modal" data-target="#deactivate-acoount">Deactivate Account</button>
                            <button class="dec-btn" *ngIf="activateDeactivate == '1'" data-toggle="modal" data-target="#deactivate-acoount">Activate Account</button>
                            <button  data-toggle="modal" data-target="#deactivate-acoount" (click)="delete()">Delete Account</button>
                          </div>
                          <!-- <div class="modal-footer">
                              <button type="submit"   class="btn btn-danger close"><i *ngIf="loading2" class="fa fa-spinner fa-spin"></i>Close</button>
                              <button type="button" class="btn btn-danger close-right" data-dismiss="modal">Delete</button> 
                           </div>  -->
                      </div>
                    </div>
                   </div>
                  
                  <!-- deactivate popup -->
                  
                  <!-- deactivate account popup -->
                  
                   <div class="modal" id="deactivate-acoount">
                    <div class="modal-dialog change-pass">
                      <div class="modal-content">
                        <!-- Modal Header -->
                        <!-- <div class="modal-header">
                          <h4 class="modal-title">ssd</h4>
                          <button type="button" class="close model-close" id="model-close" data-dismiss="modal">×</button>
                        </div> -->
                        <div class="modal-body">
                            <i class="fas fa-exclamation-triangle"></i>
                            <h3>Are you sure?</h3>
                            <p *ngIf="activateDeactivate == '0'">You want to deactivate your account!</p>
                            <p *ngIf="activateDeactivate == '1'">You want to activate your account!</p>
                            <p *ngIf="activateDeactivate == '2'">You want to delete your account!</p>
                            <button class="dec-btn" data-dismiss="modal" id="closeDeactivatePopup">No, cancel!</button>
                            <button *ngIf="activateDeactivate == '0'" (click)="setDeactivate(1)">Yes</button>
                            <button *ngIf="activateDeactivate == '1'" (click)="setDeactivate(0)">Yes</button>
                            <button *ngIf="activateDeactivate == '2'" (click)="setDeactivate(2)">Yes</button>
                          </div>
                      </div>
                    </div>
                   </div>
                  
                    <!-- deactivate account popup -->

 