@import '../../../../node_modules/primeicons/primeicons.css';
@import '../../../../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../../../../node_modules/primeng/resources/primeng.min.css';

/* .tab-main.noti .right-bar-content{border-radius: 10px;} */
.right-bar-content.price {
    border-radius: 10px !important;
}
label.us {
    display: block;
}
label.us .price-custom{width: 12%;}
.account1.agree{width: 98%;}

@media only screen and (max-width: 480px) {
    label.us .price-custom{width: 18%;}
}