<app-header></app-header>
<section class="live-model-main">
    <div class="live-model-content">
        <div class="container-fluid">
            <div class="row">
                <div class="left-bar">
                    <div class="model-name">
                        <h3>{{message}}</h3>
                        <h4 class="cursor" (click)="copyText(currentEmail,mid)" pTooltip="Click to copy" tooltipPosition="top" >{{currentEmail}}{{mid}} <i class="far fa-copy"></i></h4>
                      
                    </div>

                    <ul>
                        <li class="cursor" routerLink="/model-content"><a >Dashboard</a></li> 
                        <li class="cursor" routerLink="/notification-model"><a >Notifications</a></li>
                        <li class="cursor" routerLink="/model-message"><a >Messages</a></li>    
                        <li class="cursor" routerLink="/availability"><a >Availability</a></li>
                        <li class="cursor" routerLink="/Appointment"><a >Bookings</a></li>
                        <li class="cursor" routerLink="/subscriber"><a >Subscribers</a></li>
                        <li class="active account cursor" data-toggle="collapse" data-target="#demo"><a >Account Settings <i class="fas fa-chevron-down"></i></a></li>
                        <div id="demo" class="collapse">
                          <ul>
                              <li class="active"><a routerLink="/model-account">Application</a></li>
                              <li ><a routerLink="/price">Price</a></li>
                              <li><a routerLink="/profile">Profile</a></li>
                              <li class="cursor"><a  (click)="hideErrors()">Change Password</a></li>
                              <a data-toggle="modal" data-target="#myModalPasswordReset" id="openPasswordrest" (click)="hideErrors()" style="display:none">Change Password</a>
                              <li class="cursor"><a    (click)="checkDeactivate()">Deactivate/Delete</a></li>
                              <a  data-toggle="modal" data-target="#deactivate" style="display: none" id="DeactivateDeleteButton">Deactivate/Delete</a>
                              <!-- <a  data-toggle="modal" data-target="#payout" style="display: none" id="PayoutPopup">Deactivate/Delete</a> -->
                              <!-- <li class="cursor"><a (click)="checkpayout()">payout/bank details</a></li> -->
                          </ul>   
                        </div>
                    </ul>
                </div>
                <div class="right-main"> 
                    <div class="right-bar">
                            <div class="se-pre-con2" *ngIf="isLoading">
                                    <div class="sk-chasing-dots" >
                                        <div class="sk-child sk-dot1"></div>
                                        <div class="sk-child sk-dot2"></div>
                                    </div>
                            </div> 

                         
                        <div class="min-height">
                            <div class="tab-main noti tabs">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#account">Account</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="documentTab" data-toggle="tab" href="#payout-detail" (click)="checkpayout()">Payout</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link"   id="documentTab2" data-toggle="tab" href="#document">Documents</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#review">Review</a>
                                    </li>
                                   
                                </ul>
                                <form name="form" #myForm="ngForm"  (ngSubmit)="myForm.form.valid && submitData()" >
                                    <div class="right-bar-content mar-0"> 
                                        <div class="row">
                                            <div class="col-md-12 pr-0"> 
                                                <div class="tab-content">
                                                   
                                                        <div id="account" class="col-md-12 tab-pane active" ngForm #newRuleForm="ngForm">
                                                          
                                                            <div class="account1">
                                                                <h3>Model Name</h3>
                                                                <p>Do you wish to update Model Name? This is the name we'll show to followers.</p>
                                                                <div class="row">
                                                                    <div class="col-sm-4">
                                                                        <input [(ngModel)]="nameMain" required #nameCheck="ngModel" name="nameMain" type="text" class="form-control inp" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nicolaspayne">
                                                                    </div>
                                                                </div>
                                                                <div *ngIf="nameCheck.invalid && (nameCheck.dirty || nameCheck.touched  || myForm.submitted)" >
                                                                        <div *ngIf="nameCheck.errors.required">
                                                                            <span style="color: crimson;font-size: 12px">Name is required.</span>
                                                                        </div>
                                                                </div>
                                                            </div>
                                                            <div class="account1">
                                                                <h3>Phone Number</h3>
                                                                <p>This is the phone number we'll use if we need to reach you directly.</p>
                                                                <div class="row">
                                                                    <div class="col-sm-4">
                                                                        <input [(ngModel)]="phone" minlength="7" maxlength="14" #phoneCheck="ngModel"  name="phone" id="phone"  type="tel" class="form-control" placeholder="+1 702 123 456" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required> 
                                                                    </div>
                                                                </div>
                                                                <div *ngIf="phoneCheck.invalid && (phoneCheck.dirty || phoneCheck.touched  || myForm.submitted)" >
                                                                        <div *ngIf="phoneCheck.errors.required;else other_content">
                                                                            <span style="color: crimson;font-size: 12px">Phone is required.</span>
                                                                        </div>
                                                                        <ng-template #other_content>
                                                                                <span style="color: crimson;font-size: 12px">Mobile No. Not valid</span>
                                                                        </ng-template>
                                                                </div>
                                                            </div>
                                                            <div class="account1">
                                                                <h3>Date of Birth</h3>
                                                                <div class="row">
                                                                    <div class="col-sm-4 date-birth">
                                                                        <div class="row">
                                                                            <div class="col-sm-4">
                                                                                <select [(ngModel)]="bornYear" (change)="getYear()" required #bornYearCheck="ngModel" name="bornYear" class="form-control date">
                                                                                    <option [ngValue]="undefined" hidden>Year</option>                                                                                    
                                                                                    <option *ngFor= "let year of yearToshow"  [ngValue]="year.id">{{year.id}}</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="col-sm-5">
                                                                                <select [(ngModel)]="bornMonth" required #bornMonthCheck="ngModel" name="bornMonth" (change)="changedMonth()" class="form-control date">
                                                                                    <option [ngValue]="undefined" hidden>Month</option>
                                                                                    <option [ngValue]="1" [value]="1">January</option>
                                                                                    <option [ngValue]="2" [value]="2">February</option>
                                                                                    <option [ngValue]="3" [value]="3">March</option>
                                                                                    <option [ngValue]="4" [value]="4">April</option>
                                                                                    <option [ngValue]="5" [value]="5">May</option>
                                                                                    <option [ngValue]="6" [value]="6">June</option>
                                                                                    <option [ngValue]="7" [value]="7">July</option>
                                                                                    <option [ngValue]="8" [value]="8">August</option>
                                                                                    <option [ngValue]="9" [value]="9">September</option>
                                                                                    <option [ngValue]="10" [value]="10">October</option>
                                                                                    <option [ngValue]="11" [value]="11">November</option>
                                                                                    <option [ngValue]="12" [value]="12">December</option>
                                                                                </select>
                                                                            </div>
                                                                            
                                                                            <div class="col-sm-3 padd-0">
                                                                                <select [(ngModel)]="bornDate" required #bornDateCheck="ngModel" name="bornDate" class="form-control date">
                                                                                    <option [ngValue]="undefined" hidden>Day</option>
                                                                                    <option *ngFor= "let years of DateToshow ; trackBy:customTrackBy" [ngValue]="years.id" >{{years.id}}</option>
                                                                                </select>
                                                                            </div>
                                                                           
                                                                        </div>
                                                                        <!-- <div *ngIf="myForm.submitted || (bornMonthCheck.dirty || bornDateCheck.touched  || bornYearCheck.touched )" >
                                                                            <div *ngIf="bornMonthCheck.errors.required || bornDateCheck.errors.required ||  bornYearCheck.errors.required">
                                                                                <span style="color: crimson;font-size: 12px">DOB is required</span>
                                                                            </div>
                                                                        </div> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="account1">
                                                                <h3>Email Address</h3>
                                                                <p>This is the email you'll use to login and where we'll send messages and notifications.</p>
                                                                <div class="row">
                                                                    <div class="col-sm-4">
                                                                        <input [(ngModel)]="email" [email]="true" required #emailCheck="ngModel"  name="email" type="email" class="form-control inp" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nicolaspayne@gmail.com">
                                                                    </div>
                                                                </div>
                                                                <div *ngIf="emailCheck.invalid && (emailCheck.dirty || emailCheck.touched  || myForm.submitted)" >
                                                                        <div *ngIf="emailCheck.errors.required;else other_content">
                                                                            <span style="color: crimson;font-size: 12px">Email is required.</span>
                                                                        </div>
                                                                        <ng-template #other_content>
                                                                                <span style="color: crimson;font-size: 12px">Email is Not valid.</span>
                                                                        </ng-template>
                                                                </div>
                                                                <!-- <span style="color:Red" ng-show="myForm.email.$error.email">Only Numbers Allowed, Maximum 5 Characters</span> -->
                                                            </div>
                                                            <div class="account1">
                                                                <h3>Phone Number</h3>
                                                                <p>This is the phone number we'll use if we need to reach you directly.</p>
                                                                <div class="row">
                                                                    <div class="col-sm-4">
                                                                        <input [(ngModel)]="phone" minlength="7" maxlength="14" #phoneCheck="ngModel"  name="phone" id="phone"  type="tel" class="form-control" placeholder="+1 702 123 456" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required> 
                                                                    </div>
                                                                </div>
                                                                <div *ngIf="phoneCheck.invalid && (phoneCheck.dirty || phoneCheck.touched  || myForm.submitted)" >
                                                                        <div *ngIf="phoneCheck.errors.required;else other_content">
                                                                            <span style="color: crimson;font-size: 12px">Phone is required.</span>
                                                                        </div>
                                                                        <ng-template #other_content>
                                                                                <span style="color: crimson;font-size: 12px">Mobile No. Not valid</span>
                                                                        </ng-template>
                                                                </div>
                                                            </div>
                                                            <!-- 
                                                                street_number
                                                                postal_code
                                                                street_address
                                                                city
                                                                county
                                                                suburb
                                                            
                                                            -->
                                                            <div class="account1">
                                                                <h3>Street Number</h3>
                                                                <!-- <p>This is the phone number we'll use if we need to reach you directly.</p> -->
                                                                <div class="row">
                                                                    <div class="col-sm-4">
                                                                        <input [(ngModel)]="street_number"  #street_numberCheck="ngModel"  name="street_number" id="street_number"  type="text" class="form-control"   required placeholder="Street Number"> 
                                                                    </div>
                                                                </div>
                                                                <div *ngIf="street_numberCheck.invalid && (street_numberCheck.dirty || street_numberCheck.touched  || myForm.submitted)" >
                                                                        <div *ngIf="street_numberCheck.errors.required">
                                                                            <span style="color: crimson;font-size: 12px">Street number is required.</span>
                                                                        </div>
                                                                        <!-- <ng-template #other_content>
                                                                                <span style="color: crimson;font-size: 12px">Mobile No. Not valid</span>
                                                                        </ng-template> -->
                                                                </div>
                                                            </div>
                                                            <div class="account1">
                                                                <h3>Street Address</h3>
                                                                <!-- <p>This is the phone number we'll use if we need to reach you directly.</p> -->
                                                                <div class="row">
                                                                    <div class="col-sm-4">
                                                                        <input [(ngModel)]="street_address"  #street_addressCheck="ngModel"  name="street_address" placeholder="Street Address" id="street_address"  type="text" class="form-control"   required> 
                                                                    </div>
                                                                </div>
                                                                <div *ngIf="street_addressCheck.invalid && (street_addressCheck.dirty || street_addressCheck.touched  || myForm.submitted)" >
                                                                        <div *ngIf="street_addressCheck.errors.required">
                                                                            <span style="color: crimson;font-size: 12px">Street address is required.</span>
                                                                        </div>
                                                                        <!-- <ng-template #other_content>
                                                                                <span style="color: crimson;font-size: 12px">Mobile No. Not valid</span>
                                                                        </ng-template> -->
                                                                </div>
                                                            </div>
                                                            <div class="account1">
                                                                <h3>City</h3>
                                                                <!-- <p>This is the phone number we'll use if we need to reach you directly.</p> -->
                                                                <div class="row">
                                                                    <div class="col-sm-4">
                                                                        <input [(ngModel)]="city" placeholder="City Name"  #cityCheck="ngModel"  name="city" id="city"  type="text" class="form-control"   required> 
                                                                    </div>
                                                                </div>
                                                                <div *ngIf="cityCheck.invalid && (cityCheck.dirty || cityCheck.touched  || myForm.submitted)" >
                                                                        <div *ngIf="cityCheck.errors.required">
                                                                            <span style="color: crimson;font-size: 12px">City name is required.</span>
                                                                        </div>
                                                                        <!-- <ng-template #other_content>
                                                                                <span style="color: crimson;font-size: 12px">Mobile No. Not valid</span>
                                                                        </ng-template> -->
                                                                </div>
                                                            </div>
                                                            <div class="account1">
                                                                <h3>County</h3>
                                                                <!-- <p>This is the phone number we'll use if we need to reach you directly.</p> -->
                                                                <div class="row">
                                                                    <div class="col-sm-4">
                                                                        <input [(ngModel)]="county" placeholder="County Name" #countyCheck="ngModel"  name="county" id="county"  type="text" class="form-control"   required> 
                                                                    </div>
                                                                </div>
                                                                <div *ngIf="countyCheck.invalid && (countyCheck.dirty || countyCheck.touched  || myForm.submitted)" >
                                                                        <div *ngIf="countyCheck.errors.required">
                                                                            <span style="color: crimson;font-size: 12px">Country name is required.</span>
                                                                        </div>
                                                                        <!-- <ng-template #other_content>
                                                                                <span style="color: crimson;font-size: 12px">Mobile No. Not valid</span>
                                                                        </ng-template> -->
                                                                </div>
                                                            </div>
                                                            <div class="account1">
                                                                <h3>Suburb</h3>
                                                                <!-- <p>This is the phone number we'll use if we need to reach you directly.</p> -->
                                                                <div class="row">
                                                                    <div class="col-sm-4">
                                                                        <input [(ngModel)]="suburb" placeholder="Suburb Name"  #suburbCheck="ngModel"  name="suburb" id="suburb"  type="text" class="form-control"   required> 
                                                                    </div>
                                                                </div>
                                                                <div *ngIf="suburbCheck.invalid && (suburbCheck.dirty || suburbCheck.touched  || myForm.submitted)" >
                                                                        <div *ngIf="suburbCheck.errors.required">
                                                                            <span style="color: crimson;font-size: 12px">Suburb name is required.</span>
                                                                        </div>
                                                                        <!-- <ng-template #other_content>
                                                                                <span style="color: crimson;font-size: 12px">Mobile No. Not valid</span>
                                                                        </ng-template> -->
                                                                </div>
                                                            </div>
                                                            <div class="account1">
                                                                <h3>Postal Code</h3>
                                                                <!-- <p>This is the phone number we'll use if we need to reach you directly.</p> -->
                                                                <div class="row">
                                                                    <div class="col-sm-4">
                                                                        <input [(ngModel)]="postal_code" placeholder="Postal Code" #postal_codeCheck="ngModel"  name="postal_code" id="postal_code"  type="text" class="form-control"   required> 
                                                                    </div>
                                                                </div>
                                                                <div *ngIf="postal_codeCheck.invalid && (postal_codeCheck.dirty || postal_codeCheck.touched  || myForm.submitted)" >
                                                                        <div *ngIf="postal_codeCheck.errors.required">
                                                                            <span style="color: crimson;font-size: 12px">Postal code is required.</span>
                                                                        </div>
                                                                        <!-- <ng-template #other_content>
                                                                                <span style="color: crimson;font-size: 12px">Mobile No. Not valid</span>
                                                                        </ng-template> -->
                                                                </div>
                                                            </div>
                                                            <!-- <div class="account1">
                                                                <h3>Residency</h3>
                                                                <p>Do you live in the United States?</p>
                                                                <div class="row">
                                                                    <div class="col-sm-4 residency">
                                                                        <div class="row">
                                                                            <div class="col-sm-6">
                                                                                   
                                                                                <label class="us"><p-radioButton name="radio" value="US" [(ngModel)]="residence" ></p-radioButton>
                                                                                    <span class="checkmark"></span>US Resident
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <label class="us"> <p-radioButton name="radio" value="Non-US" [(ngModel)]="residence" ></p-radioButton>
                                                                                    <span class="checkmark"></span>Non-US Resident
                                                                                </label>
                                                                            </div>
                                                                        </div>  
                                                                    </div>
                                                                </div>
                                                            </div> -->
                                                            <!-- <div class="account1">
                                                                <h3>Subscription Price</h3>
                                                                <p>This is how much a user will be charged to follow you.</p>
                                                                <div class="row">
                                                                    <div class="col-sm-8 residency">
                                                                        <div class="row"> -->
                                                                            <!-- <div class="col-sm-4">
                                                                                <label class="us"><p-radioButton name="radio2" value="10" [(ngModel)]="price" ></p-radioButton>
                                                                                    <span class="checkmark"></span>$10 a month
                                                                                </label>
                                                                            </div>
                                                                                <div class="col-sm-4">
                                                                                    <label class="us"><p-radioButton name="radio2" value="25" [(ngModel)]="price" ></p-radioButton>
                                                                                        <span class="checkmark"></span>$25 a month
                                                                                    </label>
                                                                            </div> -->
                                                                            <!-- <div class="col-sm-4 custom-sel">
                                                                                 <label class="us"><p-radioButton name="radio2" value="25" [(ngModel)]="price" ></p-radioButton> -->
                                                                                    <!-- <span class="checkmark"></span>
                                                                                    $<input type="number" class="price-custom" name="radio2" [(ngModel)]="price" min="10" step="1" (blur)="priceSetSubscription()">per month
                                                                                </label>
                                                                        </div>
                                                                        </div>  
                                                                    </div>
                                                                </div>
                                                            </div> -->
                                                            <!-- <div class="account1">
                                                                    <h3>Video Chat Price</h3>
                                                                    <p>This is how much a user will be charged To Video Chat With You.</p>
                                                                    <div class="row">
                                                                        <div class="col-sm-8 residency">
                                                                            <div class="row">
                                                                                <div class="col-sm-4 custom-sel">
                                                                                     <label class="us"><p-radioButton name="radio2" value="25" [(ngModel)]="price" ></p-radioButton> -->
                                                                                        <!-- <span class="checkmark"></span> -->
                                                                                        <!-- $<input type="number" class="price-custom"  [(ngModel)]="Videoprice" min="1" step=".5" name="Videoprice" (blur)="priceSetlivevideo()"> per Minute
                                                                                    </label>
                                                                                </div>
                                                                            </div>  
                                                                        </div>
                                                                    </div>
                                                                </div> -->

                                                                <!-- <div class="account1">
                                                                    <h3>Live Cam Price</h3>
                                                                    <p>This is how much a user will be charged To see Your Live Cam.</p>
                                                                    <div class="row">
                                                                        <div class="col-sm-8 residency">
                                                                            <div class="row">
                                                                                <div class="col-sm-4 custom-sel"> -->
                                                                                     <!-- <label class="us"><p-radioButton name="radio2" value="25" [(ngModel)]="price" ></p-radioButton> -->
                                                                                        <!-- <span class="checkmark"></span> -->
                                                                                        <!-- $<input type="number" class="price-custom"  [(ngModel)]="LiveCamprice" min="5" step="1" name="LiveCamprice"  (blur)="priceSetvideo()"> per session 
                                                                                    </label>
                                                                                </div>
                                                                            </div>  
                                                                        </div>
                                                                    </div>
                                                                </div>     -->
                                                            <div class="account1 insta">
                                                                <h3><i class="fab fa-instagram"></i>Instagram</h3>
                                                                <p>1. Verify your identify</p>
                                                                <p>2. See your social reach and how you will be marketing your snap Account.</p>
                                                                <p>3. if you don't have an active instagram account, please enter your active Twitter account.</p>
                                                                <p>Without an active social media account your application will not be approved!</p>
                                                                <div class="row">
                                                                    <div class="col-sm-4">
                                                                        <input [(ngModel)]="userName" required #userNameCheck="ngModel" name="userName" type="text" class="form-control ins" placeholder="username">
                                                                        <div class="ver-insta">@</div>
                                                                    </div>
                                                                </div>
                                                                <div *ngIf="userNameCheck.invalid && (userNameCheck.dirty || userNameCheck.touched  || myForm.submitted)" >
                                                                        <div *ngIf="userNameCheck.errors.required">
                                                                            <span style="color: crimson;font-size: 12px">UserName is required.</span>
                                                                        </div>
                                                                </div>
                                                            </div>
                                                            <!-- <div class="account1 insta">
                                                                <h3>Profile URL:</h3>
                                                                <p>This is the slug used for your model subdomain.</p>
                                                                <p>Changing this will break all previous links to your profile.</p>
                                                                <div class="row">
                                                                    <div class="col-sm-4 residency">
                                                                        <div class="row">
                                                                            <div class="col-sm-6">
                                                                                <input type="text" [(ngModel)]="profileWebsite1" name="profileWebsite1" class="form-control url" aria-describedby="emailHelp" placeholder="nicolaspayne" disabled>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <input type="text" [(ngModel)]="profileWebsite2" name="profileWebsite2"  class="form-control url" aria-describedby="emailHelp" disabled >
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div> -->
                                                            <div class="account1 agree">
                                                                <!-- <h3>Model Agreement</h3>
                                                                <p>Please review & agree to the following agreement.</p>
                                                                <p>Last Updated: October 18, 2018</p>
                                                                <p>This model agreement is between CRE8 MEDIA LLC, a California limited liability company (the "<b>Company</b>"), and you, the model signing up (the "<b>Model</b>")</p>
                                                                <p>The Model wants to participate in the Platform.</p>
                                                                <h5>1. Enrollment</h5>
                                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                                                <label class="container2"><h6>By checking this checkbox, i hereby indicate that i have read and understood and agree to be bound by thesnap girl model agreement.</h6>
                                                                    <input type="checkbox" [(ngModel)]="iAgreeCheckBox" [checked]="iAgreeCheckBox" name="iAgreeCheckBox" required #reviewCheck="ngModel">
                                                                    <span class="checkmark2"></span>
                                                                </label>
                                                                <input type="button" value="I agree" class="agree-btn agr" style="display:none" (click)="agreeCheckBox()" > -->
                                                                <input  type="button" value="Continue" class="agree-btn right"  (click)="changeTab()">
                                                            </div> 
                                                        </div>
                                                   
                                                    <div id="document" class="container tab-pane fade">
                                                        <div class="account1">
                                                            <h3>Legal Name</h3>
                                                            <p>Your full legal name. This is your legal name as indicated in your government-issued ID such as Passport or Driver's License. we'll use this to create your legal documents and to receive payments.</p>
                                                            <div class="row">
                                                                <div class="col-sm-4">
                                                                    <input type="email" [(ngModel)]="legalName" name="legalName" class="form-control inp"  aria-describedby="emailHelp" placeholder="Nicolas Payne" required #legalnameCheck="ngModel">
                                                                </div>
                                                            </div>
                                                            <div *ngIf="legalnameCheck.invalid && (legalnameCheck.dirty || legalnameCheck.touched  || myForm.submitted)" >
                                                                <div *ngIf="legalnameCheck.errors.required">
                                                                    <span style="color: crimson;font-size: 12px">Legal Name is required.</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="account1">
                                                            <h3>ID Type</h3>
                                                            <p>What type of ID do you have?</p>
                                                            <div class="row">
                                                                <div class="col-sm-4">
                                                                    <select [(ngModel)]="id_type" name="id_type" class="form-control date" required #id_typeCheck="ngModel">
                                                                        <option   [value]="undefined" hidden>Select Id Type</option>
                                                                        <option   [value]="1">Passport</option>
                                                                        <option   [value]="2">License</option>
                                                                        <!-- <option   [value]="2">Canadian Passport</option> -->
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div *ngIf="id_typeCheck.invalid && (id_typeCheck.dirty || id_typeCheck.touched  || myForm.submitted)" >
                                                                <div *ngIf="id_typeCheck.errors.required">
                                                                    <span style="color: crimson;font-size: 12px">Id Type is required.</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="account1">
                                                            <h3>ID Number</h3>
                                                            <p>This the ID number of your Photo ID. if you are using your Passport, this is the Passport Number.</p>
                                                            <div class="row">
                                                                <div class="col-sm-4">
                                                                    <input type="email" [(ngModel)]= "idNumber" required  #idNumberCheck="ngModel" name="idNumber" class="form-control inp"  aria-describedby="emailHelp" placeholder="31195855">
                                                                </div>
                                                            </div>
                                                            <div *ngIf="idNumberCheck.invalid && (idNumberCheck.dirty || idNumberCheck.touched  || myForm.submitted)" >
                                                                <div *ngIf="idNumberCheck.errors.required">
                                                                    <span style="color: crimson;font-size: 12px">Id Number is required.</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="account1">
                                                            <h3>Expiry Date</h3>
                                                            <p>This is the expiration date of your ID.</p>
                                                            <div class="row">
                                                                <!-- <div class="col-sm-4 date-birth"> 
                                                                    <div class="row">
                                                                        <div class="col-sm-5">
                                                                            <select class="form-control date">
                                                                                <option>March</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="col-sm-3 padd-0">
                                                                            <select class="form-control date">
                                                                                <option>15</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="col-sm-4">
                                                                            <select class="form-control date">
                                                                                <option>2025</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div> -->
                                                                <div class="col-sm-4">
                                                                    <p-calendar [(ngModel)]="date1" [minDate]="minDate" name="date1" class="form-control"></p-calendar>
                                                                </div>    
                                                            </div>
                                                        </div>
                                                        <div class="account1">
                                                            <h3>Issued By</h3>
                                                            <p>This is the City, State, or Country that issued your government-issued ID, For example, California.</p>
                                                            <div class="row">
                                                                <div class="col-sm-4">
                                                                    <input type="email" [(ngModel)]="issuedBy" required  #issuedByCheck="ngModel"  name="issuedBy" class="form-control inp"  aria-describedby="emailHelp" placeholder="California">
                                                                </div>
                                                            </div>
                                                            <div *ngIf="issuedByCheck.invalid && (issuedByCheck.dirty || issuedByCheck.touched  || myForm.submitted)" >
                                                                <div *ngIf="issuedByCheck.errors.required">
                                                                    <span style="color: crimson;font-size: 12px">Issued By is required.</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="account1">
                                                        <h3>Aliases</h3>
                                                        <p>I am known or have been known by, the following names, including stage names, internet username, aliases, nicknames, and married or maiden names:</p>
                                                        <div class="row">
                                                            <div class="col-sm-7 aliases">
                                                                <div class="row">
                                                                    <div class="col-sm-4">
                                                                        <input type="email" [(ngModel)]="Aliases1" name="Aliases1" class="form-control inp"  aria-describedby="emailHelp" placeholder="Nicolas Payne">
                                                                    </div>
                                                                    <div class="col-sm-4">
                                                                        <input type="email" [(ngModel)]="Aliases2" name="Aliases2" class="form-control inp"  aria-describedby="emailHelp" placeholder="Payne">
                                                                    </div> -->
                                                                    <!-- <div class="col-sm-4">
                                                                    <input type="email" [(ngModel)]="Aliases3" name="Aliases3" class="form-control inp"  aria-describedby="emailHelp" placeholder="">
                                                                    </div> -->
                                                                <!-- </div>
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                    <div class="account1 mar-bot">
                                                        <h3>Upload Photo ID</h3>
                                                        <p><b>IMPORTANT:</b> Please take a close-up picture of your ID.</p>
                                                        <p>Your ID must be valid with visible birth date.</p>
                                                        <p>This can be your Driver's License, State ID, Military ID, or Passport.</p>
                                                        <h5 *ngIf="Incomplete">Incomplete</h5>
                                                        <h5 *ngIf="!Incomplete">1  File selected</h5>
                                                        <div class="upload-btn-wrapper">
                                                            <button class="btn">Upload</button>
                                                            <input type="file" name="myfile" (change)="onFileSelected($event)"  accept="image/png,image/jpeg" [(ngModel)]="uploadFile"/>
                                                        </div>
                                                    </div>
                                                    <div class="account1 mar-bot">
                                                        <h3>Upload a Selfie Holding ID</h3>
                                                        <p><b>IMPORTANT:</b> Please take a close-up Selfie</p>
                                                        <h5 *ngIf="IncompleteSelfie">Incomplete</h5>
                                                        <h5 *ngIf="!IncompleteSelfie">1  File selected</h5>
                                                        <div class="upload-btn-wrapper">
                                                            <button class="btn">Upload</button>
                                                            <input type="file" name="myfile" (change)="onFileSelectedSelfie($event)"  accept="image/png,image/jpeg" [(ngModel)]="uploadFileSelfie"/>
                                                        </div>
                                                    </div>
                                                    <div class="account1 agree">
                                                        <h3>Agreement</h3>
                                                        <p>Date of birth: {{bornMonth}}/{{bornDate}}/{{bornYear}} (Month, Day, and Year) Age: {{ageCalculator()}}</p>
                                                        <p>{{nameMain}}</p>
                                                        <p>I have read and agree to this websites Terms and Conditions</p>
                                                        <label class="container2"><h6>By checking this checkbox, I hereby indicate that 
                                                            i have read and understood and agree to be bound 
                                                            by this websites Terms and Conditions, I understand that 
                                                            these Terms and conditions are subject to change without 
                                                            notice and it is my responsibility to comply with these 
                                                            terms at all time.</h6>
                                                            <input type="checkbox" [(ngModel)]="CheckBox2"  name="CheckBox2" checked="checked">
                                                            <span class="checkmark2"></span>
                                                        </label>
                                                        <input style="display:none" type="button" value="I agree" (click)="checkBoxCheck()" class="agree-btn agr">
                                                        <button type="submit" [disabled]="loading ? 'disabled': null"   class="agree-btn right "><i  *ngIf="loading" class="fa fa-spinner fa-spin"></i>Submit</button>
                                                        
                                                    </div>
                                                </div>
                                                <div id="review" class="container tab-pane fade">
                                                    <div class="account1">
                                                        <h3>Identification</h3>
                                                        <p>Please submit an photo of your ID as well as a selfie of you holding your ID.</p>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="review-main">
                                                                    <img src="assets/images/rev-icon1.jpg" alt="rev-icon">
                                                                    <h3>Photo ID</h3>
                                                                    <div *ngIf="!Incomplete" class="review-right">
                                                                        <h5 >Completed</h5>
                                                                        <ul>
                                                                            <li><a (click)="showId(PhotoId)"><i class="fas fa-eye"></i></a></li>
                                                                            <li><a ><i class="fas fa-redo-alt"></i></a></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div *ngIf="Incomplete" class="review-right pendingClass">
                                                                        <h5 >Pending</h5>
                                                                        <ul>
                                                                            <li><a ><i class="fas fa-eye"></i></a></li>
                                                                            <li><a ><i class="fas fa-redo-alt"></i></a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="review-main">
                                                                    <img src="assets/images/rev-icon2.jpg" alt="rev-icon">
                                                                    <h3>ID Verification Selfie</h3>
                                                                    <div *ngIf="!IncompleteSelfie" class="review-right">
                                                                        <h5>Completed</h5>
                                                                        <ul>
                                                                            <li><a (click)="showSelfie(PhotoSelfie)"><i class="fas fa-eye"></i></a></li>
                                                                            <li><a ><i class="fas fa-redo-alt"></i></a></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div *ngIf="IncompleteSelfie" class="review-right pendingClass">
                                                                        <h5>Pending</h5>
                                                                        <ul>
                                                                            <li><a ><i class="fas fa-eye"></i></a></li>
                                                                            <li><a ><i class="fas fa-redo-alt"></i></a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <h3 class="mar-top">Agreements</h3>
                                                                <p>Please review and agree to each agreement below.</p>
                                                                <div class="review-main">
                                                                    <img src="assets/images/rev-icon3.jpg" alt="rev-icon">
                                                                    <h3>Model Agreement</h3>
                                                                    <div *ngIf="iAgreeCheckBox" class="review-right">
                                                                        <h5>Completed</h5>
                                                                        <ul>
                                                                            <li><a (click)="agreement('model')"><i class="fas fa-eye"></i></a></li>
                                                                            <li><a ><i class="fas fa-redo-alt"></i></a></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div *ngIf="!iAgreeCheckBox" class="review-right  pendingClass">
                                                                        <h5>Pending</h5>
                                                                        <ul>
                                                                            <li><a (click)="agreement('model')"><i class="fas fa-eye"></i></a></li>
                                                                            <li><a ><i class="fas fa-redo-alt"></i></a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            <!-- <div class="review-main">
                                                                <img src="assets/images/rev-icon4.jpg" alt="rev-icon">
                                                                <h3>2257 Agreement</h3>
                                                                <div *ngIf="CheckBox2" class="review-right">
                                                                    <h5>Completed</h5>
                                                                    <ul>
                                                                        <li><a (click)="agreement('2257')"><i class="fas fa-eye"></i></a></li>
                                                                        <li><a ><i class="fas fa-redo-alt"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                                <div *ngIf="!CheckBox2" class="review-right  pendingClass">
                                                                    <h5>Pending</h5>
                                                                    <ul>
                                                                        <li><a (click)="agreement('2257')"><i class="fas fa-eye"></i></a></li>
                                                                        <li><a ><i class="fas fa-redo-alt"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="payout-detail" class="container tab-pane fade">
                                                <div class="account1">
                                                    <div class="row">
                                                    <div class="col-sm-4">
                                                      <div class="box-main cursor"> 
                                                         <ul>
                                                            <li><strong>Country:</strong>{{selectedCountry.name}}</li> 

                                                            <li *ngIf="selectedCountry.name=='United States' && selectedCountry.name !=null"><strong>Routing No:</strong>{{routingNo}}</li>
                                                            <li *ngIf="selectedCountry.name=='United States' && selectedCountry.name !=null"><strong>Account No:</strong>{{accountNumber}}</li>
                                                            <li *ngIf="selectedCountry.name=='United States' && selectedCountry.name !=null"><strong>Account Type:</strong>{{accountType}}</li>
                                                            <li *ngIf="selectedCountry.name !='United States' && selectedCountry.name !='Australia' && selectedCountry.name !='New Zealand' && selectedCountry.name !=null"><strong>Swift Code:</strong>{{swiftCode}}</li> 
                                                            <li *ngIf="selectedCountry.name !='United States' && selectedCountry.name !='Australia' && selectedCountry.name !='New Zealand' && selectedCountry.name !=null"><strong>IBAN:</strong>{{IBAN}}</li>   
                                                            <li *ngIf="selectedCountry.name !='United States' && selectedCountry.name =='Australia'  && selectedCountry.name !=null"><strong>BSB Code:</strong>{{bsb}}</li> 
                                                            <li *ngIf="selectedCountry.name !='United States' && selectedCountry.name =='Australia'  && selectedCountry.name !=null"><strong>Account Number:</strong>{{accountNumber}}</li>                                                             
                                                            <li *ngIf="selectedCountry.name !='United States' && selectedCountry.name =='New Zealand' && selectedCountry.name !=null"><strong>Account Number:</strong>{{accountNumber}}</li>     
                                                            <li><a (click)="openPayoutPopup()">Edit</a></li> 
                                                         </ul>  
                                                     </div>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="account1 agree">
                                                <input  type="button" value="Continue" class="agree-btn right"  (click)="changeTab2()">
                                            </div> 
                                        </div>

                                        </div>
                                    </div>
                                </div> 
                                    </div> 
                                </form>    
                                
                    </div>
                </div>
            </div>
            
            <div class="inner-footer">
                    <h4 class="copy">COPYRIGHT YES PIPER LLC 2020 | ALL RIGHTS RESERVED ©</h4>
                    <ul>
                      <li><a routerLink="/terms">Terms and conditions</a></li>
                      <li><a routerLink="/privacy">Privacy Policy</a></li>
                      <li><a routerLink="/faq" >FAQ's</a></li>
                      <li><a routerLink="/contact" >Contact Us</a></li>
                    </ul>
                  </div>
                </div></div></div></div>
    </section>

    <p-toast [style]="{marginTop: '80px'}"></p-toast>
    <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
      <ng-template let-message pTemplate="message">
          <div style="text-align: center">
              <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
              <h3>{{message.summary}}</h3>
              <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
              <div class="ui-g-6">
                  <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
              </div>
              <div class="ui-g-6">
                  <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
              </div>
          </div>
      </ng-template>
  </p-toast>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" id="openModal" style="display: none">Open Modal</button>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
             <h4 class="modal-title"  *ngIf="agreementModel == '2257'">Agreement</h4> 
             <h4 class="modal-title"  *ngIf="agreementModel == 'model'">Model Agreement</h4> 
             <h4 class="modal-title"  *ngIf="idPhoto"  >Photo</h4> 
             <h4 class="modal-title"  *ngIf="idSelfie">Selfie</h4> 
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <img  *ngIf="idPhoto"  [src]="imageSrc">
            <img  *ngIf="idSelfie"  [src]="imageSrc2">
            <div  *ngIf="agreementModel == '2257'"  >
                <p>
                        I hereby indicate that 
                        i have read and understood and agree to be bound 
                        by this websites Terms and Conditions, I understand that 
                        these Terms and conditions are subject to change without 
                        notice and it is my responsibility to comply with these 
                        terms at all time.
                </p>
                <!-- <label class="container2"><h6>By checking this checkbox, I hereby indicate that i have read and understood and agree to be bound by the is snap 2257 self-Production Records Keeping Compliance Agreement.</h6>
                    <input type="checkbox" [(ngModel)]="CheckBox2"  name="CheckBox2" checked="checked">
                    <span class="checkmark2"></span>
                </label> -->
            </div>
            <div  *ngIf="agreementModel == 'model'"  >
                <p>
                        I hereby indicate that 
                        i have read and understood and agree to be bound 
                        by this websites Terms and Conditions, I understand that 
                        these Terms and conditions are subject to change without 
                        notice and it is my responsibility to comply with these 
                        terms at all time.
                </p>
                <!-- <label class="container2"><h6>By checking this checkbox, i hereby indicate that i have read and understood and agree to be bound by thesnap girl model agreement.</h6>
                    <input type="checkbox" [(ngModel)]="iAgreeCheckBox" [checked]="iAgreeCheckBox" name="iAgreeCheckBox" required #reviewCheck="ngModel">
                    <span class="checkmark2"></span>
                </label> -->
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>




  <!-- <button class="changing" data-toggle="modal" data-target="#myModalPasswordReset" (click)="hideErrors()">CHANGE PASSWORD</button> -->
      <div class="modal" id="myModalPasswordReset">
       <div class="modal-dialog change-pass">
         <div class="modal-content">
           <!-- Modal Header -->
           <div class="modal-header">
             <h4 class="modal-title">Change Your Password Here</h4>
             <button type="button" class="close model-close" id="model-close" data-dismiss="modal" >×</button>
           </div>
           <!-- Modal body -->
           <form  name="form" #myForm="ngForm" (ngSubmit)="onSubmitPasswordReset();myForm.reset()">
            <div class="modal-body">
              <div class="inner-form inner-forms">  
                  <span style="color:red">{{passwordValidation3.result}}</span>
                <div class="form-group">
                   
                  <label>Old Password</label>
                  <input type="password" class="form-control height-control" name="oldPassword2"  placeholder="" [(ngModel)]="oldPassword2" >
                  <span style="color:red">{{passwordValidation3.oldpassword}}</span>
                </div>
                <div class="form-group">
                  <label>New Password</label>
                  <input type="password" class="form-control height-control" name="newPassword2" placeholder="" [(ngModel)]="newPassword2">
                  <span style="color:red">{{passwordValidation3.newpassword}}</span>
                </div>
                <div class="form-group">
                  <label>Confirm Password</label>
                  <input type="password" class="form-control height-control" name="confirmCheck2" placeholder="" [(ngModel)]="confirmCheck2" >
                    <span style="color:red">{{passwordValidation3.confirmPassword}}</span>
                </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit"   class="btn btn-danger close-right"><i *ngIf="loading2" class="fa fa-spinner fa-spin"></i>Update</button>
               <!-- <button type="button" class="btn btn-danger close-right" data-dismiss="modal">Update</button> -->
             </div>
         </form>
           <!-- Modal footer -->
           
           
         </div>
       </div>
      </div>


       <!-- deactivate popup -->

        <div class="modal" id="deactivate">
            <div class="modal-dialog change-pass">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Deactivate/Delete Account</h4>
                  <button type="button" class="close model-close" id="model-close2" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <!-- <p>Are you Sure you want to deactivate accouunt?</p> -->
                    <!-- //{{activateDeactivate}} -->
                    <button class="dec-btn" *ngIf="activateDeactivate == '0'" data-toggle="modal" data-target="#deactivate-acoount">Deactivate Account</button>
                    <button class="dec-btn" *ngIf="activateDeactivate == '1'" data-toggle="modal" data-target="#deactivate-acoount">Activate Account</button>
                    <button  data-toggle="modal" data-target="#deactivate-acoount" (click)="delete()">Delete Account</button>
                  </div>
                  <!-- <div class="modal-footer">
                      <button type="submit"   class="btn btn-danger close"><i *ngIf="loading2" class="fa fa-spinner fa-spin"></i>Close</button>
                      <button type="button" class="btn btn-danger close-right" data-dismiss="modal">Delete</button> 
                   </div>  -->
              </div>
            </div>
           </div>

         <!-- deactivate popup -->

         <!-- deactivate account popup -->

           <div class="modal" id="deactivate-acoount">
            <div class="modal-dialog change-pass">
              <div class="modal-content">
                <!-- Modal Header -->
                <!-- <div class="modal-header">
                  <h4 class="modal-title">ssd</h4>
                  <button type="button" class="close model-close" id="model-close" data-dismiss="modal">×</button>
                </div> -->
                <div class="modal-body">
                    <i class="fas fa-exclamation-triangle"></i>
                    <h3>Are you sure?</h3>
                    <p *ngIf="activateDeactivate == '0'">You want to deactivate your account!</p>
                    <p *ngIf="activateDeactivate == '1'">You want to activate your account!</p>
                    <p *ngIf="activateDeactivate == '2'">You want to delete your account!</p>
                    <button class="dec-btn" data-dismiss="modal" id="closeDeactivatePopup2">No, cancel!</button>
                    <button *ngIf="activateDeactivate == '0'" (click)="setDeactivate(1)">Yes</button>
                    <button *ngIf="activateDeactivate == '1'" (click)="setDeactivate(0)">Yes</button>
                    <button *ngIf="activateDeactivate == '2'" (click)="setDeactivate(2)">Yes</button>
                  </div>
              </div>
            </div>
           </div>

            <!-- deactivate account popup -->

                       <!-- payout popup  -->

           <div class="modal" id="payout">
            <div class="modal-dialog change-pass">
              <div class="modal-content">
                  <div class="modal-header">
                  <h4 class="modal-title">Payout/bank details</h4>
                  <button type="button" class="close model-close" id="model-closepayout" data-dismiss="modal">×</button>
                </div> 
                <form name="form" #myFormPay="ngForm"  (ngSubmit)="payoutSubmit()" >
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Bank account country</label>
                            <p-dropdown [options]="country" [(ngModel)]="selectedCountry" name="selectedCountry" class="form-control" placeholder="Select a Country" optionLabel="name" ></p-dropdown>
                             <!-- <p>Selected City: {{selectedCountry ? selectedCountry.name : 'none'}}</p>   -->
                        </div>
                        <!-- <div class="form-group" *ngIf="selectedCountry.name =='United States' && selectedCountry.name !=null">
                            <label>Name</label> 
                            <input aria-describedby="emailHelp" [(ngModel)]="NamePayout" name="NamePayout" class="form-control"    required #NamePayoutCheck="ngModel" >
                            <div>
                                <span style="color: crimson;font-size: 12px" id="removeValidation" >{{payOutValidation.NamePayout}}</span> 
                            </div>
                        </div>  -->
                        <div class="form-group" *ngIf="selectedCountry.name=='United States' && selectedCountry.name !=null">
                                <label>Routing Number</label> 
                                <input aria-describedby="emailHelp"[(ngModel)]="routingNo" name="routingNo" class="form-control" required #routingNoCheck="ngModel">
                                <div>
                                    <span style="color: crimson;font-size: 12px" id="removeValidation" >{{payOutValidation.routingNo}}</span>
                                </div>
                        </div>
                        <!-- <div class="form-group"  *ngIf="selectedCountry.name =='United States' && selectedCountry.name !=null">
                            <label>Bank Name</label> 
                            <input aria-describedby="emailHelp" [(ngModel)]="bankName" name="bankName" class="form-control"    required #bankNameCheck="ngModel">
                            <div>
                                <span style="color: crimson;font-size: 12px" id="removeValidation" >{{payOutValidation.bankName}}</span>
                            </div>
                        </div> -->
                        <div class="form-group" *ngIf="selectedCountry.name =='United States' && selectedCountry.name !=null">
                                <label>Account Number</label> 
                                <input aria-describedby="emailHelp" [(ngModel)]="accountNumber" name="accountNumber" class="form-control"    required #accountNumberCheck="ngModel">
                                <div>
                                    <span style="color: crimson;font-size: 12px" id="removeValidation" >{{payOutValidation.accountNumber}}</span>
                                </div>
                            </div>  
                        <div class="form-group" *ngIf="selectedCountry.name =='United States' && selectedCountry.name !=null">
                            <label>Account Type</label> 
                            <!-- <input aria-describedby="emailHelp" [(ngModel)]="accountType" name="accountType" class="form-control"    required #accountTypeCheck="ngModel"> -->
                            <div class="ui-g-12"><p-radioButton name="group1" value="Savings" label="Savings" [(ngModel)]="accountType" inputId="opt1"></p-radioButton></div>
                            <div class="ui-g-12"><p-radioButton name="group1" value="Checking" label="Checking" [(ngModel)]="accountType" inputId="opt2"></p-radioButton></div>
                            <div>
                                <span style="color: crimson;font-size: 12px" id="removeValidation" >{{payOutValidation.accountType}}</span>
                            </div>
                        </div> 
                         
                        
                        <div class="form-group" *ngIf="selectedCountry.name !='United States' && selectedCountry.name !='Australia' && selectedCountry.name !='New Zealand'  && selectedCountry.name !=null">
                                <label>Swift Code</label> 
                                <input aria-describedby="emailHelp" [(ngModel)]="swiftCode" name="swiftCode" class="form-control"    required #swiftCodeCheck="ngModel" placeholder="BUKBGB22">
                                <div>
                                    <span style="color: crimson;font-size: 12px" id="removeValidation" >{{payOutValidation.swiftCode}}</span>
                                </div>
                        </div>
                        <div class="form-group" *ngIf="selectedCountry.name !='United States' && selectedCountry.name !=null && selectedCountry.name !='Australia' && selectedCountry.name !='New Zealand' ">
                                <label>IBAN</label> 
                                <input aria-describedby="emailHelp" [(ngModel)]="IBAN" name="IBAN" class="form-control"    required #IBANCheck="ngModel" placeholder="123456789012">
                                <div>
                                    <span style="color: crimson;font-size: 12px" id="removeValidation" >{{payOutValidation.IBAN}}</span>
                                </div>
                        </div>
                        <div class="form-group" *ngIf="selectedCountry.name !='United States' && selectedCountry.name !=null && selectedCountry.name =='Australia' && selectedCountry.name !='New Zealand' ">
                            <label>BSB Code</label> 
                            <input aria-describedby="emailHelp" [(ngModel)]="bsb" name="bsb" class="form-control"    required #IBANCheck="ngModel" placeholder="123456789012">
                            <div>
                                <span style="color: crimson;font-size: 12px" id="removeValidation" >{{payOutValidation.bsb}}</span>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="selectedCountry.name !='United States' && selectedCountry.name !=null && (selectedCountry.name =='Australia' || selectedCountry.name =='New Zealand')" >
                            <label>Account Number</label> 
                            <input aria-describedby="emailHelp" [(ngModel)]="accountNumber" name="accountNumber" class="form-control"    required #accountNumberCheck="ngModel">
                            <div>
                                <span style="color: crimson;font-size: 12px" id="removeValidation" >{{payOutValidation.accountNumber}}</span>
                            </div>
                        </div>   
                    </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger close-right" *ngIf="selectedCountry !=null">Save</button> 
                    <!-- <button type="submit"   class="btn btn-danger close"><i *ngIf="loading2" class="fa fa-spinner fa-spin"></i>Close</button> -->    
                </div>
                </form>  
              </div>
            </div>
           </div>

            <!-- payout popup  -->


            <!-- <input type="email" [(ngModel)]="legalName" name="legalName" class="form-control inp"  aria-describedby="emailHelp" placeholder="Nicolas Payne" required #legalnameCheck="ngModel">
        </div>
    </div>
    <div *ngIf="legalnameCheck.invalid && (legalnameCheck.dirty || legalnameCheck.touched  || myForm.submitted)" >
        <div *ngIf="legalnameCheck.errors.required">
            <span style="color: crimson;font-size: 12px">Legal Name is required.</span>
        </div>
    </div> -->