@import '../../../../node_modules/primeicons/primeicons.css';
@import '../../../../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../../../../node_modules/primeng/resources/primeng.min.css';
.buttonload {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 24px; /* Some padding */
    font-size: 16px; /* Set a font-size */
  }
  
/* Add a right margin to each icon */
.fa {margin-left: -12px;margin-right: 8px;} 
.review-right.pendingClass h5 {color: #f05742;}
.review-right.pendingClass h5::before {content: "";width: 8px;height: 8px;border-radius: 50%;background: #f05742;display: inline-block;
margin-right: 6px;}
#myModal .modal-header{padding-bottom: 10px;}
#myModal .modal-body img{width: 100%;}
#myModal .modal-footer { padding: 1rem;}
#myModal .modal-footer button {border: 1px solid #5e6060;color:#605d5d;background:#fff;opacity: 1;}
#myModal .modal-dialog {max-width: 600px;}
#myModal .modal-dialog h6{text-align: left;}
 