

<!-- header part close -->   
<app-header></app-header>
<section class="live-model-main">
  <div class="live-model-content">
    <div class="container-fluid">
      <div class="row">
        <div class="left-bar">
          <div class="model-name">
            <h3>{{messages}}</h3>
            <h4 class="cursor" (click)="copyText(currentEmail,mid)" pTooltip="Click to copy" tooltipPosition="top" >{{currentEmail}}{{mid}} <i class="far fa-copy"></i></h4>
          </div>
          <ul>
            

            <li class="cursor active" routerLink="/model-content"><a  class="active cursor">Dashboard</a></li> 
            <li class="cursor" routerLink="/notification-model"><a>Notifications</a></li>
            <li class="cursor" routerLink="/model-message"><a >Messages</a></li>    
            <li class="cursor" routerLink="/availability"><a >Availability</a></li>
            <li class="cursor " routerLink="/Appointment" ><a >Bookings</a></li>
            <li class="cursor" routerLink="/subscriber"><a >Subscribers</a></li>
              <li class=" account cursor" data-toggle="collapse" data-target="#demo"><a >Account Settings <i class="fas fa-chevron-down"></i></a></li>
                        <div id="demo" class="collapse">
                          <ul>
                            <!-- <li ><a routerLink="/model-account">Application</a></li> -->
                            <li ><a routerLink="/price">Price</a></li>
                            <li><a routerLink="/profile">Profile</a></li>
                            <li class="cursor"><a (click)="hideErrors()">Change Password</a></li>
                            <a data-toggle="modal" id="myModalPasswordResetButton" data-target="#myModalPasswordReset" style="display:none" >Change Password</a>
                            <li class="cursor"><a    (click)="checkDeactivate()">Deactivate/Delete</a></li>
                            <a  data-toggle="modal" data-target="#deactivate" style="display: none" id="DeactivateDeleteButton">Deactivate/Delete</a>
                            <!-- <a  data-toggle="modal" data-target="#payout" style="display: none" id="PayoutPopup">Deactivate/Delete</a>
                            <li class="cursor"><a (click)="checkpayout()">payout/bank details</a></li> -->
                          </ul>   
                        </div>
              <!-- <a (click)="getthumbnail()">sdf</a> -->
          </ul>
        </div>
        <div class="right-main"> 
          <div class="right-bar">
              <div class="se-pre-con2" *ngIf="isLoading">
                  <div class="sk-chasing-dots" >
                      <div class="sk-child sk-dot1"></div>
                      <div class="sk-child sk-dot2"></div>
                  </div>
              </div> 
            <div class="min-height">
              <div class="right-bar-content"> 
                <div class="dash-top-part">
                  <h6><strong> #{{model_ID}}</strong></h6>
                <h4>Dashboard</h4>
               
                 <div class="dash-date-picker">
                  <li>
                   <h5>From:</h5>
                   <p-calendar [(ngModel)]="date8"  [showTime]="false" class="form-control" placeholder="2/12/2019"  (onSelect)="onSelect()"></p-calendar>
                  <!-- <i class="far fa-calendar-alt"></i> -->
                </li>
                <li class="to">
                  <h5>To:</h5>
                  <p-calendar [(ngModel)]="date9"  [showTime]="false" [minDate]="date8"  class="form-control" placeholder="2/12/2019"  (onSelect)="onSelect2()"></p-calendar>
                 <!-- <i class="far fa-calendar-alt"></i> -->
               </li>
               <li>
                <label>All</label>
                  <p-checkbox name="group1" value="1"  [(ngModel)]="selectedValues" (onChange) = "getAll()"></p-checkbox>    
               </li>
                </div>
              </div>
                <!-- {{modelStats[subscriber]}} -->
                <section class="live-models padd">
                    <div class="dash-box">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="dash-box-one">
                                <div class="dash-box-one-left">
                                  <h3>Total Sales (gross)</h3>
                                 <h2>${{modelStats.price}}</h2>
                                  </div>
                              </div>
                              </div>
                        <div class="col-sm-3">
                          <div class="dash-box-one active">
                          <div class="dash-box-one-left">
                            <h3>New Subscriptions</h3>
                           <!-- <h2 *ngIf="modelStats.subscriber">0</h2> -->
                           <h2 >{{modelStats.newSubscription}}</h2>
                            </div>
                           <div class="dash-box-one-right">
                            <!-- <ul>
                            <li><a href="">w</a></li>
                            <li><a href="" class="active">m</a></li>
                            <li><a href="">y</a></li>
                          </ul> -->
                          </div>
                        </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="dash-box-one">
                          <div class="dash-box-one-left">
                            <h3>Active Subscriptions</h3>
                           <h2>{{modelStats.activeSubscription}}</h2>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="dash-box-one">
                          <div class="dash-box-one-left">
                            <h3>Cancelled Subscription</h3>
                           <h2>{{modelStats.cancelledSubscriptions}}</h2>
                            </div>
                           <!-- <div class="dash-box-one-right">
                            <ul id="newSubscriberId">
                            <li class="cursor"><a (click)="filterStat('w','newSubscriber')" id="wnewSubscriber">w</a></li>
                            <li class="cursor"><a (click)="filterStat('m','newSubscriber')" id="mnewSubscriber"  class="active">m</a></li>
                            <li class="cursor"><a (click)="filterStat('y','newSubscriber')" id="ynewSubscriber" >y</a></li>
                          </ul>
                          </div> -->
                        </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="dash-box-one">
                          <div class="dash-box-one-left">
                            <h3>Private Video Booking Sales</h3>
                           <h2>${{modelStats.videoChatSale}}</h2>
                            </div>
                           <!-- <div class="dash-box-one-right">
                            <ul id="newSubscriberId">
                            <li class="cursor"><a (click)="filterStat('w','newSubscriber')" id="wnewSubscriber">w</a></li>
                            <li class="cursor"><a (click)="filterStat('m','newSubscriber')" id="mnewSubscriber"  class="active">m</a></li>
                            <li class="cursor"><a (click)="filterStat('y','newSubscriber')" id="ynewSubscriber" >y</a></li>
                          </ul>
                          </div> -->
                        </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="dash-box-one">
                          <div class="dash-box-one-left">
                            <h3>Message Chat Sales</h3>
                           <h2>${{modelStats.messageSale}}</h2>
                            </div>
                           <!-- <div class="dash-box-one-right">
                            <ul id="newSubscriberId">
                            <li class="cursor"><a (click)="filterStat('w','newSubscriber')" id="wnewSubscriber">w</a></li>
                            <li class="cursor"><a (click)="filterStat('m','newSubscriber')" id="mnewSubscriber"  class="active">m</a></li>
                            <li class="cursor"><a (click)="filterStat('y','newSubscriber')" id="ynewSubscriber" >y</a></li>
                          </ul>
                          </div> -->
                        </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="dash-box-one">
                          <div class="dash-box-one-left">
                            <h3>Go Live Sales</h3>
                           <h2>${{modelStats.liveStreamingSale}}</h2>
                            </div>
                           <!-- <div class="dash-box-one-right">
                            <ul id="newSubscriberId">
                            <li class="cursor"><a (click)="filterStat('w','newSubscriber')" id="wnewSubscriber">w</a></li>
                            <li class="cursor"><a (click)="filterStat('m','newSubscriber')" id="mnewSubscriber"  class="active">m</a></li>
                            <li class="cursor"><a (click)="filterStat('y','newSubscriber')" id="ynewSubscriber" >y</a></li>
                          </ul>
                          </div> -->
                        </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="dash-box-one">
                            <div class="dash-box-one-left">
                              <h3>Tip Sales</h3>
                             <h2>${{modelStats.tip}}</h2>
                              </div>
                             <!-- <div class="dash-box-one-right">
                              <ul id="newSubscriberId">
                              <li class="cursor"><a (click)="filterStat('w','newSubscriber')" id="wnewSubscriber">w</a></li>
                              <li class="cursor"><a (click)="filterStat('m','newSubscriber')" id="mnewSubscriber"  class="active">m</a></li>
                              <li class="cursor"><a (click)="filterStat('y','newSubscriber')" id="ynewSubscriber" >y</a></li>
                            </ul>
                            </div> -->
                          </div>
                          </div>
                      </div>
                      </div>

                  
                <div class="row">
                 <div class="col-sm-12">
                  <div class="model-gallery-top add-cont">
                    <!-- <button data-toggle="modal" data-target="#add-availibilty"><i class="fas fa-plus-circle"></i>Add availibilty</button> -->
                    <button data-toggle="modal" (click)="showModal()" data-target="#add-content"><i class="fas fa-plus-circle"></i>Add content</button>
                    <div class="custom-select">
                      <select>
                        <option value="0">Sort by Newest First</option>
                        <option value="1">Newest</option>
                        <option value="1">Newest Last</option>
                        <option value="2">Featured</option>
                        <option value="3">Trending</option>
                        <option value="4">Popular</option>
                      </select>
                     </div>
                   </div>  
                  </div>
                    <div  *ngFor="let d of myModelContent; let i = index" class="col-sm-4">
                      <div *ngIf="d.mediaType == 2 || d.mediaType == 5" class="box-main wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                        <div class="box-img"> 
                          <video   controls    style="width:100%" style="display: none" id="videoId{{i}}">
                              <source  src="{{d.media}}" type="video/mp4">
                          </video>
                          <h4 *ngIf="d.showOn != null" ngcontent-lrw-c13="" class="next-ava ng-star-inserted"><i ngcontent-lrw-c13="" class="far fa-clock"></i>{{convertDateUtc(d.showOn,'weekday')}} @ {{convertDateUtc(d.showOn,'start_time')}} </h4>
                          <div class="box-img">
                            <canvas #myCanvas id="canvas{{i}}"  style="width:100%;height:240px"></canvas>
                          </div>
                          <!--    -->
                          <span class="play-video video-btn" style="cursor:pointer;" data-target="#video" data-toggle="modal" (click)="mediaShow(d.media)"><i class="fas fa-play-circle"></i></span>
                          <a data-target="#video" data-toggle="modal" style="display: none" id="showModalVideo">sdf</a>
                          <span class="teaser" *ngIf ="d.mediaType == 5">
                            Teaser
                          </span>
                          <h4 *ngIf="d.showOn != null" ngcontent-lrw-c13="" class="next-ava ng-star-inserted"><i ngcontent-lrw-c13="" class="far fa-clock"></i>{{convertDateUtc(d.showOn,'weekday')}} @ {{convertDateUtc(d.showOn,'start_time')}} </h4>
                        </div>
                        <div class="box-btm mod-gell">
                          <ul>
                            <li routerLink="/share" [queryParams]="{shareId: d.asset_id}"><i class="far fa-comments"></i><h5>{{d.comment}}</h5></li>
                            <li class="sep">|</li>
                            <li  class="cursor" (click)="deletePost(d.id,i)"><i class="far fa-trash-alt"></i></li>
                            <!-- <li class="sep">|</li> -->
                            <!-- <li><i class="far fa-paper-plane"></i></li> -->
                          </ul> 
                          <select  name="showToMain" class="form-control date" (change)="selectedData($event,d.id )">
                            
                            <!-- <option [ngValue]="undefined" hidden>Share This Post To</option> -->
                            <option  [selected]="d.showTo == '1'" [value]="1">Subscribers</option>
                            <option  [selected]="d.showTo == '2'" [value]="2">Every One</option>
                            <option  [selected]="d.showTo == '3'"  [value]="3">Hidden</option>
                        </select>
                        </div>
                      </div>
                      <div *ngIf="d.mediaType == 1" class="box-main wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                        <div class="box-img">
                          <img src="{{d.media}}" alt="img" (click)="open(i,d.media,d.title)">
                          <h4 *ngIf="d.showOn != null" ngcontent-lrw-c13="" class="next-ava ng-star-inserted"><i ngcontent-lrw-c13="" class="far fa-clock"></i> {{convertDateUtc(d.showOn,'weekday')}} @ {{convertDateUtc(d.showOn,'start_time')}} </h4>
                        </div>
                        <div class="box-btm mod-gell">
                          <ul>
                            <li routerLink="/share" [queryParams]="{shareId: d.id}"><i class="far fa-comments"></i><h5>{{d.comment}}</h5></li>
                            <li class="sep">|</li>
                            <li class="cursor" (click)="deletePost(d.id,i)"><i class="far fa-trash-alt"></i></li>
                            <li class="sep">|</li>
                            <!-- <li><i class="far fa-paper-plane"></i></li> -->
                          </ul> 
                          <!-- <select class="form-control date">
                            <option>Followers Only</option>
                          </select> -->
                          <!-- {{d.showTo}} -->
                          <select  name="showToMain" class="form-control date" (change)="selectedData($event,d.id )">
                            
                              <!-- <option [ngValue]="undefined" hidden>Share This Post To</option> -->
                              <option  [selected]="d.showTo == '1'" [value]="1">Subscribers</option>
                              <option  [selected]="d.showTo == '2'" [value]="2">Every One</option>
                              <option  [selected]="d.showTo == '3'"  [value]="3">Hidden</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
        </div>      
        <div class="inner-footer">
            <h4 class="copy">COPYRIGHT YES PIPER LLC 2020 | ALL RIGHTS RESERVED ©</h4>
            <ul>
              <li><a routerLink="/terms">Terms and conditions</a></li>
              <li><a routerLink="/privacy">Privacy Policy</a></li>
              <li><a routerLink="/faq" >FAQ's</a></li>
              <li><a routerLink="/contact" >Contact Us</a></li>
            </ul>
        </div>
      </div></div></div></div>
       
      </section>
<div class="modal fade" id="add-content" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add content </h5>
        <button type="button" class="close" id="model-closeContent" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
        <div class="modal-body">
          <div class="add-con-inn">
          <div class="row">
          <div class="col-sm-3">
          <div class="model-label">
            <label>Title</label>
          </div>
          </div>
          <div class="col-sm-9">
          <input type="text" class="form-control inp" [(ngModel)]="title" name="title" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Title" (blur)="ChackValue()">
          <span style="color:red">{{myError.title}}</span>
          </div>
          </div>
          </div>
          <div class="add-con-inn upload-as">
          <div class="row">
          <div class="col-sm-3">
          <div class="model-label">
            <label>Upload as</label>
          </div>
          </div>
          <div class="col-sm-9">
          <!-- <label class="teaser"><input type="radio" (click)="changeUploadType(5)" checked="checked" name="uploadAs" [(ngModel)]="uploadAs" value="5"> -->
              <!-- <span class="checkmark"></span> -->
              <!-- Teaser
            </label> -->
          <label class="full" style="margin-right: 30px;"><input (click)="changeUploadType(2)" type="radio" checked="checked" name="uploadAs" [(ngModel)]="uploadAs" value="2">
              <!-- <span class="checkmark"></span> -->
              Video
            </label>
          <label class="full"><input type="radio" (click)="changeUploadType(1)" checked="checked" name="uploadAs" [(ngModel)]="uploadAs" value="1">
              <!-- <span class="checkmark"></span> -->
              Image
          </label>
          </div>
          </div>
          </div>
          <div class="add-con-inn">
          <div class="row">
          <div class="col-sm-3">
          <div class="model-label">
            <label>Media upload</label>
          </div>
          </div>
          <div class="col-sm-9">
          <div class="choose-file">
          <button class="btn"><i class="fas fa-upload"></i>Choose a file</button>
          <input type="file" #fileUploader accept="{{type}}" (change)="onFileSelected($event)" [(ngModel)]="uploadFile" name="myfile[]" multiple="multiple">
          </div>
          <span *ngIf="noOfUpload >'0'">{{noOfUpload}} File Selected</span>
          <!-- <div class="slimbar-container">
              <ng2-slim-loading-bar></ng2-slim-loading-bar>
            </div> -->
            <p-progressBar *ngIf="hideprogress" [value]="value"></p-progressBar>
            <div *ngIf="showMessage">
              <p style="color:red">{{message}}</p>
            </div> 
          </div>
          </div>
          </div>
          <div class="add-con-inn">
          <div class="row">
          <div class="col-sm-3">
          <div class="model-label">
            <label>Show to</label>
          </div>
          </div>
          <div class="col-sm-9">
          <select [(ngModel)]="showTo" name="showto" class="form-control mod-foll">
            <!-- <option [ngValue]="undefined" hidden>Share This Post To</option> -->
            <option  [value]="1">Subscribers</option>
            <option  [value]="2">Every One</option>
            <option  [value]="3">Hidden</option>
          </select>
          </div>
        </div>
        </div>

        <div class="add-con-inn">
          <div class="row">
            <div class="col-sm-3">
                <div class="model-label">
                  <label>Post ON </label>
                </div>
              </div>
              <div class="col-sm-9">
              <p-calendar [(ngModel)]="date7" [minDate]="dateTime" [showTime]="true" class="form-control" placeholder="POST ON"></p-calendar><span style="color:red">{{myError.date}}</span>
            </div>
        </div>  
      </div>

        </div>
        
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary close" [disabled]="!editmode ? 'disabled': null" data-dismiss="modal">close</button> -->
        
        <button type="submit" (click)="submitMediaUpload('time')"   [disabled]="!editmode ? 'disabled': null" class="btn btn-primary"><i *ngIf="loading" class="fa fa-spinner fa-spin"></i>post on a time</button>
        <button type="submit" (click)="submitMediaUpload('notime')"   [disabled]="!editmode ? 'disabled': null" class="btn btn-primary"><i *ngIf="loading" class="fa fa-spinner fa-spin"></i>post now</button>
      </div>
    </div>
  </div>
</div>

<!-- video popup part start --> 

<div class="modal fade" id="video" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>        
        <!-- 16:9 aspect ratio -->
		<div class="embed-responsive embed-responsive-16by9">
        <video   controls    style="width:100%" [src]="video" id="video123">
            <!-- <source   type="video/mp4"  > -->
        </video>
		  <!-- <iframe class="embed-responsive-item" [src]="video" id="video123"  allowscriptaccess="always" allow="autoplay"></iframe> -->
		</div>
      </div>
    </div>
  </div>
</div>  

<!-- video popup part close --> 
<div id="myModalImage" class="modal modelyuorfeed">
  <span (click)="changeSlideShow('right')" class="next-arrow"><i class="fas fa-chevron-right"></i></span>
  <span (click)="changeSlideShow('left')" class="pre-arrow"><i class="fas fa-chevron-left"></i></span>
  <span class="close" (click)="closeModel()">&times;</span>
  <div class="feed-pop">
  <img class="modal-content" id="img01" [src]="imgsrc">
  <div id="caption"></div>
</div>
</div>

<!-- <button class="changing" data-toggle="modal" data-target="#myModalPasswordReset" (click)="hideErrors()">CHANGE PASSWORD</button> -->
<div class="modal" id="myModalPasswordReset">
  <div class="modal-dialog change-pass">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Change Your Password Here</h4>
        <button type="button" class="close model-close" id="model-close" data-dismiss="modal">×</button>
      </div>
      <!-- Modal body -->
      <form  name="form" #myForm="ngForm" (ngSubmit)="onSubmitPasswordReset()">
       <div class="modal-body">
         <div class="inner-form inner-forms">  
             <span style="color:red">{{passwordValidation.result}}</span>
           <div class="form-group">
              
             <label>Old Password</label>
             <input type="password" class="form-control height-control" name="name" placeholder="" [(ngModel)]="oldPassword" >
             <span style="color:red">{{passwordValidation.oldpassword}}</span>
           </div>
           <div class="form-group">
             <label>New Password</label>
             <input type="password" class="form-control height-control" name="newPassword" placeholder="" [(ngModel)]="newPassword">
             <span style="color:red">{{passwordValidation.newpassword}}</span>
           </div>
           <div class="form-group">
             <label>Confirm Password</label>
             <input type="password" class="form-control height-control" name="confirmCheck" placeholder="" [(ngModel)]="confirmCheck" >
               <span style="color:red">{{passwordValidation.confirmPassword}}</span>
           </div>
           </div>
       </div>
       <div class="modal-footer">
           <button type="submit"   class="btn btn-danger close-right"><i *ngIf="loading2" class="fa fa-spinner fa-spin"></i>Update</button>
          <!-- <button type="button" class="btn btn-danger close-right" data-dismiss="modal">Update</button> -->
        </div>
    </form>
      <!-- Modal footer -->
      
      
    </div>
  </div>
 </div>
 <p-toast [style]="{marginTop: '80px'}"></p-toast>
 <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
   <ng-template let-message pTemplate="message">
       <div style="text-align: center">
           <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
           <h3>{{message.summary}}</h3>
           <p>{{message.detail}}</p>
       </div>
       <div class="ui-g ui-fluid">
           <div class="ui-g-6">
               <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
           </div>
           <div class="ui-g-6">
               <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
           </div>
       </div>
   </ng-template>
</p-toast>


 <!-- deactivate popup -->

 <div class="modal" id="deactivate">
  <div class="modal-dialog change-pass">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Deactivate/Delete Account</h4>
        <button type="button" class="close model-close" id="model-close2Content" data-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
          <!-- <p>Are you Sure you want to deactivate accouunt?</p> -->
          <button class="dec-btn" *ngIf="activateDeactivate == '0'" data-toggle="modal" data-target="#deactivate-acoount">Deactivate Account</button>
          <button class="dec-btn" *ngIf="activateDeactivate == '1'" data-toggle="modal" data-target="#deactivate-acoount">Activate Account</button>
          <button  data-toggle="modal" data-target="#deactivate-acoount" (click)="delete()">Delete Account</button>
        </div>
        <!-- <div class="modal-footer">
            <button type="submit"   class="btn btn-danger close"><i *ngIf="loading2" class="fa fa-spinner fa-spin"></i>Close</button>
            <button type="button" class="btn btn-danger close-right" data-dismiss="modal">Delete</button> 
         </div>  -->
    </div>
  </div>
 </div>

<!-- deactivate popup -->

<!-- deactivate account popup -->

 <div class="modal" id="deactivate-acoount">
  <div class="modal-dialog change-pass">
    <div class="modal-content">
      <!-- Modal Header -->
      <!-- <div class="modal-header">
        <h4 class="modal-title">ssd</h4>
        <button type="button" class="close model-close" id="model-close" data-dismiss="modal">×</button>
      </div> -->
      <div class="modal-body">
          <i class="fas fa-exclamation-triangle"></i>
          <h3>Are you sure?</h3>
          <p *ngIf="activateDeactivate == '0'">You want to deactivate your account!</p>
          <p *ngIf="activateDeactivate == '1'">You want to activate your account!</p>
          <p *ngIf="activateDeactivate == '2'">You want to delete your account!</p>
          <button class="dec-btn" data-dismiss="modal" id="closeDeactivatePopupContent">No, cancel!</button>
          <button *ngIf="activateDeactivate == '0'" (click)="setDeactivate(1)">Yes</button>
          <button *ngIf="activateDeactivate == '1'" (click)="setDeactivate(0)">Yes</button>
          <button *ngIf="activateDeactivate == '2'" (click)="setDeactivate(2)">Yes</button>
        </div>
    </div>
  </div>
 </div>

  <!-- deactivate account popup -->

                        <!-- payout popup  -->

 
                             <!-- payout popup  -->
                             <div class="modal" id="payout">
                              <div class="modal-dialog change-pass">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h4 class="modal-title">Payout/bank details</h4>
                                    <button type="button" class="close model-close" id="model-closepayout" data-dismiss="modal">×</button>
                                  </div> 
                                  <form name="form" #myFormPay="ngForm"   >
                                      <div class="modal-body">
                                          <div class="form-group">
                                              <label>Bank account country</label>
                                              <p-dropdown [options]="country" [(ngModel)]="selectedCountry" name="selectedCountry" class="form-control" placeholder="Select a Country" optionLabel="name" ></p-dropdown>
                                               <!-- <p>Selected City: {{selectedCountry ? selectedCountry.name : 'none'}}</p>   -->
                                          </div>
                                          <!-- <div class="form-group" *ngIf="selectedCountry.name =='United States' && selectedCountry.name !=null">
                                              <label>Name</label> 
                                              <input aria-describedby="emailHelp" [(ngModel)]="NamePayout" name="NamePayout" class="form-control"    required #NamePayoutCheck="ngModel" >
                                              <div>
                                                  <span style="color: crimson;font-size: 12px" id="removeValidation" >{{payOutValidation.NamePayout}}</span> 
                                              </div>
                                          </div>  -->
                                          <div class="form-group" *ngIf="selectedCountry.name=='United States' && selectedCountry.name !=null">
                                                  <label>Routing Number</label> 
                                                  <input aria-describedby="emailHelp"[(ngModel)]="routingNo" name="routingNo" class="form-control" required #routingNoCheck="ngModel">
                                                  <div>
                                                      <span style="color: crimson;font-size: 12px" id="removeValidation" >{{payOutValidation.routingNo}}</span>
                                                  </div>
                                          </div>
                                          <!-- <div class="form-group"  *ngIf="selectedCountry.name =='United States' && selectedCountry.name !=null">
                                              <label>Bank Name</label> 
                                              <input aria-describedby="emailHelp" [(ngModel)]="bankName" name="bankName" class="form-control"    required #bankNameCheck="ngModel">
                                              <div>
                                                  <span style="color: crimson;font-size: 12px" id="removeValidation" >{{payOutValidation.bankName}}</span>
                                              </div>
                                          </div> -->
                                          <div class="form-group" *ngIf="selectedCountry.name =='United States' && selectedCountry.name !=null">
                                                  <label>Account Number</label> 
                                                  <input aria-describedby="emailHelp" [(ngModel)]="accountNumber" name="accountNumber" class="form-control"    required #accountNumberCheck="ngModel">
                                                  <div>
                                                      <span style="color: crimson;font-size: 12px" id="removeValidation" >{{payOutValidation.accountNumber}}</span>
                                                  </div>
                                              </div>  
                                          <div class="form-group" *ngIf="selectedCountry.name =='United States' && selectedCountry.name !=null">
                                              <label>Account Type</label> 
                                              <!-- <input aria-describedby="emailHelp" [(ngModel)]="accountType" name="accountType" class="form-control"    required #accountTypeCheck="ngModel"> -->
                                              <div class="ui-g-12"><p-radioButton name="group1" value="Savings" label="Savings" [(ngModel)]="accountType" inputId="opt1"></p-radioButton></div>
                                              <div class="ui-g-12"><p-radioButton name="group1" value="Checking" label="Checking" [(ngModel)]="accountType" inputId="opt2"></p-radioButton></div>
                                              <div>
                                                  <span style="color: crimson;font-size: 12px" id="removeValidation" >{{payOutValidation.accountType}}</span>
                                              </div>
                                          </div> 
                                           
                                          
                                          <div class="form-group" *ngIf="selectedCountry.name !='United States' && selectedCountry.name !=null">
                                                  <label>Swift Code</label> 
                                                  <input aria-describedby="emailHelp" [(ngModel)]="swiftCode" name="swiftCode" class="form-control"    required #swiftCodeCheck="ngModel" placeholder="BUKBGB22">
                                                  <div>
                                                      <span style="color: crimson;font-size: 12px" id="removeValidation" >{{payOutValidation.swiftCode}}</span>
                                                  </div>
                                          </div>
                                          <div class="form-group" *ngIf="selectedCountry.name !='United States' && selectedCountry.name !=null">
                                                  <label>IBAN</label> 
                                                  <input aria-describedby="emailHelp" [(ngModel)]="IBAN" name="IBAN" class="form-control"    required #IBANCheck="ngModel" placeholder="123456789012">
                                                  <div>
                                                      <span style="color: crimson;font-size: 12px" id="removeValidation" >{{payOutValidation.IBAN}}</span>
                                                  </div>
                                          </div>  
                                      </div>
                                  <div class="modal-footer">
                                      <button type="submit" class="btn btn-danger close-right" *ngIf="selectedCountry !=null">Save</button> 
                                      <!-- <button type="submit"   class="btn btn-danger close"><i *ngIf="loading2" class="fa fa-spinner fa-spin"></i>Close</button> -->    
                                  </div>
                                  </form>  
                                </div>
                              </div>
                             </div>
                  
                              <!-- payout popup  -->
                  
                  
                              <!-- <input type="email" [(ngModel)]="legalName" name="legalName" class="form-control inp"  aria-describedby="emailHelp" placeholder="Nicolas Payne" required #legalnameCheck="ngModel">
                          </div>
                      </div>
                      <div *ngIf="legalnameCheck.invalid && (legalnameCheck.dirty || legalnameCheck.touched  || myForm.submitted)" >
                          <div *ngIf="legalnameCheck.errors.required">
                              <span style="color: crimson;font-size: 12px">Legal Name is required.</span>
                          </div>
                      </div> -->