@import '../../../../node_modules/primeicons/primeicons.css';
@import '../../../../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../../../../node_modules/primeng/resources/primeng.min.css';



app-demo-file-upload {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
}
.card {
  margin: 0 auto;
}
.slimbar-container {
  padding: 5px;
}
.buttonload {
  background-color: #4CAF50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 24px; /* Some padding */
  font-size: 16px; /* Set a font-size */
}

/* Add a right margin to each icon */
.fa {
  margin-left: -12px;
  margin-right: 8px;
}
/* The Modal (background) */
.modelyuorfeed {
  display: none;
  position: fixed;
  z-index: 999;
  padding: 50px 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: 
  rgba(0,0,0,0.9);
}
.feed-pop {
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  background: 
  #fff;
  max-width: 800px;
  margin: auto;
  border-radius: 5px;
}

/* Modal Content (image) */
#myModalImage .modal-content {
  margin: auto;
  display: block;
  width: auto;
  max-width: 800px;
  border: 0;
  background: 
  #fff;
  padding: 12px;
  max-height: 550px;
  height: 550px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color:#242424;
  padding: 8px;
  font-size: 16px;
  background: #fff;
  word-wrap: break-word;
  margin-top: -5px;
 position: relative;
 border-radius: 0 0 .3rem .3rem;
}

/* Add Animation */
.modelyuorfeed .modal-content, #caption {  
  /* -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s; */
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.modelyuorfeed .close {
  position: absolute;
  top: 15px;
  right: 25px;
  color: #f1f1f1;
  font-size: 40px;
  transition: 0.3s;
  opacity: 1;
  font-weight: 500;
}

.modelyuorfeed .close:hover,
.modelyuorfeed .close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.right-bar-content.noti span.feed-load{
font-size: 15px;
color:#fff;
text-transform: uppercase;
display: inline-block;
border-radius: 4px;
padding: 15px 0;
background: #9fdbce;
width: 176px;
text-align: center;
font-weight: 600;
letter-spacing: 2px;
cursor: pointer;
margin-top: 30px;
}
.right-bar-content.noti span.feed-load:hover{color: #212529;}

.ui-state-active::after{display: none;}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 812px){
#myModalImage .feed-pop {max-width: 85%;}
#myModalImage .feed-pop .modal-content {width: 100%;}

}

@media only screen and (max-width: 700px){
  .modelyuorfeed .modal-content {
    width: 100%;
  }
}

@media only screen and (max-width: 414px){
  .modelyuorfeed .modal-content{max-width: 90%;}
  #caption{width: 90%;}
  #myModalImage .feed-pop {max-width: 80%;}
  #myModalImage .feed-pop .modal-content {max-height: 350px;height: 350px;width: 100%;max-width: 100%;}

}


