<app-header></app-header> 
<!-- header part close -->   

<!-- become-model part close --> 
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div style="text-align: center">
          <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
          <h3>{{message.summary}}</h3>
          <p>{{message.detail}}</p>
      </div>
      <div class="ui-g ui-fluid">
          <div class="ui-g-6">
              <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
          </div>
          <div class="ui-g-6">
              <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
          </div>
      </div>
  </ng-template>
</p-toast>
 
<section class="become-model login padding">
  <div class="container">                                                                                        
    <div class="heading">
       <h4><b>Forgot Password</b></h4>
    </div>
      <div class="align">
       <div class="become-a-model becomes">
         <div class="become-form" >
          
          <form #myForm="ngForm" >
            <div class="inner-form" ngForm #newRuleForm="ngForm">  
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control height-control"  name="Password" placeholder="Enter Password"   [(ngModel)]="Password" >
                <span style="color:red">{{myPasswordResponse.response}}</span>
                
              </div>
              <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control height-control"  name="ConfirmPassword" [(ngModel)]="ConfirmPassword"  placeholder="Confirm password">
                <!-- <span style="color:red">{{myPasswordResponse.response}}</span>  -->
              </div>

              <button type="submit" (click)="resetPassword()"  class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" [disabled]="!newRuleForm.valid"><i *ngIf="loading" class="fa fa-spinner fa-spin"></i> Reset password</button>
            </div>
          </form>
        
       </div>
      </div>
    </div>
 </div>
</section>
<!-- become-model part close -->  
<!-- footer part start --> 
<!-- <a data-toggle="modal" data-target="#myModalPasswordReset" (click)="hideErrors()"></a>  -->
<app-footer></app-footer>