<app-header></app-header>
<div class="se-pre-con" *ngIf="loading">
    <div class="sk-chasing-dots">
      <div class="sk-child sk-dot1"></div>
      <div class="sk-child sk-dot2"></div>
    </div>
</div>
<div class="comm-main" *ngIf="!loading">
    <div class="comment-left">
    <img *ngIf="showCcomment[0]['type']==1" src="{{showCcomment['0']['mediaType']}}" alt="img">
    <div *ngIf="showCcomment[0]['type']==2" class="top_dv2">
      <video   controls    style="width:100%" *ngIf="modelData['paid'] =='paid'">
          <source  src="{{showCcomment['0']['mediaType']}}" type="video/mp4">.
        </video>  
        <video style="width:100%"  (click)="payForVideo(modelData['price'])"  *ngIf="modelData['paid'] =='unpaid'">
            <source  src="{{showCcomment['0']['mediaType']}}" type="video/mp4">.
        </video>  
    </div> 
    <div *ngIf="showCcomment[0]['type']==5" class="top_dv2">
        <video   controls    style="width:100%" >
            <source  src="{{showCcomment['0']['mediaType']}}" type="video/mp4">.
          </video>  
      </div> 
	</div>

  <div class="comment-right">
	  <div class="comment-right-top">
	   <div class="comment-right-top-inn">
	    <div _ngcontent-ffy-c1="" class="feed-img"><img _ngcontent-ffy-c1="" alt="feed-img" class="cursor" src="{{modelData['model_image']}}"></div>
		<div _ngcontent-ffy-c1="" class="feed-text"><h5 _ngcontent-ffy-c1="" class="cursor" >{{modelData['model_name']}}</h5><h6 _ngcontent-ffy-c1="">{{showCcomment['0']['uploaded_at']}}</h6></div>
		<button *ngIf="SameModel == 'no' && role != '2'">Subscribed</button>
	  </div>
	  </div>
	  
	  <div class="comm-head">
	    <h3>Comments</h3>
	  </div>
	  
	  <div class="comm-scroll" #scrollMe [scrollTop]="scrollMe.scrollHeight">
		  <div class="chat-right-out"  *ngFor="let d of showCcomment">
	  <div class="setting-right-one" *ngIf="d.comment!=''">
        <div class="box-user-img box-user-images">
          <img src="{{d.user_image}}" alt="img">
           </div>
           <div class="rounded">
            <i class="fas fa-caret-left on-top"></i>
            {{d.comment}} 
            <span class="mess-del"> <i *ngIf = "d.user_id == userId || d.model_id == userId" (click)="deleteComment(d.comment_id)" class="fas fa-trash-alt"></i></span>
           </div>
         </div>
		 </div>
		 </div>
		 <div class="right-comm-btm">
		   <div _ngcontent-ffy-c1="" class="feed-img"><img _ngcontent-ffy-c1="" alt="feed-img" class="cursor" src="{{NameImage}}"></div>
		   <div class="right-comm-input" *ngIf="(showCcomment[0]['type']==2 && modelData['paid'] =='paid') || (showCcomment[0]['type']==1 || showCcomment[0]['type']==5)">
          <input type="text" class="right-comm-btm-input" placeholder="Write a comment..." [(ngModel)]="CommentData" name="CommentData">
          <button [disabled]="!editmode ? 'disabled': null" (click)="postComment()"><i class="fas fa-paper-plane"  ></i></button>
		   </div>
		 </div>
  </div>
 </div>
 <p-toast [style]="{marginTop: '80px'}"></p-toast>
 <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
   <ng-template let-message pTemplate="message">
       <div style="text-align: center">
           <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
           <h3>{{message.summary}}</h3>
           <p>{{message.detail}}</p>
       </div>
       <div class="ui-g ui-fluid">
           <div class="ui-g-6">
               <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
           </div>
           <div class="ui-g-6">
               <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
           </div>
       </div>
   </ng-template>
</p-toast>
<a type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="display: none" id="showModel"></a>
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Buy This Exclusive Content For $ {{PriceVideo}}</h4>
        <button type="button" id ="closeModal" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <button class="btn btn-primary" >Buy</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="modalClose">Close</button>
      </div>
    </div>
  </div>
</div>
<a type="button" class="btn btn-primary" data-toggle="modal" data-target="#load" id="copyModal" style="display: none"></a>
<div class="modal fade" id="load" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Click on text to copy link</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
       <div class="form-group">
         <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="URL" name="URL" disabled (click)="SelectCopy()">
      </div>
      </form>
        </div>
        
      </div>
    </div>
  </div>