<app-header></app-header>
<!-- header part close --> 
<!-- <div class="se-pre-con" *ngIf="isLoading">
		<div class="sk-chasing-dots">
		  <div class="sk-child sk-dot1"></div>
		  <div class="sk-child sk-dot2"></div>
		</div>
</div>   -->
<section class="live-model-main">
    <div class="live-model-content">
        <div class="container-fluid">
            <div class="row">
                <div class="left-bar">
                    <div class="model-name">
                            <h3>{{message}}</h3>
                            <h4 class="cursor" (click)="copyText(currentEmail,mid)" pTooltip="Click to copy" tooltipPosition="top" >{{currentEmail}}{{mid}}<i class="far fa-copy"></i></h4>
                    </div>
                    <ul>
                            <li class="cursor" routerLink="/model-content"><a >Dashboard</a></li> 
                            <li class="cursor" routerLink="/notification-model"><a  >Notifications</a></li>
                            <li class="cursor" routerLink="/model-message"><a >Messages</a></li>    
                            <li class="cursor" routerLink="/availability"><a >Availability</a></li>
                            <li class="cursor " routerLink="/Appointment" ><a >Bookings</a></li>
                            <li class="cursor" routerLink="/subscriber"><a class="active cursor">Subscribers</a></li>
                            <li class="account cursor" data-toggle="collapse" data-target="#demo"><a >Account Settings <i class="fas fa-chevron-down"></i></a></li>
                            <div id="demo" class="collapse">
                              <ul>
                                <!-- <li ><a routerLink="/model-account">Application</a></li> -->
                                <li ><a routerLink="/price">Price</a></li>
                                <li><a routerLink="/profile">Profile</a></li>
                                <li class="cursor"><a data-toggle="modal" data-target="#myModalPasswordReset" (click)="hideErrors()">Change Password</a></li>
                                <li class="cursor"><a    (click)="checkDeactivate()">Deactivate/Delete</a></li>
                                <a  data-toggle="modal" data-target="#deactivate" style="display: none" id="DeactivateDeleteButton">Deactivate/Delete</a>
                                <!-- <a  data-toggle="modal" data-target="#payout" style="display: none" id="PayoutPopup">Deactivate/Delete</a>
                                <li class="cursor"><a (click)="checkpayout()">payout/bank details</a></li> -->
                              </ul>   
                            </div>
                    </ul>
                </div>
                <div class="right-main"> 
                    <div class="right-bar">
                        <div class="min-height">		
                            <div class="right-bar-content noti feed">
								<div class="se-pre-con2" *ngIf="isLoading">
									<div class="sk-chasing-dots" >
										<div class="sk-child sk-dot1"></div>
										<div class="sk-child sk-dot2"></div>
									</div>
								</div> 
								<div class="model-search-top">
                  <h4>Subscribers</h4>
                  		
                </div>  
                <div class="empty-msg" *ngIf = "modelDataFollowing.length == 0 ">
                  <h6>No Subscriber Found</h6>
                </div>   
                                <section class="live-models padd" *ngIf = "modelDataFollowing.length >0 ">
                                 
                                    <div class="subscribe">
                                        <table class="table web-view">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Price</th>
                                                    <th scope="col">Message</th>
                                                    <th scope="col">Block</th>
                                                </tr>
                                            </thead>
                                            <tbody id="post-data">
                                    
                                                <tr class="subs pop"  *ngFor="let d of modelDataFollowing; let i = index">
                                                    <th scope="row">
                                                        <div class="sub-img">
                                                            <img src="{{d.user_Profile}}" alt="sub-img">
                                                        </div>
                                                        <h5 class="name">{{d.user_name}}</h5>
                                                    </th>
                                                    <td>{{d.email}}</td>
                                                    <td>$ {{d.price}}/month</td>
                                                    <td (click)="modelChat(d.user_id,d.user_Profile)"><button>Chat</button></td>
                                                    <td><p-checkbox name="groupname" value="{{d.user_id}}" (onChange) = "checkStatus($event,d.user_id)" [(ngModel)]="blockedUser"></p-checkbox></td>
                                                </tr>
                                
                                    
                                            </tbody>
                                        </table>
                                    
                                        <!-- phone table -->
                                    
                                        <table class="phone-view">
                                            <thead>
                                    
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Email</th>
                                                    <th>Price</th>
                                                    <th>Message</th>
                                                    <th >Block</th>
                                                </tr>
                                            </thead>
                                            <tbody id="post-dataa">
                                                <tr class="subs pop" *ngFor="let d of modelDataFollowing; let i = index">  
                                                    <td>
                                                        <div class="sub-img">
                                                            <img src="{{d.user_Profile}}" alt="sub-img">
                                                        </div>
                                                        <h5 class="name">{{d.user_name}}</h5>
                                                    </td>
                                                    <td>{{d.email}}</td>
                                                    <td>$ {{d.price}}/month</td>
                                                    <td (click)="modelChat(d.user_id,d.user_Profile)"><button>Chat</button></td>
                                                    <td><p-checkbox name="groupname" value="{{d.user_id}}" (onChange) = "checkStatus($event,d.user_id)"  [(ngModel)]="blockedUser"></p-checkbox></td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
 
                                </section>
                            </div>
                        </div>
                        <div class="inner-footer">
                                <h4 class="copy">COPYRIGHT YES PIPER LLC 2020 | ALL RIGHTS RESERVED ©</h4>
                                <ul>
                                  <li><a routerLink="/terms">Terms and conditions</a></li>
                                  <li><a routerLink="/privacy">Privacy Policy</a></li>
                                  <li><a routerLink="/faq" >FAQ's</a></li>
                                  <li><a routerLink="/contact" >Contact Us</a></li>
                                </ul>
                              </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal" id="myModalPasswordReset">
    <div class="modal-dialog change-pass">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Change Your Password Here</h4>
          <button type="button" class="close model-close" id="model-close" data-dismiss="modal">×</button>
        </div>
        <!-- Modal body -->
        <form  name="form" #myForm="ngForm" (ngSubmit)="onSubmitPasswordReset()">
         <div class="modal-body">
           <div class="inner-form inner-forms">  
               <span style="color:red">{{passwordValidation.result}}</span>
             <div class="form-group">
                
               <label>Old Password</label>
               <input type="password" class="form-control height-control" name="name" placeholder="" [(ngModel)]="oldPassword" >
               <span style="color:red">{{passwordValidation.oldpassword}}</span>
             </div>
             <div class="form-group">
               <label>New Password</label>
               <input type="password" class="form-control height-control" name="newPassword" placeholder="" [(ngModel)]="newPassword">
               <span style="color:red">{{passwordValidation.newpassword}}</span>
             </div>
             <div class="form-group">
               <label>Confirm Password</label>
               <input type="password" class="form-control height-control" name="confirmCheck" placeholder="" [(ngModel)]="confirmCheck" >
                 <span style="color:red">{{passwordValidation.confirmPassword}}</span>
             </div>
             </div>
         </div>
         <div class="modal-footer">
             <button type="submit"   class="btn btn-danger close-right"><i *ngIf="loading2" class="fa fa-spinner fa-spin"></i>Update</button>
            <!-- <button type="button" class="btn btn-danger close-right" data-dismiss="modal">Update</button> -->
          </div>
      </form>
        <!-- Modal footer -->
        
        
      </div>
    </div>
   </div>
   <p-toast [style]="{marginTop: '80px'}"></p-toast>
   <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
     <ng-template let-message pTemplate="message">
         <div style="text-align: center">
             <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
             <h3>{{message.summary}}</h3>
             <p>{{message.detail}}</p>
         </div>
         <div class="ui-g ui-fluid">
             <div class="ui-g-6">
                 <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
             </div>
             <div class="ui-g-6">
                 <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
             </div>
         </div>
     </ng-template>
  </p-toast>

<!-- deactivate popup -->

<div class="modal" id="deactivate">
    <div class="modal-dialog change-pass">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Deactivate/Delete Account</h4>
          <button type="button" class="close model-close" id="model-close2" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body">
            <!-- <p>Are you Sure you want to deactivate accouunt?</p> -->
            <button class="dec-btn" *ngIf="activateDeactivate == '0'" data-toggle="modal" data-target="#deactivate-acoount">Deactivate Account</button>
            <button class="dec-btn" *ngIf="activateDeactivate == '1'" data-toggle="modal" data-target="#deactivate-acoount">Activate Account</button>
            <button  data-toggle="modal" data-target="#deactivate-acoount" (click)="delete()">Delete Account</button>
          </div>
          <!-- <div class="modal-footer">
              <button type="submit"   class="btn btn-danger close"><i *ngIf="loading2" class="fa fa-spinner fa-spin"></i>Close</button>
              <button type="button" class="btn btn-danger close-right" data-dismiss="modal">Delete</button> 
           </div>  -->
      </div>
    </div>
   </div>
  
  <!-- deactivate popup -->
  
  <!-- deactivate account popup -->
  
   <div class="modal" id="deactivate-acoount">
    <div class="modal-dialog change-pass">
      <div class="modal-content">
        <!-- Modal Header -->
        <!-- <div class="modal-header">
          <h4 class="modal-title">ssd</h4>
          <button type="button" class="close model-close" id="model-close" data-dismiss="modal">×</button>
        </div> -->
        <div class="modal-body">
            <i class="fas fa-exclamation-triangle"></i>
            <h3>Are you sure?</h3>
            <p *ngIf="activateDeactivate == '0'">You want to deactivate your account!</p>
            <p *ngIf="activateDeactivate == '1'">You want to activate your account!</p>
            <p *ngIf="activateDeactivate == '2'">You want to delete your account!</p>
            <button class="dec-btn" data-dismiss="modal" id="closeDeactivatePopup">No, cancel!</button>
            <button *ngIf="activateDeactivate == '0'" (click)="setDeactivate(1)">Yes</button>
            <button *ngIf="activateDeactivate == '1'" (click)="setDeactivate(0)">Yes</button>
            <button *ngIf="activateDeactivate == '2'" (click)="setDeactivate(2)">Yes</button>
          </div>
      </div>
    </div>
   </div>

   <a data-toggle="modal" data-target="#chat-popup" id="openChatPopup"  style="display:none"></a>
   <div class="modal fade" id="chat-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Live Chat</h5>
          <!--  -->
              <div  class="typing-message" *ngIf="typingStatus">
                <h3 >typing<div class="typing-loader"></div></h3>
            </div>
          <button type="button" class="close" id="msgPopUPClose" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <div class="setting-right">
                      <div class="setting-right-top" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                            <ng-container *ngFor="let post of getchatData ">
                                    <ng-container *ngIf="post.sender != loggedInuser">
                                        <div class="setting-right-one" >
                                            <div class="box-user-img box-user-images">
                                                <img src="{{userImage}}" alt="img">
                                            </div>
                                            <div *ngIf="post.type=='text'" class="rounded">
                                                    <i class="fas fa-caret-left on-top"></i>
                                                    {{post.message}}
                                                </div>
                                                <div *ngIf="post.type=='photo'" class="rounded imagesmessage">
                                                    <i class="fas fa-caret-left on-top"></i>
                                                    <img src="{{post.message}}" width="150px" height="150px">
                                                    <!-- <span class="messageTime">{{convertTime(post.time.seconds)}}</span> -->
                                                </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="post.sender == loggedInuser">
                                        <div class="setting-right-one">
                                            <div class="box-user-img box-user-images setting-right-two">
                                                <img src="{{userProfile}}" alt="img">
                                            </div>
                                            <div  *ngIf="post.type=='text'" class="rounded setting-right-two">
                                                    <i class="fas fa-caret-right on-right"></i>
                                                    {{post.message}}
                                                    <!-- <span class="messageTime">{{convertTime(post.time.seconds)}}</span> -->
                                                </div>
                                                
                                                <div  *ngIf="post.type=='photo'" class="rounded setting-right-two imagesmessage">
                                                    <i class="fas fa-caret-right on-right"></i>
                                                    <img src="{{post.message}}" width="150px" height="150px">
                                                    <!-- <span class="messageTime">{{convertTime(post.time.seconds)}}</span> -->
                                                </div>
                                        </div>
                                    </ng-container>     
                                </ng-container> 
                     </div>
                     <div class="setting-right-bottom">
                            <form name="form" #myForm="ngForm" (ngSubmit)="myForm.form.valid && addPost()" novalidate>
                                    <label>
                                            <input type="file" [(ngModel)]="imageFile" id="file" name="file" accept="image/*" capture="" style="display:none" (change)="readURL($event);">
                                            <div class="image-upload" id="upfile1">
                                                <div class="image-upload1" id="upfile1" style="cursor:pointer">
                                                    <i class="fas fa-paperclip clip"></i>
                                                </div>
                                            </div></label>
                                            <img *ngIf="isUpload == true" id="blah"  [src]="imageSrc" alt="your image" class="uploadIMG">
                                        <!-- <input  type="text" [(ngModel)]="content"  name="content"  class="multitext" placeholder="Type A message here" required #contentCheck="ngModel" *ngIf="isUpload == false"> -->
                                        <!-- <input *ngIf="isUpload == false" [(ngModel)]="content" type="text" class="multitext"  name="namemain" aria-describedby="emailHelp" placeholder="Type A message here" #nameCheck="ngModel"> -->
                                        <input type="text" *ngIf="isUpload == false" [(ngModel)]="content"  class="multitext"    name="namemain" aria-describedby="emailHelp" placeholder="Type A message here" #nameCheck="ngModel">
                                        <!-- <input type="text" *ngIf="isUpload == false" [(ngModel)]="content"  class="multitext"  (ngModelChange)="valuechange()"   name="namemain" aria-describedby="emailHelp" placeholder="Type A message here" #nameCheck="ngModel"> -->

                                        <button type="submit"  [disabled]="!editmode ? 'disabled': null" ><i *ngIf="loading" class="fa fa-spinner fa-spin"></i>Send</button>
                            </form>
                    </div>
      
                  </div>
        </div>
        
      </div>
    </div>
</div>






