@import '../../../../node_modules/primeicons/primeicons.css';
@import '../../../../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../../../../node_modules/primeng/resources/primeng.min.css';


#chat-popup .setting-right-top {
    height: 550px;}

#chat-popup .modal-dialog {
    width: 750px;
    max-width: 750px;
}
/* #chat-popup .modal-dialog {
    top: 8%;
} */
#chat-popup .modal-body {
    padding: 0 !important;
}
#chat-popup .modal-header{
	padding-bottom: 10px;
}

#chat-popup .multitext {
	height: auto;
}

.subscribe .ui-chkbox-icon.ui-clickable.pi.pi-check{
	border-color:#242424;
	background-color:#242424; 
	color: #fff;
	}

.subscribe .ui-state-active::after{display: none;}

.right-bar-content.dashboard.subscribers { 
	margin: 40px 240px;
}

.subscribe {
	background: #ffffff;
    border: 1px solid #f3f3f3;
    width: 100%;
}

.subscribe .table {
	margin-bottom: 0;
}

.subscribe .table .thead-dark th {
	font-size: 15px;
	font-weight: 600;
}

.sub-img {
	width: 35px;
	height: 35px;
	background: #ddd;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
}

.sub-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

h5.name {
	font-size: 15px;
	color: #4d4b4b;
	display: inline-block;
	font-weight: 400;
	vertical-align: top;
	margin: 10px;
}

.subscribe .table td,
.table th {
	vertical-align: middle;
	border: 0;
	padding: 15px;
}

.subscribe .table td {
	font-size: 15px;
	color: #4d4b4b;
}

.subscribe .table td strong {
	color: #242424;
	font-weight: 500;
}

.subscribe tr.bg {
	background: #f5f8f7;
}
.subscribe .table tr {
	/* cursor: pointer; */
}
.subscribe table.phone-view{display:none;} 
tr.subs:nth-child(even) {
    background-color: #f5f8f7;
}

.subscribe .table td button{border: 0;
font-size: 13px;
color:#fff;
font-weight: 500;
display: inline-block;
border-radius: 4px;
background:#9fdbce;
padding: 2px 8px;
}


@media screen and (max-width: 1280px) {
/* .right-bar-content.noti {margin: 30px 80px;} */

}

@media screen and (max-width: 768px) {
.subscribe{overflow: scroll;}
	
}	


 
@media screen and (max-width: 414px) {
.subscribe table.phone-view{display:block;}
td{word-wrap: break-word;}
/*phone table css start*/
table { width: 100%; border-collapse: collapse; }
tr:nth-of-type(odd) { background: #eee; }
th { background: #333; color: white; font-weight: bold; }
td, th { padding: 6px; border: 1px solid #ccc; text-align: left; }
table, thead, tbody, th, td, tr { display: block; }
thead tr { position: absolute;top: -9999px;left: -9999px;}
tr { border: 1px solid #ccc; }
td { border: none;border-bottom: 1px solid #eee; position: relative;padding-left: 40%;word-wrap: break-word; }
td:before { position: absolute;top: 6px;left: 6px;width: 45%; padding-right: 10px; white-space: nowrap;}
td:nth-of-type(1):before { content: "Name";font-weight: 600;top: 15px; }
td:nth-of-type(2):before { content: "Email";font-weight: 600; }
td:nth-of-type(3):before { content: "Price";font-weight: 600; }
td:nth-of-type(4):before { content: "Message";font-weight: 600; }
td:nth-of-type(5):before { content: "Block";font-weight: 600; }
/*phone table css close*/  
.table.web-view {display: none;}
.live-model-content .right-bar{margin-bottom:20px;}
.subscribe table.phone-view td {font-size: 12px;}
.subscribe table.phone-view h5.name {font-size: 13px;}
body .ui-chkbox{position: relative;}
.subscribe table.phone-view td button{border: 0;font-size: 12px;color:#fff;font-weight: 500;display: inline-block;border-radius: 4px;background:#9fdbce;
padding: 2px 8px;}
#chat-popup .modal-dialog {width: 96%;max-width: 100%;}
#chat-popup .multitext {width: 55%;height: 67px;}
.subs.pop{margin-bottom: 20px;}
#chat-popup .setting-right-top {height: 400px;}

}

@media screen and (max-width: 375px) {
.subscribe table.phone-view h5.name {font-size: 11px;}
#chat-popup .multitext {width: 52%;}

}

.model-search-top h4{margin: 0;}