@import '../../../../node_modules/primeicons/primeicons.css';
@import '../../../../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../../../../node_modules/primeng/resources/primeng.min.css';
.buttonload {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 24px; /* Some padding */
    font-size: 16px; /* Set a font-size */
  }
  
  /* Add a right margin to each icon */
  .fa {
    margin-left: -12px;
    margin-right: 8px;
  }

  body .ui-radiobutton .ui-radiobutton-box{
    width: 14px!important;
    height: 14px!important;
    border: 1px solid #242424!important;
  }

  body .ui-radiobutton{
    width: 14px!important;
    height: 14px!important;
  }

  body .ui-radiobutton .ui-radiobutton-box.ui-state-active .ui-radiobutton-icon {
    background-color: #242424!important;
    width: 6px !important;
    height: 6px !important;
    position: absolute;
    left: 8px;
    top: 8px;
}
  body .ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon{
    width: 14px!important;
    height: 14px!important;
  }

  body .ui-radiobutton .ui-radiobutton-box.ui-state-active{
    border-color: #242424!important;
    background-color: #fff!important;
    color: #ffffff;
    width: 14px!important;
    height: 14px!important;
  }
 /*Subscriber modal popup css start*/
#subscriber-modal .modal-header{padding-bottom:10px;}
#subscriber-modal .modal-content{border-radius:10px;}
#subscriber-modal .modal-dialog {max-width: 570px;width:570px;}
#subscriber-modal .modal-header h5{font-size:27px;color:#242424;}
#subscriber-modal .model-subscribe{background:#9fdbce;text-align:center;border-radius:6px;overflow:hidden;}
#subscriber-modal .model-subscribe h3{font-size:28px;color:#fff;font-weight:500;padding-top:20px;}
#subscriber-modal .modal-body{padding:25px;}
#subscriber-modal .modal-header .close {padding: 22px;}
#subscriber-modal .model-subscribe.subscr{background:#9fdbce;}
#subscriber-modal .modal-footer .btn{margin:30px auto 0;font-size:16px;color:#fff;background:#9fdbce;border-radius:4px;text-transform:uppercase;font-weight:500;padding:12px 35px;}
#subscriber-modal .modal-footer .btn:hover{color:#212529;}
.model-subscribe.active span{display:block;}
.model-subscribe span {position: absolute;top: -8px;right: 8px;display:none;}
#subscriber-modal input[type="checkbox"], .step2-one input[type="radio"] {display: none;}
#subscriber-modal .model-subscribe.active{background:#f05742;}
#subscriber-modal label{margin-bottom:0;width:100%;height:100%;padding:30px 0;}
#subscriber-modal .model-subscribe input[type=radio]{display:none;}
 
#subscriber-modal .model-subscribe input[type=radio]:checked + label {
background:#f05742;
} 
#subscriber-modal .model-subscribe input[type=radio]:checked + label span {
	display:block
} 

@media screen and (max-width: 414px) {
  
  #subscriber-modal .modal-dialog{width:95%;}
  #subscriber-modal .modal-dialog .col-sm-6{width: 50%;}
  #subscriber-modal .modal-body {padding: 15px;}
  #subscriber-modal .model-subscribe{padding:20px 0;}
  #subscriber-modal .model-subscribe h3 {font-size: 22px;}
  #subscriber-modal .modal-footer .btn {margin: 22px auto 0;}
  /*Subscriber modal popup media css*/
  
  }
  @media screen and (max-width: 320px) {

    /*Subscriber modal popup media css*/
    #subscriber-modal .model-subscribe{margin-bottom:20px;}
    #subscriber-modal .modal-dialog .col-sm-6{width: 100%;}
    #subscriber-modal .modal-body {padding: 15px;}
    #subscriber-modal .model-subscribe{padding:20px 0;}
    #subscriber-modal .model-subscribe h3 {font-size: 22px;}
    #subscriber-modal .modal-footer .btn {margin: 22px auto 0;}
    /*Subscriber modal popup media css*/
    
    }
/*Subscriber modal popup css close*/
