<app-header></app-header> 
<div class="se-pre-con" *ngIf="isLoading">
    <div class="sk-chasing-dots">
      <div class="sk-child sk-dot1"></div>
      <div class="sk-child sk-dot2"></div>
    </div>
  </div>
<section class="become-model padding">
    <div class="container">                                                                                        
      <div class="heading">
         <h4 *ngIf="user"><b>Join</b> Now</h4>
         <h4 *ngIf="model"><b>Become a</b> Model</h4>
      </div>

      <a class="active" id="signupSubscriberModel" style="display: none;" data-toggle="modal" data-target="#subscriber-modal">Become a Model</a>

      <p-toast [style]="{marginTop: '80px'}"></p-toast>
      <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
            <div style="text-align: center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                <h3>{{message.summary}}</h3>
                <p>{{message.detail}}</p>
            </div>
            <div class="ui-g ui-fluid">
                <div class="ui-g-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
                </div>
                <div class="ui-g-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
                </div>
            </div>
        </ng-template>
    </p-toast>



        <div class="align">
         <div class="become-a-model">
             <div class="become-form">
                <div *ngIf="show">
                  <h2>Subscription Benefits:</h2>
                  <!-- <p><i class="fas fa-check-circle"></i> Full access to model's exclusive content</p> -->
                  <p><i class="fas fa-check-circle"></i>Join Models LIVE video chat</p>
                  <p><i class="fas fa-check-circle"></i> Access to models exclusive content wall</p>
                  <p><i class="fas fa-check-circle"></i> Book Private Video sessions with models</p>
                  <p><i class="fas fa-check-circle"></i> Direct messages with model</p>
                  <!-- <p><i class="fas fa-check-circle"></i> Content not deleted like snaps</p> -->
                  <p><i class="fas fa-check-circle"></i> Cancel your subscription at any time</p>
                </div>
                <!-- <span style="color:red">{{validation.emailtaken}}</span> -->
                <span style="color:red">{{validation_top.message}}</span>
            <div class="inner-form"> 
              <form #myForm="ngForm" (ngSubmit)="RegisterUser()"> 
                <div class="form-group">
                  <label>{{label.name}}</label>
                  <input type="text" class="form-control height-control" name="name" placeholder="Enter Your Name" (blur)="CheckName()" [(ngModel)]="name" autocomplete="off" required>
                  <span style="color:red">{{validation.name}}</span>
                </div>
                <div class="form-group">
                  <label>{{label.email}}</label>
                  <input type="text" class="form-control height-control" name="email" placeholder="Enter Your email" (blur)="CheckEmail()" [(ngModel)]="email" autocomplete="off" required>
                  <span style="color:red">{{validation.email}}</span>
                </div>
                <div class="form-group">
                  <label>{{label.password}}</label>
                  <input type="{{typePassword}}" class="form-control height-control contrl1" name="password" placeholder="Enter Password" (blur)="CheckPassword()" [(ngModel)]="password" autocomplete="off" required><i  (click)="PasswordCheck()" *ngIf="check" class="far fa-eye"></i><i  *ngIf="!check" (click)="PasswordHide()" class="fas fa-eye-slash"></i>
                  <span style="color:red">{{validation.password}}</span>
                </div>
                <div class="form-group">
                    <label>{{label.passwordConfirm}}</label>
                    <input type="{{typePasswordConfirm}}" class="form-control height-control contrl1" name="password" placeholder="Confirm Password" (blur)="CheckPasswordConfirm()" [(ngModel)]="PasswordConfirm" autocomplete="off" required><i (click)="PasswordConfirmCheck()" *ngIf="ConfirmCheck" class="far fa-eye"></i><i  *ngIf="!ConfirmCheck" (click)="ConfirmPasswordHide()" class="fas fa-eye-slash"></i>
                    <span style="color:red">{{validation.passwordConfirm}}</span>
                  </div>
                <div class="form-group join">
                  <!-- <label>Join As:</label>
                  <label class="fan"> -->
                    <!-- {{joinASa}} -->
                    <!-- <input type="radio"  name="radio" [(ngModel)]="joinASa" value="1" checked="checked" (click)="netChange(1)" [checked]="i === 0 ? true : false"> -->
                    <!-- <p-radioButton name="radio" value="1" [(ngModel)]="joinASa" (click)="netChange(1)"></p-radioButton>
                    <span class=""></span><h4>Subscribers</h4>
                  </label>
                  <label class="fan-model"> -->
                    <!-- <input  name="radio" [(ngModel)]="joinASa" value="2" (click)="netChange(2)"> -->
                    <!-- <p-radioButton name="radio" value="2" [(ngModel)]="joinASa" (click)="netChange(2)"></p-radioButton>
                  <span class=""></span><h4>A Model</h4>
                </label> -->
                <!-- <span style="color:red">{{validation.type}}</span> -->
                <!-- <button class="">Join</button> -->
                <button type="submit"   class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"><i *ngIf="loading" class="fa fa-spinner fa-spin"></i> Join</button>
                <div class="already1">
                  Already have an account?<a routerLink="/login">Log in</a>
                </div>
                  <!-- <div class="already1 already2">
                  Are you a Model?<a (click)="netChange(2)">Apply as Model</a>
                </div> -->
            </div>
          </form>
         </div>
        </div>
      </div>
   </div>
   </div>
  </section>
 <!-- Subscriber model popup -->  
 <div class="modal fade" id="subscriber-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="joinASa == '1'" class="modal-title" id="exampleModalCenterTitle">Subscriber</h5>
        <h5 *ngIf="joinASa == '2'" class="modal-title" id="exampleModalCenterTitle">Model</h5>
        <button type="button" style="display: none;" id="closeChooseModel" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
		  <div class="col-sm-6">
		    <div class="model-subscribe " id="model-side">
			<input (change)="chekWhattobecome()" [(ngModel)]="joinASa" value="2" type="radio" name="choice" id="cb1" /><label for="cb1">
			  <img src="assets/images/subs-model-img1.png" alt="icon">
			   <h3>Model </h3>
			   <span><img src="assets/images/subs-check.png" alt="check"></span>
			   </label>
			</div>
		  </div>
		  <div class="col-sm-6">
		    <div class="model-subscribe " id="user-side">
			<input checked (change)="chekWhattobecome()" [(ngModel)]="joinASa" value="1" type="radio" name="choice" id="cb2" /><label for="cb2">
			  <img src="assets/images/subs-model-img2.png" alt="icon">
			   <h3>Subscriber</h3>
			    <span><img src="assets/images/subs-check.png" alt="check"></span>
			   </label>
			</div>
		  </div>
		  
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="FInalChoose()" class="btn">join now</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer> 
