@import '../../../../node_modules/primeicons/primeicons.css';
@import '../../../../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../../../../node_modules/primeng/resources/primeng.min.css';

.right-bar-content.noti.avalibalty {padding: 30px;border-radius:0;background:none;}
.avalibalty1{background: #ffffff;border: 1px solid #f3f3f3;padding: 10px 0;position: relative;margin-bottom:25px;}
.avalibalty1:before{width: 4px;background: #f05742;content: "";height: 100%;left: 20px;position: absolute;left: 0;top: 0;}
.avalibalty1-left{display: inline-block;text-align: center;border-right:1px solid #ccc7c7;padding: 0 32px;}
.avalibalty1-left h3{font-size:32px;color:#848282;font-weight:600;text-transform:uppercase;}
.avalibalty1-left h5{font-size:15px;color:#929090;font-weight:500;text-transform:uppercase;}
.avalibalty1-mid{display:inline-block;vertical-align:top;}
.avalibalty1-mid h3{font-size:20px;color:#848282;padding: 17px 20px;font-weight:400;}
.avalibalty1-icon {position: absolute;position: absolute;right: 10px;bottom: 10px;}
.avalibalty1-icon ul{display:inline-block;}
.avalibalty1-icon ul li{display:inline-block;margin-left: 12px;}
.avalibalty1-icon li a{font-size:18px;color:#807777;}
.avalibalty1-icon li a.del {color: #f34e4e;}
.avalibalty1 span.online{width:12px;height:12px;background:#46a82d;border-radius:50px;display: block;position: absolute;top: 10px;right: 10px;}
 
/* add availibilty popup css close*/

/* availibilty css start*/

/* .live-models .ui-datepicker-calendar::after {background: #ddd;content: "";width: 100%;height: 100%;display: block;position: absolute;top: 35px;opacity: 0;} */

/* .ui-state-default.ui-state-disabled.ng-tns-c3-0.ui-state-highlight.ng-star-inserted {
    background: #fff;
    border: #fff !important;
    color: #7c7a7a;
} */
/* .ui-state-active::after {
    content: "";
    width: 4px;
    height: 4px;
    background: #f05742;
    display: block;
    border-radius: 20px;
}
 */

 .ui-datepicker-current-day .ui-state-active{background: #f05742!important;}
 .ui-state-active .ui-state-highlight{color: #000!important;}
 /* .ui-state-active::after{ content: "";width: 4px;height: 4px;background: #f05742 !important;display: block;border-radius: 20px;} */
.ui-datepicker-current-day .ui-state-active {background: #fff !important;color: #000 !important;}
.ng-star-inserted.ui-state-active::after{content: ""!important;width: 4px!important;height: 4px!important;background: #f05742 !important;display: block!important;border-radius: 20px!important;
position: relative!important;top: -4px!important;}
#add-availibilty .ng-star-inserted.ui-state-active::after{display: none !important;}
#add-content .ng-star-inserted.ui-state-active::after{display: none !important;}
.avail-calendar-parent .ui-datepicker-today a{background: #fff !important;border: 1px solid #000;border-radius:30px; background-color: #fff;border: 1px solid #f05742;
float: none;margin: 0 auto !important;width: 55px;height: 55px;display: inline-block;line-height: 50px;padding: 0;border-radius: 30px;}
.live-models .ui-datepicker-calendar::after {background: #ddd;content: "";width: 100%;height: 100%;display: block;position: absolute;top: 35px;opacity: 0;}
.avalibalty1-icon a {background: none;cursor: pointer;text-transform: uppercase;
font-size: inherit;font-weight: inherit;padding: 0;color: #848282 !important;border-radius: 0;
}

.avalibalty1-icon i.far.fa-trash-alt {font-size: 18px;color:red;}
.avalibalty1-icon .fas.fa-pencil-alt{font-size: 18px;color:#848282;position: relative;background: none;}


@media screen and (max-width: 1366px) { 
.right-bar-content.noti .avalibalty1-left h3{font-size: 25px;}
.avalibalty1-left h5 {font-size: 14px;}
.right-bar-content.noti .avalibalty1-mid h3{padding: 12px 20px;font-size: 17px;}

}

@media screen and (max-width: 414px) { 
.right-bar-content.noti {margin: 10px;}
.live-models.padd.avail-calendar-parent {padding: 5px;}

}

@media screen and (max-width: 414px) { 
.live-models.padd.avail-calendar-parent {padding: 0;}
    
}