<app-header></app-header>

<section class="live-model-main" >
        <div class="live-model-content">
          <div class="container-fluid">
            <div class="row">
              <div class="left-bar">
                <div class="model-name">
                  <h3>{{messages}}</h3>
                  <h4 class="cursor" (click)="copyText(currentEmail,mid)" pTooltip="Click to copy" tooltipPosition="top" >{{currentEmail}}{{mid}} <i class="far fa-copy"></i></h4>
                </div>
                <ul>
                  <li class="cursor" routerLink="/model-content"><a>Dashboard</a></li> 
                  <li class="cursor" routerLink="/notification-model"><a>Notifications</a></li>
                  <li class="cursor" routerLink="/model-message"><a >Messages</a></li>    
                  <li class="cursor" routerLink="/availability" class="active cursor"><a >Availability</a></li>
                  <li class="cursor " routerLink="/Appointment" ><a >Bookings</a></li>
                  <li class="cursor" routerLink="/subscriber"><a >Subscribers</a></li>
                    <li class=" account cursor" data-toggle="collapse" data-target="#demo"><a >Account Settings <i class="fas fa-chevron-down"></i></a></li>
                        <div id="demo" class="collapse">
                          <ul>
                            <li ><a routerLink="/model-account">Application</a></li>
                            <li ><a routerLink="/price">Price</a></li>
                            <li><a routerLink="/profile">Profile</a></li>
                            <li class="cursor"><a data-toggle="modal" data-target="#myModalPasswordReset" (click)="hideErrors()">Change Password</a></li>
                            <li class="cursor"><a    (click)="checkDeactivate()">Deactivate/Delete</a></li>
                            <a  data-toggle="modal" data-target="#deactivate" style="display: none" id="DeactivateDeleteButton">Deactivate/Delete</a>
                            <!-- <a  data-toggle="modal" data-target="#payout" style="display: none" id="PayoutPopup">Deactivate/Delete</a>
                            <li class="cursor"><a (click)="checkpayout()">payout/bank details</a></li> -->
                          </ul>   
                        </div>
                </ul>
              </div>
              <div class="se-pre-con2" *ngIf="isLoading2">
                  <div class="sk-chasing-dots" >
                      <div class="sk-child sk-dot1"></div>
                      <div class="sk-child sk-dot2"></div>
                  </div>
              </div> 
              <div class="right-main" *ngIf="isloading"> 
                <div class="right-bar">
                  <div class="min-height">
                    <div class="right-bar-content noti"> 
                            <div class="model-gallery-top">
                           
                            <button (click)="opneModal('create')"  class="add-aval"><i class="fas fa-plus-circle"></i></button>
                            <a  id="modalOpen" data-toggle="modal" data-target="#add-availibilty"></a>
                            
                            
                            </div>  
                      <section class="live-models padd avail-calendar-parent">
                    
                        <p-calendar [(ngModel)]="dates" name="dates" selectionMode="multiple" [readonlyInput]="true" [inline]="true" (onMonthChange)="monthChange($event.month,$event.year)"></p-calendar>
                        
                        <div > 
                            <div class="row">
                              <div class="col-sm-6" *ngFor="let d of calendar; let i = index">
                              <div class="avalibalty1">
                                <div class="avalibalty1-left">
                                <h3>{{convertDateUtc(d.rawtime1,'day')}}</h3>
                                <h5>{{convertDateUtc(d.rawtime1,'weekday')}}</h5>
                              </div>
                              <div class="avalibalty1-mid">
                                <h3>{{convertDateUtc(d.rawtime1,'start_time')}} - {{convertDateUtc(d.rawtime2,'end_time')}}</h3>
                              </div>
                              <span class="online"></span>
                              <div class="avalibalty1-icon">
                                <ul>
                                  <li><a ><i (click)="editAvailability(d.id,d.rawtime1,d.rawtime2,d.rawtime1)" class="del cursor" class="fas fa-pencil-alt"></i></a></li>
                                  <li><a (click)="deleteAvailability(d.id)" class="del cursor"><i class="far fa-trash-alt"></i></a></li>
                                </ul>
                              </div>
                              </div>
                            </div>
                            </div>
                          </div> 
                      </section>
                    </div>
                  </div>
              </div>      
              <div class="inner-footer">
                  <h4 class="copy">COPYRIGHT YES PIPER LLC 2020 | ALL RIGHTS RESERVED ©</h4>
                  <ul>
                    <li><a routerLink="/terms">Terms and conditions</a></li>
                    <li><a routerLink="/privacy">Privacy Policy</a></li>
                    <li><a routerLink="/faq" >FAQ's</a></li>
                    <li><a routerLink="/contact" >Contact Us</a></li>
                  </ul>
                </div>

            </div></div></div></div>
              <div class="modal fade" id="add-availibilty" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Specify your availibilty</h5>
                          <button type="button" class="close" id="closeModal" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                        
                        <div class="add-con-inn">
                         <div class="row">
                           <div class="col-sm-3">
                             <div class="model-label">
                               <label>Date :</label>
                             </div>
                           </div>
                           <div class="col-sm-9">
                             <div class="gj-datepicker">
                                <p-calendar  [(ngModel)]="date1" name ="date1" [minDate]="dateTime" class="form-control" (onSelect)="getdate1();" placeholder="Select Date" > </p-calendar>
                           </div>
                          <span *ngIf="date1Error" style="color:red;font-size: 12px;">Please Select Date</span>
                          </div>
                           </div>
                         </div>
                         
                          <div class="add-con-inn">
                         <div class="row">
                           <div class="col-sm-3">
                             <div class="model-label">
                               <label>Time:</label>
                             </div>
                           </div>
                           <div class="col-sm-9">
                             <div class="row">
                              <div class="col-sm-12">
                               <div class="date-fld">
                                    <!-- <ngb-timepicker [(ngModel)]="time" [meridian]="meridian"></ngb-timepicker> -->
                                    <p-calendar [(ngModel)]="time" name ="time" [timeOnly]="true" class="form-control" placeholder="From"></p-calendar>
                                    <span *ngIf="timeError" style="color:red;font-size: 12px;">Please Select Time</span>
                                </div>
                                <h5 class="to"></h5>
                               <div class="date-fld right">
                                     <p-calendar [(ngModel)]="time2"  name ="time2" [timeOnly]="true" class="form-control" placeholder="To"></p-calendar>
                                     <span *ngIf="time2Error" style="color:red;font-size: 12px;">Please Select Time</span>
                                    <!-- <ngb-timepicker [(ngModel)]="time2" [meridian]="meridian"></ngb-timepicker> -->
                                </div>
                             </div>
                             </div>
                           </div>
                           </div>
                         </div>
                         <!-- <div class="add-con-inn avali">
                         <div class="row">
                           <div class="col-sm-3">
                             <div class="model-label">
                               <label>Availability:</label>
                             </div>
                           </div>
                           <div class="col-sm-9">
                            <label class="teaser"><input type="radio" checked="checked" name="radio">
                             <span class="checkmark"></span>Yes
                            </label>
                            <label class="full"><input type="radio" checked="checked" name="radio">
                             <span class="checkmark"></span>No
                            </label>
                           </div>
                         </div>
                         </div> -->
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary close" data-dismiss="modal">close</button>
                          <button type="button" *ngIf="create" [disabled]="loading ? 'disabled': null"  class="btn btn-primary" (click)="SaveData()"><i  *ngIf="loading" class="fa fa-spinner fa-spin"></i>submit</button>
                          <button type="button" *ngIf="!create"[disabled]="loading ? 'disabled': null"  class="btn btn-primary" (click)="UpdateData()"><i  *ngIf="loading" class="fa fa-spinner fa-spin"></i>submit</button>

                        </div>
                      </div>
                    </div>
                  </div>
                  
                  
<!-- <button class="changing" data-toggle="modal" data-target="#myModalPasswordReset" (click)="hideErrors()">CHANGE PASSWORD</button> -->
<div class="modal" id="myModalPasswordReset">
  <div class="modal-dialog change-pass">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Change Your Password Here</h4>
        <button type="button" class="close model-close" id="model-close" data-dismiss="modal">×</button>
      </div>
      <!-- Modal body -->
      <form  name="form" #myForm="ngForm" (ngSubmit)="onSubmitPasswordReset()">
       <div class="modal-body">
         <div class="inner-form inner-forms">  
             <span style="color:red" id="oldPasswordField">{{passwordValidation.result}}</span>
           <div class="form-group">
              
             <label>Old Password</label>
             <input type="password" class="form-control height-control" name="name" placeholder="" [(ngModel)]="oldPassword" >
             <span style="color:red">{{passwordValidation.oldpassword}}</span>
           </div>
           <div class="form-group">
             <label>New Password</label>
             <input type="password" class="form-control height-control" name="newPassword" placeholder="" [(ngModel)]="newPassword">
             <span style="color:red">{{passwordValidation.newpassword}}</span>
           </div>
           <div class="form-group">
             <label>Confirm Password</label>
             <input type="password" class="form-control height-control" name="confirmCheck" placeholder="" [(ngModel)]="confirmCheck" >
               <span style="color:red">{{passwordValidation.confirmPassword}}</span>
           </div>
           </div>
       </div>
       <div class="modal-footer">
           <button type="submit"   class="btn btn-danger close-right"><i *ngIf="loading2" class="fa fa-spinner fa-spin"></i>Update</button>
          <!-- <button type="button" class="btn btn-danger close-right" data-dismiss="modal">Update</button> -->
        </div>
    </form>
      <!-- Modal footer -->
      
      
    </div>
  </div>
 </div>
 <p-toast [style]="{marginTop: '80px'}"></p-toast>
 <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
   <ng-template let-message pTemplate="message">
       <div style="text-align: center">
           <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
           <h3>{{message.summary}}</h3>
           <p>{{message.detail}}</p>
       </div>
       <div class="ui-g ui-fluid">
           <div class="ui-g-6">
               <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
           </div>
           <div class="ui-g-6">
               <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
           </div>
       </div>
   </ng-template>
</p-toast>

 <!-- deactivate popup -->

 <div class="modal" id="deactivate">
  <div class="modal-dialog change-pass">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Deactivate/Delete Account</h4>
        <button type="button" class="close model-close" id="model-close2" data-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
          <!-- <p>Are you Sure you want to deactivate accouunt?</p> -->
          <button class="dec-btn" *ngIf="activateDeactivate == '0'" data-toggle="modal" data-target="#deactivate-acoount">Deactivate Account</button>
          <button class="dec-btn" *ngIf="activateDeactivate == '1'" data-toggle="modal" data-target="#deactivate-acoount">Activate Account</button>
          <button  data-toggle="modal" data-target="#deactivate-acoount" (click)="delete()">Delete Account</button>
        </div>
        <!-- <div class="modal-footer">
            <button type="submit"   class="btn btn-danger close"><i *ngIf="loading2" class="fa fa-spinner fa-spin"></i>Close</button>
            <button type="button" class="btn btn-danger close-right" data-dismiss="modal">Delete</button> 
         </div>  -->
    </div>
  </div>
 </div>

<!-- deactivate popup -->

<!-- deactivate account popup -->

 <div class="modal" id="deactivate-acoount">
  <div class="modal-dialog change-pass">
    <div class="modal-content">
      <!-- Modal Header -->
      <!-- <div class="modal-header">
        <h4 class="modal-title">ssd</h4>
        <button type="button" class="close model-close" id="model-close" data-dismiss="modal">×</button>
      </div> -->
      <div class="modal-body">
          <i class="fas fa-exclamation-triangle"></i>
          <h3>Are you sure?</h3>
          <p *ngIf="activateDeactivate == '0'">You want to deactivate your account!</p>
          <p *ngIf="activateDeactivate == '1'">You want to activate your account!</p>
          <p *ngIf="activateDeactivate == '2'">You want to delete your account!</p>
          <button class="dec-btn" data-dismiss="modal" id="closeDeactivatePopup">No, cancel!</button>
          <button *ngIf="activateDeactivate == '0'" (click)="setDeactivate(1)">Yes</button>
          <button *ngIf="activateDeactivate == '1'" (click)="setDeactivate(0)">Yes</button>
          <button *ngIf="activateDeactivate == '2'" (click)="setDeactivate(2)">Yes</button>
        </div>
    </div>
  </div>
 </div>

  <!-- deactivate account popup -->



                             <!-- payout popup  -->
                             <div class="modal" id="payout">
                              <div class="modal-dialog change-pass">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h4 class="modal-title">Payout/bank details</h4>
                                    <button type="button" class="close model-close" id="model-closepayout" data-dismiss="modal">×</button>
                                  </div> 
                                  <form name="form" #myFormPay="ngForm"   >
                                      <div class="modal-body">
                                          <div class="form-group">
                                              <label>Bank account country</label>
                                              <p-dropdown [options]="country" [(ngModel)]="selectedCountry" name="selectedCountry" class="form-control" placeholder="Select a Country" optionLabel="name" ></p-dropdown>
                                               <!-- <p>Selected City: {{selectedCountry ? selectedCountry.name : 'none'}}</p>   -->
                                          </div>
                                          <!-- <div class="form-group" *ngIf="selectedCountry.name =='United States' && selectedCountry.name !=null">
                                              <label>Name</label> 
                                              <input aria-describedby="emailHelp" [(ngModel)]="NamePayout" name="NamePayout" class="form-control"    required #NamePayoutCheck="ngModel" >
                                              <div>
                                                  <span style="color: crimson;font-size: 12px" id="removeValidation" >{{payOutValidation.NamePayout}}</span> 
                                              </div>
                                          </div>  -->
                                          <div class="form-group" *ngIf="selectedCountry.name=='United States' && selectedCountry.name !=null">
                                                  <label>Routing Number</label> 
                                                  <input aria-describedby="emailHelp"[(ngModel)]="routingNo" name="routingNo" class="form-control" required #routingNoCheck="ngModel">
                                                  <div>
                                                      <span style="color: crimson;font-size: 12px" id="removeValidation" >{{payOutValidation.routingNo}}</span>
                                                  </div>
                                          </div>
                                          <!-- <div class="form-group"  *ngIf="selectedCountry.name =='United States' && selectedCountry.name !=null">
                                              <label>Bank Name</label> 
                                              <input aria-describedby="emailHelp" [(ngModel)]="bankName" name="bankName" class="form-control"    required #bankNameCheck="ngModel">
                                              <div>
                                                  <span style="color: crimson;font-size: 12px" id="removeValidation" >{{payOutValidation.bankName}}</span>
                                              </div>
                                          </div> -->
                                          <div class="form-group" *ngIf="selectedCountry.name =='United States' && selectedCountry.name !=null">
                                                  <label>Account Number</label> 
                                                  <input aria-describedby="emailHelp" [(ngModel)]="accountNumber" name="accountNumber" class="form-control"    required #accountNumberCheck="ngModel">
                                                  <div>
                                                      <span style="color: crimson;font-size: 12px" id="removeValidation" >{{payOutValidation.accountNumber}}</span>
                                                  </div>
                                              </div>  
                                          <div class="form-group" *ngIf="selectedCountry.name =='United States' && selectedCountry.name !=null">
                                              <label>Account Type</label> 
                                              <!-- <input aria-describedby="emailHelp" [(ngModel)]="accountType" name="accountType" class="form-control"    required #accountTypeCheck="ngModel"> -->
                                              <div class="ui-g-12"><p-radioButton name="group1" value="Savings" label="Savings" [(ngModel)]="accountType" inputId="opt1"></p-radioButton></div>
                                              <div class="ui-g-12"><p-radioButton name="group1" value="Checking" label="Checking" [(ngModel)]="accountType" inputId="opt2"></p-radioButton></div>
                                              <div>
                                                  <span style="color: crimson;font-size: 12px" id="removeValidation" >{{payOutValidation.accountType}}</span>
                                              </div>
                                          </div> 
                                           
                                          
                                          <div class="form-group" *ngIf="selectedCountry.name !='United States' && selectedCountry.name !=null">
                                                  <label>Swift Code</label> 
                                                  <input aria-describedby="emailHelp" [(ngModel)]="swiftCode" name="swiftCode" class="form-control"    required #swiftCodeCheck="ngModel" placeholder="BUKBGB22">
                                                  <div>
                                                      <span style="color: crimson;font-size: 12px" id="removeValidation" >{{payOutValidation.swiftCode}}</span>
                                                  </div>
                                          </div>
                                          <div class="form-group" *ngIf="selectedCountry.name !='United States' && selectedCountry.name !=null">
                                                  <label>IBAN</label> 
                                                  <input aria-describedby="emailHelp" [(ngModel)]="IBAN" name="IBAN" class="form-control"    required #IBANCheck="ngModel" placeholder="123456789012">
                                                  <div>
                                                      <span style="color: crimson;font-size: 12px" id="removeValidation" >{{payOutValidation.IBAN}}</span>
                                                  </div>
                                          </div>  
                                      </div>
                                  <div class="modal-footer">
                                      <button type="submit" class="btn btn-danger close-right" *ngIf="selectedCountry !=null">Save</button> 
                                      <!-- <button type="submit"   class="btn btn-danger close"><i *ngIf="loading2" class="fa fa-spinner fa-spin"></i>Close</button> -->    
                                  </div>
                                  </form>  
                                </div>
                              </div>
                             </div>
                  
                              <!-- payout popup  -->
                  
                  
                              <!-- <input type="email" [(ngModel)]="legalName" name="legalName" class="form-control inp"  aria-describedby="emailHelp" placeholder="Nicolas Payne" required #legalnameCheck="ngModel">
                          </div>
                      </div>
                      <div *ngIf="legalnameCheck.invalid && (legalnameCheck.dirty || legalnameCheck.touched  || myForm.submitted)" >
                          <div *ngIf="legalnameCheck.errors.required">
                              <span style="color: crimson;font-size: 12px">Legal Name is required.</span>
                          </div>
                      </div> -->