<app-header></app-header>
<section class="live-model-main">
    <div class="live-model-content">
        <div class="container-fluid">
            <div class="row">
                <div class="left-bar">
                    <div class="model-name">
                            <h3>{{message}}</h3>
                            <h4 class="cursor" (click)="copyText(currentEmail,mid)" pTooltip="Click to copy" tooltipPosition="top" >{{currentEmail}}{{mid}}<i class="far fa-copy"></i></h4>
                    </div>
                    <ul>
                            <li class="cursor" routerLink="/model-content"><a >Dashboard</a></li> 
                            <li class="cursor" routerLink="/notification-model"><a  >Notifications</a></li>
                            <li class="cursor" routerLink="/model-message"><a >Messages</a></li>    
                            <li class="cursor" routerLink="/availability"><a >Availability</a></li>
                            <li class="cursor " routerLink="/Appointment" ><a >Bookings</a></li>
                            <li class="cursor" routerLink="/subscriber"><a class="active cursor">Subscribers</a></li>
                            <li class="account cursor" data-toggle="collapse" data-target="#demo"><a >Account Settings <i class="fas fa-chevron-down"></i></a></li>
                            <div id="demo" class="collapse">
                              <ul>
                                <!-- <li ><a routerLink="/model-account">Application</a></li> -->
                                <li ><a routerLink="/price">Price</a></li>
                                <li><a routerLink="/profile">Profile</a></li>
                                <li class="cursor"><a data-toggle="modal" data-target="#myModalPasswordReset" (click)="hideErrors()">Change Password</a></li>
                                <li class="cursor"><a    (click)="checkDeactivate()">Deactivate/Delete</a></li>
                                <a  data-toggle="modal" data-target="#deactivate" style="display: none" id="DeactivateDeleteButton">Deactivate/Delete</a>
                                <!-- <a  data-toggle="modal" data-target="#payout" style="display: none" id="PayoutPopup">Deactivate/Delete</a>
                                <li class="cursor"><a (click)="checkpayout()">payout/bank details</a></li> -->
                              </ul>   
                            </div>
                    </ul>
                </div>
            <div class="right-main"> 
                <div class="right-bar">
                    <div class="min-height">
                        <div class="tab-main noti">
                                <div class="se-pre-con2" *ngIf="isLoading">
                                        <div class="sk-chasing-dots" >
                                            <div class="sk-child sk-dot1"></div>
                                            <div class="sk-child sk-dot2"></div>
                                        </div>
                                    </div>
                            <div class="right-bar-content mar-0 profile-over"> 
                                <div class="row">
                                    <div class="col-md-12 pr-0">
                                        <div class="tab-content ur_pro">
                                            <div _ngcontent-jpn-c9="" class="mint-top-img"><img _ngcontent-jpn-c9="" [src]="imageSrc2" src="{{modelCover}}">
                                                <span (click)="changeCoverPic()">
                                                    <i class="fas fa-pencil-alt cursor"></i>
                                            </span>
                                            </div>
                                           
                                            <div class="picture1">
                                                    <input accept="image/png,image/jpeg" capture="" id="file2" name="file2" style="display:none" type="file" (change)="coverPIcChange2($event)">
                                                </div>
                                                <div class="pro-data">
                                                    <label class="cursor">
                                                        <input accept="image/png,image/jpeg" capture="" id="file" name="file" style="display:none" type="file" (change)="profilePIcChange($event)">
                                                        <div class="image-upload" id="upfile1">
                                                            <div class="image-upload1" id="upfile1" style="cursor:pointer">
                                                            </div>
                                                        </div>
                                                        <div class="picture1">
                                                            <img alt="your image" id="blah" src="{{modelImage}}" [src]="imageSrc">
                                                        </div>
                                                        <span (click)="changeProfilePic()">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </span>
                                                    </label>
                                                    <h3>{{modelName}}</h3>
                                                </div>
                                                <div id="account" class="col-md-12 tab-pane active">
                                                    <div class="account1">
                                                        <h3>Username</h3>
                                                        <div class="row">                                                  
                                                                <div class="col-sm-4">
                                                                    <div class="add-pro-inn">
                                                                    <input type="text" name="userName" readonly class="form-control inp" [(ngModel)]="userName"  aria-describedby="emailHelp" placeholder="Name">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="account1">
                                                        <h3>Bio</h3>
                                                        <div class="row" (focusout)="blurRemove()">
                                                            <div class="col-sm-8">
                                                                <div class="add-bio-inn">
                                                                    <i *ngIf="bioread" class="fas fa-pencil-alt cursor" (click)="edit('bioread')"></i>
                                                                    <textarea type="textarea" [readonly]="bioread" name="bio" [(ngModel)]="bio"  class="form-control bio"  aria-describedby="emailHelp"  placeholder="Write here. . ."></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="account1 insta">
                                                        <h3>Website:</h3>
                                                        <div class="row" (focusout)="blurRemove()">
                                                            <div class="col-sm-4">
                                                                <div class="add-pro-inn">
                                                                    <i *ngIf="websiteread" class="fas fa-pencil-alt cursor" (click)="edit('websiteread')"></i>
                                                                    <input type="link" [readonly]="websiteread" name="website" [(ngModel)]="website"  class="form-control ins"  id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="www.yespiper.com">
                                                                    <span>@</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="account1 insta">
                                                        <h3><i class="fab fa-instagram"></i>Instagram</h3>
                                                        <div class="row" (focusout)="blurRemove()">
                                                            <div class="col-sm-4">
                                                                <div class="add-pro-inn">
                                                                    <i *ngIf="instagramread" class="fas fa-pencil-alt cursor" (click)="edit('instagramread')"></i>
                                                                    <input type="email" [readonly]="instagramread" name="instagram" [(ngModel)]="instagram"   class="form-control ins"  aria-describedby="emailHelp" placeholder="username">
                                                                    <span>@</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="account1 insta">
                                                        <h3><i class="fab fa-twitter"></i>Twitter</h3>
                                                        <div class="row" (focusout)="blurRemove()">
                                                            <div class="col-sm-4">
                                                                <div class="add-pro-inn">
                                                                    <i *ngIf="twitterread" class="fas fa-pencil-alt cursor" (click)="edit('twitterread')"></i>
                                                                    <input type="email" [readonly]="twitterread" name="twitter" [(ngModel)]="twitter"  class="form-control ins"   aria-describedby="emailHelp" placeholder="username">
                                                                    <span>@</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="account1 agree">
                                                            <button type="submit" (click)="saveProfileData()" class="agree-btn right "><i  *ngIf="loading" class="fa fa-spinner fa-spin"></i> Submit</button>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="inner-footer">
                            <h4 class="copy">COPYRIGHT YES PIPER LLC 2020 | ALL RIGHTS RESERVED ©</h4>
                            <ul>
                              <li><a routerLink="/terms">Terms and conditions</a></li>
                              <li><a routerLink="/privacy">Privacy Policy</a></li>
                              <li><a routerLink="/faq" >FAQ's</a></li>
                              <li><a routerLink="/contact" >Contact Us</a></li>
                            </ul>
                          </div>
                </div></div></div></div>
                </section> 
           
                <div class="modal" id="myModalPasswordReset">
                        <div class="modal-dialog change-pass">
                          <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h4 class="modal-title">Change Your Password Here</h4>
                              <button type="button" class="close model-close" id="model-close" data-dismiss="modal">×</button>
                            </div>
                            <!-- Modal body -->
                            <form  name="form" #myForm="ngForm" (ngSubmit)="onSubmitPasswordReset()">
                             <div class="modal-body">
                               <div class="inner-form inner-forms">  
                                   <span style="color:red">{{passwordValidation.result}}</span>
                                 <div class="form-group">
                                    
                                   <label>Old Password</label>
                                   <input type="password" class="form-control height-control" name="name" placeholder="" [(ngModel)]="oldPassword" >
                                   <span style="color:red">{{passwordValidation.oldpassword}}</span>
                                 </div>
                                 <div class="form-group">
                                   <label>New Password</label>
                                   <input type="password" class="form-control height-control" name="newPassword" placeholder="" [(ngModel)]="newPassword">
                                   <span style="color:red">{{passwordValidation.newpassword}}</span>
                                 </div>
                                 <div class="form-group">
                                   <label>Confirm Password</label>
                                   <input type="password" class="form-control height-control" name="confirmCheck" placeholder="" [(ngModel)]="confirmCheck" >
                                     <span style="color:red">{{passwordValidation.confirmPassword}}</span>
                                 </div>
                                 </div>
                             </div>
                             <div class="modal-footer">
                                 <button type="submit"   class="btn btn-danger close-right"><i *ngIf="loading2" class="fa fa-spinner fa-spin"></i>Update</button>
                                <!-- <button type="button" class="btn btn-danger close-right" data-dismiss="modal">Update</button> -->
                              </div>
                          </form>
                            <!-- Modal footer -->
                            
                            
                          </div>
                        </div>
                       </div>
                       <p-toast [style]="{marginTop: '80px'}"></p-toast>
                       <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
                         <ng-template let-message pTemplate="message">
                             <div style="text-align: center">
                                 <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                                 <h3>{{message.summary}}</h3>
                                 <p>{{message.detail}}</p>
                             </div>
                             <div class="ui-g ui-fluid">
                                 <div class="ui-g-6">
                                     <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
                                 </div>
                                 <div class="ui-g-6">
                                     <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
                                 </div>
                             </div>
                         </ng-template>
                      </p-toast>
                    
                    <!-- deactivate popup -->
                    
                    <div class="modal" id="deactivate">
                        <div class="modal-dialog change-pass">
                          <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h4 class="modal-title">Deactivate/Delete Account</h4>
                              <button type="button" class="close model-close" id="model-close2" data-dismiss="modal">×</button>
                            </div>
                            <div class="modal-body">
                                <!-- <p>Are you Sure you want to deactivate accouunt?</p> -->
                                <button class="dec-btn" *ngIf="activateDeactivate == '0'" data-toggle="modal" data-target="#deactivate-acoount">Deactivate Account</button>
                                <button class="dec-btn" *ngIf="activateDeactivate == '1'" data-toggle="modal" data-target="#deactivate-acoount">Activate Account</button>
                                <button  data-toggle="modal" data-target="#deactivate-acoount" (click)="delete()">Delete Account</button>
                              </div>
                              <!-- <div class="modal-footer">
                                  <button type="submit"   class="btn btn-danger close"><i *ngIf="loading2" class="fa fa-spinner fa-spin"></i>Close</button>
                                  <button type="button" class="btn btn-danger close-right" data-dismiss="modal">Delete</button> 
                               </div>  -->
                          </div>
                        </div>
                       </div>
                      
                      <!-- deactivate popup -->
                      
                      <!-- deactivate account popup -->
                      
                       <div class="modal" id="deactivate-acoount">
                        <div class="modal-dialog change-pass">
                          <div class="modal-content">
                            <!-- Modal Header -->
                            <!-- <div class="modal-header">
                              <h4 class="modal-title">ssd</h4>
                              <button type="button" class="close model-close" id="model-close" data-dismiss="modal">×</button>
                            </div> -->
                            <div class="modal-body">
                                <i class="fas fa-exclamation-triangle"></i>
                                <h3>Are you sure?</h3>
                                <p *ngIf="activateDeactivate == '0'">You want to deactivate your account!</p>
                                <p *ngIf="activateDeactivate == '1'">You want to activate your account!</p>
                                <p *ngIf="activateDeactivate == '2'">You want to delete your account!</p>
                                <button class="dec-btn" data-dismiss="modal" id="closeDeactivatePopup">No, cancel!</button>
                                <button *ngIf="activateDeactivate == '0'" (click)="setDeactivate(1)">Yes</button>
                                <button *ngIf="activateDeactivate == '1'" (click)="setDeactivate(0)">Yes</button>
                                <button *ngIf="activateDeactivate == '2'" (click)="setDeactivate(2)">Yes</button>
                              </div>
                          </div>
                        </div>
                       </div>
                    