/* 14-02-2020 css start*/
@import '../../../../node_modules/primeicons/primeicons.css';
@import '../../../../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../../../../node_modules/primeng/resources/primeng.min.css';
.ur_pro .tab-main.noti .account8 .form-control{
	height: 150px;
    border: 1px solid #d9d7d7;
    border-radius: 3px;
    font-size: 14px;
}
.ur_pro .account8 {
    border-bottom: 1px solid #e8e7e7;
    padding: 28px 25px;
}
.ur_pro .sbmit {
    background: #b89600;
    border: none;
    color: #fff;
    padding: 15px 65px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 40px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-bottom: 20px;
}
.ur_pro .mint-top-img.round img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    position: absolute;
    top: 10rem;
    left: 5rem;
}

.ur_pro .add-bio-inn i.fas.fa-pencil-alt {
    position: absolute;
    right: 25px;
    z-index: 9;
    top: 10px;
	color:#adadad;
}
.ur_pro .add-pro-inn i.fas.fa-pencil-alt {
    position: absolute;
    right: 25px;
    z-index: 9;  
    top: 20px;
	color:#adadad;
}
.ur_pro .picture1 img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.cursor span {
  width: 30px;
height: 30px;
background:
#fff;
display: block;
text-align: center;
border-radius: 50%;
position: absolute;
top: 0px;
right: 10px;
text-align: center;
font-size: 12px;
padding: 6px 0;
}
.mint-top-img span{
    position: absolute;
    top: 15px;
    color:#fff;
    right: 30px;
}
.cursor {
    position: relative;
	margin:0;
}
.pro-data h3 {
    display: inline-block;
    margin-left: 20px;
    color: 
    #fff;
	vertical-align: top;
	margin-top: 30px;
}
.pro-data {
    position: absolute;
    top: 195px;
    left: 45px;
}
.mint-top-img {
    background: 
    #ddd;
	width: 100%;
    height: 380px;
    overflow: hidden;
}
.add-pro-inn span{
    font-size: 15px;
    color:
    #595959;
    position: absolute;
    top: 0;
    background:
    #f0efef;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 14px 0; 
}
.right-bar-content.mar-0.profile-over {
    overflow: hidden;
}
.mint-top-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.form-control.bio {
    min-height: 140px;
}
.tab-main.noti .account1 .form-control{box-shadow: none;}

/* 14-02-2020 css close*/



@media only screen and (max-width: 414px) {
.tab-main.noti {margin: 10px;}
.pro-data{top: 190px;left: 30px;} 
.ur_pro .picture1 img {height: 150px;width: 150px;}
    
}