<app-header></app-header>

<!-- header part close --> 
<!-- <div class="se-pre-con" *ngIf="isLoading">
		<div class="sk-chasing-dots">
		  <div class="sk-child sk-dot1"></div>
		  <div class="sk-child sk-dot2"></div>
		</div>
</div>   -->
<section class="live-model-main">
    <div class="live-model-content">
        <div class="container-fluid">
            <div class="row">
                <div class="left-bar">
                    <ul>
						<li ><a routerLink="/your-feed">Feed</a></li>
						<li ><a routerLink="/notification">Notifications</a></li>
						<li ><a routerLink="/messages">Messages</a></li>
						<li class="active"><a routerLink="/follows">My Subscriptions</a></li>
						<li ><a routerLink="/settings">Account Settings</a></li>
						<li ><a routerLink="/billings">Billing settings</a></li>
						<li ><a routerLink="/booking">Bookings</a></li>
                    </ul>
                </div>
                <div class="right-main"> 
                    <div class="right-bar">
                        <div class="min-height">		
                            <div class="right-bar-content feed">
								<div class="se-pre-con2" *ngIf="isLoading"> 
									<div class="sk-chasing-dots" >
										<div class="sk-child sk-dot1"></div>
										<div class="sk-child sk-dot2"></div>
									</div>
								</div> 
								<div class="model-search-top subscribe">
									<h4>My Subscriptions</h4>
										<section class="search subscriptions-search">
											<div class="search-model">
												<form (ngSubmit)="submitSearch()">
													 <input type="text" class="form-control" placeholder="Search Model"  [(ngModel)]="searchFilter" name="searchFilter">
												
											 <button type="submit"><span class="fa fa-search form-control-feedback"></span></button></form>
										  </div>
										
										</section>
										</div>  
								<div class="empty-msg" *ngIf = "modelDataFollowing.length == 0 && !isLoading">
									<h6>You have not subscribed to anyone</h6>
								</div>  		  
                                <section class="live-models padd">
                                    <div class="row">
                                        <div class="col-sm-3" *ngFor="let d of modelDataFollowing; let i = index">
                                            <div class="box-main wow fadeIn cursor" data-wow-delay="0.3s">
                                                <div class="box-img" routerLink="/model-profile" [queryParams]="{uid: d.model_id}">
													<img src="{{d.model_Profile}}" alt="img">
													<h4 class="next-ava" *ngIf="d.start_time !=''"><i class="far fa-clock" ></i>
														{{convertDateUtc(d.start_time,'weekday')}} @ {{convertDateUtc(d.start_time,'start_time')}} 
													</h4> 
												</div>
												<span *ngIf="d.live==1" class="live">
													<i class="fas fa-circle"></i>Live
												</span>
                                                <div class="box-btm">
                                                    <div class="box-user-img" routerLink="/model-profile" [queryParams]="{uid: d.model_id}">
                                                        <img src="{{d.model_Profile}}" alt="img">
                                                    </div>
                                                    <div class="box-mid" routerLink="/model-profile" [queryParams]="{uid: d.model_id}">
                                                        <h3 >{{d.model_name}}</h3>
                                                        <ul>
                                                            <li><i class="far fa-images"></i>{{d.image_count}}</li>
															<li><i class="fas fa-video"></i>{{d.video_count}}</li>
															<li><i class="far fa-comments"></i>{{d.countComment}}</li>
                                                        </ul>
													</div>
													<div class="box-right">
														<div class="rating" *ngIf="d.averageRating != ''">
															<ul *ngIf="d.averageRating ==1">
															<li><a><i class="fas fa-star"></i></a></li>
															<li><a><i class="far fa-star"></i></a></li>
															<li><a><i class="far fa-star"></i></a></li>
															<li><a><i class="far fa-star"></i></a></li>
															<li><a><i class="far fa-star"></i></a></li>
															</ul>
															<ul *ngIf="d.averageRating ==2">
																<li><a><i class="fas fa-star"></i></a></li>
																<li><a><i class="fas fa-star"></i></a></li>
																<li><a><i class="far fa-star"></i></a></li>
																<li><a><i class="far fa-star"></i></a></li>
																<li><a><i class="far fa-star"></i></a></li>
															</ul>
															<ul *ngIf="d.averageRating ==3">
																<li><a><i class="fas fa-star"></i></a></li>
																<li><a><i class="fas fa-star"></i></a></li>
																<li><a><i class="fas fa-star"></i></a></li>
																<li><a><i class="far fa-star"></i></a></li>
																<li><a><i class="far fa-star"></i></a></li>
															</ul>
															<ul *ngIf="d.averageRating ==4">
																<li><a><i class="fas fa-star"></i></a></li>
																<li><a><i class="fas fa-star"></i></a></li>
																<li><a><i class="fas fa-star"></i></a></li>
																<li><a><i class="fas fa-star"></i></a></li>
																<li><a><i class="far fa-star"></i></a></li>
															</ul>
															<ul *ngIf="d.averageRating ==5">
																<li><a><i class="fas fa-star"></i></a></li>
																<li><a><i class="fas fa-star"></i></a></li>
																<li><a><i class="fas fa-star"></i></a></li>
																<li><a><i class="fas fa-star"></i></a></li>
																<li><a><i class="fas fa-star"></i></a></li>
															</ul>
														</div>
														<div class="rating" *ngIf="d.averageRating == ''" style="color:red;font-size: 13px !important;">
															<li><a><i class="far fa-star"></i></a></li>
															<li><a><i class="far fa-star"></i></a></li>
															<li><a><i class="far fa-star"></i></a></li>
															<li><a><i class="far fa-star"></i></a></li>
															<li><a><i class="far fa-star"></i></a></li>
														</div>	 
													<button *ngIf="1 == d.following_status && d.status!=2" [disabled]="!editmode ? 'disabled': null"  (click)="FollowModel(d.following_status,d.model_id,i);" id="{{i}}"  class="follow" data-id='1' >Unsubscribe</button>
													<!-- <button *ngIf="0 == d.following_status " [disabled]="!editmode ? 'disabled': null"   (click)="FollowModel(d.following_status,d.model_id,i); clicked = true;"    id="{{i}}" [ngClass]="{ 'm-progress': loading }" class="follow" data-id='0' >follow</button>  -->
													<button *ngIf="0 == d.following_status && d.status!=2" [disabled]="!editmode ? 'disabled': null"   (click)="getModelPrice(d.model_id,i)"   class="follow"   id="{{i}}"  class="follow" data-id='0' >Subscribe</button>
													<button *ngIf="d.status==2" class="follow"   id="{{i}}"  class="follow" data-id='0' >Unsubscribed</button>
													<a href="" id="paymentPopup" data-toggle="modal" data-target="#payment" style="display: none"></a>
												</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
						<div class="inner-footer">
                                <h4 class="copy">COPYRIGHT YES PIPER LLC 2020 | ALL RIGHTS RESERVED ©</h4>
                                <ul>
                                  <li><a routerLink="/terms">Terms and conditions</a></li>
								  <li><a routerLink="/privacy">Privacy Policy</a></li>
								  <li><a routerLink="/faq" >FAQ's</a></li>
								  <li><a routerLink="/contact" >Contact Us</a></li>
                                </ul>
                              </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="payment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" [ngStyle]="{'display':display}">
	<!-- <form  (ngSubmit)="getToken()">
			<span class="payment-message">{{message}}</span>
		  
			<div class="form-row">
			  <label>
				<span>Card Number</span>
				<input [(ngModel)]="cardNumber" name="card-number" type="text" size="20" data-stripe="number">
			  </label>
			</div>
		  
			<div class="form-row">
			  <label>
				<span>Expiration (MM/YY)</span>
				<input [(ngModel)]="expiryMonth" name="expiry-month" type="text" size="2" data-stripe="exp_month">
			  </label>
			  <span> / </span>
			  <input [(ngModel)]="expiryYear" name="expiry-year" type="text" size="2" data-stripe="exp_year">
			</div>
		  
			<div class="form-row">
			  <label>
				<span>CVC</span>
				<input [(ngModel)]="cvc" name="cvc" type="text" size="4" data-stripe="cvc">
			  </label>
			</div>
		  
			<button type="submit" value="Submit Payment">Pay</button>
		  </form> -->
			
<div class="modal-dialog" role="document">
	<div class="modal-content payment">
		<div class="modal-header">
		<h5 class="modal-title" id="exampleModalLabel">Payment</h5>

		<button type="button" class="close" id="closeModel" data-dismiss="modal" aria-label="Close" >
		<span aria-hidden="true">&times;</span>
		</button>
		</div>
		<div class="modal-body">
			<h6>Please provide the billing & payment info below</h6>
			<div class="credit">
				<ul>
					<li><img src="assets/images/cards1.png" alt="card"></li>
					<li><img src="assets/images/cards2.png" alt="card"></li>
					<li><img src="assets/images/cards3.png" alt="card"></li>
					<li><img src="assets/images/cards4.png" alt="card"></li>
				</ul>
				<h4 >{{modelPrice.price}}</h4>
			</div>
			<span class="payment-message" style="color: crimson">{{message}}</span>
				<form name="form" #myForm="ngForm"  (ngSubmit)=" myForm.form.valid && getToken(modelPrice.price,modelPrice.routeId,modelID.id)" novalidate>
				<div class="row">
					<div class="col-sm-12">
							
							<div class="form-group">
									<label for="exampleFormControlInput1">Card holder name</label>
								<input [(ngModel)]="nameMain" type="text" class="form-control"  name="namemain" aria-describedby="emailHelp" placeholder="Name on card"  required #nameCheck="ngModel">
								
								<div *ngIf="nameCheck.invalid && (nameCheck.dirty || nameCheck.touched)" >
										<div *ngIf="nameCheck.errors.required">
											<span style="color: crimson;font-size: 12px">Name is required.</span>
										</div>
								</div>
							</div>
								
					</div>
					<div class="col-sm-12">
						
						<div class="form-group">
								<label for="exampleFormControlInput1">Card number</label>
							<input (keypress)="checkDigit()" id ="txt_cardNumber"  [(ngModel)]="cardNumber" name="card-number" type="text" size="20" data-stripe="number"  maxlength="19" class="form-control creditCardText" placeholder="card number" required #cardNo="ngModel">								
							<!-- <div *ngIf="cardNo.invalid && (cardNo.dirty || cardNo.touched  )" > -->
								<div *ngIf="cardNo.invalid && (cardNo.dirty || cardNo.touched || myForm.submitted)">
									<span style="color: crimson ;font-size: 12px">Card No is required.</span>
								</div>
								<!-- <ng-template #other_content>other content here...</ng-template> -->
								<!-- <div *ngIf="myForm.submitted ">
									<span style="color: crimson ;font-size: 12px">Invalid card no.</span>
								</div> -->
									
							<!-- </div> -->
						</div>
						
					</div>
					
					<div class="col-sm-12 padd-right">
						
						<div class="form-group expiry">
								<label for="exampleFormControlInput1">Expiry date</label>
							<!-- <input [(ngModel)]="expiryMonth" class="form-control" name="expiry-month"  data-stripe="exp_month" placeholder="Card expiry month" required #expmonth="ngModel"> -->
							<select  [(ngModel)]="expiryMonth" required #expmonth="ngModel" name='expiry-month' class="ex-mon form-control"    data-stripe="exp_month"  >
									<option [ngValue]="undefined" hidden>Month</option>
									<option [ngValue]='01'>01</option>
									<option [ngValue]='02'>02</option>
									<option [ngValue]='03'>03</option>
									<option [ngValue]='04'>04</option>
									<option [ngValue]='05'>05</option>
									<option [ngValue]='06'>06</option>
									<option [ngValue]='07'>07</option>
									<option [ngValue]='08'>08</option>
									<option [ngValue]='09'>09</option>
									<option [ngValue]='10'>10</option>
									<option [ngValue]='11'>11</option>
									<option [ngValue]='12'>12</option>
								</select> 
							<!-- <input [(ngModel)]="expiryYear" class="form-control" name="expiry-month" type="text" size="2" data-stripe="exp_year"> -->
							<!-- <div *ngIf="expmonth.invalid && (expmonth.dirty || expmonth.touched ) " > -->
									<!-- <div *ngIf="expmonth.errors.required">
										<span style="color: crimson;font-size: 12px">Exp Month is required.</span>
									</div> -->
									<!-- <div *ngIf="expmonth.invalid && (expmonth.dirty || expmonth.touched || myForm.submitted)">
											<span style="color: crimson ;font-size: 12px">Exp Month is required.</span>
									</div> -->
							<!-- </div> -->
							<!-- <input [(ngModel)]="expiryMonth" class="form-control" name="expiry-month" type="text" size="2" data-stripe="exp_month"> -->
							<select  [(ngModel)]="expiryYear" class=" ex-year form-control"  name="expiry-year"  data-stripe="exp_year"  required #expiryyear="ngModel">
								<option [ngValue]="undefined" hidden>Year</option>
								<option [ngValue]='2019'>19</option>
								<option [ngValue]='2020'>20</option>
								<option [ngValue]='2021'>21</option>
								<option [ngValue]='2022'>22</option>
								<option [ngValue]='2023'>23</option>
								<option [ngValue]='2024'>24</option>
								<option [ngValue]='2025'>25</option>
							</select> 
							<!-- <input [(ngModel)]="expiryYear" class="form-control ex-year" name="expiry-year" type="text" size="2" data-stripe="exp_year" placeholder="Year" required #expiryyear="ngModel"> -->
							<div *ngIf="expiryyear.invalid && (expiryyear.dirty || expiryyear.touched)" >
									<!-- <div *ngIf="expiryyear.errors.required">
										<span style="color: crimson;font-size: 12px">Exp Year is required.</span>
									</div> -->
									<div *ngIf="(expmonth.invalid || expiryyear.invalid) && (expmonth.dirty || expmonth.touched || expiryyear.dirty || expiryyear.touched  || myForm.submitted)">
										<span style="color: crimson ;font-size: 12px">Expiry date is required.</span>
								</div>
							</div>
						
						</div>
						
								 
									<div class="form-group cvv-main"> 
											<label for="exampleFormControlInput1">CVV</label>
											<input [(ngModel)]="cvc" class="form-control cvv" name="cvc" type="text" size="4" data-stripe="cvc" placeholder="cvc" required #cardcvc="ngModel">	
											<div *ngIf="cardcvc.invalid && (cardcvc.dirty || cardcvc.touched)" >
													<div class="cvverror" *ngIf="cardcvc.errors.required">
														<span style="color: crimson;font-size: 12px">CVV is required.</span>
													</div>
											</div>
									</div>
							
					</div>
					
							
							

					<div class="col-sm-6">
							
						
						
					</div>
					
					<div class="col-sm-12">
						<label class="do"><p>Do you agree to the <a >terms and conditions?</a></p>
							<input type="checkbox" checked="checked">
							<span class="checkmark2"></span>
						</label>
					</div>
					<div class="modal-footer">
							<button type="submit"   class="btn btn-danger close-right"><i *ngIf="loading" class="fa fa-spinner fa-spin"></i>Pay</button>
						<!-- <button type="submit" class="btn btn-primary" value="Submit Payment" [ngClass]="{ 'm-progress': loading }" >Pay</button> -->
					</div>
				</div>
			</form>
			
		</div>
		
	</div>
</div>
</div>