<section class="header"> 
    <div class="container">
      <nav class="navbar navbar-expand-md  navbar-dark">
        <a class="navbar-brand" href="#">
          <div class="header-nav-left">
           <img src="assets/images/logo.png" alt="">
         </div></a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
           <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse navbar-nav ml-auto" id="collapsibleNavbar">
            <ul class="navbar-nav navbar-nav ml-auto  ">
             <li class="nav-item"><a href="#">Models</a></li>
             <li class="nav-item"><a href="login.html">Explore</a></li>
         <!-- n -->
      </ul> 
      <button class="btn"><a href="">Become a Model</a></button></div>
      </nav>
      </div>
  </section>