<app-header></app-header>
<section class="become-model login padding term">
    <div class="container">                                                                                        
      <div class="heading">
         <h4><b>Terms and</b> Conditions</h4>
         <h5>(APPLICABLE TO USERS AND MODELS)</h5>
      </div>
   
     <div class="col-sm-8 offset-2">
    <div class="term">
	  <p>
      <b>Yes Pipe LLC<br>
      Last Updated on January 9th, 2020</b><br><br>
      Yes Piper LLC (referred to as “Yes Piper”) is a company registered under the laws of Delaware United States of America. Yes Piper owns, manages and operates the website www.yespiper.com (referred to as the “Website”). <br><br>
The Website serves as a platform allowing models and recognized influencers to showcase content in exchange for compensation. The Website further allows users to subscribe to exclusive content created by such models and recognized influencers, and to purchase additional services including but not limited to text chat and video chats. <br><br>
The present Terms and Conditions (referred to as the “Terms and Conditions”) will govern the terms upon which users may subscribe to the exclusive content provided on the Website and purchase additional services. Further, these Terms and Conditions will apply to models and recognized influencers who use, provide content, offer services on or through the Website. <br><br>
Under these Terms and Conditions, Yes Piper will be referred to as “we”, “us”, “our”, and other similar expressions. Users will be referred to as “Users”, and models and recognized influencers will be collectively referred to as “Models”. The exclusive content available to Users upon subscription will be referred to as “Wall Content” and the additional services available for purchase by Users will be referred to as “Extra Services”. <br><br>
These Terms and Conditions apply to all access and usage of the Website, whether by a User or a Model. We reserve the right to modify or amend these Terms and Conditions from time to time, at our discretion, without notice. 
</p>
</div> 

<div class="term">
  <h3>1. APPLICABILITY OF THE TERMS AND CONDITIONS </h3>
   <p>Any access, usage of the Website and subsequent creation of a User profile or a Model profile constitutes acceptance of the present Terms and Conditions. These Terms and Conditions constitute a binding agreement between the User and/or Model and us. 
 </p>
</div>

<div class="term">
  <h3>2. USER ACCOUNTS </h3>
   <p>Users may create an account on the Website to gain access to Wall Content and to be eligible to purchase Extra Services. As such, the User account would provide the User with the ability to purchase subscription services, involving access to Wall Content provided by Models on the Website. Further, Users may purchase Extra Services, such as video chats with Models.  
 </p>
</div> 

<div class="term">
  <h3>2.1 ELIGIBILITY  </h3>
   <p>To be eligible to access and use the Website, the User confirms the following: (1) the User is at least eighteen (18) years of age, (2) the User is authorized to enter into legally binding and enforceable agreements, and (3) the User agrees to use the Website in accordance with applicable laws and these Terms and Conditions. 
 </p>
</div> 

<div class="term">
  <h3>2.2 CREATION OF A USER ACCOUNT </h3>
   <p>
    To subscribe to Wall Content on the Website and to have the option of purchasing Extra Services, Users must create a User account on the Website. To create a User account, the User agrees to provide all required personal information including but not limited to the User’s name, email address and payment information. <br><br>
All information provided by the User must be true, accurate, current, and complete to the best of the User’s knowledge. As required, the User will update the personal information contained in the User account. <br><br>
The User understands and agrees that its User account is personal and may not be used by anyone else. The User is responsible for all activities and communications that occur under its User account, whether or not the User has authorized such activities. <br><br>
The User remains liable for any activity or usage of the Website involving its User account unless the User notifies us of a breach in accordance with these Terms and Conditions. <br><br>
The User agrees to delete its user account or change the password to its User account immediately if the User has reason to believe the password may have been compromised. <br><br>
The User has the option of deleting its User account at any time at its discretion by following the instructions provided on our Website relating to the deletion of a User account. 

 </p>
</div> 

<div class="term">
  <h3>2.3 SUBSCRIPTION FEES </h3>
   <p>
    Upon creating a User account and registering on the Website, the User agrees to pay a subscription fee in the amount specified in the confirmation to be provided by us. The subscription shall provide the User with access to Wall Content provided by Models on the Website. The User agrees to pay the subscription fee on an ongoing basis in the manner and in the form requested by us. Further, the subscription fees shall be payable on a monthly basis and shall grant the User with full access to exclusive Wall Content. 
 </p>
</div> 

<div class="term">
  <h3>2.4 PAYMENTS AND TERMS </h3>
   <p>
    To pay the subscription fees and other fees for additional services as requested by the User, the User must provide valid, accurate and current information relating to the User’s credit card. The User represents that it is duly authorized to use the credit card provided. If your credit card number is invalid or otherwise unacceptable, we may cancel or refuse to provide the User with access to the Wall Content. The User’s payment details must remain updated throughout the term of the User’s subscription to the Wall Content. <br><br>
The User agrees to honor all charges in connection with the subscription fees for the Wall Content and any Extra Services purchased at the prices indicated in the confirmation sent to the User. The User agrees to pay all applicable taxes and fees in connection with the subscription fees and Extra Services purchased. The User agrees to be charged a 10% processing fee visible at the time of checkout. <br><br>
The User understands and agrees that its payment information will remain on file to cover recurring and/or future payments. <br><br>
The User remains responsible for all subscriptions and Extra Services purchased using the User’s credit card, whether or not authorized by the User, unless the User notifies us of the breach or the compromise of its payment information prior to its occurrence. The User also agrees to immediately inform us of any apparent hacks or security problems involving the User’s payment information, such as theft or unauthorized use of your credit card. 
 </p>
</div> 

<div class="term">
  <h3>2.5 PRICING CONSIDERATIONS </h3>
   <p>
    We reserve the right to modify the pricing of the subscriptions on an as needed basis. <br><br>
    The pricing of all Subscriptions & Extra Services are determined solely by the Model at the Model’s discretion at any amount over $10 USD, $5 for ‘tips’, $5 per customer for live video chat, and $3 per minute, per customer for private video chat sessions. We are not responsible for the pricing of such Subscriptions & Extra Services other than this minimum requirement.<br><br> 
    The pricing for the Wall Content and Extra Services will be published on our Website in the User’s account as promptly as possible. Any changes to pricing will not affect past subscriptions or Extra Services that have already been subject to a written confirmation. <br><br>
    The pricing for the transaction costs in addition to Model’s services are determined by Yes Piper LLC.     
 </p>
</div> 

<div class="term">
  <h3>3. MODEL ACCOUNTS </h3>
   <p>
    Models may apply to feature exclusive content on the Website in exchange for compensation. We reserve the right to review all Models’ applications and to determine whether such applications are approved or not. The Models who have been approved will be required to create a Model account under which the Model shall provide Wall Content and may offer Extra Services. 
 </p>
</div> 

<div class="term">
  <h3>3.1 MODEL APPLICATIONS </h3>
   <p>
    To be eligible to provide exclusive Wall Content on the Website and offer Extra Services, Models are required to submit an application in the manner prescribed on the Website. Upon our receipt of the Model’s application, we will thoroughly review the application. If any information is missing, we will promptly advise the Model to allow the Model to remedy the situation. <br><br>
During the time we are evaluating the Model’s application, the Model will be able to set up the Model’s account, indicate pricing applicable to Subscriptions & Extra Services, include information and feature Wall Content. Upon our approval of the Model’s application, the Model may create a Model account on the Website. The Model agrees that we are under no obligation to accept the Model’s application and if such applicable is refused by us, we will have no liability. 

 </p>
</div> 

<div class="term">
  <h3>3.2 CONTENT </h3>
   <p>
    The Model shall be authorized to post, publish and feature Wall Content on the Website. Such Wall Content may include but is not limited to; photos, videos and other postings. <br><br>
The Model shall be solely responsible for Wall Content posted, published or otherwise featured by the Model on the Website. The Model agrees that the Wall Content must consist of original content. The Model may be held personally liable if the content posted by the Model violates any third party right. The Model warrants and represents that the Model is the sole owner of the Wall Content posted, published or otherwise featured by the Model on the Website, and has all rights, interests and title to such Wall Content. 
</p>
</div> 

<div class="term">
  <h3>CONTENT CODE OF CONDUCT </h3>
  <ul>
  <li>We have a zero tolerance policy for minors on the Platform for any reason. You will not use the Platform to request, offer, share, or in any way seek or distribute child pornography or even non-pornographic photographs and/or videos of minors. You will not at any time or for any reason share or post any image or video of any minor through the Platform nor will you request or indicate you are interested in any image or video of any minor. Any breach of this section, no matter how “innocent” or the basis for such breach, will lead to an immediate ban of your account and a report of such breach and all of your account information to National Center for Missing & Exploited Children (NCMEC) and, if we deem advisable in our sole discretion, one or more law enforcement agencies. NO EXCEPTIONS. 
  </li>

  <li>You will not discuss the abuse of any minor, any attraction to minors, any sexual activity with minors (even if you yourself were a minor) or any other type of discussion about minors in a sexual or abusive manner for any reason whatsoever. Any breach of this section will result in the immediate ban of your account and we will report all such discussions and your account information to NCMEC and, if we deem advisable in our sole discretion, one or more law enforcement agencies. NO EXCEPTIONS. </li>

  <li>You shall at all times comply with United States Federal laws, regardless of your location, as well as all laws applicable to where you reside. As mentioned above, you acknowledge that you are solely responsible for any and all content/information streamed, posted, sent from or otherwise distributed through your account on the Platform. 
  </li>
  
  <li>You will not use the Platform to stream or share, whether real or simulated, any illegal or unsafe activity of any kind nor any violence, torture, pain, erotic asphyxiation, fisting, rape or any other action associated with causing harm to yourself or another person. Any depiction of blood for any reason will not be tolerated. 
  </li>
    
  <li>You shall not use the platform to in any way share or distribute any libelous, slanderous, abusive or defamatory information or statements. Further, you will not use the Platform to engage in any harassing activity. 
  </li> 

 <li>You will not share or encourage through the Platform any hateful, sexist, abusive, rude, profane, obscene, harassing or otherwise offensive content nor any content which is terroristic or in furtherance of a terrorist aim/purpose in nature. </li>
  
 <li>You will not use the Platform to solicit funds from any other user nor to advertise or solicit for any goods or services, including, by way of example only and not a limitation, in-person meetings. 
</li>

<li>You will not post or stream any “goatse” or bukkake”, nor will you insert into yourself or any other person any unusual or very large object. 
</li>
<li>You will not appear drunk or intoxicated on camera nor will you drink or take or use any mind altering substances whilst on camera. </li>
<li>You will not discuss, display, depict or suggest to depict incest regardless of the age of the participants. </li>
<li>You will not discuss, display, depict or suggest to depict any animal species that is non-human in nature. 
</li>

</ul>
</div> 

<div class="term">
  <h3>3.3 LICENSE TO USE CONTENT 
  </h3>
   <p>
    The Model hereby grants us an irrevocable, non-exclusive license or other right to use, license any and all of the Model’s Wall Content for our own promotional purposes, and in connection with the advertising or exploitation of the Website, service or product with respect to the Website or to which the Website is involved. The Model hereby grants us a nonexclusive, perpetual, irrevocable, royalty-free and transferable license to publish, distribute, modify and use any Wall Content posted by the Model on the Website, without limitation. <br><br>
    We reserve the right to remove any Wall Content that violates applicable laws or is contrary to these Terms and Conditions. 
</p>
</div> 

<div class="term">
  <h3>3.4 MODEL’S ACCESS AND RIGHTS 
  </h3>
   <p>
    Upon creating a Model account on the Website, the Model shall be granted access to a personalized dashboard and portal. The Model shall have the right to determine pricing for any Subscriptions & Extra Services available for purchase by Users. The Model shall determine whether or not to accept any requests by Users for Extra Services without our intervention. <br><br>
The Model shall also be entitled to select the times at which the Model is available to perform Extra Services, and such times shall be published on the Website so Users may schedule a booking. <br><br>
Further, the Model shall have the ability to change or alter the Model’s profile information, including imagery, information and Wall Content. The Model may add, modify, delete or otherwise change the Wall Content. Further, using the personalized dashboard and portal, the Model may view and access all compensation earned through the Website. 
</p>
</div> 

<div class="term">
  <h3>3.5 MODEL’S OBLIGATIONS </h3>
   <p>
    The Model agree not to engage in unacceptable use of the Website, Wall Content and Extra Services, which includes using the Website and its features for purposes of: 
   </p>
   <ul>
     <li>Violating any applicable laws; </li>
     <li>Soliciting others to perform or participate in unlawful acts; </li> 
     <li>Impersonating a person or entity, or otherwise misrepresenting the Model’s affiliation with a person or entity; </li>
     <li>Violating the privacy of others or collecting information on Users without having obtained the required consent; </li>
     <li>Engaging in any conduct that violates these Terms and Conditions or, that may give rise to liability. </li>
     </ul>
     <p>Models are expected to be motivated, professional, reliable, respectful, friendly, and engaging. When interacting with Users, we require that Models communicate respectfully and efficiently. <br><br>
      Models are expected to promote and advertise the Wall Content and Extra Services offered on the Website. We therefore encourage Models to promote the Website on various means, such as social media, print ads, business cards or other forms of advertising. <br><br>
      Users may communicate with Models by sending a private request. Models should respond to User requests promptly and in an appropriate manner. 
      </p>

</div> 

<div class="term">
  <h3>3.6 COMPENSATION AND PAYMENT TERMS </h3>
   <p>
    The Model shall receive compensation for posting Wall Content on the Website. The amount of the compensation shall depend on the Wall Content posted by the Model and the number of Users subscribing to the Model’s Wall Content. The Model will receive compensation on a weekly basis. Payouts are weekly, every Thursday (except for the first payment). The Website’s billing period runs from Monday through to Sunday each week. The Model’s first payment from The Website will be delayed by up to 2 (two) weeks due to the settlement of funds. Therefore, if the Model’s first sale is on a Tuesday, the Model will receive its first pay for that first billing period on Thursday of the following fortnight. After the Model’s first payment, compensation will be paid weekly thereafter. The Model will also receive payout information each payday via the Model Dashboard. <br><br>
    Further, the Model may negotiate or agree to a fixed fee with a User for Extra Services. The fee for the Extra Services to be performed by the Model will be detailed in the confirmation provided through the Website. Upon the completion of the Extra Services, the Model will be entitled to compensation in the form of a commission calculated in accordance with this section. <br><br>
    Upon the completion of an Extra Service by the Model, we will deduct a percentage from the fee payable by the User for such Extra Service (the “User Fee”). In most cases, we will deduct 17.5%  from the User Fee (unless specified different) for Subscriptions & 25% for Extra Services (unless specified differently), which is referred to as “Our Rate”. Please note that a processing (transaction) fee of up to 10%, is a separate charge to The User at the checkout and will not be included in the Model’s final payment. 
    <br><br>
    The commission payable to the Model for the completion of an Extra Service will be equivalent to the User Fee minus (-) the Our Rate (the “Commission”). Commissions will be paid to the Models in the manner prescribed by the Website. The Model shall be responsible for providing its valid bank account or payment information required to receive payment. The Compensation will be transferred to the Model’s account weekly within a reasonable delay following clearance of the User Fee and transaction costs. <br><br>
    Please note that any Model that does not reside within the USA will incur a Transferwise fee of 1-2% dependent on a fluctuating exchange rate, and deducted from the Model’s final payment for that pay period. 
	</p> 
</div> 


<div class="term">
  <h3>3.7 NON-COMPETE </h3>
   <p>
    The Model agrees not to induce any User to cease to use the Website or to work directly with the Model. 
	</p> 
</div> 

<div class="term">
  <h3>4. LINKS TO THIRD PARTY WEBSITES </h3>
   <p>
    The Website may provide links to third party websites or applications. The links to third party websites or applications are for reference purposes only. Any use of the third party website is subject to the third party’s policies and specific terms. 
	</p> 
</div> 

<div class="term">
  <h3>5. INTELLECTUAL PROPERTY </h3>
   <p>
    Wall Content, trademarks or other intellectual property may be published on our Website. We own or secured all required consents to publish such intellectual property. Any trademarks and intellectual property displayed on our Website are protected by intellectual property laws. All rights relating thereto are reserved. <br><br>
You are authorized to print and copy portions of the Website solely for personal, non-commercial use and reference purposes in a manner that complies with these Terms and Conditions. Any other usage of the Wall Content and Extra Services on our Website or derived from this Website is strictly prohibited. <br><br>
We do not authorize the reproduction, modification, or transmission of the intellectual property on our Website to any third party without our prior specific written consent. 
	</p> 
</div> 

<div class="term">
  <h3>6. LIMITED WARRANTIES AND DISCLAIMERS </h3>
   <p>
    The Website and its functionalities are provided on an “as is” basis without any warranties or guarantees of any nature. We do not warrant or guarantee that the Website and its content will produce any particular result with respect to the Users’ expectations. We are not responsible for any issues, or conflict arising out of usage of the Website and/or between a User and a Model. <br><br>
For avoidance of doubt, the Website and its content are provided on an “as is” basis without warranty of any kind, express, statutory or implied, including, but not limited to, the implied warranties of title, non-infringement, merchantability and fitness for a particular purpose, and any warranties implied by any course of performance, all of which are expressly disclaimed. 
	</p> 
</div> 

<div class="term">
  <h3>7. TECHNICAL PROBLEMS </h3>
   <p>
    Technical issues may arise when using the Website. While we implemented strict procedures to ensure the stability of the Website, we are unable to guarantee that the usage of Website be uninterrupted and error-free at all times. 
	</p> 
</div> 

<div class="term">
  <h3>8. SECURITY AND PRIVACY </h3>
   <p>
    Users and Models understand that they will be providing personal information to use the Website and create an account. We established information control procedures to safeguard personal information provided by Users and Models by way of the Website. <br><br>
The disclosure of personal information is limited to information that is strictly necessary and only transmitted to employees and affiliates who “need to know” such personal information. 
	</p> 
</div> 

<div class="term">
  <h3>9. LIMITATION OF LIABILITY </h3>
   <p>
    We will not be responsible for any claims or damages resulting from the use or inability to use the Website and its functionalities. All Users and Models further agree that their usage of the Website is at their own risk and we disclaim any and all liability related thereto, whether direct or indirect. <br><br>
Considering the Wall Content and Extra Service emanate from the Model, we are not liable for any Wall Content and other content published on the Website. We are unable to guarantee the integrity, legitimacy or quality of any Wall Content published on the Website. <br><br>
To the extent permitted by applicable law, we exclude all liability for any and all losses, expenses, damages, claims and proceedings of any nature, including but not limited to direct, indirect, general, special, punitive, incidental damages, even if we have been advised of the possibility of such damages or losses, arising out of or in connection with the use of the Website. This exclusion of liability applies regardless of whether liability is based on contract, tort (including negligence), strict liability or another theory of law. 
	</p> 
</div> 

<div class="term">
  <h3>10. TERMINATION </h3>
   <p>
    We have the right to terminate or suspend any User and/or Model Account and/or access to the Website in the event that a breach of these Terms and Conditions or for any reason at our discretion. We will not be liable for terminating of any account, whether with cause or without. <br><br>
All provisions of these Terms and Conditions, which by their nature are ongoing, will survive termination, including but not limited to intellectual property, limited liability, and warranties. 
	</p> 
</div> 

<div class="term">
  <h3>11. ENTIRE AGREEMENT </h3>
   <p>
    These Terms and Conditions, together with any document referred to herein, constitute the entire agreement between Users and Models and us with respect to the subject matter hereof. These Terms and Conditions supersede all previous negotiations and agreements regarding the subject matter hereof. 
</div> 

<div class="term">
  <h3>12. SEVERABILITY </h3>
   <p>
    In the event that any provision in these Terms and Conditions is deemed invalid or unenforceable by applicable law or by a court of law, that particular provision will be severed. The remaining provisions of these Terms and Conditions will remain valid and enforceable. 
	</p> 
</div> 

<div class="term">
  <h3>13. WAIVERS </h3>
   <p>
    In the event that we do not exercise any right we have under these Terms and Conditions or delay its exercise, this delay or failure to exercise such right will not operate as a waiver of our rights. 
	</p> 
</div> 

<div class="term">
  <h3>14. JURISDICTION AND VENUE </h3>
   <p>
    These Terms and Conditions are governed by and must be interpreted in accordance with the laws in force in the State of Queensland and all applicable Australian laws. In the event of any dispute relating to these Terms and Conditions, the competent courts in the State of Queensland will have jurisdiction. 
	</p> 
</div> 

<div class="term">
  <h3>15. NUMBER </h3>
   <p>
    Under these Terms and Conditions, words importing the singular will also include the plural and vice versa. 
	</p> 
</div> 

<div class="term">
  <h3>16. NOTICES </h3>
   <p>
    Any notice relating to a User or Model account should be addressed to us in writing. Such notices may be sent to us by email to info@yespiper.com or through the Website under the “Contact us” section. Notices will be deemed to have been received on the third (3rd) business day following the date of the sending of the notice. <br><br>
   We may send notifications and updates to Users or Models by way of the User or Model account on the Website. 
	</p> 
</div> 

<div class="term">
  <h3>17. MODIFICATIONS TO THE TERMS AND CONDITIONS </h3>
   <p>
    We may modify, update or otherwise change these Terms and Conditions at our sole discretion. The latest applicable version of the Terms and Conditions will be published on the Website. <br><br>
    We suggest that Users and Models review the Terms and Conditions periodically to ensure compliance with the latest version. All continued access to or use of the Website following any modifications made to the Terms and Conditions will constitute acceptance of all such modifications. 
	</p> 
</div> 


<div class="term">
  <h3>18. REFUNDS </h3>
   <p>
    All refunds on subscriptions and tipping purchases made on yespiper.com are managed on a case-by-case basis. Extra Services purchases are refundable for private video bookings, if the Model does not meet the agreed booking time. If the User does not meet the agreed booking time for private video bookings, the User may be subject to forfeiting the purchase (managed on a case-by-case basis). If The User does not meet the agreed booking time for private videos, The User should contact info@yespiper.com. Additionally, the refund amount will be removed from the earning Model’s compensation. 
	</p> 
</div> 

<div class="term">
  <h3>19. CHARGEBACKS/DISPUTES</h3>
   <p>
    Any purchase made on The Website resulting in a chargeback will cause the User’s account to be immediately and permanently excluded from yespiper.com. Additionally, the chargeback amount will be removed from the earning Model’s income. Yespiper.com does not cover any chargebacks or refunds under any circumstances. If the User has any questions regarding a payment, The User should contact info@yespiper.com. 
	</p> 
</div> 

<div class="term">
  <h3>20. CANCELLATION POLICY</h3>
   <p>
    The User may cancel any subscription for any reason, at any time via the User Dashboard under the ‘Billing’ tab. This will cancel the subscription and The User will not be billed in the following billing cycle. The User may also contact info@yespiper.com, or or contact CCBill at (https://support.ccbill.com/) via live chat, phone 1.888.596.9279 email at support@ccbill.com.
	</p> 
</div> 

<div class="term">
  <h3>OBLIGATION TO COMPLY WITH 18 U.S.C. 2257Â </h3>
   <p>
    You should be aware that, pursuant to federal law, any visual depictions that you upload to and/or stream through yespiper.com that portray actual sexually explicit conduct, depictions of the genitals or pubic area, or simulated sexually explicit activity, as such terms are defined in 18 U.S.C. Â§2256 (2)(A)(i)-(v) and 18 U.S.C. Â§2257A, require that you maintain the records required by 18 U.S.C. 2257 and must contain an "18 U.S.C. 2257 Record-Keeping Requirements Compliance Statement." Your failure to comply with the provisions of 18 U.S.C. 2257 may make you subject to criminal and civil prosecution for the violation of 18 U.S.C. 2257.Â 
	</p> 
</div> 

<div class="term">
  <h3>18 U.S.C. Section 2257 Compliance Notice</h3>
   <p>
    All persons that appear in any visual portrayal of actual sexually explicit conduct appearing or otherwise contained within yespiper.com were over the age of eighteen (18) years at the time the visual image was created.
	</p> 
</div> 

<div class="term">
  <h3>Exemption Statement - Content Produced by Third Parties:Â </h3>
   <p>
    The owners and operators of yespiper.com are not the "producers," as such term is defined in 18 U.S.C. 2257 or subsequent case law, of any of the visual content contained in this website. All Third Parties that upload content on this website must adhere to, and comply with USC 2257. Pursuant to Title 18 U.S.C. Â§2257(h)(2)(B)(v) and 47 U.S.C. Â§230(c), the operators of this website reserve the right to delete content posted by Third Parties which operators deem to be indecent, obscene, defamatory or inconsistent with their policies and terms of service. The operators of this website also reserve the right to permanently delete the account created by a Third Party and incur a lifetime ban from yespiper.com for any breaches.
	</p> 
</div> 

<div class="term">
   <p>
    All earlier records and their Custodian can be found at:<br>
    Custodian of Records<br>
    16192 Coastal Highway<br>
    Lewes<br>
    Delaware, 19958<br><br>
    Questions or comments regarding this Exemption Statement should be addressed to: info@yespiper.com     
	</p> 
</div>   
 

 

 

 

 

 
 

 

 

 

 

 

 

 

 

 

 

 

 
 
	
 
	</div> 
   </div>
  </section>
  <app-footer></app-footer>