<app-header></app-header>
<!-- <div class="se-pre-con" >
		<div class="sk-chasing-dots">
		  <div class="sk-child sk-dot1"></div>
		  <div class="sk-child sk-dot2"></div>
		</div> -->
<!-- </div> -->
<section class="live-model-main">
	<div class="live-model-content">
		<div class="container-fluid">
			<div class="row">
				<div class="left-bar">
						<ul>
							<li ><a routerLink="/your-feed">Feed</a></li>
							<li ><a routerLink="/notification">Notifications</a></li>
							<li ><a routerLink="/messages">Messages</a></li>
							<li ><a routerLink="/follows">My Subscriptions</a></li>
                            <li ><a routerLink="/settings">Account Settings</a></li>
							<li class="active"><a routerLink="/billings">Billing settings</a></li>
							<li ><a routerLink="/booking">Bookings</a></li>
						</ul>
				</div>
				<div class="right-main"> 
					<div class="right-bar">
						<div class="min-height">
								<div class="se-pre-con2" *ngIf="isLoading">
										<div class="sk-chasing-dots" >
											<div class="sk-child sk-dot1"></div>
											<div class="sk-child sk-dot2"></div>
										</div>
								</div> 		
							<div class="right-bar-content book"> 
								<div class="feed-top head"><h4>Active Billings</h4></div>
								<div class="empty-msg" *ngIf="billingStatus.length == 0" >
									<h6>Your have no bookings</h6>
								  </div>  
								<section class="live-models padd">
								 <div class="row">
								    
								   
								    <div class="col-sm-12" *ngFor="let d of billingStatus; let i = index">
									 <div class="box-main booking-sett full-wid">
									   <ul>
										 <li>
										   <div class="mint-top-img">
										   <img src="{{d.profileImage}}">
										   </div>
										   <h3>{{d.model_name}}</h3>
										 </li>
										   <li>
											 <h4>Date of Subscription</h4>
											  <h5><i class="far fa-calendar-alt"></i>{{d.followedDate}}</h5>
										   </li>
											<li>
											 <h4>Next Renewal Date</h4>
											  <h5 *ngIf = "d.status == '0'"><i class="far fa-calendar-alt"></i>No renewal</h5>
											  <h5 *ngIf = "d.status == '1'"><i class="far fa-calendar-alt"></i>{{d.next_check}}</h5>
										   </li>
											<li>
											 <h4>Price</h4>
											  <h5>${{d.price}}</h5>
										   </li>
											<li>
											 <a  *ngIf = "d.status == '1' " (click)=cancelSubscription(d.model_id)><i  *ngIf="loadingCancel && modeCancel== d.model_id" class="fa fa-spinner fa-spin"></i> Cancel</a>
											 <a class="cancel" *ngIf = "d.status == '0' " >Cancelled</a>
										   </li> 
									   </ul> 
									 </div>
								   </div> 
								   

								   
								 </div>
								</section>
							   </div>
						</div>
						<div class="inner-footer">
								<h4 class="copy">COPYRIGHT YES PIPER LLC 2020 | ALL RIGHTS RESERVED ©</h4>
								<ul>
								  <li><a routerLink="/terms">Terms and conditions</a></li>
								  <li><a routerLink="/privacy">Privacy Policy</a></li>
								  <li><a routerLink="/faq" >FAQ's</a></li>
								  <li><a routerLink="/contact" >Contact Us</a></li>
								</ul>
						</div>
					</div>
					
				</div>
				
			</div>
		</div>
	</div>
</section>