.right-bar-content.book .feed-top{padding: 20px 20px 20px;}
.box-main.booking-sett {padding: 15px;}
.box-main.booking-sett h3{display: inline-block;vertical-align: top;font-weight: 600;font-size: 17px;margin-bottom: 8px;}
.box-main.booking-sett h4{border:0;padding:0;font-size:14px;font-weight:400;color: #595959;margin-bottom:6px;}
.box-main.booking-sett h4 b{font-weight:500;color:#212529;}
.box-main.booking-sett h5{border:0;padding:0;font-size:14px;font-weight:400;color: #595959;margin-bottom:10px;}
.box-main.booking-sett h5 b{font-weight:500;color:#212529;}
.box-main.booking-sett h5 i{margin-right:8px;font-size:16px;color: #747474;}
.box-main.booking-sett h6{border:0;padding:0;font-size:14px;font-weight:400;color: #595959;}
.box-main.booking-sett h6 b{font-weight:500;color:#212529;}
.box-main.booking-sett h6 i{margin-right:8px;font-size:16px;color: #747474;}

.box-main.booking-sett.full li{display:inline-block;width: 18.6%;} 
.box-main.booking-sett.full li label{font-size:16px;font-weight:500;color: #212529;}
.box-main.booking-sett.full li p{font-size:14px;font-weight:400;color: #595959;}
.box-main.booking-sett.full a{margin: 10px 0;float: right;background:#f05742;color:#fff;padding:4px 11px;font-weight: 400;border: 0;font-size: 11px;border-radius: 4px;} 
.box-main.booking-sett .mint-top-img {width: 60px;height: 60px;background: #ddd;border-radius: 4px;display: inline-block;
overflow: hidden;margin-right: 15px;}
.box-main.booking-sett .mint-top-img img {height: 100%;width: 100%;object-fit: cover;}
.booking-mid {margin-top: 10px;}
.booking-mid .booking-left {display: inline-block;}
.booking-mid a{display: inline-block;background:#9fdbce;font-size: 13px;font-weight: 500;color:#fff;padding: 6px 20px;border: 0;
border-radius: .25rem;float: right;margin: 7px 0;}
.box-main.booking-sett.full-wid li{display:inline-block;width:13.7%;vertical-align: top;}
.box-main.booking-sett.full-wid li h4{font-size:16px;color:#212529;font-weight: 600;margin-bottom:15px;}
.box-main.booking-sett.full-wid li a{display: inline-block;background:#f05742;font-size: 13px;font-weight: 500;
color:#fff;padding: 6px 20px;border: 0;border-radius: .25rem;float: right;margin: 16px 0;cursor: pointer;}
.box-main.booking-sett.full-wid li:nth-child(1) {width:24%;}
.box-main.booking-sett.full-wid li:nth-child(2) {width:23%;}
.box-main.booking-sett.full-wid li:nth-child(3) {width:23%;}
.box-main.booking-sett.full-wid a.cancel {background: none !important;color: #f05742 !important;}


@media screen and (max-width: 1366px) { 
.box-main.booking-sett.full-wid li:nth-child(1) {width: 28%;}    
.box-main.booking-sett.full-wid li:nth-child(2) {width: 23%;}   
.box-main.booking-sett.full-wid li:nth-child(3) {width: 23%;}   
.box-main.booking-sett.full-wid li{width: 12.7%;}

}

@media screen and (max-width: 1024px) {
.box-main.booking-sett.full-wid li:nth-child(1) {width: 38%;}  
.box-main.booking-sett h3{font-size: 15px;}
.box-main.booking-sett.full-wid li:nth-child(2) {width: 30%;}   
.box-main.booking-sett.full-wid li:nth-child(3) {width: 30%;} 
.box-main.booking-sett.full-wid li h4{font-size: 14px;margin-bottom: 10px;}
.box-main.booking-sett.full-wid li a{margin: 8px 0;}

}

@media screen and (max-width: 768px) {
.box-main.booking-sett.full-wid li:nth-child(1) {margin-bottom: 10px;} 

}

@media screen and (max-width: 684px) {
.box-main.booking-sett.full-wid li:nth-child(1) {width: 45%;}
.box-main.booking-sett.full-wid li:nth-child(2) {width: 45%;}   
.box-main.booking-sett.full-wid li:nth-child(3) {width: 45%;} 
.box-main.booking-sett.full-wid li{width: 22.7%;}

}

@media screen and (max-width: 414px) {
.box-main.booking-sett.full-wid li:nth-child(1) {width: 100%;}
.box-main.booking-sett.full-wid li:nth-child(2) {width: 100%;margin-bottom: 8px;}   
.box-main.booking-sett.full-wid li:nth-child(3) {width: 100%;margin-bottom: 8px;} 
.box-main.booking-sett.full-wid li h4{font-size: 15px;}
.box-main.booking-sett.full-wid li{width: 50%;}
.box-main.booking-sett h5{font-size: 14px;}

}

 
