<!-- <ul *ngFor="let post of posts | async">
        <li>
          <strong>{{ post.title}}</strong>
          <br>
          {{post.content}}
        </li>
      </ul>
<input type="text" [(ngModel)]="title" name="title" placeholder="Title..">
<textarea [(ngModel)]="content" name="content" placeholder="Content.."></textarea>
<input type="submit" value="Add a Post" (click)="addPost()"> -->

<app-header></app-header>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div style="text-align: center">
          <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
          <h3>{{message.summary}}</h3>
          <p>{{message.detail}}</p>
      </div>
      <div class="ui-g ui-fluid">
          <div class="ui-g-6">
              <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
          </div>
          <div class="ui-g-6">
              <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
          </div>
      </div>
  </ng-template>
</p-toast>
    <section class="live-model-main">
        <div class="live-model-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="left-bar">
                        <ul>
                            <li ><a routerLink="/your-feed">Feed</a></li>
                            <li ><a routerLink="/notification">Notifications</a></li>
                            <li class="active"><a routerLink="/messages">Messages</a></li>
                            <li ><a routerLink="/follows">My Subscriptions</a></li>
                            <li ><a routerLink="/settings">Account Settings</a></li>
                            <li ><a routerLink="/billings">Billing settings</a></li>
                            <li ><a routerLink="/booking">Bookings</a></li>
                        </ul>

                    </div>
                    <div class="right-main"> 
                        <div class="right-bar">
                            <div class="min-height">
                                <div class="right-bar-content slide noti feed chat">
                                        <div class="se-pre-con2" *ngIf="isLoading">
                                                <div class="sk-chasing-dots" >
                                                    <div class="sk-child sk-dot1"></div>
                                                    <div class="sk-child sk-dot2"></div>
                                                </div>
                                        </div> 

                                        <div class="phone-view" >
                                                <div class="row">
                                                        <div class="col-md-12" id="phoneViewList" >
                                                            <div class="setting-left" >
                                                                    <!-- <div class="setting-left-one modelIdChange"  >
                                                                        <span class="emptyMessage"> Your Inbox Is Empty</span>
                                                                    </div> -->
                                                                    <div class="empty-msg" *ngIf="ChatToShow.length == 0" >
                                                                        <h6>Your Inbox Is Empty</h6>
                                                                      </div>       
                                                                <div class="setting-left-one modelIdChange modelClass{{d.modelId}}"  *ngFor="let d of ChatToShow let i = index"  >
                                                                    <div class="box-btm cursor"  (click)="modelChat(d.id,d.userId,d.profilePic,i,d.name,'phone')" id="modelId{{d.modelId}}">
                                                                        
                                                                         <div *ngIf="d.unreadCount[loggedInuser] >0 && chatIdString != d.chatId" class="notificationChat"style="color:red">{{d.unreadCount[loggedInuser]}}</div> 
                                                                        <div class="box-user-img">
                                                                            <img src="{{d.profilePic}}" alt="img">
                                                                        </div>
                                                                        <div class="box-mid ">                                 
                                                                            <h3>{{d.name}}</h3>
                                                                            <!-- <p>{{d.sent}}</p>                                -->
                                                                            <ul *ngIf="d.lastMessage != '@@@@@@@'">
                                                                                {{d.lastMessage}}
                                                                            </ul>
                                                                            <ul *ngIf="d.lastMessage == '@@@@@@@' ">
                                                                               photo
                                                                            </ul>
                                                                            <!-- <ul *ngIf="d.type=='photo'">
                                                                                    Photo
                                                                            </ul> -->
                                                                        </div>                                
                                                                        <div>
                                                                        </div>
                                                                        <span class="chat-live" *ngIf="d.live == 'yes'"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <a (click)="getStatus()">sdfds</a> -->
                                                        <div class="col-md-12" *ngIf="isModelChat" id="phoneViewData">
                                                                <span class="mess-left">message left {{messageLeft(maxChat,minChat)}}</span> 
                                                            <div class="setting-right">
                                                               <div class="message-top">
                                                                    <span (click)="backMobile()" class="back-icon-msg"><i class="fas fa-arrow-left"></i></span>
                                                                  <div _ngcontent-poy-c1="" class="box-user-img"><img _ngcontent-poy-c1="" alt="img" src="{{modelImageToshow}}"></div>
                                                                 <div class="typing-right"> 
                                                                  <h5>{{modelNameToshow}}</h5>
                                                                   <!-- <span>message left {{messageLeft(maxChat,minChat)}}</span>  -->
                                                                  <!-- -->
                                                            </div>
                                                               </div>
                                                                <div class="setting-right-top" #scrollMe [scrollTop]="scrollMe.scrollHeight">                                  
                                                                    <!-- {{getchatData}} -->
                                                                    <ng-container *ngFor="let post of getchatData">
                                                                      
                                                                        <ng-container *ngIf="post.sender != loggedInuser">
                                                                            <div class="setting-right-one" >
                                                                                <div class="box-user-img box-user-images">
                                                                                    <img src="{{modelImage}}" alt="img">
                                                                                </div>
                                                                                <div *ngIf="post.type=='text'" class="rounded">
                                                                                        <i class="fas fa-caret-left on-top"></i>
                                                                                        {{post.message}}
                                                                                       
                                                                                </div>
                                                                                    <div *ngIf="post.type=='photo'" class="rounded imagesmessage">
                                                                                        <i class="fas fa-caret-left on-top"></i>
                                                                                        <img src="{{post.message}}" width="150px" height="150px">
                                                                                       
                                                                                    </div>
                                                                                    <span class="messageTime">{{convertTime(post.time.seconds)}}</span>
                                                                            </div>
                                                                        </ng-container>
                                                                        <ng-container *ngIf="post.sender == loggedInuser">
                                                                            <div class="setting-right-one">
                                                                                
                                                                                <div class="box-user-img box-user-images setting-right-two">
                                                                                    <img src="{{userImage}}" alt="img">
                                                                                </div>
                                                                                <div  *ngIf="post.type=='text'" class="rounded setting-right-two">
                                                                                        <i class="fas fa-caret-right on-right"></i>
                                                                                        {{post.message}}
                                                                                        
                                                                                    </div>
                                                                                    
                                                                                    <div  *ngIf="post.type=='photo'" class="rounded setting-right-two imagesmessage">
                                                                                        <i class="fas fa-caret-right on-right"></i>
                                                                                        <img src="{{post.message}}" width="150px" height="150px">
                                                                                        
                                                                                    </div>
                                                                                    <span class="messageTimeright">{{convertTime(post.time.seconds)}}</span>
                                                                            </div>
                                                                        </ng-container>     
                                                                    </ng-container>        
                                                                </div>
                                                               
                                                                 <div class="typing-message">
                                                                    <h3 *ngIf="typingStatus">typing<div class="typing-loader"></div></h3>
                                                                  </div>

                                                                  <!-- <div class="typing-message">
                                                                    <h3>typing<div class="typing-loader"></div></h3>
                                                                  </div> -->

                                                                <div class="setting-right-bottom" *ngIf ="msgOver">
                                                                        <form name="form" #myForm="ngForm" (ngSubmit)="myForm.form.valid && addPost()" novalidate>
                                                                                <label>
                                                                                        <input type="file" id="file" [(ngModel)]="imageFile" name="file"  accept="image/png,image/jpeg" capture="" style="display:none" (change)="readURL($event);">
                                                                                        <div class="image-upload" id="upfile1">
                                                                                            <div class="image-upload1" id="upfile1" style="cursor:pointer">
                                                                                                <i class="fas fa-paperclip clip"></i>
                                                                                            </div>
                                                                                        </div></label>
                                                                                        <img *ngIf="isUpload == true" id="blah"  [src]="imageSrc" alt="your image" class="uploadIMG">
                                                                                    <!-- <input  type="text" [(ngModel)]="content"  name="content"  class="multitext" (keyup)="keyup()"  (keydown)="keydown()" (ngModelChange)="valuechange($event)" placeholder="Type A message here" required #contentCheck="ngModel" *ngIf="isUpload == false"> -->
                                                                                    <textarea *ngIf="isUpload == false" [(ngModel)]="content"  class="multitext"  (ngModelChange)="valuechange()"   name="namemain" aria-describedby="emailHelp" placeholder="Type A message here" #nameCheck="ngModel"></textarea>
                            
                                                                                    <button type="submit"  [disabled]="!editmode ? 'disabled': null" ><i *ngIf="!editmode" class="fa fa-spinner fa-spin"></i>Send</button>
                                                                        </form>
                                                                </div>
                                                                <div class="mess-recharge" *ngIf ="!msgOver">
                                                                    <span>Your message Transaction Is Over <span (click)="rechargeMessage(20)" class="cursor" style="color:red">Click Here</span>To Recharge</span>
                                                                    <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="display: none" id="showModel">
                                                                       
                                                                    </a>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8 pl-0" *ngIf="!isModelChat">
                                                          <div class="chat-main">
                                                              <h3>Welcome, {{nameMain}}</h3>
                                                              <div class="john-img">
                                                                 <img src="{{imageMain}}"> 
                                                                 <span class="online"></span>
                                                              </div>
                                                              <i class="far fa-comments"></i>
                                                              <p>Select a chat to read messages</p>
                                                          </div>
                                                        </div>
                                                    </div>
                                        </div>

                                     <div class="web-view">             
                                    <div class="row padd-0">

                                       

                                        <div class="col-md-4 pr-0" >
                                            <div class="setting-left" >
    
                                                <div class="setting-left-one modelIdChange modelClass{{d.modelId}}"  *ngFor="let d of ChatToShow let i = index"  [ngClass]="{'active':AddActiveClass == i}">
                                                    <div class="box-btm cursor"  (click)="modelChat(d.id,d.userId,d.profilePic,i,d.name,'web')" id="modelId{{d.modelId}}" >
                                                        
                                                         <div *ngIf="d.unreadCount[loggedInuser] >0 && chatIdString != d.chatId" class="notificationChat" style="color:red">{{d.unreadCount[loggedInuser]}}</div> 
                                                        <div class="box-user-img">
                                                            <img src="{{d.profilePic}}" alt="img">
                                                        </div>
                                                        <div class="box-mid ">                                 
                                                            <h3>{{d.name}}</h3>
                                                            <!-- <p>{{d.sent}}</p>                                -->
                                                            <ul *ngIf="d.lastMessage != '@@@@@@@'">
                                                                {{d.lastMessage}}
                                                            </ul>
                                                            <ul *ngIf="d.lastMessage == '@@@@@@@' ">
                                                               photo
                                                            </ul>
                                                            <!-- <ul *ngIf="d.type=='photo'">
                                                                    Photo
                                                            </ul> -->
                                                        </div>                                
                                                        <div>
                                                        </div>
                                                         <span class="chat-live" *ngIf="d.live == 'yes'"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <a (click)="getStatus()">sdfds</a> --> 
                                        <div class="col-md-8 pl-0" *ngIf="isModelChat">
                                                <span class="mess-left">message left {{messageLeft(maxChat,minChat)}}</span> 
                                            <div class="setting-right">
                                                    <!-- <div  *ngIf="typingStatus"  class="typing-message">
                                                            <h3 >typing<div class="typing-loader"></div></h3>
                                                    </div> 
                                                     <div  *ngIf="typingStatus"   class="typing-message">-->
                                                   
                                               <!-- <div class="message-top">
                                                  <div _ngcontent-poy-c1="" class="box-user-img"><img _ngcontent-poy-c1="" alt="img" src="{{modelImageToshow}}"></div>
                                                 <div class="typing-right"> 
                                                    <h5>{{modelNameToshow}}</h5> -->
                                                    <!-- <span>message left {{messageLeft(maxChat,minChat)}}</span> -->
                                                    <!-- -->
                                                    <!-- <div  *ngIf="typingStatus"  class="typing-message">
                                                            <h3 >typing<div class="typing-loader"></div></h3>
                                                    </div>
                                                </div>
                                               </div> -->
                                                <div class="setting-right-top" #scrollMe [scrollTop]="scrollMe.scrollHeight">                                  
                                                    <!-- {{getchatData}} -->
                                                    <ng-container *ngFor="let post of getchatData">
                                                      
                                                        <ng-container *ngIf="post.sender != loggedInuser">
                                                            <div class="setting-right-one" >
                                                                <div class="box-user-img box-user-images">
                                                                    <img src="{{modelImage}}" alt="img">
                                                                </div>
                                                                <div *ngIf="post.type=='text'" class="rounded">
                                                                        <i class="fas fa-caret-left on-top"></i>
                                                                        {{post.message}}
                                                                       
                                                                </div>
                                                                    <div *ngIf="post.type=='photo'" class="rounded imagesmessage">
                                                                        <i class="fas fa-caret-left on-top"></i>
                                                                        <img src="{{post.message}}" width="150px" height="150px">
                                                                       
                                                                    </div>
                                                                    <span class="messageTime">{{convertTime(post.time.seconds)}}</span>
                                                            </div>
                                                        </ng-container>
                                                        <ng-container *ngIf="post.sender == loggedInuser">
                                                            <div class="setting-right-one">
                                                                
                                                                <div class="box-user-img box-user-images setting-right-two">
                                                                    <img src="{{userImage}}" alt="img">
                                                                </div>
                                                                <div  *ngIf="post.type=='text'" class="rounded setting-right-two">
                                                                        <i class="fas fa-caret-right on-right"></i>
                                                                        {{post.message}}
                                                                        
                                                                    </div>
                                                                    
                                                                    <div  *ngIf="post.type=='photo'" class="rounded setting-right-two imagesmessage">
                                                                        <i class="fas fa-caret-right on-right"></i>
                                                                        <img src="{{post.message}}" width="150px" height="150px">
                                                                        
                                                                    </div>
                                                                    <span class="messageTimeright">{{convertTime(post.time.seconds)}}</span>
                                                            </div>
                                                        </ng-container>     
                                                    </ng-container>        
                                                </div> 
                                               
                                                 <!-- <div *ngIf="typingStatus"  class="typing-message">
                                                    <h3 >typing<div class="typing-loader"></div></h3>
                                                  </div>  -->
                                                 
                                                <div class="typing-message">
                                                    <h3 *ngIf="typingStatus">typing<div class="typing-loader"></div></h3>
                                                  </div>

                                                <div class="setting-right-bottom" *ngIf ="msgOver">
                                                        <form name="form" #myForm="ngForm" (ngSubmit)="myForm.form.valid && addPost()" novalidate>
                                                                <label>
                                                                        <input type="file" id="file" [(ngModel)]="imageFile" name="file" accept="image/png,image/jpeg" capture="" style="display:none" (change)="readURL($event);">
                                                                        <div class="image-upload" id="upfile1">
                                                                            <div class="image-upload1" id="upfile1" style="cursor:pointer">
                                                                                <i class="fas fa-paperclip clip"></i>
                                                                            </div>
                                                                        </div></label>
                                                                        <img *ngIf="isUpload == true" id="blah"  [src]="imageSrc" alt="your image" class="uploadIMG">
                                                                    <!-- <input  type="text" [(ngModel)]="content"  name="content"  class="multitext" (keyup)="keyup()"  (keydown)="keydown()" (ngModelChange)="valuechange($event)" placeholder="Type A message here" required #contentCheck="ngModel" *ngIf="isUpload == false"> -->
                                                                    <input type ="text" *ngIf="isUpload == false" [(ngModel)]="content"  class="multitext"  (ngModelChange)="valuechange()"   name="namemain" aria-describedby="emailHelp" placeholder="Type A message here" #nameCheck="ngModel">
            
                                                                    <button type="submit"  [disabled]="!editmode ? 'disabled': null" ><i *ngIf="!editmode" class="fa fa-spinner fa-spin"></i>Send</button>
                                                        </form>
                                                </div>
                                                <div *ngIf ="!msgOver" class="mess-recharge">
                                                    <span>Your message Transaction Is Over <span (click)="rechargeMessage(20)" class="cursor" style="color:red">Click Here</span>To Recharge</span>
                                                    <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="display: none" id="showModel">
                                                       
                                                    </a>
                                                </div>
                                               
                                            </div>
                                        </div>
                                        <div class="col-md-8 pl-0" *ngIf="!isModelChat">
                                          <div class="chat-main">
                                              <h3>Welcome, {{nameMain}}</h3>
                                              <div class="john-img">
                                                 <img src="{{imageMain}}"> 
                                                 <span class="online"></span>
                                              </div>
                                              <i class="far fa-comments"></i>
                                              <p>Select a chat to read messages</p>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="inner-footer">
                                    <h4 class="copy">COPYRIGHT YES PIPER LLC 2020 | ALL RIGHTS RESERVED ©</h4>
                                    <ul>
                                      <li><a routerLink="/terms">Terms and conditions</a></li>
                                      <li><a routerLink="/privacy">Privacy Policy</a></li>
                                      <li><a routerLink="/faq" >FAQ's</a></li>
                                      <li><a routerLink="/contact" >Contact Us</a></li>
                                    </ul>
                            </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </section>
    


<a href="" id="paymentPopup" data-toggle="modal" data-target="#payment" style="display: none"></a>
<div class="modal fade" id="payment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content payment">
			<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" id="modalCloseClick"  aria-label="Close" style="display:none"></button>
					<button type="button" class="close" (click)="modalClose()" aria-label="Close" >
						<span aria-hidden="true">&times;</span>
					</button>
			</div>
			<div class="modal-body">
				<iframe [src]="formUrl" class="frameData"></iframe> 
			</div>
		</div>
	</div>
</div>