@import '../../../node_modules/primeicons/primeicons.css';
@import '../../../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../../../node_modules/primeng/resources/primeng.min.css';
.min-height {
    min-height: calc(80vh - 136px);
}

.right-bar-content.noti {
    margin: 35px 170px;
}
 
.box-btm button.follow:hover {
    background: #b89600;
    color: #fff;
}
.setting-right-one {
    float: left !important;
}
.uploadIMG {

    height: 50px;
    width: 50px;
    vertical-align: top;
    margin-top: 12px;
    margin-left: 10px;
    border-radius: 4px;

}
.buttonload {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 24px; /* Some padding */
    font-size: 16px; /* Set a font-size */
  }
  
  /* Add a right margin to each icon */
  .fa {
    margin-left: -12px;
    margin-right: 8px;
  }
  /* .rounded.setting-right-two.imagesmessage {
    width: 200px;
    padding: 0;
    background: none !important;
    text-align: right;
} */
.rounded.setting-right-two.imagesmessage i{
    display: none;
}
.rounded.setting-right-two.imagesmessage img {
    border-radius: 10px;
}
.rounded.imagesmessage img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
.rounded.setting-right-two.imagesmessage img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
/* .rounded.imagesmessage{
    width: 200px;
    padding: 0;
    background: none !important;
    text-align: left;
} */
.rounded.imagesmessage img{
    max-width: 100%;
    height: auto;
    object-fit: cover;   
}
.rounded.imagesmessage i{
    display: none;
}
.rounded.imagesmessage img {
    border-radius: 10px;
}


/*typing message css start*/

.typing-message h3{font-size:12px;color:#6C7074;font-weight: 400;}

.typing-loader{
    width: 8px;
	margin-left:6px;
	display: inline-block;
    height: 8px;
	border-radius:50%;
    -webkit-animation: line 1s linear infinite alternate;
   -moz-animation: line 1s linear infinite alternate;
   animation: line 1s linear infinite alternate;
}
@-webkit-keyframes line{
    0%{
       
        background-color: rgba(0,0,0, 1);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                    24px 0px 0px 0px rgba(0,0,0,0.2);
                    
      }
    25%{ 
            background-color: rgba(0,0,0, 0.4);
            box-shadow: 12px 0px 0px 0px rgba(0,0,0,2), 
                    24px 0px 0px 0px rgba(0,0,0,0.2);
                    
    }
    75%{ background-color: rgba(0,0,0, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                    24px 0px 0px 0px rgba(0,0,0,2);
                   
      }
}

@-moz-keyframes line{
    0%{
       
        background-color: rgba(0,0,0, 1);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                    24px 0px 0px 0px rgba(0,0,0,0.2);
                    
      }
    25%{ 
            background-color: rgba(0,0,0, 0.4);
            box-shadow: 12px 0px 0px 0px rgba(0,0,0,2), 
                    24px 0px 0px 0px rgba(0,0,0,0.2);
                    
    }
    75%{ background-color: rgba(0,0,0, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                    24px 0px 0px 0px rgba(0,0,0,2);
                   
      }
}

@keyframes line{
    0%{
       
        background-color: rgba(0,0,0, 1);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                    24px 0px 0px 0px rgba(0,0,0,0.2);
                    
      }
    25%{ 
            background-color: rgba(0,0,0, 0.4);
            box-shadow: 12px 0px 0px 0px rgba(0,0,0,2), 
                    24px 0px 0px 0px rgba(0,0,0,0.2);
                    
    }
    75%{ background-color: rgba(0,0,0, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                    24px 0px 0px 0px rgba(0,0,0,2);
                   
      }
}

.typing-right {
 display: inline-block;
 vertical-align: top;
}
.typing-right .message-top h5{
    margin: 10px 0 5px;
}
/* span.chat-live{
width:9px;
height:9px;
background:#4dd965;
position: absolute;
border-radius: 20px;
top: 12px;
border: 2px solid#fff;
} */

span.chat-live {
    width: 10px;
    height: 10px;
    background: 
    #4dd965;
    position: absolute;
    border-radius: 20px;
    top: 27px;
    border: 0;
    right: 10px;
}

#chat-popup .modal-dialog{width: 750px;max-width: 750px;}
#chat-popup .modal-header{padding-bottom:22px;}
#chat-popup .modal-body{padding:0;}
body .ui-rating a {color: #f05742;}
body .ui-rating a .ui-rating-icon {font-size: 22px;color: #f05742;}
#chat-popup .typing-message {
    position: absolute;
    top: 48px;
}

.modal-footer h6 {
  margin: 24px 0 0;
  margin-right: 0px;
  display: inline-block;
  float: left;
  color:#f05742;
}
#payment .modal-dialog {
  max-width: 700px;
}
.frameData {
  width: 100%;
  height: 100%;
  border: 0;
}
.payment .modal-content{
min-height: 650px;
}
#payment .modal-body {
  height: 650px;
}
#payment html {
  background-color:none;
}

#payment .flexforms_wrapper.one_center .body {
  padding: 0 !important;
  max-width: 100% !important;
}
#payment iframe.body{
  border: 0!important;
}
.flexforms_wrapper.one_center {
  margin: 0;
}
.flexforms_wrapper.one_center {
  max-width: 100%;
}
.modal-body{padding: 0;}

#payment .close {
  position: relative;
  right: 0;
  top: 0;
}
