<app-header></app-header>
<section class="slider how-it-modal ">
  <div class="bd-example">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/images/model-how-it-work-top.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>become a model</h5>
            <p>Join other Yes piper models earning $1,00's through the worlds ONLY Pornstar Platform, designed by Pornstars for Pornstars.Experience earning like never before with Yes Piper's innovative features and generous revenue share system - Keep more of you earn!
            </p>
        <!-- <a class="active" data-toggle="modal" data-target="#subscriber-modal">Become a Model</a> -->
        <a class="active" routerLink="/signup" [queryParams]="{join: 'model'}">Become a Model</a>
          </div>
        </div>
      </div>
  
  </div>
  </section>
  <!-- how-it-modal top part start -->  
  
  <!-- earn more part start -->  
  <section class="earn-more padding">
    <div class="container">
      <div class="heading">
       <h4><b>Earn MORE. The Features,</b> Benefits and the "Extras"</h4>
         </div>
         <p>Yes Piper is the first of it's kind. When building our platform we've considered everything possible to run a successful<br> content creation profile. We've added several features to maximise your earnings.</p>
    </div>
  </section>
  <!-- earn more part close -->
  
  <!-- how it work wall part start -->  
  <section class="how-it-wall-main">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="how-it-wall-one padd">
            <div class="how-it-wall-one-icon">
              <img src="assets/images/how-it-wall-icon1.png" alt="icon">
            </div>
            <h3>Content Wall</h3>
             <p>Post content immediately or schedule for a later date. Perfect for providing consistent content for those with a busy schedule. Post videos, pictures or teasers. Save time with our Bulk Upload feature.</p>
          </div>
        </div>	
        <div class="col-md-4">
          <div class="how-it-wall-one padd">
            <div class="how-it-wall-one-icon">
              <img src="assets/images/how-it-wall-icon2.png" alt="icon">
            </div>
            <h3>Tipping</h3>
             <p>Your subscribers will always have the option to tip for all your hard work. Custom amount options.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="how-it-wall-one phone-img">
            <img src="assets/images/how-img.png" alt="img">	
          </div>
        </div>	
      </div>
    </div>
  </section>
  
  <!-- how it work wall part start -->  
   
  
  
  <!-- Benefit part start --> 
  <section class="benefits-main padding">
    <div class="container">
         <div class="steps-padding">
         <div class="row">
          <div class="col-sm-6">
            <div class="benefits">
              <span><img src="assets/images/model-how-it-icon1.png" alt="icon"></span>
               <div class="benefits-text">
                 <h3>Set Your Hours</h3>
                  <p>Choose when you wish to work! Set your availability for Video Chat. Users will be able to view your time slots, book and pay all without contacting you.</p>
               </div>
            </div>	
          </div>
          <div class="col-sm-6">
            <div class="benefits">
              <span><img src="assets/images/model-how-it-icon2.png" alt="icon"></span>
               <div class="benefits-text">
                 <h3>Go "Live" </h3>
                  <p>Go "live" video chat. Chat with multiple subscribers for more interaction, subscribers pay per session.</p>
               </div>
            </div>	
          </div>
         <div class="col-sm-6">
            <div class="benefits">
              <span><img src="assets/images/model-how-it-icon3.png" alt="icon"></span>
               <div class="benefits-text">
                 <h3>1 Way Video Chat</h3>
                  <p>Boost your earnings by utilising the 1 way video chat. Subscribers will pay a premium to have a more personalised experience. Only one subscriber can view at a time. Lovense Toy integration available!</p>
               </div>
            </div>	
          </div>
          <div class="col-sm-6">
            <div class="benefits">
              <span><img src="assets/images/model-how-it-icon4.png" alt="icon"></span>
               <div class="benefits-text">
                 <h3>Paid Messages</h3>
                  <p>Chat with your subscribers.</p>
               </div>
            </div>	
          </div>
          <div class="col-sm-6">
            <div class="benefits mar-bott">
              <span><img src="assets/images/benefits-icon5.png" alt="icon"></span>
               <div class="benefits-text">
                 <h3>24 hour Chat Support</h3>
                  <p>The only platform that supports models 365 days a year. 24 hours a day. Need assistance? Just talk to one of our friendly Model Support agents.</p>
               </div>
            </div>	
          </div>
          <div class="col-sm-6">
            <div class="benefits">
             <span><img src="assets/images/work-anywhere.png" alt="icon"></span>
               <div class="benefits-text">
                 <h3>Work Anywhwre</h3>
                  <p>Yes Piper models are their own bosses! Work wherever you like. whenever you like. Never miss out on getting paid. no matter where you are, just log in and make money!</p>
               </div>
            </div>	
          </div>
           <div class="col-sm-6">
            <div class="benefits mar-bott">
             <span><img src="assets/images/model-how-it-icon6.png" alt="icon"></span>
               <div class="benefits-text">
                 <h3>Integrate with Twitter</h3>
                  <p>Connect your Yes Piper account with your Twitter account. Set custom triggers that promote sales you've made on your Twitter feed. All without lifting a finger!</p>
               </div>
            </div>	
          </div>
      <div class="col-sm-6">
            <div class="benefits mar-bott">
             <span><img src="assets/images/model-how-it-icon7.png" alt="icon"></span>
               <div class="benefits-text">
                 <h3>No Equipment Needed</h3>
                  <p>Yes Piper models do not require studio space or specialized equipment! Start making money just by using your smartphone, desktop or laptop!</p>
               </div>
            </div>	
          </div>
          <div class="col-md-12">
             <div class="model-become-btn">
                <button routerLink="/signup" [queryParams]="{join: 'model'}">Become a Model</button>
             </div>
          </div>
         </div>
    </div>
  </div>
  </section>
  <!-- Benefit part close --> 
  
  <!-- Payment Structure part start --> 
  <section class="payment-structure padding">
    <div class="container">
      <div class="heading">
       <h4><b>Payment</b> Structure</h4>
         </div>
         <p>Yes Piper have no minimum payout amount! Models are paid out weekly, payouts should't be confusing! Yes Piper competitive<br> revenue share program is unrivalled. We believe that you work too hard to just handover YOUR earnings to high<br> commission platforms!</p>
         <div class="payment">
         <div class="row">
            <div class="col-md-6">
              <div class="payment-box">
                <div class="model-payment-graf">
            <img src="assets/images/payment-graph.png" alt="img">
          </div> 
          <div class="payment-stur-data">
            <h3>Basic Share</h3>
           <p>Subscriptions & Tip Earnings</p>
            <h4>82.5/17.5 Split.</h4>
             <h5>You Keep $825.00 of $1,000 in earnings!</h5>
          </div>
              </div>
            </div>
        <div class="col-md-6">
              <div class="payment-box">
                <div class="model-payment-graf">
            <img src="assets/images/payment-graph.png" alt="img">
          </div> 
          <div class="payment-stur-data">
            <h3>Extra's Share*</h3>
           <p>Message chat, Go Live & Private Video Booking Earning</p>
            <h4>75/25 Split</h4>
             <h5>You Keep $750 of $1,000 in earnings!</h5>
          </div>
              </div>
            </div>
         </div>
    </div>
    </div>
  </section>
  <!-- Payment Structure part close --> 
  
  <!-- what now part start --> 
  
  <section class="what-now-model padding">
    <div class="container">
      <div class="what-now-inn">
      <h3>I want to become a model. what now?</h3>
       <ul>
        <li>1. Click"Become a Model"button.</li>
       <li>2. Verify your email.</li>
       <li>3. Complete Application (max 5 minutes).</li>
        <li>4. Start EARNING!</li>
       </ul>
       <button routerLink="/signup" [queryParams]="{join: 'model'}">become a model</button>
    </div>
    </div>
  </section>
  <!-- what now part close --> 
  
  
  <!-- Want to Know more part start --> 
  <section class="want-know-more padding">
    <div class="container">
      <div class="heading">
      <h4><b>Want to Know more?</b> Just ask.</h4>
       </div>
     <div class="steps-padding">
      <div class="row">
      <div class="col-md-4">
        <div class="steps-home">
          <div class="steps-icon">
            <img src="assets/images/know-more-icon1.png" alt="icon">
          </div>
           <h3>Chat</h3>
        </div>	
        </div>
        <div class="col-md-4">
        <div class="steps-home">
          <div class="steps-icon">
           <img src="assets/images/know-more-icon2.png" alt="icon">
          </div>
           <h3>FAQs</h3>
        </div>	
        </div>
        <div class="col-md-4">
        <div class="steps-home">
          <div class="steps-icon">
            <img src="assets/images/know-more-icon3.png" alt="icon">
          </div>
           <h3>Terms & Conditions</h3>
        </div>	
        </div>
      </div>
      </div>
       </div>
  </section>
  <!-- Want to Know more part close --> 
<div class="modal fade" id="subscriber-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Subscriber</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
		  <div class="col-sm-6">
		    <div class="model-subscribe active">
			  <img src="assets/images/subs-model-img1.png" alt="icon">
			   <h3>Model </h3>
			   <span><img src="assets/images/subs-check.png" alt="check"></span>
			</div>
		  </div>
		  <div class="col-sm-6">
		    <div class="model-subscribe subscr">
			  <img src="assets/images/subs-model-img2.png" alt="icon">
			   <h3>Subscriber</h3>
			</div>
		  </div>
		  
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn">join now</button>
      </div>
    </div>
  </div>
</div>
  <app-footer></app-footer>