/*how it works page css start*/

.live-models.howit .heading h4 {text-transform: uppercase;}
.box-main.how-top-box {padding: 25px;box-shadow: 0 2px 10px rgba(0,0,0,0.2);}
.box-main.how-top-box h4{font-size: 27px;color:#242424;margin-bottom: 20px;}
.box-main.how-top-box li{font-size: 15px;color:#242424;margin-bottom: 28px;list-style: disc;}
.box-main.how-top-box ul {padding-left: 15px;min-height: 330px;}
.box-main.how-top-box .btn{background:#9fdbce;text-transform: uppercase;font-size: 14px;font-weight: 600;padding: 14px 35px;margin-top: 10px;}
.box-main.how-top-box .btn a{color: #fff;}
.box-main.how-top-box .btn:hover a{color: #212529;}
.how-featur{background: #fff;box-shadow: 0 15px 20px 0 rgba(0,0,0,.08);padding: 25px;border-radius:3px;margin-top: 40px;}
.how-featur h3{font-size: 28px;color: #242424;font-weight: 500;margin-bottom: 18px;}
.how-featur p{font-size: 15px;color: #585858;line-height: 25px;}
.featur-img {text-align: center;}
.live-models.howit p {text-align: center;font-size: 16px;margin-bottom: 50px;line-height: 30px;}
.box-main.how-top-box.earn {text-align: center;padding: 35px 22px;min-height: 350px;}
.box-main.how-top-box.earn h3{font-size: 25px;color:#242424;margin: 30px 0 20px;}
.box-main.how-top-box.earn p{font-size: 14px;color:#585858;line-height: 25px;margin-bottom: 0;}
.live-models.howit .heading{margin-bottom: 30px;}

/*how it works page css close*/


/*home page changes css start*/
.slider .carousel-caption h5 {font-size: 37px;margin-bottom: 20px;}
.slider .carousel-caption h6{font-size: 24px;line-height: 45px;margin-bottom: 50px;}
.enjoy-promo::before{background: rgba(0, 0, 0, 0.4);content: "";width: 100%;height: 100%;position: absolute;left: 0;top: 0;}
.enjoy-promo{background-image: url("../../assets/images/xpromo-img.png");min-height: 365px; background-attachment: fixed;position: relative;
background-position: center;background-repeat: no-repeat;background-size: cover;text-align: center;padding: 45px 0;}
.sign-up-icon{background: rgba(255, 255, 255, 0.6);width: 105px;height: 105px;border-radius: 50%;margin:0 auto;border: 2px solid #fff;padding: 28px 0;position: relative;}
.sign-up-icon i {font-size: 45px;color: #fff;}
.enjoy-promo h3{font-size: 32px;color: #fff;text-transform: uppercase;font-weight: 500;margin: 45px 0 30px;position: relative;}
.enjoy-promo button{font-size: 18px;color: #fff;text-transform: uppercase;background: #9fdbce;border-radius:4px;border: 0;padding: 12px 60px;position: relative;
display: inline-block;}

.benefits {margin-bottom: 45px;}
.benefits span{width: 80px;height: 80px;background: #f05742;border-radius:50%;display: inline-block;text-align: center;padding: 22px 0;margin-right: 20px;}
.benefits-text {display: inline-block;vertical-align: top;width: 80%;}
.benefits-text h3{font-size: 24px;color: #242424;font-weight: 500;margin-bottom: 10px;}
.benefits-text p{font-size: 14px;color: #585858;font-weight: 400;line-height: 22px;}
.benefits.mar-bott {margin-bottom: 0;}

.enjoy-promo.chat-with{background-image: url("../../assets/images/xpromo-img2.png");min-height: 365px; background-attachment: fixed;position: relative;
background-position: center;background-repeat: no-repeat;background-size: cover;text-align: center;padding: 45px 0;}

.steps-home{text-align:center;}
.steps-icon{width: 80px;height: 80px;background: #9fdbce;border-radius: 50%;margin:0 auto;padding: 22px 0;}
.steps-icon i {font-size: 34px;color: #fff;}
.steps-home h3{font-size: 50px;font-weight: 600;margin: 25px 0 20px;}
.steps-home h4{font-size:18px;font-weight: 400;color: #6c6a6a;}
.steps-padding {padding: 0 100px;}

.enjoy-promo.waiting{background-image: url("../../assets/images/xpromo-img3.png");min-height: 333px; position: relative;
background-position: center;background-repeat: no-repeat;text-align: center;padding: 45px 0;background-attachment: inherit;}
.enjoy-promo.waiting h3 {margin-bottom: 60px;}
/*home page changes css close*/

/*how it works modal side page css start*/
.slider.how-it-modal .carousel-caption h5{margin-bottom: 0;font-size: 50px;}
.slider.how-it-modal .carousel-caption p{text-transform: capitalize;font-size: 20px;font-weight: 400;line-height: 33px;padding: 30px 0 40px;width: 75%;}
.slider.how-it-modal .carousel-caption a{width: 210px;}
.slider.how-it-modal .carousel-caption{left: 55%;}

.earn-more p{text-align: center;font-size: 16px;color: #585858;line-height: 30px;}
.earn-more .heading{margin-bottom :35px;}
.how-it-wall-main{background-image: url("../../assets/images/how-it-wall-img.jpg");min-height: 550px; position: relative;background-attachment: inherit;position: relative;
background-position: top;background-repeat: no-repeat;background-size: cover;text-align: center;}
.how-it-wall-one {text-align: center;}
.how-it-wall-one-icon{width: 95px;height: 95px;background: #fff;border-radius: 50%;margin: auto;padding: 25px 0;}
.how-it-wall-one h3{font-size: 32px;color: #fff;font-weight: 500;margin: 40px 0 30px;}
.how-it-wall-one p{font-size: 15px;color: #fff;font-weight: 400;line-height: 27px;}
.how-it-wall-one.phone-img {text-align: center;position: absolute;top: 95px;}
.how-it-wall-one.padd {padding: 115px 0;}
.model-become-btn{text-align: center;font-size: 16px;color: #fff;margin-top: 80px;}
.model-become-btn button{font-size: 15px;color: #fff;text-transform: uppercase;display: inline-block;border-radius: 4px;border: 2px solid #9fdbce;padding: 15px 0;width: 220px;text-align: center;background: #9fdbce;font-weight: 600;letter-spacing: 2px;}
.model-become-btn button:hover{color:#212529;}
.payment-structure.padding{padding-top:20px;}
.payment-structure .model-payment-graf {display: inline-block;margin-right:30px;}
.payment-structure p{text-align:center;margin-bottom:80px;text-align: center;font-size: 16px;color: #585858;line-height: 30px;}
.payment-structure .payment-stur-data {display: inline-block;vertical-align: top;margin:20px 0;width:55%;}
.payment-structure .payment-stur-data h3{font-size:38px;color:#f05742;font-weight:500;margin-bottom:12px;}
.payment-structure .payment-stur-data p{text-align: left;font-size: 17px;color: #494747;font-weight:400;line-height:25px;}
.payment-structure .heading {margin-bottom: 35px;}
.payment-structure .payment-stur-data h4{font-size:30px;color:#242424;font-weight:500;margin-bottom:15px;}
.payment-structure .payment-stur-data h5{font-size:19px;color:#242424;font-weight:400;}

.what-now-model.padding {padding: 35px 0;}
.what-now-model{background-image: url("../../assets/images/what-now-img.png");min-height: 450px; position: relative;background-attachment: inherit;position: relative;
background-position: top;background-repeat: no-repeat;background-size: cover;text-align: center;}
.what-now-inn{text-align:center;}
.what-now-inn h3{font-size:33px;color:#fff;font-weight:500;margin-bottom:30px;}
.what-now-inn li{color:#fff;font-size:22px;margin-bottom:25px;}
.what-now-inn button{font-size: 15px;color: #fff;text-transform: uppercase;display: inline-block;border-radius: 4px;border: 2px solid #9fdbce;padding: 15px 0;width: 220px;text-align: center;background: #9fdbce;font-weight: 600;letter-spacing: 2px;margin-top:20px;}
.what-now-inn button:hover{color:#212529;}
.want-know-more .steps-home h3{font-size:25px;}

/*Subscriber modal popup css start*/
#subscriber-modal .modal-header{padding-bottom:10px;}
#subscriber-modal .modal-content{border-radius:10px;}
#subscriber-modal .modal-dialog {max-width: 570px;width:570px;}
#subscriber-modal .modal-header h5{font-size:27px;color:#242424;}
#subscriber-modal .model-subscribe{background:#f05742;text-align:center;padding:30px 0;border-radius:6px;}
#subscriber-modal .model-subscribe h3{font-size:28px;color:#fff;font-weight:500;padding-top:20px;}
#subscriber-modal .modal-body{padding:25px;}
#subscriber-modal .modal-header .close {padding: 22px;}
#subscriber-modal .model-subscribe.subscr{background:#9fdbce;}
#subscriber-modal .modal-footer .btn{margin:30px auto 0;font-size:16px;color:#fff;background:#9fdbce;border-radius:4px;text-transform:uppercase;font-weight:500;padding:12px 35px;}
#subscriber-modal .modal-footer .btn:hover{color:#212529;}
.model-subscribe.active span{display:block;}
.model-subscribe span {position: absolute;top: -8px;right: 8px;display:none;}

/*Subscriber modal popup css close*/
 


@media screen and (max-width: 1440px) { 
.slider.how-it-modal .slider .carousel-caption{top: 17%;}
.payment-structure .payment-stur-data{width:50%;}

}

@media screen and (max-width: 1366px) { 
.slider.how-it-modal .carousel-caption{top: 10%;left:50%;}
.payment-structure .payment-stur-data {width: 48%;}
 
}

@media screen and (max-width: 1280px) { 
.payment-structure .model-payment-graf{width: 35%;}
.benefits-text{width:75%;}
 
}

@media screen and (max-width: 1135px) { 
.slider.how-it-modal .carousel-caption {top: 5%;left: 40%;}
.payment-structure .payment-stur-data {width: 55%;}
.payment-structure .model-payment-graf{margin-right: 20px;} 
.payment-structure p{margin-bottom:40px;} 
.how-it-wall-one.phone-img{top:130px;}
 
}


@media screen and (max-width: 1024px) {
.slider .carousel-caption {top: 8%;left: 45%;}
.steps-padding {padding: 0 50px;}
.benefits-text{width: 71%;}
.benefits-text h3{font-size: 21px;}

}

@media screen and (max-width: 768px) {
.steps-padding {padding: 0;}
.benefits-text p {font-size: 15px;}
.slider.how-it-modal .carousel-caption {top: 0%;left: 10px;}
.slider.how-it-modal .carousel-caption p{width:98%;padding:10px 0;}
.benefits-text {width: 68%;}
.payment-structure .col-md-6{max-width:100%;flex:auto;}
.payment-structure .payment-box {margin-bottom: 40px;}

}

@media screen and (max-width: 767px) {
.d-none {display: block !important;}
.how-it-wall-main{min-height:auto;}
.how-it-wall-one.phone-img{position:relative;top:50px;}
.how-it-wall-one.padd {padding: 30px 0;}

}

@media screen and (max-width: 414px) {
.benefits.mar-bott {margin-bottom: 50px;}
.slider.how-it-modal .carousel-caption h5{font-size:18px;}
.slider.how-it-modal .carousel-caption p{font-size:12px;line-height:normal;}
.slider.how-it-modal .carousel-caption{padding:5px 0;}
.slider.how-it-modal .carousel-caption a {width: 150px;font-size:11px;padding:8px 0;}
.payment-structure .payment-box{text-align:center;}
.payment-structure .model-payment-graf {width: 55%;margin-right:0;}
.payment-structure .payment-stur-data {width: 100%;}
.payment-structure .payment-stur-data p {text-align: center;}
.what-now-inn h3 {font-size: 18px;}
.what-now-inn li{margin-bottom:15px;}

/*Subscriber modal popup media css*/
#subscriber-modal .modal-dialog{width:95%;}
#subscriber-modal .modal-dialog .col-sm-6{width: 50%;}
#subscriber-modal .modal-body {padding: 15px;}
#subscriber-modal .model-subscribe{padding:20px 0;}
#subscriber-modal .model-subscribe h3 {font-size: 22px;}
#subscriber-modal .modal-footer .btn {margin: 22px auto 0;}
/*Subscriber modal popup media css*/

}

@media screen and (max-width: 375px) {
.enjoy-promo h3 {font-size: 28px;}
.enjoy-promo button{padding: 10px 60px;}
.benefits span {width: 70px;height: 70px;padding: 18px 0;}
.benefits span img {max-width: 45%;}
.benefits-text h3{margin-bottom: 5px;font-size: 19px;}
.slider .carousel-caption {left: 18%;}
.slider .carousel-caption li {font-size: 12px;}
.slider .carousel-caption a {padding: 6px 0;width: 100px;font-size: 11px;}
.slider.how-it-modal .carousel-caption p{font-size:12px;padding:5px 0;line-height:15px;}


}

@media screen and (max-width: 320px) {
.benefits-text {width: 67%;}
.slider.how-it-modal .carousel-caption h5{font-size:15px;} 
.slider.how-it-modal .carousel-caption a{padding:5px 0;}

/*Subscriber modal popup media css*/
#subscriber-modal .model-subscribe{margin-bottom:20px;}
#subscriber-modal .modal-dialog .col-sm-6{width: 100%;}
#subscriber-modal .modal-body {padding: 15px;}
#subscriber-modal .model-subscribe{padding:20px 0;}
#subscriber-modal .model-subscribe h3 {font-size: 22px;}
#subscriber-modal .modal-footer .btn {margin: 22px auto 0;}
/*Subscriber modal popup media css*/

}

