/* .term{margin-bottom:50px;}
.term h3{font-size:17px;margin-bottom:15px;}
.term p{font-size: 14px;color: #403D3D;line-height:26px;font-weight:300;}
.term li{list-style-type: decimal;}
.term ul {padding-left: 12px;}
.term li {color: #403D3D;font-size: 15px;font-weight:500;padding-left:5px;margin-top:25px;}
.term li span{font-size: 14px;color: #403D3D;font-weight:300;} */

.term a {
    float: left;
    width: 100%;
    color: #242424;
}


/*terms conditions page css start*/

.term{margin-bottom:30px;}
.become-model.login.padding.term .heading {padding-top: 40px;}
.term h3{font-size:15px;margin-bottom:15px;}
.term p{font-size: 14px;color: #242424;line-height:26px;font-weight:300;}
.term li{list-style-type: decimal;}
.term ul {padding-left: 12px;margin:8px 0;}
.term li {font-size: 14px;color: #242424;line-height:26px;font-weight:300;list-style:disc;margin-bottom:12px;}
.term li span{font-size: 14px;color: #838080;font-weight:300;}

/*terms conditions page css close*/

@media screen and (max-width: 1366px) {
.become-model.login.padding.term .heading {padding-top: 0;} 
        
}

@media screen and (max-width: 1280px) {
.become-model.login.padding.term .heading {padding-top: 70px;}

}

@media screen and (max-width: 1024px) {
/* .become-model.login.padding.term .heading {padding-top: 30px;} */
        
}

@media screen and (max-width: 414px) {
.term p{word-wrap: break-word;}
.become-model.login.padding.term .heading h4{font-size: 25px;}

}