<app-header></app-header>
<section class="become-model login padding term">
    <div class="container">                                                                                        
      <div class="heading">
         <h4><b>Privacy</b> Policy</h4>
      </div>
   
     
      <div class="col-sm-8 offset-2">
        <div class="term">
        <p>Yes Piper LLC (the “Company”) respects your privacy and is committed to protecting it through this privacy policy (the “policy”). This policy describes the types of information the Company may collect from you or that you may provide when you visit the website located at www.ismygirl.com (the "Website") and the Company’s practices for collecting, using, keeping, protecting, and disclosing that information. </p>
    </div> 
    
    <div class="term">
      <h3>This policy applies to information the Company collects: </h3>
       <ul class="policy-list">
        <li>On the Website (including desktop and mobile versions). </li> 
        <li> In email, text, and other electronic messages between you and the Company. </li> 
        <li> When you interact with the Company’s advertising and applications on third-party websites and services, if those applications or advertising include links to this policy. </li> 
        <li>When you interact with the Website through third-party social media platforms. </li> 
       </ul>
    </div>
    
    <div class="term">
      <h3>It does not apply to information collected by:</h3>
       <ul class="policy-list">
        <li> The Company offline or through any other means, including on any other website operated by the Company or any third party (including the Company’s affiliates and subsidiaries); or </li> 
        <li>Any third party (including the Company’s affiliates and subsidiaries), including through any application or content (including advertising) that may link to or be accessible from (or on) the Website.</li> 
       </ul>
       <p>
         <strong>Important:</strong>​ Please read this policy carefully to understand the Company’s policies and practices regarding your information and how the Company will treat it. If you do not agree with the Company’s policies and practices, your choice is not to use the Website. ​By accessing or using the Website, you agree to this policy and consent to the Company’s collection, use, disclosure, retention, and protection of your personal information as described in this policy.
    ​ The Company may change this policy on one or more occasions. The Company will consider your continued use of the Website after the Company makes changes as your acceptance of the changes, so please check this policy frequently for updates.
       </p>
    </div> 
    
    <div class="term">
      <h3>Our policy on information of Minors </h3>
       <p>The Company does not collect or solicit any information from anyone under 18-years old or allow people under 18-years old to register for the Website. The Website and its content are not directed at children under 18-years old. In the event that the Company learns or is informed that it has collected personal information from a child under 18-years old, the Company will delete that information as quickly as possible. If you believe that the Company might have any information from or about a child under 18-years old, please email info@yespiper.com.   
     </p>
    </div> 
    
    <div class="term">
      <h3>What types of information does the Company collect about you and how is it collected? </h3>
       <p>The Company may collect several types of information from and about users of the Website, including information: </p>
       <ul class="policy-list">
        <li> That may personally identify you including your full name, username, mailing address, email address, date of birth, encrypted credit card information, bank account information, social security number/federal employment identification number, </li> 
        <li> any other information that the Company collects that is defined as personal or personally identifiable information under law (“personal information ”); that is about you but individually does not identify you, including your age, gender and gender preference, ethnicity, location, height, weight, hair colour, religion or any other optional information you provide about yourself; or about your Internet connection, the equipment you use to access the Website, and usage details. </li> 
       </ul>
    </div> 
    
    <div class="term">
      <h3>The Company collects this information: </h3>
       <ul class="policy-list">
        <li> Directly from you when you provide it to the Company. </li> 
        <li> Automatically as you navigate through the Website. Information collected automatically may include usage details, IP addresses, and information collected through cookies, web beacons, and other tracking technologies.</li> 
        <li>From third parties, for example, the Company’s business partners. </li> 
        <li>Information You Provide to the Company </li> 
       </ul>
    </div> 
    
    <div class="term">
      <h3>The information the Company collects on or through the Website may include: </h3>
       <ul class="policy-list">
        <li>Information that you provide by filling in forms on the Website. This includes information provided at the time of registering to use the Website, signing up for an account, purchasing content, or requesting further services. The Company may also ask you for information when you report a problem with the Website or a service. </li> 
        <li>Records and copies of your correspondence (including email addresses), if you contact the Company. </li> 
        <li> Your responses to surveys that the Company might ask you to complete for research purposes. </li> 
        <li>Details of transactions you carry out through the Website and of the fulfillment of your orders. You may be required to provide financial information before placing an order through the Website or receiving payment from the Company. </li> 
        <li> Your search queries on the Website. </li> 
       </ul>
       <p>You also may provide information to be published or displayed (“ posted”) on public areas of the Website, or transmitted to other users of the Website or third parties (collectively, “ user contributions”). Your user contributions are posted on the Website and transmitted to others at your own risk. Although you may be able to set certain privacy settings for this information by logging into your account, please be aware that no security measures are perfect or impenetrable. Additionally, the Company cannot control the actions of other users of the Website with whom you may choose to share your user contributions. Thus, the Company cannot and does not guarantee that your user contributions will not be viewed by unauthorized persons. </p>
    </div> 
    
    <div class="term">
      <h3>Information the Company Collects through Automatic Data Collection Technologies </h3>
       <p>As you navigate through and interact with the Website, the Company may use automatic data collection technologies to collect certain information about your equipment, browsing actions, and patterns, including:  
     </p>
      <ul class="policy-list">
        <li>Details of your visits to the Website, including traffic data, location data, logs, and other communication data and the resources that you access and use on the Website.</li> 
        <li> Information about your computer and Internet connection, including your IP address, operating system, and browser type. </li> 
        <li> Information about your mobile device and Internet connection, including the device’s unique device identifier, IP address, operating system, browser type, mobile network information, and the device’s telephone number.</li> 
       </ul>
       <p>The Company also may use these technologies to collect information about your online activities over time and across third-party websites or other online services (behavioral tracking). </p>
       <p>The information the Company collects automatically is statistical data and does not include personal information, but the Company may keep it or associate it with personal information the Company collects in other ways or receives from third parties. It helps the Company to improve the Website and to deliver a better and more personalized service, by allowing the Company to: </p>
       <ul class="policy-list">
        <li>Estimate the Website’s audience size and usage patterns. </li> 
        <li> Store information about your preferences, thus allowing the Company to customize the Website according to your individual interests. </li> 
        <li>Speed up your searches. </li> 
        <li>Recognize you when you return to the Website. </li> 
       </ul>
       <p>The technologies the Company uses for this automatic data collection may include: </p>
        <ul class="policy-list">
          <li><b>Cookies​ </b>(or browser cookies). A cookie is a small file placed on the hard drive of your computer. Your browser stores cookies in a manner associated with each website you visit. The Company uses cookies to enable its servers to recognize your browser and tells the Company how and when you visit the Website and use the services. You may refuse to accept browser cookies by activating the appropriate setting on your browser. But if you select this setting you may be unable to access certain parts of the Website. Unless you have adjusted your browser settings so that it will refuse cookies, the Company’s system will issue cookies when you direct your 
    browser to the Website. If you want to learn more about cookies, please visit www.allaboutcookies.org. </li> 
          <li> <b>Flash Cookies​.</b> Certain features of the Website may use local stored objects (or Flash cookies) to collect and store information about your preferences and navigation to, from, and on the Website. Flash cookies are not managed by the same browser settings as are used for browser cookies. For information about managing your privacy and security settings for Flash cookies, you can access your Flash management tools from Adobe’s website . </li> 
          <li><b>Web Beacons​.</b> Pages of the Website (and the Company’s emails) may contain small electronic files known as web beacons (also referred to as clear gifs, pixel tags, and single-pixel gifs) that permit the Company, for example, to count users who have visited those pages (or opened an email) and for other related website statistics (for example, recording the popularity of certain website content and verifying system and server integrity). If you want to learn more about web beacons, please visit www.allaboutcookies.org/web-beacons/ .</li> 
       </ul>
       <p>The Company does not collect personal information automatically, but it may tie this information to personal information about you that the Company collects from other sources or you provide to the Company. </p>
    </div> 
    
    <div class="term">
      <h3>Third-party Use of Cookies and Other Tracking Technologies </h3>
       <p>Some content or applications on the Website are served by third parties, including content providers and application providers. These third parties may use cookies alone or in conjunction with web beacons or other tracking technologies to collect information about you when you use the Website. The information they collect may be associated with your personal information or they may collect information, including personal information, about your online activities over time and across different websites and other online services. They may use this information to provide you with targeted content. 
       <br>
       The Company does not control third-party tracking technologies or how third parties’ use them. If you have any questions about targeted content, you should contact the responsible provider directly.  
     </p>
    </div> 
    
    <div class="term">
      <h3>Social Networks and Third-Party Plugins </h3>
       <p>The Website may include plugins from social networks and other third parties. An example of a plugin is the Facebook® “Like” button. Where legally permitted, these plugins may communicate with and send information to the party that provided the plugin, even if you do not click on the plugin. This information may include your IP address, information about your browser and device, and the address of the webpage you are visiting on the Website. Loading, using, or clicking the plugins may also place, read, and transmit cookies. These cookies may contain a unique identifier the social network or third party assigns you. The loading, functionality, and your use of the plugins are governed by the privacy policy and terms of the party that provided the plugin.   
     </p>
    </div> 
    
    <div class="term">
      <h3>How does the Company use your information? </h3>
       <p>The Company may use the information that it collects for any of the following purposes: </p>
       <ul class="policy-list">
        <li>To provide, operate, maintain, improve, and promote the Website. </li> 
        <li> To enable you to access and use the Website, including uploading, downloading, collaborating on, and sharing content. </li> 
        <li>To process and complete transactions, and send you related information, including purchase confirmations and invoices.</li> 
        <li>To send transactional messages, including responding to your comments, questions, and requests; providing customer service and support; and sending you technical notices, updates, security alerts, and support and administrative messages. </li> 
        <li> To send promotional communications, such as providing you with information about services, features, newsletters, offers, promotions, contests, and events. </li>
        <li>To monitor and analyze trends, usage, and activities in connection with the Website and for marketing or advertising purposes. </li>
        <li>To investigate and prevent fraudulent transactions, unauthorized access to the Website, and other illegal activities. </li>
        <li>To personalize the Website content, features, or advertisements. </li>
        <li> To enable you to share content with users you designate. </li>
        <li>With whom does the Company share your information? </li>
        <li>The Company may disclose aggregated information about its users, and information that does not identify any individual, without restriction.</li>
       </ul>
       <p>The Company may disclose personal information that it collects or you provide as described in this policy: </p>
       <ul class="policy-list">
        <li>To the Company’s subsidiaries and affiliates. </li> 
        <li>To contractors, service providers, and other third parties the Company uses to support its business and who are bound by contractual obligations to keep personal information confidential and use it only for the purposes for which the Company discloses it to them. </li> 
        <li> To payment service providers to (a) process payments; (b) prevent, detect, and investigate fraud or other prohibited activities; (c) facilitate dispute resolution such as chargebacks or refunds; and (d) for other purposes associated with the acceptance of credit or debit cards. The Company may share your credit or debit card number with payment service providers or card networks to monitor card transactions at participating merchants and track redemption activity for the purposes of providing card-linked services. </li>
    
        <li>To a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of the Company’s assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which personal information held by the Company about the Website’s users is among the assets transferred.  </li>
    
        <li>To third parties to market their products or services to you if you have not opted out of these disclosures. The Company contractually requires these third parties to keep 
    personal information confidential and use it only for the purposes for which the Company discloses it to them. For more information, see What choices do you have about how the Company uses and discloses your information .</li>
    
        <li>To fulfill the purpose for which you provide it. </li>
        <li>For any other purpose disclosed by the Company when you provide the information. </li>
        <li> With your consent. </li>
       </ul>
    </div> 
    
    <div class="term">
      <h3>The Company may also disclose your personal information: </h3>
      <ul>
        <li>To comply with any court order, law, or legal process, including to respond to any government or regulatory request. </li>
      
        <li>To enforce or apply the Terms of Service and other agreements, including for billing and collection purposes or to receive payment from the Company. </li>
        
      </ul>
      <p>If the Company believes disclosure is necessary or appropriate to protect the rights, property, or safety of the Company, its customers, or others. This includes exchanging information with other companies and organizations for the purposes of fraud protection and credit risk reduction. </p>
    </div> 
    
    <div class="term">
      <h3>What choices do you have about how the Company uses and discloses your information? </h3>
      <p>The Company provides you the ability to exercise certain controls and choices regarding its collection, use, and sharing of your information. In accordance with local law, your controls and choices may include: </p>
      <ul>
        <li> You may correct, update, and delete your account information. </li>
      
        <li> You may change your choices for subscriptions and newsletters. </li>
        <li> You may choose whether or not to receive offers from the Company. </li>
        <li> You may choose whether you received targeted advertising from the Company or its partners.</li>
        
      </ul>
    </div> 
    <div class="term">
      <h3>How do you access and correct your information? </h3>
      <p>You can help ensure that your contact information and preferences are accurate, complete, and up to date by logging in to your account. For other personal information that the Company holds, the Company will provide you with access for any purpose including to request that the Company correct the data if it is inaccurate or delete the data if the Company is not required to retain it by law or for legitimate business purposes. The Company may decline to process requests that are frivolous/vexatious, jeopardize the privacy of others, are extremely impractical, or for which access is not otherwise required by local law.</p>
    </div> 
    <div class="term">
      <h3>How does the Company protect your personal information? </h3>
      <p>The Company has implemented measures designed to secure your personal information from accidental loss and from unauthorized access, use, change, and disclosure. All information you provide to the Company is stored on its secure servers behind firewalls. The Company encrypts all payment transactions using SSL technology. 
        </p>
        <p>
        The safety and security of your information also depends on you. Where the Company has given you (or where you have chosen) a password for access to certain parts of the Website, you are responsible for keeping this password confidential. The Company asks you not to share your password with anyone. In addition, the Company urges you to be careful about giving out information in public areas of the Website. The information you share in public areas may be viewed by any user of the Website. </p>
        <p>
        <b>No Security Guarantees​:</b> Although the Company takes appropriate measures to safeguard against unauthorized disclosures of information, the Company cannot assure you that information will never be disclosed, altered, or destroyed in a manner that is inconsistent with this policy. 
     
      </p>
    </div> 
    
    <div class="term">
      <h3>Where is your personal information kept? </h3>
      <p>This policy is intended to cover collection of information on or through the Website from residents of the United States. If you are visiting the Website from outside the United States, please be aware that your information may be transferred to, stored, and processed in the United States where the Company is located and the Company’s central database is operated. The data protection and other laws of the United States and other countries might not be as comprehensive as those in your country. Please be assured that the Company seeks to take reasonable steps to make sure that your privacy is protected.  
     </p>
     <p>By using the Company’s services, you acknowledge that your information may be transferred to the Company’s facilities and those third parties with whom the Company shares it as described in this policy. When you provide personal information to the Company through the Website, you consent to the processing of your data in, and the transfer of your data to, the United States or any other country in which the Company or its affiliates, subsidiaries, or service providers host these services. </p>
    </div>
    <div class="term">
      <h3>Do Not Track Policy  </h3>
      <p>Do Not Track (“DNT”) is a privacy preference that you can set in your browser. DNT is a way for you to inform websites and services that you do not want certain information about your webpage visits collected over time and across websites or online services. The Company is committed to providing you with meaningful choices about the information it collects and that is why the Company provides you the ability to opt out. But the Company does not recognize or respond to any DNT signals as the Internet industry works toward defining exactly what DNT means, what it means to comply with DNT, and a common approach to responding to DNT. For more information, visit www.allaboutdnt.com. </p>
    </div>
    
    <div class="term">
      <h3>Links to Other Websites </h3>
      <p>The Website may contain links to other websites. Please be aware that the Company is not responsible for the content or privacy practices of those other websites. The Company encourages its customers to be aware when they leave the Website and to read the privacy statements of any other website that collects personally identifiable information.  </p>
    </div>
    
    <div class="term">
      <h3>No Rights of Third Parties </h3>
      <p>This policy does not create rights enforceable by third parties or require disclosure of any personal information relating to users of the Website. </p>
    </div>
    
    <div class="term">
      <h3>DMCA Takedown Requests </h3>
      <p>The Website complies with the Digital Millennium Copyright Act (DMCA). If you reasonably believe that your copyrighted work has been used or posted by a third party without your consent, please email info@yespiper.com </p>
      <p>By submitting a copyright infringement notice or other communication (including communications about content stored on or transmitted through the Website), you consent to have these communications forwarded to the person or entity who stored, transmitted, or linked to the content addressed by your communication, to facilitate a prompt resolution. </p>
    </div>
    
    <div class="term">
      <h3>Changes to Privacy Policy </h3>
      <p>Although most changes are likely to be minor, the Company may change this policy on one or more occasions, and in its sole discretion. The Company encourages visitors to frequently check this page for any changes to this policy. Your continued use of the Website after any change in this policy will be recognised as your acceptance of and agreement with the changes. 
     </p>
    </div>
    
    <div class="term">
      <h3>Contact Information</h3>
      <p>For any questions about this policy and the Company’s privacy practices, please email 
      <a href="#">info@yespiper.com </a> 
     </p>
    </div>
      
     
      </div> 

   </div>
  </section>
  <app-footer></app-footer>