 <app-header></app-header>
 <div class="map" style="background-image: url('assets/images/contact-map.png')">
	 <div class="container">
	 <div class="contact-top">
	  <div class="row">
	   <div class="col-sm-8">
		<div _ngcontent-klq-c17="" class="contact-top-left"><h3 _ngcontent-klq-c17="">Get In Touch</h3><p _ngcontent-klq-c17="">Please leave your details below along with a detailed explanation of your enquiry so we can get back to you as soon as possible.</p></div>
	   </div>
	   <div class="col-sm-4">
	     <div class="contact-top-left right">
	       <img src="assets/images/contact-location.png" alt="loca">
	    </div>
	   </div>
	   </div>
	   </div>
	 </div> 
   </div>	

<section class="contact-btm">
  <div class="container">
    <div class="row no-gutters shadow">
	  <div class="col-sm-8">
	    <div class="contact-left">
		  <h3>Send us a Message</h3>
		  <i class="far fa-envelope-open"></i>
		  
		<div class="row">   
		  <div class="col-sm-6">
		   <div class="form-group">
			<label for="exampleInputEmail1">Your Name</label>
			 <input type="email" class="form-control" [(ngModel)]="name" aria-describedby="emailHelp" placeholder="Dexter Morgan">
		   </div>
		  </div>
		  <div class="col-sm-6">
		   <div class="form-group">
			<label for="exampleInputEmail1">Email Address</label>
			 <input type="email" class="form-control" [(ngModel)]="email" aria-describedby="emailHelp" placeholder="dextermorgan@gmail.com">
		   </div>
		  </div>
		  <div class="col-sm-6">
		   <div class="form-group">
			<label for="exampleInputEmail1">Phone</label>
			 <input type="email" class="form-control" [(ngModel)]="phone" aria-describedby="emailHelp" placeholder="(800) 800 - 900 - 100">
		   </div>
		  </div>
		  <div class="col-sm-12">
		   <div class="form-group">
			<label for="exampleInputEmail1">Message</label>
			 <textarea class="form-control mess" [(ngModel)]="message" placeholder="Hi, do you have a moment to talk abo..."></textarea>
		   </div>
		  </div>
		  <div class="col-sm-12">
		   <div class="form-group">
		    <button type="submit" class="btn" (click)="submitContactForm()">send message</button>
		  </div>
		  </div>
		</div>
		</div>
	  </div>
	  
	  <div class="col-sm-4">
	    <div class="contact-right">
		  <h3>Contact Information</h3>
		  <ul>
		    <!-- <li><i class="fas fa-map-marker-alt"></i><h5>360 King Street Feasterville Trevose, PA 19053</h5></li>
			<li><i class="fas fa-phone"></i><h5>(800) 900-200-300</h5></li> -->
			<li><i class="fas fa-envelope"></i><h5>info@yespiper.com</h5></li>
		  </ul>
		</div>
	  </div>
	  
	</div>
  </div> 
</section>
<app-footer></app-footer>
