/*Appointment part css start*/
@import '../../../../node_modules/primeicons/primeicons.css';
@import '../../../../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../../../../node_modules/primeng/resources/primeng.min.css';
/*Appointment part css start*/
.appoit-top {padding: 15px;}
.appot-img{width:70px;height:70px;background:#ddd;border-radius:4px;display:inline-block;overflow:hidden;margin-right:15px;}
.appot-img img{width:100%;height:100%;object-fit:cover;}
.appoit-top-text {width:78%;display: inline-block;vertical-align: top;position: relative;}
.appoit-top-text h4{padding:0;border:0;font-size: 17px;color:#242424;font-weight: 600;display: inline-block;width: 68%;}
.appoit-top-text h5{padding:0;border:0;font-size:15px;font-weight:400;display: inline-block;width: 68%;margin-top: 7px;}
.appit-mid{padding:20px 15px;border-top:1px solid #eae6e6;}
.rejected.alert-primary {color:#004085;background-color:#cce5ff;border-color:#b8daff;padding: 3px 15px;border-radius: 3px;display: inline-block;float: right;}
.appit-mid h5{font-weight: 400;font-size: 14px;color:#595959;display:block;margin-bottom: 13px;}
.appit-mid h6{font-weight: 400;font-size: 14px;color:#595959;display:block;}
.appit-btm{padding:15px;}
.appit-btm button{background:#f05742;color:#fff;vertical-align: top;text-transform: uppercase;font-size: 15px;font-weight: 600;
padding: 12px 0;border-radius: 4px;margin: 0;border:0;width:48%;border:1px solid #f05742;}
.appit-btm button.decline{float:right;border:1px solid #9fdbce;background:none;color:#9fdbce;}
.appit-mid i {font-size: 17px;margin-right: 8px;}
.appit-mid h5 b{font-weight: 600;}

.rejected.alert-success{padding: 3px 15px;border-radius: 3px;display: inline-block;background-color:#d4edda;bfloat: right;border: 1px solid #c3e6cb;font-size: 12px;
position: absolute;top: 5px;right: 0;}
.rejected.alert-danger{padding: 3px 15px;border-radius: 3px;display: inline-block;background-color:#f8d7da;float: right;border: 1px solid #f5c6cb;font-size: 12px;
position: absolute;top: 5px;right: 0;}
.decline.go-live{background:#fff;color:#f05742;vertical-align: top;text-transform: uppercase;font-size: 15px;font-weight: 600;padding: 12px 0;border-radius: 4px;
margin: 0;border: 0;width: 35%;border: 1px solid#f05742;display: block;text-align: center;cursor: pointer;margin: 15px auto;}

/*Appointment part css start*/

/*mess pop css start*/

#mess-pop .modal-header{padding-bottom: 10px;}
#mess-pop .modal-body{text-align:center;padding-bottom:25px!important;padding:30px;}
#mess-pop h3{font-size: 27px;margin-bottom: 25px;}
#mess-pop button.mess{margin-top: 30px;height: 48px;background:#9fdbce;color:#fff;text-transform: uppercase;border-radius: 4px;
font-size: 18px;font-weight: 600;text-align: center;border: 0;display: inline-block;padding: 0 30px;margin: 0 8px;}



@media screen and (max-width: 1440px) {
.appoit-top-text{width: 71%;}
 
}

@media screen and (max-width: 1366px) {
.appoit-top-text{width: 68%;}
     
}

@media screen and (max-width: 1280px) {
.appot-img{margin-right: 10px;}
.rejected.alert-success{padding: 3px 8px;}
.appoit-top-text h4{font-size: 14px;}
.appoit-top-text h5{font-size: 13px;}
.appit-mid{padding: 10px;}
.decline.go-live{font-size: 13px;padding: 8px 0;}

}

@media screen and (max-width: 1024px) {
.right-bar-content.appointment .col-sm-4 {flex: auto; max-width: 50%;}

}

@media screen and (max-width: 684px) {
.appot-img {width: 60px;height: 60px;}
.appit-mid h5{font-size: 13px;}
.appit-mid h6{font-size: 13px;}

}

@media screen and (max-width: 414px) {
.right-bar-content.appointment .col-sm-4 {flex: auto; max-width: 100%;}
.appoit-top-text{width: 73%;}  

}

@media screen and (max-width: 360px) {
.appoit-top-text{width: 72%;}  
    
}

@media screen and (max-width: 320px) {
.appot-img {width: 45px;height: 45px;}
.rejected.alert-success {padding: 3px 4px;font-size: 10px;}

}


/* #golive2 .modal-dialog {top: 50%;transform: translate(-50%, -50%) !important;
    margin: 0;left: 50%;}
video {width: 100%; height: 100%;object-fit: cover;}
#golive2 iframe{border: 0;}
#golive2 .modal-dialog{width:80%;min-width:1100px;}
#golive2 .modal-header{padding-bottom:12px;background:#f05742;color:#fff;}
#golive2 .modal-header .close{color:#fff;opacity:1;}
#golive2 .modal-body{padding:10px!important;max-height: 500px!important;height: 500px!important;}
#golive2 .live-broad-chat h3{font-size:20px;color:#242424;}
#golive2 .live-broad-chat.right-chat h3{margin-bottom:18px;}
#golive2 .live-broad-chat.right-chat .broad-chat-img {width: 35px;height: 35px;background: #ddd;border-radius: 50%;
display: inline-block;overflow:hidden;}
#golive2 .live-broad-chat.right-chat .broad-chat-img img{width:100%;height:100%;object-fit:cover;}
#golive2 .live-broad-chat.right-chat .broad-chat-text {display: inline-block;vertical-align: top;padding: 2px 12px;width: 90%}
#golive2 .live-broad-chat.right-chat .broad-chat-text p{font-size: 14px;color:#595959;font-weight: 400;}
#golive2 .live-broad-chat.right-chat .broad-chat-text p b{font-weight:500;color:#242424;}
#golive2 .live-broad-chat.right-chat .broad-chat-scroll li{margin-bottom:8px;}
#golive2 .live-broad-chat.right-chat .right-comm-btm {padding:5px;background: none;border-top: 0;position: relative;}
#golive2 .live-broad-chat.right-chat .feed-img {width: 40px;height: 40px;background: #ddd;border-radius: 50%;overflow: hidden;display: inline-block;margin-right: 10px;}
#golive2 .live-broad-chat.right-chat .right-comm-input {display: inline-block;vertical-align: top;width: 83%;position: relative;} 
#golive2 .live-broad-chat.right-chat .right-comm-btm-input {background: #fff;border-bottom: 2px solid #cdcfd1 !important;
border: 1px solid #cdcfd1;vertical-align: top;padding: 10px 5px;padding-right: 15px;border-radius:5px;width: 100%;padding-right: 35px;border:0;border-radius:0;}
#golive2 .live-broad-chat.right-chat button{border:0;}
#live-broad .live-broad-chat.right-chat .right-comm-input i {position: absolute;top: 14px;right: 10px;font-size: 18px;
color: #f05742;cursor: pointer;}
#golive2 .right-comm-btm.mess-send{margin-top:15px;}
#golive2 .broad-chat-scroll {max-height: 360px;height: 360px;overflow: auto;} */
