

<!-- header part close -->   
<app-header></app-header>
<section class="live-model-main">
  <div class="live-model-content">
    <div class="container-fluid">
      <div class="row">
        <div class="left-bar">
          <div class="model-name">
            <h3>{{message}}</h3>
            <h4 class="cursor" (click)="copyText(currentEmail,mid)" pTooltip="Click to copy" tooltipPosition="top" >{{currentEmail}}{{mid}} <i class="far fa-copy"></i></h4>
          </div>
          <ul>
              <li class="cursor" routerLink="/model-content"><a>Dashboard</a></li> 
              <li class="cursor" routerLink="/notification-model"><a>Notifications</a></li>
              <li class="cursor" routerLink="/model-message"><a >Messages</a></li>    
              <li class="cursor" routerLink="/availability"><a >Availability</a></li>
              <li class="cursor " routerLink="/Appointment" class="active cursor"><a >Bookings</a></li>
              <li class="cursor" routerLink="/subscriber"><a >Subscribers</a></li>
              <li class=" account cursor" data-toggle="collapse" data-target="#demo"><a >Account Settings <i class="fas fa-chevron-down"></i></a></li>
                        <div id="demo" class="collapse">
                          <ul>
                            <!-- <li ><a routerLink="/model-account">Application</a></li> -->
                            <li ><a routerLink="/price">Price</a></li>
                            <li><a routerLink="/profile">Profile</a></li>
                            <li class="cursor"><a data-toggle="modal" data-target="#myModalPasswordReset" (click)="hideErrors()">Change Password</a></li>
                            <li class="cursor"><a    (click)="checkDeactivate()">Deactivate/Delete</a></li>
                            <a  data-toggle="modal" data-target="#deactivate" style="display: none" id="DeactivateDeleteButton">Deactivate/Delete</a>
                            <!-- <a  data-toggle="modal" data-target="#payout" style="display: none" id="PayoutPopup">Deactivate/Delete</a>
                            <li class="cursor"><a (click)="checkpayout()">payout/bank details</a></li> -->
                          </ul>   
                        </div>
              <!-- <a (click)="getthumbnail()">sdf</a> -->
          </ul>
        </div>
        <div class="right-main"> 
          <div class="right-bar">
              <div class="se-pre-con2" *ngIf="isLoading">
                  <div class="sk-chasing-dots" >
                      <div class="sk-child sk-dot1"></div>
                      <div class="sk-child sk-dot2"></div>
                  </div>
          </div> 
            <div class="min-height">
              <div class="right-bar-content appointment"> 
                <h4>Bookings</h4>
                <div class="empty-msg" *ngIf = "activeBooking.length == 0 ">
                    <h6>No Bookings Found</h6>
                  </div>  	
                <div>

                </div>   
                <section class="live-models padd">
                        <div class="row">
                              <ng-container *ngFor="let d of dataToshow; let i = index">
                                <div *ngIf="d.passed ==   'no'" class="col-sm-4">
                                  <div class="box-main appointment">
                                    <div class="appoit-top">
                                      <div class="appot-img"> 
                                        <img *ngIf ='d.profile!=""' src="{{d.profile}}">
                                        <img *ngIf ='d.profile==""' src="assets/images/dummy-profile.png">
                                     </div>	
                                     <div class="appoit-top-text">
                                        <h4>{{d.UserName}}</h4>
                                        <h5>fixed an appointment</h5>
                                        <span class="rejected alert-danger" *ngIf="d.confirmation==2">
                                          Rejected
                                        </span>
                                        <span class="rejected alert-success"  *ngIf="d.confirmation==1">
                                            Approved
                                        </span>
                                      </div>		 
                                    </div>  
                                    <div class="appit-mid">   
                                      <h5><b><i class="far fa-calendar-alt"></i>Date:</b> {{convertDateUtc(d.rawtime1,'day')}}-{{convertDateUtc(d.rawtime1,'monthShort')}}-{{convertDateUtc(d.rawtime1,'year')}}</h5>
											                <h6><b><i class="far fa-clock"></i>Time:</b>{{convertDateUtc(d.rawtime1,'start_time')}}</h6>
                                    </div>
                                    <span class="decline go-live" (click)="goLiveOneToOne(d.user_id,d.id,d.liveUrlId,d.minute,d.day)"  *ngIf="d.confirmation==1 && d.status == 0">
                                      Go Live
                                    </span>
                                    <div class="appit-btm" *ngIf="d.confirmation!=1 && d.confirmation!=2">
                                      <button (click)="changeStatusAppointment(d.id,0,i)">decline</button>
                                      <button (click)="changeStatusAppointment(d.id,1,i)" class="decline">approve</button>
                                    </div>
                                  </div>
                                 </div>
                                </ng-container>

                          <!-- <div   class="col-sm-4">
                            <div class="box-main appointment">
                              <h3>{{d.UserName}} has fixed an appointment with you on
                              <strong><i class="far fa-calendar-alt"></i> Date:{{d.start_numberic_day}} {{d.start_month_short}} {{d.start_full_year}} , <i class="far fa-clock"></i> Time:{{d.start_time}}</strong></h3>
                              <button *ngIf="d.confirmation==0" (click)="changeStatusAppointment(d.id,1,i)">Approve</button>
                              <button *ngIf="d.confirmation==0" (click)="changeStatusAppointment(d.id,0,i)" class="decline">Decline</button>
                              <button *ngIf="d.confirmation==2"  class="decline">Rejected</button>
                              <button *ngIf="d.confirmation==1"  >Approved</button>
                            </div>
                           </div>                     -->
                        </div>
                </section>
              </div>


              <div class="right-bar-content appointment"> 
                <h4>Past Bookings</h4>
                <div class="empty-msg" *ngIf = "pastBooking.length == 0 ">
                    <h6>No Bookings Found</h6>
                  </div>  	   
                <section class="live-models padd">
                        <div class="row">
                              <ng-container *ngFor="let d of dataToshow; let i = index">
                                <div *ngIf="d.passed ==   'yes'" class="col-sm-4">
                                  <div class="box-main appointment">
                                    <div class="appoit-top">
                                      <div class="appot-img">
                                        <img src="{{d.profile}}">
                                     </div>	
                                     <div class="appoit-top-text">
                                        <h4>{{d.UserName}}</h4>
                                        <h5>fixed an appointment</h5>
                                        <span class="rejected alert-danger" *ngIf="d.confirmation==2">
                                          Rejected
                                        </span>
                                        <span class="rejected alert-success"  *ngIf="d.confirmation==1">
                                            Approved
                                        </span>
                                      </div>		 
                                    </div>  
                                    <div class="appit-mid">   
                                      <h5><b><i class="far fa-calendar-alt"></i>Date:</b> {{convertDateUtc(d.rawtime1,'day')}}-{{convertDateUtc(d.rawtime1,'monthShort')}}-{{convertDateUtc(d.rawtime1,'year')}}</h5>
											                <h6><b><i class="far fa-clock"></i>Time:</b>{{convertDateUtc(d.rawtime1,'start_time')}}</h6>
                                    </div>
                                    <!-- <span class="decline go-live" (click)="goLiveOneToOne(d.user_id,d.id,d.liveUrlId,d.minute,d.day)"  *ngIf="d.confirmation==1 && d.status == 0">
                                      Go Live
                                    </span> -->
                                    <div class="appit-btm" *ngIf="d.confirmation!=1 && d.confirmation!=2">
                                      <!-- <button (click)="changeStatusAppointment(d.id,0,i)">decline</button>
                                      <button (click)="changeStatusAppointment(d.id,1,i)" class="decline">approve</button> -->
                                    </div>
                                  </div>
                                 </div>
                                </ng-container>

                          <!-- <div   class="col-sm-4">
                            <div class="box-main appointment">
                              <h3>{{d.UserName}} has fixed an appointment with you on
                              <strong><i class="far fa-calendar-alt"></i> Date:{{d.start_numberic_day}} {{d.start_month_short}} {{d.start_full_year}} , <i class="far fa-clock"></i> Time:{{d.start_time}}</strong></h3>
                              <button *ngIf="d.confirmation==0" (click)="changeStatusAppointment(d.id,1,i)">Approve</button>
                              <button *ngIf="d.confirmation==0" (click)="changeStatusAppointment(d.id,0,i)" class="decline">Decline</button>
                              <button *ngIf="d.confirmation==2"  class="decline">Rejected</button>
                              <button *ngIf="d.confirmation==1"  >Approved</button>
                            </div>
                           </div>                     -->
                        </div>
                </section>
                </div>
                
                
              
            </div>
        </div>      
        <div class="inner-footer">
            <h4 class="copy">COPYRIGHT YES PIPER LLC 2020 | ALL RIGHTS RESERVED ©</h4>
            <ul>
              <li><a routerLink="/terms">Terms and conditions</a></li>
              <li><a routerLink="/privacy">Privacy Policy</a></li>
              <li><a routerLink="/faq" >FAQ's</a></li>
              <li><a routerLink="/contact" >Contact Us</a></li>
            </ul>
          </div>
      </div></div></div></div>
      </section>


<a href="" id="paymentPopup24" data-toggle="modal" data-target="#payment2" style="display: none"></a>
      <!-- <p>The state of the Window is <b>{{windowState}}</b></p> -->
<!-- <kendo-window [top]="100" [left]="50" title="Live Status" [(state)]="windowState" *ngIf="openeds" (close)="openCloseq(false)">
      <iframe [src]="IdUrl3" allow="camera;microphone" style="width:100%;height:100%"></iframe>
</kendo-window> -->

 <!-- <button class="changing" data-toggle="modal" data-target="#myModalPasswordReset" (click)="hideErrors()">CHANGE PASSWORD</button> -->
 <div class="modal" id="myModalPasswordReset">
  <div class="modal-dialog change-pass">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Change Your Password Here</h4>
        <button type="button" class="close model-close" id="model-close" data-dismiss="modal">×</button>
      </div>
      <!-- Modal body -->
      <form  name="form" #myForm="ngForm" (ngSubmit)="onSubmitPasswordReset()">
       <div class="modal-body">
         <div class="inner-form inner-forms">  
             <span style="color:red">{{passwordValidation.result}}</span>
           <div class="form-group">
              
             <label>Old Password</label>
             <input type="password" class="form-control height-control" name="name" placeholder="" [(ngModel)]="oldPassword" >
             <span style="color:red">{{passwordValidation.oldpassword}}</span>
           </div>
           <div class="form-group">
             <label>New Password</label>
             <input type="password" class="form-control height-control" name="newPassword" placeholder="" [(ngModel)]="newPassword">
             <span style="color:red">{{passwordValidation.newpassword}}</span>
           </div>
           <div class="form-group">
             <label>Confirm Password</label>
             <input type="password" class="form-control height-control" name="confirmCheck" placeholder="" [(ngModel)]="confirmCheck" >
               <span style="color:red">{{passwordValidation.confirmPassword}}</span>
           </div>
           </div>
       </div>
       <div class="modal-footer">
           <button type="submit"   class="btn btn-danger close-right"><i *ngIf="loading2" class="fa fa-spinner fa-spin"></i>Update</button>
          <!-- <button type="button" class="btn btn-danger close-right" data-dismiss="modal">Update</button> -->
        </div>
    </form>
      <!-- Modal footer -->
      
      
    </div>
  </div>
 </div>
 <p-toast [style]="{marginTop: '80px'}"></p-toast>
 <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
   <ng-template let-message pTemplate="message">
       <div style="text-align: center">
           <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
           <h3>{{message.summary}}</h3>
           <p>{{message.detail}}</p>
       </div>
       <div class="ui-g ui-fluid">
           <div class="ui-g-6">
               <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
           </div>
           <div class="ui-g-6">
               <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
           </div>
       </div>
   </ng-template>
</p-toast>
 

    <!-- deactivate popup -->

    <div class="modal" id="deactivate">
      <div class="modal-dialog change-pass">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Deactivate/Delete Account</h4>
            <button type="button" class="close model-close" id="model-close2" data-dismiss="modal">×</button>
          </div>
          <div class="modal-body">
              <!-- <p>Are you Sure you want to deactivate accouunt?</p> -->
              <button class="dec-btn" *ngIf="activateDeactivate == '0'" data-toggle="modal" data-target="#deactivate-acoount">Deactivate Account</button>
              <button class="dec-btn" *ngIf="activateDeactivate == '1'" data-toggle="modal" data-target="#deactivate-acoount">Activate Account</button>
              <button  data-toggle="modal" data-target="#deactivate-acoount" (click)="delete()">Delete Account</button>
            </div>
            <!-- <div class="modal-footer">
                <button type="submit"   class="btn btn-danger close"><i *ngIf="loading2" class="fa fa-spinner fa-spin"></i>Close</button>
                <button type="button" class="btn btn-danger close-right" data-dismiss="modal">Delete</button> 
             </div>  -->
        </div>
      </div>
     </div>

   <!-- deactivate popup -->

   <!-- deactivate account popup -->

     <div class="modal" id="deactivate-acoount">
      <div class="modal-dialog change-pass">
        <div class="modal-content">
          <!-- Modal Header -->
          <!-- <div class="modal-header">
            <h4 class="modal-title">ssd</h4>
            <button type="button" class="close model-close" id="model-close" data-dismiss="modal">×</button>
          </div> -->
          <div class="modal-body">
              <i class="fas fa-exclamation-triangle"></i>
              <h3>Are you sure?</h3>
              <p *ngIf="activateDeactivate == '0'">You want to deactivate your account!</p>
              <p *ngIf="activateDeactivate == '1'">You want to activate your account!</p>
              <p *ngIf="activateDeactivate == '2'">You want to delete your account!</p>
              <button class="dec-btn" data-dismiss="modal" id="closeDeactivatePopup">No, cancel!</button>
              <button *ngIf="activateDeactivate == '0'" (click)="setDeactivate(1)">Yes</button>
              <button *ngIf="activateDeactivate == '1'" (click)="setDeactivate(0)">Yes</button>
              <button *ngIf="activateDeactivate == '2'" (click)="setDeactivate(2)">Yes</button>
            </div>
        </div>
      </div>
     </div>
     <a  class="go-live-btn" data-toggle="modal" data-target="#golive2" id="OpenGoLivePopup2" style="display: none">Go Live</a>

     <div class="modal" id="golive2">
        <div class="modal-dialog change-pass">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Live Status</h4>
              <button type="button" class="close model-close" id="model-close" data-dismiss="modal" (click)="openCloseq(false)">×</button>
            </div> 
            <div class="modal-body">
              <div class="row">
              <div class="col-sm-8">
              <iframe [src]="IdUrl3" allow="camera;microphone" style="width:100%;height:100%"></iframe>
            </div>
            <div class="col-sm-4" >
                <div class="live-broad-chat right-chat">
                <h3>Live Chat</h3>
                <div class="broad-chat-scroll" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                  <ul *ngFor="let d of LiveBroadCastingChatData">
                      <li>
                          <div class="broad-chat-img">
                          <img src="{{d.image}}" alt="chat-img">
                        </div>
                        <div class="broad-chat-text">
                          <p><b>{{d.name}}:</b> {{d.message}}</p>
                        </div>
                        </li>
                  </ul>
                </div>
                <div class="right-comm-btm mess-send"><div _ngcontent-ffy-c1="" class="feed-img">
                  <img src="{{imageDisplay}}" alt="feed-img" class="cursor">
                </div><!----><div class="right-comm-input ng-star-inserted">
                  <input class="right-comm-btm-input ng-untouched ng-pristine ng-valid" [(ngModel)]="inputChatBroadcast" name="CommentData" placeholder="Write a comment..." type="text">
                  <button>
                    <i class="far fa-paper-plane" (click)="submitChatBroadcast()">
                    </i>
                  </button>
                </div>
              </div>
              </div>
              </div>
            </div>
          </div>
          </div>
        </div>
       </div>