@import '../../../../node_modules/primeicons/primeicons.css';
@import '../../../../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../../../../node_modules/primeng/resources/primeng.min.css';
.cols{
    -moz-column-count:6 ;
    -moz-column-gap: 10px ;
    -moz-column-width:20% ;
    -webkit-column-count:6 ;
   -webkit-column-gap: 10px ;
    -webkit-column-width:20% ;
    column-count:6 ;
    column-gap: 10px ;
    column-width:20% ;
  }
  .greatest{
    margin-bottom: 5px;
  }
  .greatest img{width:100% ;}
  .greatest{overflow:hidden ;}
  
  .model-search-top {padding: 20px 30px;border-bottom: 1px solid #eceaea;}
  .model-search-top .search-model {position: relative;width: 55%;display: inline-block;}
  .model-search-top .search {float: right;padding: 0;width: 42%;border: 0;}
  .model-search-top h4{padding:0;}
  .model-search-top .dropdown{position: relative;display: inline-block;width: 40%;float: right;}
  .right-bar-content.slide{overflow:hidden;}
  .model-search-top .search{display:inline-block;}
  .model-search-top h4 {display: inline-block;border-bottom: 0;margin: 8px 0;}
  .model-cate {margin-bottom: 30px;}
  .model-cate li{display: inline-block;width: 12.2%;text-align: center;background: #fff;}
  .model-cate li a{color:#242424;text-transform: uppercase;font-weight: 600;}
  .right-bar-content h4.featu-model {padding-left: 0;margin-bottom: 30px;}
  .model-cate li a .icon {display: block;text-align: center;background: #fff;height: 50px;width: 50px;border-radius: 30px;vertical-align: middle;
  margin: auto;margin-bottom: 8px;padding: 12px 0;-webkit-box-shadow: 0 15px 20px 0 rgba(0,0,0,.08);box-shadow: 16px 5px 20px 0 rgba(0,0,0,.10);}
  .icon img {width: 26px;height: 26px;}
  .model-cate li a:hover{color:#b89600;}
  
  /*model page changes css*/
  
  /*chat popup part css start*/
  
  #chat-popup .modal-dialog{width: 750px;max-width: 750px;}
  #chat-popup .modal-header{padding-bottom:10px;}
  #chat-popup .modal-body{padding:0;}

  /* review popup css start*/ 

.main-content-left{float: left;width: 78%;padding-right: 20px;border-right: 1px solid #d2d2d2;max-height:500px;overflow: auto;}
.main-content-right{float: right;width: 20%;}
.main-content{background: #fff;padding: 20px 20px;width: 1100px;}
.main-content1-top {float: left;width: 100%;}
.main-content1 img {height: 70px;width: 70px;border-radius: 50%;}
.main-content1-top-right h5{font-size: 18px;margin: 0;margin-top: 2px;}
.main-content1-top-right h6{font-size: 14px;margin-top: 7px;text-align: left;}
.rating-star {float: left;width: 100%;}
i.fas.fa-star {color: #f1c820;margin-left: 4px;}
i.far.fa-comment {position: absolute;top: 5px;left: 0;font-size: 20px;color: #f05742}
.all-comments h5{padding-left: 28px;font-size: 15px;padding-top: 5px;}
.all-comments {float: left;width: 100%;position: relative;}
.main-content1-bottom {float: left;width: 100%;margin-top: 10px;}
.main-content1-bottom p{font-size: 13px;}
.main-content1{float: left;width: 100%;border: 1px solid #d2d2d2;padding: 13px 13px;margin-bottom: 20px;}
.main-content1-top-left{float: left;width: 60px;height: 60px;overflow: hidden;margin-right: 10px;}
.main-content1-top-left img{width: 100%;height: 100%;object-fit: cover;}
.main-content1-top-right{display: inline-block;vertical-align: top;text-align: left;}
.main-top-ratings{float: right;}
.share-review{float: left;width: 100%;margin-bottom: 15px;position: relative;display: flex;justify-content: center;align-items: center;}
.share-review button{background: #f05742;color: #fff;text-align: left;border-radius: 77px;border: 0;min-height: 40px;
width: 100%;position: relative;font-size: 15px;float: left;padding-left: 20px;}
#comment .fas.fa-pencil-alt {position: absolute;top: 5px;right: 10px;background: #2b292969;color: #fff;height: 30px;width: 30px;
border-radius: 50%;/* opacity: 0.5; */padding: 8px 8px;font-size: 14px;}
.respond{float: left;width: 100%;position: relative;margin-bottom: 15px;display: flex;justify-content: center;align-items: center;}
.respond button{background: #9fdbce;color: #fff;text-align: left;border-radius: 77px;border: 0;min-height: 40px;
width: 100%;position: relative;font-size: 15px;float: left;padding-left: 20px;}
#comment .far.fa-edit {position: absolute;top: 5px;right: 10px;background: #2b292969;color: #fff;height: 30px;width: 30px;border-radius: 50%;/* opacity: 0.5; */padding: 8px 8px;
font-size: 14px;}
.downlod{float: left;width: 100%;position: relative;margin-bottom: 15px;display: flex;justify-content: center;align-items: center;}
.downlod button{background: #fff;color: black;text-align: center;border-radius: 77px;border: 0;min-height: 40px;
font-size: 15px;}
#comment i.fas.fa-download{font-size: 15px;color: #a2a2a2;margin-right: 5px;}
.downlod h5{font-size: 15px;padding-left: 20px;}
.dlt-review{float: left;width: 100%;position: relative;display: flex;justify-content: center;align-items: center;}
#comment i.far.fa-trash-alt{font-size: 15px;color: red;margin-right: 5px;}
.dlt-review h5{font-size: 15px;padding-left: 20px;}
.dlt-review button{background: #fff;color: black;text-align: center;border-radius: 77px;border: 0;
position: relative;font-size: 15px;float: right;}
#comment i.fas.fa-smile {color: #f05742;}
#comment i.fas.fa-frown {color: #33cdab;}
#comment .modal-dialog {max-width: 850px;}
#comment .modal-body{padding: 20px;}
.main-content-right .rev-left h3{font-size: 25px;}
.total-review {
    float: right;
    margin: 3px 0 10px;
}
#comment body .ui-rating a {color: #f05742;}
body .ui-rating a .ui-rating-icon {font-size: 22px;color: #f05742;}

.top_dv {
  position: relative;
}

/* #comment .modal-dialog .main-content1 {
  border: 0;
  padding: 0;
  text-align: center;
  font-size: 15px;} */

/* review popup css close*/


.feed-pop {
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  background: 
  #fff;
  max-width: 800px;
  margin: auto;
  border-radius: 5px;
}
#myModalImage .modal-content {
  margin: auto;
  display: block;
  width: auto;
  max-width: 800px;
  border: 0;
  background: 
  #fff;
  padding: 12px;
  max-height: 550px;
  height: 550px;
}


/* review popup css close*/


/* view profile mobile view css start*/

.profile-mobile-view {
  display: none;
}




/* view profile mobile view css close*/




@media screen and (max-width: 768px) {
  #comment .modal-dialog {max-width: 95%;}
  .main-content-right{width: 23%;}
  .main-content-left{width: 75%;}
  .total-review{float: left;}
  #chat-popup .modal-dialog {width: 95%;} 
  
  } 
  
  @media screen and (max-width: 767px) {
  .main-content1-top-right{width: 60%;}
  
  }
  
  @media screen and (max-width: 684px) {
  .main-content1-top-right {width: 56%;}
  .main-content-left {width: 70%;}
  .main-content-right {width: 27%;}
  
  }



  @media only screen and (max-width: 550px){

    /* profile mobile view page changes */
    
    .profile-mobile-view{display: block;}
    .profile-mobile-view{padding: 10px;position: relative;}
    .profile-mobile-view .mobile-view-dp {width: 120px;height: 120px;border-radius: 50%;overflow: hidden;margin-top: -60px;display: inline-block;}
    .profile-mobile-view .mobile-view-dp img{width: 100%; height: 100%;}
    .profile-mobile-view .mobile-view-img-content {display: inline-block;vertical-align: top;padding-left: 15px;width: 65%;max-width: 65%;}
    .mobile-view-img-content h3 {font-size: 20px;margin-bottom: 5px;}
    .mobile-view-img-content li {margin-bottom: 5px;}
    .mobile-view-img-content li a{font-size: 13px;color:#242424;font-weight: 500;vertical-align: top;display: inline-block;width: 230px;
    white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;}
    .mobile-view-img-content li a .fab.fa-twitter{color:#2caae1;font-size: 18px;float: left;margin-top: 1px;}
    .mobile-view-img-content li a .fab.fa-instagram{  font-size:18px;background: #d6249f;margin-top: 1px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;float: left;}
    .mobile-view-img-content li a i{margin-right: 10px;font-size: 16px;}
    .mobile-view-img-content .mobile-view-icons {margin-top: 8px;position: absolute;top: -44px;right: 8px;background: rgba(255, 255, 255, 0.8);
    padding-left: 15px;padding-top: 6px;border-radius: 2px;}
    .mobile-view-img-content .mobile-view-icons li {display: inline-block;margin-right: 15px;}
    .mobile-view-img-content .mobile-view-icons li img{width: 20px;margin-right: 5px;}
    .mobile-view-img-content .form-control.date{width: 65%;font-size: 14px;padding-left: 7px;margin-top: 8px;}
    .profile-mobile-view button.sub-button {display: block;width: 100%;border: 2px solid #d1d1d1;background: none;padding: 11px 0;
    border-radius: 40px;margin-top: 15px;text-transform: uppercase;font-weight: 500;}
    .profile-mobile-view .sub-button i {float: left;font-size: 20px;color: #8b96a4;padding-left: 15px;}
    .profile-mobile-view .sub-button strong{color:#bbbbbb;font-weight: 500;}
    .profile-cover .dp-image{display: none;}
    .profile-cover .image-content{display: none;} 
    .profile-cover .follow.subscribe-without-login{display: none;}
    .image-content-button{display: none;}
    .profile-mobile-view .sub-button.half {width: 48%;display: inline-block ;}
    .profile-mobile-view .sub-button.half.right {float: right;}
    .profile-mobile-view button.sub-button img {float: left;padding-left: 15px;}
    .profile-mobile-view button.sub-button span{padding: 3px 0;display: inline-block;}
    .profile-mobile-view .card{padding: 5px;max-height: 140px;overflow: auto;}
    .profile-mobile-view a.info {color: #242424;font-size: 15px;font-weight: 600;text-transform: capitalize;margin: 10px 0 5px;display: block;}
  .profile-mobile-view .card p {font-size: 13px;}
    /* profile mobile view page changes */
    
    }



  
  @media screen and (max-width: 414px) {
  .main-content-left {width: 100%;border-right: 0;padding-right: 0;overflow-y: auto;max-height: 305px;overflow-x: hidden;}
  .main-content-right{width: 55%;float: left;}
  .total-review{width: 100%;}
  .main-content1-top-right {width: 45%;}
  #comment .row{padding: 0 10px;}
  .main-content1-top-right {width: 75%;}
  .rating-star{margin-top: 5px;}   
  .main-content1-top-left{width: 45px;height: 45px;}
  #chat-popup .multitext{width: 50%;}
  .setting-right-bottom button {padding: 20px 35px;}
  .multitext {height: 62px;padding: 20px 5px;}
  .fas.fa-paperclip.clip {margin-left: 15px;font-size: 25px;}
  .setting-right-one .rounded {max-width: 295px;}
  .setting-right-one{padding-top: 5px;padding-bottom: 15px;margin-bottom: 0;}
  
  
  }
  
  @media screen and (max-width: 375px) {
  .main-content1-top-right {width: 72%;}
  #chat-popup .multitext {width: 48%;}
  
  }
  
  @media screen and (max-width: 360px) {
  #chat-popup .multitext {width: 48%;}
      
  }
  
  @media screen and (max-width: 320px) {
  .main-content-right {width: 65%;}
  #chat-popup .multitext {width: 45%;}     
  .image-content-button button {padding: 5px 8px;}
  
  }

  /* The Modal (background) */
.modelyuorfeed {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modelyuorfeed .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  border: 0;
  background:#fff;
  padding: 12px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color:#242424;
  padding: 8px;
  font-size: 16px;
  background: #fff;
  word-wrap: break-word;
  margin-top: -5px;
 position: relative;
 border-radius: 0 0 .3rem .3rem;
}

/* Add Animation */
.modelyuorfeed .modal-content, #caption {  
  /* -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s; */
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.modelyuorfeed .close {
  position: absolute;
  top: 15px;
  right: 25px;
  color: #f1f1f1;
  font-size: 40px;
  transition: 0.3s;
  opacity: 1;
  font-weight: 500;
}

.modelyuorfeed .close:hover,
.modelyuorfeed .close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.right-bar-content.noti span.feed-load{
font-size: 15px;
color:#fff;
text-transform: uppercase;
display: inline-block;
border-radius: 4px;
padding: 15px 0;
background: #9fdbce;
width: 176px;
text-align: center;
font-weight: 600;
letter-spacing: 2px;
cursor: pointer;
margin-top: 30px;
}
.right-bar-content.noti span.feed-load:hover{color: #212529;}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modelyuorfeed .modal-content {
    width: 100%;
  }
}

@media only screen and (max-width: 414px){
  .modelyuorfeed .modal-content{max-width: 90%;}
  #caption{width: 90%;}
}


