<app-header></app-header> 

<div class="se-pre-con2" *ngIf="isLoading">
        <div class="sk-chasing-dots" >
            <div class="sk-child sk-dot1"></div>
            <div class="sk-child sk-dot2"></div>
        </div>
    </div> 
  <!-- header part close -->
  

  <p-toast [style]="{marginTop: '80px'}"></p-toast>
  <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>



  <!-- cover part start -->
  <section class="profile-cover">
    <div class="container-fluid p-0">
      <div class="cover-image" >
            <img  src="{{myDataProfile.cover}}" alt="" [src]="imageSrc2" class="cover">
            <label class="cover-update"><i class="fa fa-pencil" aria-hidden="true"></i>
            <input type="file" id="fileProfile2" name="fileProfile2"  accept="image/png,image/jpeg" style="display:none" (change)="readURL2($event);" ></label>
            <div class="dp-image model-pro">
              <label><i class="fa fa-pencil" aria-hidden="true"></i>
              <input type="file" id="fileProfile" name="fileProfile"  accept="image/png,image/jpeg" style="display:none" (change)="readURL($event);" ></label>
              <img src="{{myDataProfile.profile}}" alt="" [src]="imageSrc">
            </div>
            <div class="image-content model-pro-con">
              <h3>{{myDataProfile.name}}</h3>
              <!-- <p>{{myDataProfile.website}}</p> -->
            <img src="assets/images/cover3.png" alt="">  <span class="aligning"> {{myDataProfile.countImage}}</span>  <img src="assets/images/cover4.png" alt=""> <span class="aligning">  {{myDataProfile.countVideo}} </span><span  class="cursor" (click)="getModelComment('close')"><img src ="assets/images/review-rating.png"> {{myDataProfile.model_comment}}</span>  
            </div>
        </div>
    </div>
  </section>

  <!-- model profile mobile view design -->

  <div class="profile-mobile-view">
    <div class="mobile-view-dp"><img alt="" src="{{myDataProfile.profile}}"></div>
    <div class="mobile-view-img-content">
      <h3>{{myDataProfile.name}}</h3>
      <ul>
        <li *ngIf="myDataProfile.twitter != null"><a  href="https://www.twitter.com/{{myDataProfile.twitter}}" target="_blank"><i  class="fab fa-twitter"></i>@{{myDataProfile.twitter}}</a></li>
  
        <li *ngIf="myDataProfile.instagram != null"><a href="https://www.instagram.com/{{myDataProfile.instagram}}" target="_blank"><i class="fab fa-instagram"></i>@{{myDataProfile.instagram}}</a></li>
      </ul>
      <div class="mobile-view-icons">
        <ul>
          <li><img alt="" src="assets/images/cover3-black.png">{{myDataProfile.countImage}}</li>
          <li><img alt="" src="assets/images/cover4-black.png">{{myDataProfile.countVideo}}</li>
          <li  class="cursor" (click)="getModelComment('close')"><img src ="assets/images/review-rating-black.png"> {{myDataProfile.model_comment}} </li>
          <!-- <li><img alt="" src="assets/images/review-rating-black.png">0</li> -->
        </ul>
      </div>
      <div *ngIf="myDataProfile.bio != null" class="date">
          <a class="info" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Info <i class="fas fa-chevron-down"></i>
          </a>	
      </div> 
    </div>
    <div class="collapse" id="collapseExample">
      <!-- <div class="card">
        <p>{{myDataProfile.bio}}</p>
      </div> -->
    </div>
  
 
  
  
  
  
  
  
  
    <!-- <button class="sub-button half">Chat</button>
    <button class="sub-button half right">Tip</button>
    <button class="sub-button half">Unsubscribe</button>
    <button class="sub-button half right"> Book Private Video</button> -->
    
    </div>
  
  <!-- model profile mobile view design -->




  <div>
    <div class="cols">
      <div class="greatest" *ngFor="let d of myDataProfile.media ; let i = index">
        
        <div *ngIf="d.type == 1" class="top_dv"><img src="{{d.media}}" alt="" (click)="open(i,d.media)"> 
          <span *ngIf="d.type == 5" class="teaser"> Teaser </span>
        </div>
        <div *ngIf="d.type == 2" class="top_dv">
            <video   controls    style="width:100%">
                <source  src="{{d.media}}" type="video/mp4">.
              </video>  
          </div>
          <div *ngIf="d.type == 5" class="top_dv">
            <video   controls    style="width:100%">
                <source  src="{{d.media}}" type="video/mp4">.
              </video>  
          </div>  
      </div>
    <!--cols--> 
    </div>
  </div>
  
  <app-footer></app-footer>
  <button data-toggle="modal" data-target="#comment" style="display: none" id="commentPopup">Comments</button>
  <div class="modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">{{myDataProfile.name}}</h5>
		  <button type="button" class="close" data-dismiss="modal" id="modelCommentHide" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		
				<div class="main-content-left">
            <div class="main-content1" *ngIf="getData.length == 0">
                <span style="color:red">No Reviews Yet</span>
            </div>
						<div class="main-content1" *ngFor="let d of getData">
						<div class="main-content1-top">
						  <div class="row">
						<div class="col-md-6">
						  <div class="main-content1-top-left">
							<img *ngIf="d.profileImage != ''" src="{{d.profileImage}}" alt="comment-img">
			 				<img *ngIf="d.profileImage == ''" src="assets/images/dummy-profile.png" alt="comment-img">
						  </div>
						  <div class="main-content1-top-right">
						  <h5>{{d.name}}</h5>
						  <h6>{{convertDate(d.posted_on)}}</h6>
						  </div>
						</div>
						<div class="col-md-6">
						<div class="main-top-ratings">
						  <div class="rating-star">
							<ul><p-rating  [(ngModel)]="d.rating" [cancel]="false" readonly="true"></p-rating></ul>
						</div>
						
						</div>
						</div>
						</div>
						</div>
						<div class="main-content1-bottom">
						<p>{{d.comment}}
						</p>
						</div>
						</div>
						</div>
						<div class="main-content-right">
						<div class="rev-left" *ngIf='!emptyGetdata'>
							<h3>{{showAverage}}.0</h3>
							<ul><p-rating  [(ngModel)]="showAverage" [cancel]="false" readonly="true"></p-rating></ul>
							<span class="total-review">({{totalComment}} reviews)</span>
						</div>
						<!-- <div class="share-review" *ngIf="!alreadyCommented && loggedIn" (click)="writeReview('write')">
						<button >Write Review</button>
						<i class="fas fa-pencil-alt"></i>
						</div>
						<div class="respond" *ngIf="alreadyCommented  && loggedIn" (click)="writeReview('edit')">
						<button  >Edit Review</button>
						<i class="far fa-edit"></i>
						</div> -->
						<button data-toggle="modal" data-target="#review" style="display: none" id="reviewPopup"></button>
						 
						</div>
		</div>
		
	  </div>
	</div>
  </div>

  <!-- video popup part close --> 

<div id="myModalImage" class="modal modelyuorfeed">
  <span class="close" (click)="closeModel()">&times;</span>
  <div class="feed-pop">
  <img class="modal-content" id="img01" [src]="imgsrc">
  <div id="caption"></div>
</div>
</div>
