.progressbar {
  counter-reset: step;
}
.progressbar li {list-style-type: none;width: 20%;float: left;font-size: 12px;position: relative;text-align: center;text-transform: uppercase;color: #7d7d7d;}
.progressbar li:before {width: 35px;height: 35px;content: counter(step);counter-increment: step;line-height: 31px;border: 2px solid #9B9B9B;display: block;
text-align: center;margin: 0 auto 10px auto;border-radius: 50%;background-color: white;z-index: 9;position: relative;font-size: 15px;}
.progressbar li:after {width: 100%;height: 5px;content: '';position: absolute;background-color: #9B9B9B;top: 24px;left: -50%;z-index: 1;}
.progressbar li:first-child:after {content: none;}
.progressbar li.active {color: fff;}
.progressbar li.active:before {background: #fff;border: 2px solid #9B9B9B;border-color:#f05742;}
.progressbar li.active + li:before {background-color: #fff;}
.progressbar li:first-child:after {content: none;}
.agree-btn{border-radius: 3px !important;} 
.model-gallery-top.add-cont{padding: 0 25px;}








.live-model-main.front-profile .right-main {
  width: 100%;
  display: inline-block;
  margin-left: 0;
  min-height: calc(100vh - 80px);
  margin-top: 80px;
}

.live-model-main.front-profile  .tab-main.noti {
  margin: 40px 120px;
}
.steps {
padding: 25px 0;
float: left;
width: 100%;
}
.steps .nav-link.active {
color: #f05742;
}
.tab-main.noti .right-bar-content.mar-0 {
border-radius: 10px;
}

.nav-link.active::after {
background: 
#f05742;
}
.agree-btn{border-radius:3px !important;} 


#payout-detail .form-group label{display: block;}

/* #payout-detail .account1 label{

color: 
#242424;
margin-bottom: 15px;
} */
.pendingClass h5::before {

background: #f16653;

}
.pendingClass h5 {

color:#f16653 !important;

}
.account1 .ui-state-active::after{display: none;}

.account1 .ng-tns-c4-1.ui-dropdown-label.ui-inputtext.ui-corner-all.ng-star-inserted {
margin: 0 !important;
font-size: 15px !important;
}
#payout-detail .account1 .ui-radiobutton{float: left;}

#payout-detail .ng-star-inserted.ui-radiobutton-label {
font-size: 15px !important;
display: inline-block;
float: left;
}
#payout-detail .ui-dropdown{width: 100%;height: 50px;padding: 5px 0;}

.conti-btn {
display: inline-block;
float: right;
position: relative;
}
.conti-btn i {
position: absolute;
left: 20px;
top: 17px;
}
.pre-btn {
display: inline-block;
position: relative;
}
.pre-btn i {
position: absolute;
left: 20px;
top: 17px;
}
#payout-detail .form-group{margin-bottom: 0;}
#myModal .modal-body img {
width: 100%;
}
#myModal .modal-footer{padding-top: 20px;}
#myModal .modal-footer .btn {
background:
#9fdbce;
font-size: 15px;
color:
#fff;
font-weight: 500;
border: 0;
border-radius: 3px;
display: inline-block;
padding: 10px 20px;
}
#myModal .modal-footer .btn:hover{color: #212529;}
.upload-picture{width: 130px;height: 130px;background: #ddd;border-radius: 50%;position: relative;margin-bottom: 0;}
.upload-picture #myfile{display: none;}
.upload-picture span {width: 35px;height: 35px;background: #d7d6d4;border: 2px solid #fff;display: block;text-align: center;font-size: 15px;padding: 4px 0;
border-radius: 50%;position: absolute;right: 0;bottom: 15px;}
.upload-picture img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%;}
.content-step-main {float: left;padding-right: 15px;width: 100%;}



@media screen and (max-width: 1600px) {
.tab-main.noti .col-sm-4 {flex: auto;max-width: 33.333%;}

}


@media screen and (max-width: 768px) {
.live-model-main.front-profile .tab-main.noti { margin: 25px;}
.tab-main.noti .col-sm-4 {flex: auto;max-width: 50%;}

}


@media screen and (max-width: 414px) {
.live-model-main.front-profile .tab-main.noti {margin: 10px;}
.progressbar li{padding: .5rem 0} 
.tab-main.noti .col-sm-4 {flex: auto;max-width: 100%;}

}

@media screen and (max-width: 375px) {
.progressbar li{font-size: 11px;} 

}

/*
Modified from https://www.kodhus.com/css-only-step-progress-bar/
*/