<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>YesPiper</title>
  <base href="/">
  <!-- <base href="/snapapp/"> -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
  <link rel="stylesheet"  href="assets/css/animate.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,300i,400,400i,500,500i,600,700&display=swap" rel="stylesheet"> 

  <!-- <script src="https://js.stripe.com/v2/"></script> -->
  <!-- <script type="text/javascript">
    Stripe.setPublishableKey('pk_test_XsCV2lAW6EG6jRrulmXgma2M00cMQ8KnqI');
  </script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- <link rel="stylesheet" type="text/css" href="assets/css/translucent.css"/> -->
  

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
  <link rel="icon" type="image/x-icon" href="favicon.ico">

</head>
<body>
  	<a href="" class="follow" data-toggle="modal" data-target="#home-popup" style="display: none" id="adultpopup">18pluspopup</a>
    <div class="modal fade" id="home-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content home-popup">
            <div class="modal-header">
              <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
                <!-- <span aria-hidden="true">&times;</span>
              </button> -->
            </div>
          <div class="modal-body"> 
          <h3>18+</h3>
           <h4>adults only</h4>
           <p>This website contains content and information that is not suitable for 
             those under 18 years of age. By clicking I Agree, you agree that you are 18 years of age and 
             are permitted to view the contents of this website.</p>
           
           <!-- <input type="checkbox"  onchange="checkBox()" id="checkbox">  -->
 
           <!-- <label 
           class="adl">
            <input type="checkbox" onchange="checkBox()" id="checkbox" style="display:none" checked="true">
            <span class="checkmark"></span>
          </label> -->
          <a data-dismiss="modal" aria-label="Close" id="closePopup2"></a>
          <button type="button" id="closePopup"  >I Agree</button>
          

          </div>
          </div>
        </div>
      </div>
  <app-root>
    <div class="se-pre-con" *ngIf="isLoading">
      <div class="sk-chasing-dots">
        <div class="sk-child sk-dot1"></div>
        <div class="sk-child sk-dot2"></div>
      </div>
    </div>
  </app-root>
</body>
</html>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/wow.min.js"></script> 
<script src="assets/js/loader.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.4/chance.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<!-- <script src="assets/js/jquery-translucent.js"></script>   -->
<script>
  wow = new WOW(
    {
      animateClass: 'animated',
      offset:       100,
      callback:     function(box) {
        //console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
      }
    }
  );
  wow.init();


  var api_token = localStorage.getItem('loggedInUser');
//alert("df"+api_token)
  if(api_token=="" || api_token==null){
   // location.href = '/login';
  }

</script>
<script>
  function openNav() {
    document.getElementById("mySidenav").style.left = "0";
  }
  
  function closeNav() {
    document.getElementById("mySidenav").style.left = "-250px";
  }
  function openNav2() {
    document.getElementById("mySidenav2").style.left = "0";
  }
  
  function closeNav2() {
    document.getElementById("mySidenav2").style.left = "-250px";
  }
  </script>
<script>
  var x, i, j, selElmnt, a, b, c;
  /*look for any elements with the class "custom-select":*/
  x = document.getElementsByClassName("custom-select");
  for (i = 0; i < x.length; i++) {
    selElmnt = x[i].getElementsByTagName("select")[0];
    /*for each element, create a new DIV that will act as the selected item:*/
    a = document.createElement("DIV");
    a.setAttribute("class", "select-selected");
    a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
    x[i].appendChild(a);
    /*for each element, create a new DIV that will contain the option list:*/
    b = document.createElement("DIV");
    b.setAttribute("class", "select-items select-hide");
    for (j = 1; j < selElmnt.length; j++) {
      /*for each option in the original select element,
      create a new DIV that will act as an option item:*/
      c = document.createElement("DIV");
      c.innerHTML = selElmnt.options[j].innerHTML;
      c.addEventListener("click", function(e) {
          /*when an item is clicked, update the original select box,
          and the selected item:*/
          var y, i, k, s, h;
          s = this.parentNode.parentNode.getElementsByTagName("select")[0];
          h = this.parentNode.previousSibling;
          for (i = 0; i < s.length; i++) {
            if (s.options[i].innerHTML == this.innerHTML) {
              s.selectedIndex = i;
              h.innerHTML = this.innerHTML;
              y = this.parentNode.getElementsByClassName("same-as-selected");
              for (k = 0; k < y.length; k++) {
                y[k].removeAttribute("class");
              }
              this.setAttribute("class", "same-as-selected");
              break;
            }
          }
          h.click();
      });
      b.appendChild(c);
    }
    x[i].appendChild(b);
    a.addEventListener("click", function(e) {
        /*when the select box is clicked, close any other select boxes,
        and open/close the current select box:*/
        e.stopPropagation();
        closeAllSelect(this);
        this.nextSibling.classList.toggle("select-hide");
        this.classList.toggle("select-arrow-active");
      });
  }
  function closeAllSelect(elmnt) {
    /*a function that will close all select boxes in the document,
    except the current select box:*/
    var x, y, i, arrNo = [];
    x = document.getElementsByClassName("select-items");
    y = document.getElementsByClassName("select-selected");
    for (i = 0; i < y.length; i++) {
      if (elmnt == y[i]) {
        arrNo.push(i)
      } else {
        y[i].classList.remove("select-arrow-active");
      }
    }
    for (i = 0; i < x.length; i++) {
      if (arrNo.indexOf(i)) {
        x[i].classList.add("select-hide");
      }
    }
  }
  /*if the user clicks anywhere outside the select box,
  then close all select boxes:*/
  document.addEventListener("click", closeAllSelect);

console.log("localStorage.getItem('adultchecked')",localStorage.getItem('adultchecked'))
  if(localStorage.getItem('adultchecked') != 'yes'){
    document.getElementById('adultpopup').click();
    $('.modal-backdrop').addClass('blur')
  }
//localStorage.clear();
  function checkBox(){
    //alert("rk")
   if( $('#checkbox:checked').length > 0){
    localStorage.setItem('adultchecked','yes');
      $('#closePopup').prop('disabled', false);
      
    }
    else{
      $('#closePopup').prop('disabled', true);
      
    }
  } 
  $('#closePopup').click(function(){
    localStorage.setItem('adultchecked','yes');
    $('#closePopup').prop('disabled', false);
    $('.modal-backdrop').removeClass('blur');
    $('div').removeClass('modal-backdrop');
    $('#home-popup').hide();
    $('body').removeClass('modal-open');    
  })
  // $('#closePopup').click(function(){
  //   $('#closePopup').click();
  // })
  </script>
