/* You can add global styles to this file, and also import other style files */


.right-bar-content .drop-grid{border: 0;border-radius: 4px;font-size: 14px;border: 1px solid #cccaca;color: #595959;padding: 10px 8px;font-weight: 500;
    margin-left: 20px;background: url(assets/images/account-arrow.png) 91% no-repeat #fff;
-webkit-appearance: none;width: 42%;
-moz-appearance: none;appearance: none;}
