<app-header></app-header>


<section class="live-model-main" infiniteScroll     
style="height: 100%; overflow-y: scroll;">

  <div class="live-model-content" >
    <div class="container-fluid">
      <div class="row">
        <div class="left-bar">
          <ul>
            <li class="active"><a routerLink="/your-feed">Feed</a></li>
            <li><a routerLink="/notification">Notifications</a></li>
            <li ><a routerLink="/messages">Messages</a></li>
            <li ><a routerLink="/follows">My Subscriptions</a></li>
            <li ><a routerLink="/settings">Account Settings</a></li>
            <li ><a routerLink="/billings">Billing settings</a></li>
            <li ><a routerLink="/booking">Bookings</a></li>
           
            
            
          </ul>
        </div>
        <div class="right-main"> 
          <div class="right-bar">
              <!-- <div class="se-pre-con2" *ngIf="isLoading">
                  <div class="sk-chasing-dots2">
                    <div class="sk-child sk-dot1"></div>
                      <div class="sk-child sk-dot2"></div>
                   </div> 
              </div> -->
            <div class="min-height">
              <div class="right-bar-content noti feed"> 
                  <!-- <div class="se-pre-con2" *ngIf="isLoading">
                      <div class="sk-chasing-dots" >
                        <div class="sk-child sk-dot1"></div>
                          <div class="sk-child sk-dot2"></div>
                       </div>
                     </div> -->
                  <div class="feed-top head">
                      <h4>Private Content</h4>
                      <div class="grid-right">
                       <select class="drop-grid" [(ngModel)]="viewType" (change)="viewChange()" name="viewType">
                         <option  value="grid">Grid View</option>
                          <option  value="scroll">Scroll View</option>
                       </select>
                       <select class="drop-grid" [(ngModel)]="viewContentShow" (change)="viewContent()" name="viewContent">
                          <option  value="all">All</option>
                          <option value="images">Images</option>
                          <option  value="videos">Videos</option> 
                          <!-- <option  value="purchased_videos">Owned Video</option>   -->
                       </select>
                       </div>
                      </div>
                  <div class="empty-msg" *ngIf = "FeedData.length == 0 && !isLoading">
                    <h6>Your Feed Is Empty</h6>
                  </div>  
                <div class="one-notify"  *ngFor="let d of FeedData; let i = index" [ngClass]="{ 'gridView': gridView, 'scrollView2': !gridView}">
                   
                  <div class="feed-top">
                    
                    <div class="feed-img">
                      <img class="cursor" src="{{d.profile_image}}" alt="feed-img">
                    </div>
                    
                    <div class="feed-text">
                      <h5 class="cursor" routerLink="/{{d.profile_url}}" >{{d.model_name}}</h5>
                      <h6>{{d.uploaded_at}}</h6>
                    </div>
                    
                    <div class="feed-btm" [ngClass]="{ 'scrollView': scrollView}">
                       
                      <img src="{{d.model_image}}" alt="img" *ngIf="1 == d.media_type" (click)="open(d.model_image,d.title,i)">
                      <!-- <img src="{{d.model_image}}" alt="img" *ngIf="1 == d.media_type" > -->
                      <span class="teaser" *ngIf ="d.media_type == 5">
                          Teaser
                      </span>
                      <!-- <span class="teaser" *ngIf ="d.paid == 'unpaid' && 2 == d.media_type">
                        Paid Video
                     </span>
                     <span class="teaser" *ngIf ="d.paid == 'paid' && 2 == d.media_type">
                      Purchased Video
                    </span> -->
                      <video  *ngIf="2 == d.media_type && d.paid == 'paid'" controls     style="width: 100%; height: 100%;object-fit: cover;" preload="metadata">
                          <source  src="{{d.model_image}}" type="video/mp4">
                      </video>
                      <video  *ngIf="2 == d.media_type && d.paid == 'unpaid'"  (click)="payForVideo(d.asset_id,d.price,i)"    style="width: 100%; height: 100%;object-fit: cover;" preload="metadata">
                        <source  src="{{d.model_image}}" type="video/mp4">
                      </video>
                      <video  *ngIf="5 == d.media_type" controls     style="width: 100%; height: 100%;object-fit: cover;" preload="metadata">
                        <source  src="{{d.model_image}}" type="video/mp4">
                      </video>
                    <!-- <input id="myInput{{d.asset_id}}" style="display: none" [(ngModal)]="{{generateUrl(d.asset_id)}}" [value]="{{generateUrl(d.asset_id)}}"> -->
                    </div>
                    <div class="box-btm mod-gell "><ul><li><a routerLink="/share" [queryParams]="{shareId: d.asset_id}"  ><i class="far fa-comments cursor"></i><h5>{{d.comment}}</h5></a></li> <li ><span (click)="sharePOST(d.asset_id)"></span></li></ul></div>
                  </div>
                </div> 
                 <div>
                  <div class="feed-loader" *ngIf="isLoading">
                    <div class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div> 
                    <div id="fountainTextG"><div id="fountainTextG_1" class="fountainTextG">L</div><div id="fountainTextG_2" class="fountainTextG">o</div><div id="fountainTextG_3" class="fountainTextG">a</div><div id="fountainTextG_4" class="fountainTextG">d</div><div id="fountainTextG_5" class="fountainTextG">i</div><div id="fountainTextG_6" class="fountainTextG">n</div><div id="fountainTextG_7" class="fountainTextG">g</div></div>
                  </div>    
                  <div  *ngIf="!isLoading && !hideShowMore" style="text-align: center;">
                    <span class="cursor" (click)="loadMore()" class="feed-load">Load More</span>
                  </div> 
                </div>
              </div>
            </div>
            <div class="inner-footer">
              <h4 class="copy">COPYRIGHT YES PIPER LLC 2020 | ALL RIGHTS RESERVED ©</h4>
              <ul>
                <li><a routerLink="/terms">Terms and conditions</a></li>
                <li><a routerLink="/privacy">Privacy Policy</a></li>
                <li><a routerLink="/faq" >FAQ's</a></li>
                <li><a routerLink="/contact" >Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<a type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="display: none" id="showModel"></a>
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Buy This Exclusive Content For $ {{PriceVideo}}</h4>
        <button type="button" id ="closeModal" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <button (click)="buyVideo()" class="btn btn-primary" >Buy</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="modalClose">Close</button>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" id="openSlideshow" data-target="#slideshow" style="display:none"> Open Modal</button>
<!-- <div class="modal fade" id="slideshow" role="dialog">
  <div class="modal-dialog"> -->
  
    <!-- Modal content-->
    <!-- <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body" *ngIf="!isLoading">
        <p-galleria [images]="_albumsImage" panelWidth="500" panelHeight="313" [showCaption]="true"  (onImageClicked)="onImageClicked($event)"></p-galleria>   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div> -->
<div id="myModalImage" class="modal modelyuorfeed">
  <span (click)="changeSlideShow('right')" class="next-arrow"><i class="fas fa-chevron-right"></i></span>
  <span (click)="changeSlideShow('left')" class="pre-arrow"><i class="fas fa-chevron-left"></i></span>
  <span class="close" (click)="closeModel()">&times;</span>
  <div class="feed-pop">
  <img class="modal-content" id="img01" [src]="imgsrc">
  <div id="caption"></div>
</div>
</div>