@import '../../../node_modules/primeicons/primeicons.css';
@import '../../../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../../../node_modules/primeng/resources/primeng.min.css';
.feed-top{padding: 20px 20px 30px;}
.right-bar-content .feed-top h4{font-size: 25px;color: #242424;font-weight: 600;border: 0;padding: 0;display: inline-block;}
.grid-right{float:right;width: 28%;}

.right-bar-content.noti.feed .one-notify{padding:0;}
.right-bar-content.noti.feed{position: relative;}
.feed-top1{margin-bottom:35px;}
.feed-img {width: 45px;height: 45px;background: #ddd;border-radius: 50%;overflow: hidden;display: inline-block;margin-right: 10px;margin-bottom: 5px;}
.feed-text {display: inline-block;vertical-align: top;}
.feed-img img {width: 100%;height: 100%;object-fit: cover;}
.feed-text h5 {display: block;vertical-align: top;font-weight: 600;font-size: 19px;margin-bottom: 6px;}
.feed-text h6 {display: inline-block;vertical-align: top;font-weight: 400;font-size: 13px;color: #595959;}
.feed-btm {background: #fff;margin-top: 5px;height: 310px;overflow:hidden;position: relative;cursor: pointer;
  border: 1px solid #eae6e6;
  border-radius: 4px;
  padding: 5px; 
}
.feed-btm img {width: 100%;height: 100%;object-fit: cover;}
.one-notify.gridView {width: 33%;display: inline-block;}
.feed-btm.scrollView {height: 500px;}
.right-bar-content.noti span.teaser {position: absolute;top: 10px;background: rgba(36, 36, 36, 0.6);font-size: 11px;color: #fff;padding: 6px 12px;border-radius: 4px;
z-index: 2;right: 10px;}
.feed-btm.scrollView img{position: absolute;left: 0;right: 0;width: auto;margin: auto;}

/* feed page css close*/


/* feed popup css start*/

#slideshow .modal-content{background: #fff;border: 0;border-radius: 0;}
#slideshow .modal-header{border: 0;padding: 0;}
#slideshow .modal-title {display: none;}
#slideshow .modal-dialog{max-width: 850px;}
#slideshow .close {float: right;line-height: 1;opacity: 1;color:#000;text-shadow: 0;font-weight: 500;padding: 0;background:#fff;width: 30px;height: 30px;z-index: 9;
margin-right: 0px;position: absolute;right: -8px;top: 8px;font-size: 20px;border-radius: 30px;}
#slideshow .ui-galleria-panel-wrapper {background: #f5f5f5;overflow: hidden;width: 100%!important;height: 600px!important;}
#slideshow .modal-body{padding: 0;}
#slideshow .ui-galleria-panel{width: 100% !important;height: 100% !important;}
#slideshow .ui-galleria .ui-galleria-frame{opacity: 1;}
#slideshow .ui-galleria.ui-widget.ui-widget-content.ui-corner-all {width: 100% !important;padding: 10px;}
#slideshow .modal-footer {display: none;}
#slideshow .ui-galleria-filmstrip-wrapper {margin-top: 40px !important;}
#slideshow .ui-galleria .ui-galleria-caption{background: none;padding: 0;margin-bottom: 28px;bottom: 62px;left: 20px;width: 100%!important;}
.modal-backdrop.show {opacity: .8;}
body .ui-galleria .ui-galleria-nav-prev, body .ui-galleria .ui-galleria-nav-next{color:#fff;background:#000;height: 40px;right: 0;}
#slideshow .ui-galleria .ui-galleria-nav-prev {bottom: 10px!important;left: 10px;}
#slideshow .ui-galleria-nav-next.pi.pi-fw.pi-chevron-right{bottom: 10px!important;right: 10px;}
#slideshow .ui-galleria-panel img {height: 100%;width: auto;position: absolute;left: 0;right: 0;margin: auto;}
#slideshow .ui-galleria .ui-galleria-caption h4 {color: #242424;font-size: 15px;} 
#slideshow .ui-galleria-filmstrip-wrapper{margin: 15px 25px 0;}
#slideshow .ui-galleria-nav-prev.pi.pi-fw.pi-chevron-left::before {position: absolute;left: 0;top: 12px;}
.ui-galleria-nav-next.pi.pi-fw.pi-chevron-right::before{position: absolute;left: 0;top: 12px;}
#slideshow body .ui-galleria .ui-galleria-nav-prev:hover, body .ui-galleria .ui-galleria-nav-next:hover{-webkit-transform: none;}
#slideshow body .body .ui-galleria .ui-galleria-nav-prev:hover{-webkit-transform: none;}
body .ui-galleria .ui-galleria-nav-prev:hover, body .ui-galleria .ui-galleria-nav-next:hover{-webkit-transform: none;}

.pre-arrow {font-size: 35px;position: absolute;z-index: 9;color: #fff;top: 50%;left:10px;cursor: pointer;}
.next-arrow {font-size: 35px;position: absolute;z-index: 9;color: #fff;top: 50%;right:10px;cursor: pointer;}

.feed-pop {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  background:#fff;
max-width: 800px;
margin: auto;
border-radius: 5px;
}

/* feed popup css close*/


/*media css start*/

.navbar-dark .navbar-toggler {color: rgba(255,255,255,.5);border-color: #595959;background: #595959;}

@media screen and (max-width: 1800px) {
.grid-right{width: 32%;}  

}

@media screen and (max-width: 1600px) { 
.grid-right{width: 32%;}  
  
}


@media screen and (max-width: 1571px) { 
.grid-right{width: 38%;}  
    
  }

@media screen and (max-width: 1450px) {
.right-bar-content.noti {margin: 40px;}

}

@media screen and (max-width: 1140px) {
.grid-right {width: 45%;}
  
}

@media screen and (max-width: 1285px) {
.feed-text h5{font-size: 15px;}
/* .right-bar-content.noti {margin: 40px 100px;} */
.feed-btm{height: 250px;}

}

@media screen and (max-width: 1155px) {
/* .right-bar-content.noti {margin: 40px 70px;} */
  
}

@media screen and (max-width: 1024px) {
.grid-right{width: 55%;} 
.feed-btm{height: 200px;}
.right-bar-content.noti.feed {margin: 30px;}
#slideshow .modal-dialog {max-width: 95%;}

}


@media screen and (max-width: 812px) {
.right-bar-content.noti.feed h4{font-size: 20px;}
.grid-right{width: 60%;}    
.feed-top {padding: 20px 12px 20px;} 
.feed-btm.scrollView {height: 440px;}
#myModalImage .feed-pop{max-width: 85%;} 
#myModalImage .feed-pop .modal-content {width: 100%;}

}

@media screen and (max-width: 768px) {
.right-bar-content.noti.feed h4{margin-top: 10px;} 
.feed-btm.scrollView {height: 400px;} 
.right-bar-content.noti{margin: 25px;}

}

@media screen and (max-width: 684px) {
#myModalImage .modal-content {width: 85%;}  

}

@media screen and (max-width: 414px) {
.right-bar-content.noti.feed { margin: 15px;}
.right-bar-content.noti.feed .grid-right select:first-child {display: none;}    
.one-notify.gridView{width: 100%;}
.right-bar-content.noti.feed .grid-right{width: 45%;}
.right-bar-content .drop-grid{padding: 5px;width: 85%;float: right;}
.right-bar-content.noti.feed h4{margin-top: 6px;} 
#myModalImage .modal-content {width: 80%;}  
#myModalImage #caption{width: 80%;}
#myModalImage .feed-pop {max-width: 80%;}
#myModalImage .feed-pop .modal-content{max-height: 350px;height: 350px;width: 100%;max-width: 100%;} 

} 

@media screen and (max-width: 375px) {
.right-bar-content.noti.feed h4{font-size: 16px;}
.right-bar-content .drop-grid{width: 95%;}   

}

@media screen and (max-width: 320px) {
.right-bar-content.noti.feed .grid-right{width: 40%;}
         
 }



/*media css close*/
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modelyuorfeed {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding: 50px 0; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  #myModalImage .modal-content {
    margin: auto; 
    display: block;
    width: auto;
    max-width: 800px;
    border: 0;
    background:#fff;
    padding: 12px;
    max-height: 550px;
    height: 550px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color:#242424;
    padding: 8px;
    max-width: 800px;
    font-size: 16px;
    background: #fff;
    word-wrap: break-word;
    margin-top: -5px;
   position: relative;
   border-radius: 0 0 .3rem .3rem;
  }
  
  /* Add Animation */
  .modelyuorfeed .modal-content, #caption {  
    /* -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s; */
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .modelyuorfeed .close {
    position: absolute;
    top: 15px;
    right: 25px;
    color: #f1f1f1;
    font-size: 40px;
    transition: 0.3s;
    opacity: 1;
    font-weight: 500;
    z-index: 9;
  }
  
  .modelyuorfeed .close:hover,
  .modelyuorfeed .close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
.right-bar-content.noti span.feed-load{
font-size: 15px;
color:#fff;
text-transform: uppercase;
display: inline-block;
border-radius: 4px;
padding: 15px 0;
background: #9fdbce;
width: 176px;
text-align: center;
font-weight: 600;
letter-spacing: 2px;
cursor: pointer;
margin-top: 30px;
}

.right-bar-content.noti span.feed-load:hover{color: #212529;}
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modelyuorfeed .modal-content {
      width: 100%;
    }
  }

  @media only screen and (max-width: 414px){
    .modelyuorfeed .modal-content{max-width: 90%;}
    #caption{width: 90%;}
  }
