<app-header></app-header>
<div class="se-pre-con" *ngIf="isLoading">
		<div class="sk-chasing-dots">
		  <div class="sk-child sk-dot1"></div>
		  <div class="sk-child sk-dot2"></div>
		</div>
</div>
<section class="slider" (click)="getInfo($event)">
    <div class="bd-example">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <!-- <li data-target="#carouselExampleCaptions" data-slide-to="2"></li> -->
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/slide-img1.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="wow fadeIn" data-wow-delay="0.2s">join today to connect with the <br>hottest pornstars across the globe</h5>
              <!--<p class="wow fadeIn" data-wow-delay="0.3s">{{countData.model_count}} models have posted {{countData.media_count}} <br>photos and videos</p>-->
            <!--<h4 class="wow fadeIn" data-wow-delay="0.4s"> {{countData.total_images}} Photos & {{countData.total_video}} Videos</h4> -->
            <ul class="slider-ul">
              <li>1-on-1 Video Chat</li>
              <li>Direct Message</li>
              <li>Exclusive Content</li>
              <li>Live Streams</li>
            </ul>
          <a routerLink="/signup" class="wow fadeIn" data-wow-delay="0.5s">Join Now</a>
          <a routerLink="/login" class="active wow fadeIn" data-wow-delay="0.5s">login</a>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/images/slide-img2.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="wow fadeIn" data-wow-delay="0.2s">join today to connect with the <br>hottest pornstars across the globe</h5>
              <!--<p class="wow fadeIn" data-wow-delay="0.3s">{{countData.model_count}} models have posted {{countData.media_count}} <br>photos and videos</p>-->
            <!--<h4 class="wow fadeIn" data-wow-delay="0.4s"> {{countData.total_images}} Photos & {{countData.total_video}} Videos</h4> -->
            <ul class="slider-ul">
              <li>1-on-1 Video Chat</li>
              <li>Direct Message</li>
              <li>Exclusive Content</li>
              <li>Live Streams</li>
            </ul>
          <a routerLink="/signup" class="wow fadeIn" data-wow-delay="0.5s">Join Now</a>
          <a routerLink="/login" class="active wow fadeIn" data-wow-delay="0.5s">login</a>
            </div>
          </div> 
          <!-- <div class="carousel-item">
            <img src="assets/images/slide-img3.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="wow fadeIn" data-wow-delay="0.2s">Exclusive contents from your<br> favourite models</h5>
              <p class="wow fadeIn" data-wow-delay="0.3s">{{countData.model_count}} models have posted {{countData.media_count}} <br>photos and videos</p>
          <h4 class="wow fadeIn" data-wow-delay="0.4s"><b></b> {{countData.total_images}} Photos & {{countData.total_video}} Videos</h4> 
          <a routerLink="/signup" class="wow fadeIn" data-wow-delay="0.5s">Join Now</a>
          <a routerLink="/login" class="active wow fadeIn" data-wow-delay="0.5s">login</a>
            </div>
          </div> -->
        </div>
        <span class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </span>
        <span class="carousel-control-next" id="changeSlider" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </span>
      </div>
    </div>
    
    </section>
    <!-- slider part close -->   
    
    <!-- search part start -->  
    <section class="search" (click)="getInfo($event)">
      <div class="container">
       <div class="col-sm-6 offset-3">
       <div class="row">
       <div class="col-sm-6">
        <div class="search-model">
          <form (ngSubmit)="submitSearch()">
            <input type="text" class="form-control" placeholder="Search Model"  [(ngModel)]="searchFilter" name="searchFilter">
         
        <button type="submit"><span class="fa fa-search form-control-feedback"></span></button></form>
       <span class="fa fa-search form-control-feedback"></span>
      </div>
    </div>
    <div class="col-sm-6">
    <div class="dropdown show">
     <button class="search-model-btn dropdown-toggle {{classACTIVE}}" (click)="getInfo2($event)" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort By Featured
      </button>
      <div class="dropdown-menu cursor" aria-labelledby="dropdownMenuButton"  style="display: block;" [ngStyle]="{'opacity': opacity }">
        <a class="dropdown-item"  (click)="filterModel('ASC')">Newest</a>
        <a class="dropdown-item"  (click)="filterModel('DESC')">Newest Last</a>
        <a class="dropdown-item"  (click)="filterModel('featured')">Featured</a>
        <a class="dropdown-item" (click)="filterModel('trending')">Trending</a>
        <a class="dropdown-item"  (click)="filterModel('popular')">Popular</a>
        <a class="dropdown-item" (click)="filterModel('nameSortASC')">Name (A - Z)</a>
        <a class="dropdown-item"  (click)="filterModel('nameSortDESC')">Name (Z - A)</a>
        <a class="dropdown-item"  (click)="filterModel('mostUploads')">No.of Uploads</a>
        <a class="dropdown-item"  (click)="filterModel('topSelling')">Top Selling</a>
        <a class="dropdown-item"  (click)="filterModel('recentlyActive')">Recently Active</a>
       </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    </section>
    <!-- search part close -->  
    
    <!-- live models part start --> 
    <!-- <section class="live-models padding">
      <div class="container">
        <div class="heading wow fadeIn" data-wow-delay="0.2s">
        <h4><b>R</b> Models</h4>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="box-main wow fadeIn" data-wow-delay="0.2s">
          <div class="box-img">
            <img src="assets/images/box-img1.png" alt="img"> -->
          <!-- <span class="live">
            <i class="fas fa-circle"></i>Live
          </span> -->
          <!-- </div>
          <div class="box-btm">
            <div class="box-user-img">
            <img src="assets/images/box-img1.png" alt="img">
          </div>
          <div class="box-mid">
            <h3>Alexis Rane</h3>
            <ul>
              <li><i class="far fa-images"></i>800</li>
            <li><i class="fas fa-video"></i>100</li> -->
            <!-- <li><i class="fas fa-gem"></i>10</li> -->
            <!-- </ul>
          </div>
          <a href="" class="follow" data-toggle="modal" data-target="#payment">follow</a>
          </div>
        </div>
        </div>
        <div class="col-sm-3">
          <div class="box-main wow fadeIn" data-wow-delay="0.3s">
          <div class="box-img">
            <img src="assets/images/box-img2.png" alt="img"> -->
          <!-- <span class="live">
            <i class="fas fa-circle"></i>Live
          </span> -->
          <!-- </div>
          <div class="box-btm">
            <div class="box-user-img">
            <img src="assets/images/box-img2.png" alt="img">
          </div>
          <div class="box-mid">
            <h3>Kelly Brook</h3>
            <ul>
              <li><i class="far fa-images"></i>800</li>
            <li><i class="fas fa-video"></i>100</li> -->
            <!-- <li><i class="fas fa-gem"></i>10</li> -->
            <!-- </ul>
          </div>
          <a href="" class="follow">follow</a>
          </div>
        </div>
        </div>
        <div class="col-sm-3">
          <div class="box-main wow fadeIn" data-wow-delay="0.4s">
          <div class="box-img">
            <img src="assets/images/box-img3.png" alt="img"> -->
          <!-- <span class="live">
            <i class="fas fa-circle"></i>Live
          </span> -->
          <!-- </div>
          <div class="box-btm">
            <div class="box-user-img">
            <img src="assets/images/box-img3.png" alt="img">
          </div>
          <div class="box-mid">
            <h3>Miranda Kerr</h3>
            <ul>
              <li><i class="far fa-images"></i>800</li>
            <li><i class="fas fa-video"></i>100</li> -->
            <!-- <li><i class="fas fa-gem"></i>10</li> -->
            <!-- </ul>
          </div>
          <a href="" class="follow">follow</a>
          </div>
        </div>
        </div>
        <div class="col-sm-3">
          <div class="box-main wow fadeIn" data-wow-delay="0.5s">
          <div class="box-img">
            <img src="assets/images/box-img4.png" alt="img"> -->
          <!-- <span class="live">
            <i class="fas fa-circle"></i>Live
          </span> -->
          <!-- </div>
          <div class="box-btm">
            <div class="box-user-img">
            <img src="assets/images/box-img4.png" alt="img">
          </div>
          <div class="box-mid">
            <h3>Adriana Lima</h3>
            <ul>
              <li><i class="far fa-images"></i>800</li>
            <li><i class="fas fa-video"></i>100</li> -->
            <!-- <li><i class="fas fa-gem"></i>10</li> -->
            <!-- </ul>
          </div>
          <a href="" class="follow">follow</a>
          </div>
        </div>
        </div>
      </div>
      </div>
    </section> -->
    <!-- live models part close --> 
    
    
    <!-- Featured models part start --> 
    <section class="featured-models padding">
    <div class="container">
       <div class="heading wow fadeIn" data-wow-delay="0.2s">
      <h4><b>{{homeTitle}}</b> Models</h4>
      </div> 
        <div class="row">
            <div *ngFor="let d of myData" class="col-sm-3"   >
                
                    <!-- <div class="box-main wow fadeIn" data-wow-delay="0.2s" (click)="getModelProfile(d.user_id)" [ngClass]="{ 'm-progress': loading }" > -->
                    <div class="box-main wow fadeIn cursor" data-wow-delay="0.2s" id="{{d.profile_url}}" routerLink="/{{d.profile_url}}" >
                      <div class="box-img">
                        <img src="{{d.model_Image}}" alt="img">
                        <!-- <span class="live">
                        Featured
                        </span>    -->
                        <h4 class="next-ava" *ngIf="d.start_time !=''"><i class="far fa-clock" ></i>
                          {{convertDateUtc(d.start_time,'weekday')}} @ {{convertDateUtc(d.start_time,'start_time')}} 
                         </h4>            
                      </div>
                      <div class="box-btm">
                        <div class="box-user-img">
                          <img src="{{d.model_Image}}" alt="img">
                        </div>
                        <div class="box-mid">
                          <h3>{{d.model_name}} </h3>
                          <ul>
                            <li><i class="far fa-images"></i>{{d.image_count}}</li>
                            <li><i class="fas fa-video"></i>{{d.video_count}}</li>
                            <li><i class="far fa-comments"></i>{{d.countComment}}</li>
                            <!-- <li><i class="fas fa-gem"></i>10</li> -->
                            
                          </ul> 
                        </div>
                        
                        <div class="box-right">  
                            <div class="rating" *ngIf="d.averageRating != ''">
                                <ul *ngIf="d.averageRating ==1">
                                  <li><a><i class="fas fa-star"></i></a></li>
                                  <li><a><i class="far fa-star"></i></a></li>
                                  <li><a><i class="far fa-star"></i></a></li>
                                  <li><a><i class="far fa-star"></i></a></li>
                                  <li><a><i class="far fa-star"></i></a></li>
                                </ul>
                                <ul *ngIf="d.averageRating ==2">
                                    <li><a><i class="fas fa-star"></i></a></li>
                                    <li><a><i class="fas fa-star"></i></a></li>
                                    <li><a><i class="far fa-star"></i></a></li>
                                    <li><a><i class="far fa-star"></i></a></li>
                                    <li><a><i class="far fa-star"></i></a></li>
                                </ul>
                                <ul *ngIf="d.averageRating ==3">
                                    <li><a><i class="fas fa-star"></i></a></li>
                                    <li><a><i class="fas fa-star"></i></a></li>
                                    <li><a><i class="fas fa-star"></i></a></li>
                                    <li><a><i class="far fa-star"></i></a></li>
                                    <li><a><i class="far fa-star"></i></a></li>
                                </ul>
                                <ul *ngIf="d.averageRating ==4">
                                    <li><a><i class="fas fa-star"></i></a></li>
                                    <li><a><i class="fas fa-star"></i></a></li>
                                    <li><a><i class="fas fa-star"></i></a></li>
                                    <li><a><i class="fas fa-star"></i></a></li>
                                    <li><a><i class="far fa-star"></i></a></li>
                                </ul>
                                <ul *ngIf="d.averageRating ==5">
                                    <li><a><i class="fas fa-star"></i></a></li>
                                    <li><a><i class="fas fa-star"></i></a></li>
                                    <li><a><i class="fas fa-star"></i></a></li>
                                    <li><a><i class="fas fa-star"></i></a></li>
                                    <li><a><i class="fas fa-star"></i></a></li>
                                </ul>

                               
                            </div>
                            <div class="rating" *ngIf="d.averageRating == ''" style="color:red;font-size: 13px !important;"><ul><li><a><i class="far fa-star"></i></a></li>
															<li><a><i class="far fa-star"></i></a></li>
															<li><a><i class="far fa-star"></i></a></li>
                              <li><a><i class="far fa-star"></i></a></li>
                              <li><a><i class="far fa-star"></i></a></li></ul></div>     
                        <a class="follow">Subscribe</a>
                      </div>
                      </div>
                  </div>
                
            </div>
        <!-- <div class="col-sm-3">
          <div class="box-main wow fadeIn" data-wow-delay="0.2s">
          <div class="box-img">
            <img src="assets/images/featured-img1.png" alt="img">
          <span class="live">
           Featured
          </span>
          </div>
          <div class="box-btm">
            <div class="box-user-img">
            <img src="assets/images/featured-img1.png" alt="img">
          </div>
          <div class="box-mid">
            <h3>Heidi Klum</h3>
            <ul>
              <li><i class="far fa-images"></i>800</li>
            <li><i class="fas fa-video"></i>100</li>
            <li><i class="fas fa-gem"></i>10</li>
            </ul>
          </div>
          <a href="" class="follow">follow</a>
          </div>
        </div>
        </div> -->
    </div> 
    </div>
    </section>
    <!-- Featured models part close --> 
    
  <!-- enjoy x promo part start --> 
<section class="enjoy-promo">
	<div class="container">
	 <!-- <div class="sign-up-icon"><i class="fas fa-sign-in-alt"></i></div> -->
	  <h3>join today for exclusive content</h3>
	   <button routerLink="/signup">join</button>
	</div>
 </section>
<!-- enjoy x promo part close --> 

<!-- Benefit part start --> 

<section class="benefits-main padding">
	<div class="container">
	  <div class="heading">
	   <h4><b>Why</b> Join</h4>
       </div>
       <div class="steps-padding">
       <div class="row">
        <div class="col-sm-6">
          <div class="benefits">
          	<span><img src="assets/images/benefits-icon1.png" alt="icon"></span>
          	 <div class="benefits-text">
          	 	<h3>1-on-1 video chat</h3>
          	 	 <p>Request your ultimate fantasty! 100% personal, 100% discrete.</p>
          	 </div>
          </div>	
        </div>
        <div class="col-sm-6">
          <div class="benefits">
          	<span><img src="assets/images/benefits-icon2.png" alt="icon"></span>
          	 <div class="benefits-text">
          	 	<h3>Cancel any time</h3>
          	 	 <p>No lock-in contracts, no minimum term. Cancel whenever you like.</p>
          	 </div>
          </div>	
        </div>
       <div class="col-sm-6">
          <div class="benefits">
          	<span><img src="assets/images/benefits-icon3.png" alt="icon"></span>
          	 <div class="benefits-text">
          	 	<h3>Personalised experience</h3>
          	 	 <p>Intimate experiences. More than just a content subscription site.</p>
          	 </div>
          </div>	
        </div>
        <div class="col-sm-6">
          <div class="benefits">
          	<span><img src="assets/images/benefits-icon4.png" alt="icon"></span>
          	 <div class="benefits-text">
          	 	<h3>Live streams</h3>
          	 	 <p>Access to your favorite Pornstar's live streams. Live action. Real time.</p>
          	 </div>
          </div>	
        </div>
        <div class="col-sm-6">
          <div class="benefits mar-bott">
          	<span><img src="assets/images/benefits-icon5.png" alt="icon"></span>
          	 <div class="benefits-text">
          	 	<h3>Direct Message</h3>
          	 	 <p>Want to talk with your favorite Pornstar. Send a direct message?</p>
          	 </div>
          </div>	
        </div>
        <div class="col-sm-6">
          <div class="benefits mar-bott">
          	<span><img src="assets/images/benefits-icon6.png" alt="icon"></span>
          	 <div class="benefits-text">
          	 	<h3>Exclusive content</h3>
          	 	 <p>Instant access to  unseen content. When and wherever you like.</p>
          	 </div>
          </div>	
        </div>
       </div>
	</div>
</div>
</section>

<!-- Benefit part start --> 

<!-- today chat part start --> 
<section class="enjoy-promo chat-with">
	<div class="container">
	 <!-- <div class="sign-up-icon"><i class="fas fa-sign-in-alt"></i></div> -->
	  <h3>join today to chat with me</h3>
	   <button routerLink="/signup">join</button>
	</div>
 </section>
<!-- today chat part close --> 

<!-- pornstar earn more part start --> 

<section class="benefits-main pornstar padding">
	<div class="container">
	  <div class="heading">
     <h4><b>Pornstars earn more</b> with Yes Piper</h4>
    </div>
    <p>Yes Piper's mission was to be the lowest cost solution in interactive adult entertainment for Pornstars. Today, we take
       pride in <br>being the highest paying platform, giving the Pornstars we love what they deserve.</p>
       <div class="steps-padding">
        <div class="row">
        <div class="col-sm-4">
          <div class="steps-home">
            <div class="steps-icon">
             <img src="assets/images/model-waiting-icon.png">
            </div>
             <h3>{{getNewData.data.model}} s</h3>
             <h4>Pornstar waiting for you</h4>
          </div>	
          </div>
          <div class="col-sm-4">
          <div class="steps-home">
            <div class="steps-icon">
             <i class="far fa-images"></i>
            </div>
             <h3>{{getNewData.data.image}}</h3>
             <h4>Exclusive Images & Videos</h4>
          </div>	
          </div>
          <div class="col-sm-4">
          <div class="steps-home">
            <div class="steps-icon">
              <i class="far fa-smile"></i>
            </div>
             <h3>{{getNewData.data.user}}</h3>
             <h4>Happy Subscribers</h4>
          </div>	
          </div>
        </div>
        </div>
  </div>
</section>
<!-- pornstar earn more part close --> 

<!-- we are waiting part start --> 
<section class="enjoy-promo waiting">
	<div class="container">
	  <h3>join, we're waiting for you</h3>
	   <button routerLink="/signup">join</button>
	</div>
 </section>
<!-- we are waiting part close --> 



    <!-- Newsletter part start --> 
    <!-- <section class="newsletter">
    <div class="container">
      <div class="news-text">
        <h3 class="wow fadeIn" data-wow-delay="0.2">SUBSCRIBE OUR NEWSLETTER</h3>
       <p class="wow fadeIn" data-wow-delay="0.3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed<br> diam nonummy nibh euismod tincidunt ut laoreet</p>
      </div>
      <div class="newsletter-right wow fadeIn" data-wow-delay="0.4">
        <div class="search-model">
       <input type="text" class="form-control" placeholder="Enter your e-mail address">
       <i class="fas fa-paper-plane"></i>
        </div>
      </div>
    </div>
    </section> -->
    <app-footer></app-footer>

    <!-- for payment popup -->
    <div class="modal fade" id="payment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content payment">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Payment</h5>
          
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <div class="modal-body">
        <h6>Please provide the billing & payment info below</h6>
        <div class="credit">
          <ul>
            <li><img src="assets/images/cards1.png" alt="card"></li>
          <li><img src="assets/images/cards2.png" alt="card"></li>
          <li><img src="assets/images/cards3.png" alt="card"></li>
          <li><img src="assets/images/cards4.png" alt="card"></li>
          </ul>
          <h4>$25.00</h4>
        </div>
          <form>
         <div class="row">
         <div class="col-sm-6">
          <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Card number">
          </div>
          </div>
          <div class="col-sm-6">
          <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name on card">
          </div>
          </div>
           <div class="col-sm-6">
          <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Expiration date (MM / YY)">
          </div>
          </div>
          <div class="col-sm-6">
          <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Security code">
          </div>
          </div>
          
          
         
          <div class="col-sm-12">
           <label class="do"><p>Do you agree to the <a href="#">terms and conditions?</a></p>
          <input type="checkbox" checked="checked">
           <span class="checkmark2"></span>
          </label>
          </div>
          </div>
        </form>
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Payment</button>
            </div>
          </div>
        </div>
      </div>
      <a href="" class="follow" data-toggle="modal" data-target="#home-popup" id="warningPopup" style="display: none"></a>

<!-- 
      <div class="modal fade" id="home-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content home-popup">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <div class="modal-body">
          <h3>18+</h3>
           <h4>adults only</h4>
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
           <a href="">i’am over in</a>
           <a href="" class="exit">exit</a>
          </div>
          </div>
        </div>
      </div> -->
      