@import '../../../node_modules/primeicons/primeicons.css';
@import '../../../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../../../node_modules/primeng/resources/primeng.min.css';

.rating li a .fas{
   
    color: #f05742;
}



.slider .carousel-caption{top: 22%;left: 60%;}
.slider .carousel-caption ul{margin: 25px 0 40px;padding-left: 20px;}
.slider .carousel-caption li {font-size: 20px;list-style: disc;margin-bottom: 15px;}
.enjoy-promo {
    background-image: url("src/assets/images/xpromo-img.png");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 75px 0;
    background-attachment: fixed;
    min-height: 300px;
}
.enjoy-promo::before {
    background: rgba(0, 0, 0, 0.4);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.enjoy-promo h3 {
    font-size: 32px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 0 55px;
    position: relative;
}
.enjoy-promo button {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    background: #9fdbce;
    border-radius: 4px;
    border: 0;
    padding: 12px 70px;
    position: relative;
    display: inline-block;
}
.enjoy-promo button:hover{color: #212529;}


.benefits {margin-bottom: 50px;}
.benefits span{width: 80px;height: 80px;background: #f05742;border-radius:50%;display: inline-block;text-align: center;padding: 22px 0;margin-right: 20px;}
.benefits-text {display: inline-block;vertical-align: top;width: 80%;}
.benefits-text h3{font-size: 24px;color: #242424;font-weight: 500;margin-bottom: 10px;}
.benefits-text p{font-size: 16px;color: #585858;font-weight: 400;line-height: 23px;}
.benefits.mar-bott {margin-bottom: 0;}
.steps-padding {padding: 0 100px;}


.enjoy-promo.chat-with {
         background-image: url("src/assets/images/xpromo-img2.png");
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding: 75px 0;
        background-attachment: fixed;
        min-height: 300px;
    }  
    .benefits-main.pornstar p {
        text-align: center;
        font-size: 16px;
        margin-bottom: 50px;
        line-height: 30px;
    }  
    .benefits-main.pornstar .heading{
        margin-bottom: 35px;
    }
    .steps-home {
        text-align: center;
    }
    
.steps-icon {

    width: 80px;
    height: 80px;
    background: #9fdbce;
    border-radius: 50%;
    margin: 0 auto;
    padding: 22px 0;

}
.steps-icon i {
    font-size: 34px;
    color: #fff;
}
.steps-home h3 {
    font-size: 50px;
    font-weight: 600;
    margin: 25px 0 20px;
}
.steps-home h4 {
    font-size: 18px;
    font-weight: 400;
    color: #6c6a6a;
}

.enjoy-promo.waiting {
    background-image: url("src/assets/images/xpromo-img3.png");
   position: relative;
   background-position: center;
   background-repeat: no-repeat;
   text-align: center;
   padding: 75px 0;
   background-attachment: inherit;
   min-height: 300px;
}  



@media screen and (max-width: 1024px) {
.slider .carousel-caption {top: 8%;left: 45%;}
.steps-padding {padding: 0 50px;}
.benefits-text{width: 71%;}
.benefits-text h3{font-size: 21px;}

}

@media screen and (max-width: 768px) {
.slider .carousel-caption {top: 0;}
.slider .carousel-caption li{margin-bottom: 5px;}
.slider .carousel-caption ul {margin: 25px 0 25px;}
.enjoy-promo{background-attachment: inherit;}
.enjoy-promo.chat-with{background-attachment: inherit;}
.steps-padding {padding: 0;}
.benefits-text p {font-size: 15px;}

}

@media screen and (max-width: 767px) {
.d-none {display: block !important;}

}

@media screen and (max-width: 414px) {
.benefits.mar-bott {margin-bottom: 50px;}
.enjoy-promo{padding: 40px 0;min-height: auto;}
.enjoy-promo.chat-with{padding: 40px 0;min-height: auto;}
.enjoy-promo.waiting{background-position: inherit;padding: 40px 0;min-height: auto;}
.steps-home{margin-bottom: 40px;}
.enjoy-promo h3{margin: 0 0 30px;}
.steps-home h3{font-size: 40px;margin: 15px 0;}

.slider .carousel-caption {left: 23%;padding-top: 8px;padding-bottom: 0;}
.slider .carousel-caption h5 {font-size: 13px;}
.slider .carousel-caption ul {margin: 5px 0 10px;padding-left: 12px}
.slider .carousel-caption li {font-size: 13px;margin-bottom: 2px;}
.slider .carousel-caption a{padding: 8px 0;width: 110px;font-size: 12px;}

}

@media screen and (max-width: 375px) {
.enjoy-promo h3 {font-size: 28px;}
.enjoy-promo button{padding: 10px 60px;}
.benefits span {width: 70px;height: 70px;padding: 18px 0;}
.benefits span img {max-width: 45%;}
.benefits-text h3{margin-bottom: 5px;font-size: 19px;}
.slider .carousel-caption {left: 18%;}
.slider .carousel-caption li {font-size: 12px;}
.slider .carousel-caption a {padding: 6px 0;width: 100px;font-size: 11px;}

}

@media screen and (max-width: 320px) {
.benefits-text {width: 67%;}
.enjoy-promo h3 {font-size: 25px;}
.slider .carousel-caption {left: 5%;}
.slider .carousel-caption li {font-size: 11px;margin-bottom: 0;}
.slider .carousel-caption h5 {font-size: 12px;}
.slider .carousel-caption ul {margin: 3px 0;}

}