@import '../../../node_modules/primeicons/primeicons.css';
@import '../../../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../../../node_modules/primeng/resources/primeng.min.css';
.buttonload {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 24px; /* Some padding */
    font-size: 16px; /* Set a font-size */
  }

  #myModal .modal-body {
    text-align: left;
}
  
  /* Add a right margin to each icon */
  .fa {
    margin-left: -12px;
    margin-right: 8px;
  }

  .min-height {
    min-height: calc(96vh - 136px);
}
.form-group.form-group1 strong {
  display: block;
  margin-bottom: 8px;
  margin-top: 15px;
}
.form-group.form-group1 strong label {
  font-weight: 500;
}
.enable-not {
  display: inline-block;
  margin-right: 40px; 
}
.form-group.form-group1 .ui-chkbox{margin-right: 5px;}
.form-group.form-group1 span {
  font-size: 16px!important;
  color:#fff
} 
.form-group.form-group1 .ui-chkbox .ui-chkbox-box.ui-state-active {
border-color:#313942;
background-color:#313942;
color:#ffffff;
}
.right-bar-content.slide.noti.feed .ui-state-active::after{display: none;}

#myModal .btn.btn-danger.close-right .btn.btn-danger.close-right{
  background-color:#9fdbce ;
  border: 1px solid#9fdbce ;
  color:#fff;
}

@media screen and (max-width: 1440px) {
.enable-not{margin-right: 25px;}

}

@media screen and (max-width: 1366px) {
.enable-not{margin-right: 10px;}

}
 
@media screen and (max-width: 414px) {
.enable-not{margin-bottom: 8px;} 
.enable-not{width: 100%;}

}